.header {
    width: 100%;
    overflow-x: hidden !important;

}

.header--edit {
    background-color: var(--yellow-5);
   
}

.dropdownBasic1{
    background-color: red;
}

.input-box {
    height: 36px;
    border-radius: 12px;
    border: none;
    padding: 5px 15px;
    background-color: #EDF8FF;
    width: 400px
}

.edit-button {
    border-radius: 50px;
    background-color: white;
    color: var(--yellow-5);
    padding: 5px 15px;
}

.main-content {
    width: 100%;
    height: 85%;
    overflow-x: hidden !important;

}

.number{
    background-color: var(--gray-2);
    border-radius: 4px;
    width: 32px;
    border: none;
}

.editNumber{
    background-color: var(--gray-2);
    border-radius: 4px;
    width: 32px;
    border: none;
}



.study-plan {
    height: 100%;
    width: 100%;

}

.input-number {
    width: 30px;
    border: none;
    border-bottom: 2px solid black;
}

.input-number:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: 0;
}

.chart-container {
    width: 100%;
    height: 250px;
}

.dropdownMenu {
    padding: 5px 10px;
    color: var(--gray-8);
}

.dropdownMenu:active {
    background-color: white;
}

.dropdownMenuCategory {
    width: 200px;
    background-color: transparent;
}

.dropdownMenuCategory:hover {
    color: var(--gray-10)
}

.dropdownMenuCourse {
    width: 600px;
}

.dropdownContainer{
    position: absolute !important;
    top: -42px !important;
    border: none;
    z-index: 1;
    border-radius: 20px;
    box-shadow: var(--shadow12);
    padding-bottom: 0px;
    overflow: hidden;
}

.dropy{
    border: none;
    padding-top: 42px;
    padding-bottom: 12px;
}

.drowCourses{
    padding-top: 42px;
    width: 75%;
}

.dropCategory:hover{
    background-color: var(--blue-1);
}

.dropCourse:hover{
    background-color: var(--blue-1);
}