<div class="fh fw pdb20">
    <div [ngClass]="isEditing ? 'header--edit' : ''" fxLayout="row" fxLayoutAlign="space-between " class="header pdr10 pdl10">
        <app-navigate-back *ngIf="!isEditing" targetUrl="/management/students" class="pdt10">
            {{isEditing ? '' : profileName}}
        </app-navigate-back>
        <div *ngIf="isEditing; else profileTitle" fxLayout="row" fxLayoutAlign="space-between center" class="fw fh pdt05 pdb05" >
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
                <input class="input-box ft12" placeholder="Nombre del perfil" [(ngModel)]="profileName" maxlength="43">
                <!-- <div class="edit-button">
                    Modo de edición
                </div> -->
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                <div class="radius20 pdl10 pdr10 pdt05 pdb05 backWhite ft14 cursorPointer" (click)="onCancel()"> 
                    Cancelar
                </div>
                <button
                    fxLayout="row"
                    fxLayoutGap="0.625"
                    fxLayoutAlign="center center"
                    class="blueButton ft14 cursorPointer"
                    style="border-radius: 24px !important;"
                    (click)="onSave()"
                    [disabled]="disableSaveButton"
                    >
                    {{id === 'new' ? 'Agregar perfil' : 'Editar perfil'}}
                    <img [src]="icon.save" class="h16px pdl05 makeWhite" alt="">
                </button>
            </div>
        </div>
        <ng-template #profileTitle >
            <div class="pdr10 pdt10" >
                <div
                fxLayout="row"
                fxLayoutGap="0.625"
                matTooltip=" {{ (!profile.enterpriseRef || !user?.adminPredyc) ? 'No es posible editar este perfil':'' }}"
                fxLayoutAlign=" center center"
                class="{{ (profile.enterpriseRef || user?.adminPredyc )? 'blueButton' : 'grayDisabledButton' }} mgt10 ft14"
                style="border-radius: 24px !important;"
                (click)="(profile.enterpriseRef || user?.adminPredyc )?onEdit():''">
                    Editar
                    <img *ngIf="profile.enterpriseRef && !user?.adminPredyc" [src]="icon.licencias" class="h16px pdl05" alt="">
                    <img *ngIf="!profile.enterpriseRef && user?.adminPredyc" [src]="icon.licencias" class="h16px pdl05" alt="">
                </div>
            </div>
            
        </ng-template>
    </div>
    <div fxLayout="row" fxLayoutGap="2rem" class=" pdt10  pdr20 pdl20 pdb10">
        <div class="containers " style="width: 30%;" >
            <!-- <div class="container" style="height: 100px; padding: 5px; border: 2px solid black; border-radius: 20px">
            </div> -->

            <div  class=" fw pd08 shadowLight radius10 pd10" style="background-color: rgba(244, 244, 244, 0.362); ">
                <div class="mgl05" fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
                    <img [src]="icon.credentials" class="h20px" alt="Información del perfil">
                    <span class="ft500  ft14  black">Detalles del perfil</span>
                </div>
                <div class="pd05 backGray2 mgt10 radius10">
                    <p class="ft12 gray-8 "  *ngIf="!isEditing" style="overflow: hidden; word-wrap: break-word;">{{profileDescription}} </p>
                    <textarea name="" id="" rows="5" *ngIf="isEditing" [(ngModel)]="profileDescription"  placeholder="Introduzca la descripción"
                    style="width: 100%; resize:vertical; border: none; background-color: transparent !important;"></textarea>
                </div>
                <!-- <div class="pdt10" fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
                    <img [src]="icon.ticTacToe" class="makeBlue h20px" alt="">
                    <span class="ft500   ft14  black">Resumen de competencias</span>
                </div> -->
                <div class="chart-container">
                    <canvas id="chart"></canvas>
                </div>
                <div class="chart-container ft13 fw">
                    <div class="mgt10 fw" *ngFor="let category of categoriesAndSkillsWidgetData; let i = index">
                      <div class="ft14">Pilar {{i + 1}}: {{category.label}}</div>
                      <div class="skills-container">
                        <ng-container *ngFor="let skill of category.skills; let indexSkill = index">
                          <!-- Muestra solo las primeras 4 habilidades -->
                          <div *ngIf="indexSkill < 4" [matTooltip]="skill"
                               style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                               class="skill-badge ListHover2 radius10 backGray2 pdl05 pdr05 gray-8 mgt05">
                            {{skill}}
                          </div>
                        </ng-container>
                        <!-- Elemento adicional para mostrar el número de habilidades no visibles y sus nombres en un tooltip -->
                        <div *ngIf="category.skills.length > 4"
                             [matTooltip]="getAdditionalSkillsTooltip(category.skills)"
                             style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                             class="skill-badge ListHover2 radius10 backGray2 pdl05 pdr05 gray-8 mgt05">
                          +{{category.skills.length - 4}}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          

            <!-- <div class="container" class="pd10 mgt20 shadowLight radius10 " style="background-color: rgba(244, 244, 244, 0.362); "> -->
                

                
                  
            <!-- </div> -->
        </div>

        <div class="containers pd10 shadowLight radius10 " style="width: 70%; margin-right: -15px!important;background-color: rgba(244, 244, 244, 0.362); ">
            <div class="study-plan" style="padding: 5px ;">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign=" right">
                    <img [src]="icon.course" class="makeBlue h20px" alt="Plan de estudios">
                    <span class="ft500  ft14  black">Plan de estudios</span>
                </div>
                <div class="mgt20" fxLayout="row" fxLayoutGap="2rem">
                    <div fxLayoutGap=".5rem" fxLayout="row" fxLayoutAlign=" center" class="mgl05">
                            <span class="ft500 ft12 gray-9 mgr10">Estudio mensual</span>
                        <input [ngClass]="isEditing?'editNumber':'number'" [disabled]="!isEditing" class="ft12 centertext"  type="number" min="0" [(ngModel)]="profileHoursPerMonth">
                        <span class="gray-10 ft11">horas</span>
                    </div>
                </div>
                <div *ngIf="isEditing" ngbDropdown [autoClose]="'outside'" fxLayout="row" fxLayoutAlign=" center" >
                    <div class="mgt10 h40px radius20 shadow12" style="width: 100%; overflow: hidden; z-index: 2;" fxLayout="row">
                        <button type="button" fxLayout="row" fxLayoutAlign="space-between center" class="gray-10 backGray2 ft12" style="border-radius: 0 0 0 0; width: 30%; height: 100%; padding: 0 10px;" id="dropdownBasic1" ngbDropdownToggle>
                            Categorias
                        </button>
                        <div style="width: 70%; overflow: hidden; padding: 0 0px; position: relative" class=" pdl10 pdr05" fxLayout="row" fxLayoutAlign=" center">
                                <input 
                                type="text"
                                placeholder="Buscar"
                                class="pdl05 ft13"
                                style="width: 100%; outline: none; border: 0; background-color: transparent;"
                                [formControl]="searchControl"
                                matInput
                                [matAutocomplete]="auto"
                                >
                            <img [src]="icon.search" alt="Search" style="position: absolute; right: 10px;">
                            <mat-autocomplete
                                #auto="matAutocomplete"
                            >
                                <mat-option 
                                    *ngFor="let course of filteredCourses | async"
                                    [value]="course.id"
                                        >
                                    <div
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                        class="ft12 ft500 dropdownMenu dropdownMenuCourse"
                                        (click)="$event.stopPropagation(); toggleCourseInPlan(course)"
                                        >
                                        <div
                                            fxLayout="row"
                                            fxLayoutAlign=" center"
                                            fxLayoutGap="10px"
                                            >
                                            <img [src]="course.imagen" [alt]="course.titulo" class="w40px h40px radius4">
                                            <div fxLayout="column" fxLayoutGap="5px">
                                                <div class="title-course-badge">{{course.titulo | titlecase}}</div>
                                                <div class="skills-container">
                                                    <div
                                                        *ngFor="let skill of course.skills"
                                                        style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                                                        class="skill-badge radius10 backGray2 pdl05 pdr05 gray-8 mgt05">
                                                        {{skill.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div [ngStyle]="{'background-color': course.inStudyPlan ? '#008CE3': 'white'}" style="border-radius: 50%; border: 1px solid black; width: 15px; height: 15px;"></div>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownContainer fw" (mouseleave)="onCategoryLeave()">
                        <div fxLayout="row" class=" fw">
                            <div style="width: 32%;" class="backGray2 dropy">
                                <div 
                                    ngbDropdownItem
                                    class="ft12 ft500 pdt10 pdb10 gray-10 dropCategory"
                                    style="width: 100%;"
                                    *ngFor="let category of categories"
                                    (mouseenter)="onCategoryHover(category)"
                                    fxLayout="row"
                                    fxLayoutAlign="space-between center"
        
                                    >
                                    <div class="ft12 gray-10">{{category.name}}</div>
                                    <img [src]="icon.chevronRight" alt="">
                                </div>
                            </div>
                            <div class="drowCourses">
                                <div
                                    class="ft12 ft500 fw dropCourse"
                                    ngbDropdownItem
                                    *ngFor="let course of filteredCourses | async"
                                    fxLayout="row"
                                    fxLayoutAlign="space-between center"
                                    (click)="toggleCourseInPlan(course)"
                                    >
                                    <!-- (click)="course.inStudyPlan = !course.inStudyPlan" -->
                                    <div
                                        fxLayout="row"
                                        fxLayoutAlign=" center"
                                        fxLayoutGap="5px"
                                        >
                                        <img [src]="course.imagen" [alt]="course.titulo" class="w42px h42px radius4">
                                        <div fxLayout="column" fxLayoutGap="1px" class="">
                                            <div  class="">
                                                <div class="title-course-badge ft12" style="display: inline-block;   ">{{course.titulo | titlecase}} </div>
                                                <div class="skills-container" style="margin-top: -5px;">
                                                    <div
                                                        *ngFor="let skill of course.skills"
                                                        style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                                                        class="skill-badge radius10 backGray2 pdl05 pdr05 gray-8 mgt05">
                                                        {{skill.name}}
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div [ngStyle]="{'background-color': course.inStudyPlan ? '#008CE3': 'white'}" style="border-radius: 50%; border: 1px solid var(--blue-5); width: 15px; height: 15px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="studyPlan.length > 0" style="overflow: hidden; background-color: #FCFCFC;" class="radius10 borderLight mgt20" >
                    <div
                        class="fw pd05 h40px border-bl hoverBlue"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                        fxLayoutGap="1rem"
                        *ngFor="let item of studyPlan; let i = index"
                    >
                    <div fxLayout="row" fxLayoutAlign="space-between center" class=" fw" fxLayoutGap="0.5rem">
                        <div
                                fxLayout="column"
                                fxLayoutGap="5px"
                                class="ft11"
                                >
                                <span class="ft12 gray-10">
                                    {{ item.titulo }}
                                </span>
                        </div>
                        <div fxLayout="row" class="" fxLayoutGap="0.5rem" style="margin-left: 5px;">
                            <span class="gray-10 ft11 nowrap">
                                {{ roundNumber(item.duracion / 60) }} hrs
                            </span>
                            <img *ngIf="isEditing" [src]="icon.trash" class="h14px makeGray cursorPointer" (click)="toggleCourseInPlan(item)" alt="">
                        </div>
                    </div>
                </div>
                <div *ngIf="studyPlan.length === 0" class="mgt15" style="height: 70%;">
                    <div       
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        style="background: var(--gray-2); height: 100%"
                        >
                        Comienza a agregar cursos
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>