.header {
    width: 100%;
    height: 10%;
}

.header--edit {
    background-color: var(--yellow-5);
    position: sticky;
    top: 0px;
}

.input-box {
    height: 36px;
    border-radius: 12px;
    border: none;
    padding: 5px 15px;
    background-color: #EDF8FF;
    width: 300px
}

.edit-button {
    border-radius: 50px;
    background-color: white;
    color: var(--yellow-5);
    padding: 5px 15px;
}

.main-content {
    width: 100%;
    height: 85%;
}

.number{
    background-color: var(--gray-2);
    border-radius: 4px;
    width: 32px;
    border: none;
}

.editNumber{
    background-color: var(--gray-2);
    border-radius: 4px;
    width: 32px;
    border: none;
}



.study-plan {
    height: 100%;
    width: 68%;
}

.input-number {
    width: 30px;
    border: none;
    border-bottom: 2px solid black;
}

.input-number:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: 0;
}

.chart-container {
    width: 100%;
    height: 150px;
}

.dropdownMenu {
    padding: 5px 10px;
    color: var(--gray-8);
}

.dropdownMenu:active {
    background-color: white;
}

.dropdownMenuCategory {
    width: 200px;
}

.dropdownMenuCategory:hover {
    color: var(--gray-10)
}

.dropdownMenuCourse {
    width: 600px;
}