.iconContainer{
    border-radius: 50%;
    background-color: var(--blue-1);
    height: 26px !important;
    width: 26px !important;
  }

.cambioFoto{
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: white;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
    padding: .15rem;
    box-shadow: var(--shadow16);
}

.nameFieldContainer {
    position: relative;
    font-weight: 700!important; 
    font-family: "Inter-medium", "Helvetica Neue", sans-serif; 
    width: 100%;
}

.nameField {
    background-color: transparent !important;
    border-radius: 0px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid var(--gray-10);
    font-weight: 500;
    font-family: "Inter-medium", "Helvetica Neue", sans-serif;
    color: var(--gray-10);
    width: 90%;
    max-width: 100%;
    overflow: hidden;
    resize: none;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 28px;

}

.inputContainer{
    position: relative;
    border: 1px solid var(--gray-3);
    padding: .5rem;
    background-color: var(--gray-1);
    border-radius: 6px;
    height: 32px;
}

.disabledInputContainer{
    position: relative;
    padding: .5rem;
    border-radius: 6px;
    height: 32px;
}

.input{
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
    font-size: 14px !important;
}

.disabledInput{
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
    font-size: 11px !important;
    opacity: .75 !important;
}

.asterisk {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: red;  /* O el color que prefieras para el asterisco */
    margin-top: 3px;
    margin-right: 8px;
}

.noValue {
    color: #b2b2b2;
}
.disabled-button {
    background-color: #CCCCCC;
    color: #777777;
    cursor: not-allowed;
} 
.savebutton{
    background-color: #007BFF;
    color: #cb0000;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
:host {
    display: block;
    overflow-y: auto;
}