<div>
    <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
            <td mat-cell *matCellDef="let activity"> 
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                    <img [src]="activity?.photoUrl" class="avatar2 " alt=""
                    onerror="this.src='assets/images/default/default-user-image.jpg'">
                    <span>{{ activity.title }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
            <td mat-cell *matCellDef="let activity"> ACTIVO (HARD) </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creación </th>
            <td mat-cell *matCellDef="let activity"> {{ activity.createdAt | date: 'dd/MM/yy' }} </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ult. Modificación </th>
            <td mat-cell *matCellDef="let activity"> {{ activity.updatedAt | date: 'dd/MM/yy' }} </td>
        </ng-container>

        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Promedio </th>
            <!-- <td mat-cell *matCellDef="let activity"> {{ activity.grade }}/100 </td> -->
            <td mat-cell *matCellDef="let activity"> 100/100 (HARD)</td>
        </ng-container>

        <ng-container matColumnDef="assigned">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignados </th>
            <td mat-cell *matCellDef="let activity"> 23 (HARD) </td>
        </ng-container>

        <ng-container matColumnDef="performance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Desempeños </th>
            <td mat-cell *matCellDef="let activity"> 
                ... (HARD) 
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let activity">
                <img [src]="icon.menuVertical" class="iconButton h32px" alt=""
                    [matMenuTriggerFor]="activityOptions" (click)="$event.stopPropagation()">
                <mat-menu #activityOptions="matMenu" class="radius6 shadow16 pd0">
                    <div fxLayout="column" class="fw pd0">
                        <div mat-menu-item fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="2rem">
                            <span class="pdl05 ft12 gray-10">Ver detalles</span>
                        </div> 
                        <div mat-menu-item fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="2rem">
                            <span class="pdl05 ft12 gray-10">Editar examen</span>
                        </div>
                        <div mat-menu-item fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="2rem">
                            <span class="pdl05 ft12 gray-10">Eliminar examen</span>
                        </div>
                    </div>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let activity; columns: displayedColumns;" class="cursorPointer"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">No se han encontrado validaciones para el criterio de búsqueda</td>
        </tr>
    </table>
    
    <mat-paginator
    *ngIf="enablePagination"
    aria-label="Select page of activities"
    ></mat-paginator>
</div>
