<div class="fw fh mgt10 pd10">
    <div fxLayout="row" fxLayoutAlign="end center">
        <img [src]="icon.close" (click)="closeDialog()" class="makeGray h20px cursorPointer">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start"  fxLayoutGap=".20rem">
        <!-- Product.  -->
        <ng-container>
            <app-product-form [product]="product" (onSave)="onSubmit($event)"></app-product-form>
        </ng-container>
        <!-- Price -->
        <div class="w-50" fxLayout="column" fxLayoutAlign="start center" class="fh fw border-l">
            <div class="fw">
                <ng-container *ngIf="showPriceForm; else showPriceList">
                    <!-- <app-price-form [selectedProductId]="product.id" [selectedPrice]="selectedPrice" [coupons]="coupons" (viewChange)="handleViewChange($event)"></app-price-form> -->
                </ng-container>
                <ng-template #showPriceList>
                    <!-- <app-prices-list [selectedProductId]="product.id" [prices]="prices" [coupons]="coupons" (viewChange)="handleViewChange($event)"></app-prices-list> -->
                </ng-template>
            </div>
        </div>
    </div>

</div>
  