<!-- <div fxLayout="row" class="containerCurso h-100" fxLayoutGap="1.5rem">
    <div fxLayout="column" class="radius10 w-100 mgt15 mgl10 shadowLight hideScroll shadowLight" style="background-color:rgba(244, 244, 244, 0.362)" style="height: 100vh;">
        <div fxLayout="row" fxLayoutAlign="center" class="w-100">
            <div style="width: 800px;">
                <app-stats-certifications [certificationId]="certificationId" [makeChart]="makeChart"></app-stats-certifications>
            </div>
        </div>
    </div>
</div> -->

<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10" >Certificaciones</p>

    <div fxLayout="row" fxLayoutAlign="">
        <div fxLayout="column" class="w-100 ">
            <div class="pdr20 mgt10 ">
                <div fxLayout="row" fxLayoutAlign="center" class="w-100">
                    <div style="width: 800px;">
                        <app-stats-certifications origen="empresa" [certificationId]="certificationId" [makeChart]="makeChart"></app-stats-certifications>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>    