<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10" >Diagnóstico inicial</p>

    <div fxLayout="row" fxLayoutAlign="">
        <div fxLayout="column" class="w-100 ">
            <div class="pdr20 mgt10 ">
                <div fxLayout="row" fxLayoutAlign="center" class="w-100">
                    <div style="width: 800px;">
                        <app-stats-certifications origen="empresa" [certificationId]="certificationId" [makeChart]="makeChart"></app-stats-certifications>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>    