.fitWidth{
    width: fit-content;
}

app-dialog-download-report{
    width: fit-content !important;
}

.modal-content{

    width: fit-content !important;
}

#pdfChart{
    display: none !important;
}

.spinner-dark {
    filter: saturate(0) brightness(0.5) contrast(1.2);
    margin-right: 5px;
}