<span class="gray-10 mgl10">Preguntas frecuentes</span>
<div fxLayout="column" class="card-container-xl mgt05 mgl10 pd05">
    <ng-container *ngFor="let question of questions; let i = index; let last = last">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="question" [style.border-bottom]="last ? 'none' : ''">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>{{i + 1}}.</span>
                <span class="mgl05">{{question}}</span>
            </div>
            <img [src]="icon.addNew" class="makeGray h10px">
        </div>
    </ng-container>
</div>