<span class="gray-10 mgl10">Preguntas frecuentes</span>
<div class="card-container mgt05 mgl10">
    <mat-accordion>
        <mat-expansion-panel 
            *ngFor="let question of questions; let i = index;" 
            hideToggle
            (opened)="panelOpenStates[i] = true"
            (closed)="panelOpenStates[i] = false">
            <mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="question fw">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>{{i + 1}}.</span>
                        <span class="mgl05">{{question}}</span>
                    </div>
                    <div>
                        <mat-icon *ngIf="!panelOpenStates[i]">add</mat-icon>
                        <mat-icon *ngIf="panelOpenStates[i]">remove</mat-icon> 
                    </div>
                </div>
            </mat-expansion-panel-header>
            <p>Colocar repuesta de la pregunta</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
