<div class="pd30 backWhite">
    <form [formGroup]="form" (ngSubmit)="saveSubscription()">
        <div fxLayout="column"  fxLayoutGap="1rem">
            <div class="mgt10" fxLayout="column">
                <span class="ray-8 ft500 ft12">Comienzo del período:</span>
                <input type="datetime-local" formControlName="currentPeriodStart">
            </div>
            <div fxLayout="column">
                <span class="gray-8 ft500 ft12">Status</span>
                <select  formControlName="status">
                    <option value="active">Activa</option>
                    <option value="trialing">Trial</option>
                    <option value="past_due">Sin pagar</option>
                    <option value="canceled">Cancelada</option>
                </select>
            </div>
            <div *ngIf="form.get('status').value == 'canceled'" fxLayout="column">
                <span class="ray-8 ft500 ft12">Fecha de canceleación: {{subscriptionInfo.endedAt | date:"dd/MM/yyyy"}}</span>
                <input type="datetime-local"  formControlName="endedAt">
            </div>
        
            <div class="" fxLayout="column">
                <span class="ray-8 ft500 ft12">Intervalos pagados:</span>
                <input type="number"  formControlName="interval">
            </div>
            <div class="fw mgt10" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1rem">
                <button class="backBlue5 pd03 radius6 w150px centertext cursorPointer" fxLayoutAlign="center center" fxLayout="row" type="submit" fxLayoutGap=".5rem">
                    <mat-icon class="ft16 gray-1 pd0">save</mat-icon>
                    <span class="gray-1 ft12 ft500">Guardar</span>
                </button>
                <button class="backRed5 pd03 radius6 w150px centertext cursorPointer" fxLayoutAlign="center center" fxLayout="row" type="button"
                    fxLayoutGap=".5rem" (click)="cancel()">
                    <mat-icon class="ft16 gray-1 pd0">cancel</mat-icon>
                    <span class="gray-1 ft12 ft500 ">Cancelar</span>
            </button>
            </div>
        </div>
    </form>
</div>