<div fxLayout="row" fxLayoutGap="20px">
    <div [ngStyle]="{'width': studentSelected ? '80%' : '100%'}">
        <app-navigate-back targetUrl="../">Mi equipo</app-navigate-back>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <app-search-input-box></app-search-input-box>
            <button *ngIf="!studentSelected" class="blueButton" (click)="createNewStudent()">Nuevo usuario</button>
        </div>
        <app-student-list (onSelectStudentEvent)="studentSelected = $event"></app-student-list>
    </div>
    <app-student-profile *ngIf="studentSelected" [student]="studentSelected" (hideEmit)="studentSelected = null" (onStudentSave)="onStudentSaveHandler($event)" class="w300px mgb10"></app-student-profile>
</div>
