<!-- <span>{{selectedProfileId}}</span> -->
<div fxLayout="row" fxLayoutGap="20px">
    <div [ngStyle]="{'width': studentSelected ? '80%' : '100%'}">
        <app-navigate-back targetUrl="../">Usuarios y Perfiles</app-navigate-back>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <select class="w-30" [(ngModel)]="selectedProfileId">
                <option [value]="null">Todos los perfiles</option>
                <option *ngFor="let profile of profiles" [value]="profile.id">{{profile.name}}</option>
            </select>
            <app-search-input-box></app-search-input-box>
            <img [src]="icon.user" class="h16px" alt="" [ngClass]="isListView ? 'makeBlue' : 'cursorPointer'" (click)="isListView = true">
            <img [src]="icon.user" class="h16px" alt="" [ngClass]="!isListView ? 'makeBlue' : 'cursorPointer'" (click)="isListView = false">
            <button *ngIf="isListView" class="grayButton" style="border-radius: 24px !important;">
                <span class="makeBlue" style="font-size: 14px;">Detalles del perfil</span> 
            </button>
            <button class="blueButton" >
                <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
                Nuevo Perfil
            </button>
             <button *ngIf="!studentSelected" class="yellowButton" style="border-radius: 24px !important;" (click)="createNewStudent()">
                <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
                Nuevo Usuario
            </button>
        </div>
        <app-student-list *ngIf="isListView" (onSelectStudentEvent)="studentSelected = $event" 
        [usersObservable]= "users$" [selectedProfileId]="selectedProfileId"></app-student-list>
        <app-student-grid *ngIf="!isListView" (onSelectStudentEvent)="studentSelected = $event" 
        [usersArray]= "users" [selectedProfileId]="selectedProfileId"></app-student-grid>
    </div>
    <app-student-profile *ngIf="studentSelected" [student]="studentSelected" (hideEmit)="studentSelected = null" (onStudentSave)="onStudentSaveHandler($event)" class="w300px mgb10"></app-student-profile>
</div>
