.infoContainer{
    border-radius: 10px;
    width: 100%;
    height: calc(100vh - 280px);
    max-height: calc(100vh - 280px);
    overflow: auto;
    padding: 34px;
}

.selectedTab{
    color: var(--blue-5);
    font-size: 13px;
    font-family: "Gordita-medium";
    font-weight: 500;
    border-bottom: 2px solid;
}

td{
    border: 0px;
}

.rowPlan{
   border-bottom: 1px solid var(--gray-4); 
   height: 60px;
}