<h3>Gestión de personal</h3>
<div fxLayout="row" fxLayoutGap="1rem">
    <div fxLayout="column">
        <!-- <a routerLink="">Departamentos y perfiles</a> -->
        <a>Departamentos y perfiles</a>
        <button style="width: 40px; align-content: center; align-self: center;"
        routerLink="../departamentos-perfiles">
            Ir
        </button>
    </div>
    <div fxLayout="column">
        <!-- <a routerLink="">Mi equipo</a> -->
        <a>Mi equipo</a>
        <button style="width: 40px; align-content: center; align-self: center;"
        routerLink="../mi-equipo">
            Ir
        </button>
    </div>
</div>