<form [formGroup]="studentForm">
    <div fxLayout="column" fxLayoutGap="0.3rem" class="fh">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
                <img [src]="icon.notification" class="makeBlue h16px" alt="">
                <span class="ft500 black undrl ft14 ft600 black">Información del usuario</span>
            </div>
            <span class="makeBlue cursorPointer ft14" (click)="isEditing ? save() : isEditing = true">{{ isEditing ? 'Guardar' : 'Editar' }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="fh mgt10">
            <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap=".75rem" class="w-40">
                <div (click)="isEditing ? fileInput.click() : null" class="" [ngClass]="isEditing ? 'cursorPointer' : ''">
                    <img [src]="imageUrl ? imageUrl : 'assets/images/default/default-user-image.jpg'" class="avatar6" alt="">
                </div>
                <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)" >
                <div class="radius10 backBlue1 pdr10 pdl10">
                    <span class="blue-5 ft13 ft500">Activo</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="w-60">
                <!-- Not editing -->
                <div *ngIf="!isEditing" fxLayout="column" fxLayoutGap=".75rem">
                    <div fxLayout="column" fxLayoutAlign="center" class="h24px">
                        <span class="ft16 ft600 black"> {{studentForm.get('displayName').value | titlecase}} </span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.userProfile" class="makeGray h16px" alt="">
                        <span class="ft12">{{studentForm.get('profile').value ? displayProfileName(studentForm.get('profile').value) : "Perfil"}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.email" class="makeGray h16px" alt="">
                        <span class="ft12">{{studentForm.get('email').value}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.phone" class="makeGray h16px" alt="">
                        <span class="ft12">{{studentForm.get('phoneNumber').value ? studentForm.get('phoneNumber').value : "Teléfono desconocido"}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.location" class="makeGray h16px" alt="">
                        <span class="ft12">{{studentForm.get('country').value ? studentForm.get('country').value : "País desconocido"}}</span>
                    </div>
                </div>      
                <!-- Editing -->
                <div *ngIf="isEditing" fxLayout="column" fxLayoutGap=".75rem">
                    <div fxLayout="column" fxLayoutAlign="center" class="h24px">
                        <input formControlName="displayName" class="ft16 ft600 black fw">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.userProfile" class="makeGray h16px" alt="">
                        <select *ngIf="profiles"  class="w-90" formControlName="profile">
                            <option [value]="null" disabled>Perfil</option>
                            <option *ngFor="let profile of profiles" [value]="profile.id">{{profile.name}}</option>
                        </select>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.email" class="makeGray h16px" alt="">
                        <!-- <input formControlName="email" class="ft12 fw"> -->
                        <span class="ft12">{{studentForm.get('email').value}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.phone" class="makeGray h16px" alt="">
                        <input minLength="10" maxLength=10 formControlName="phoneNumber" class="ft12 fw" placeholder="Número de teléfono">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px">
                        <img [src]="icon.location" class="makeGray h16px" alt="">
                        <select class="w-90" formControlName="country">
                            <option [value]="null" disabled>País de residencia</option>
                            <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                        </select>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</form>