<form [formGroup]="studentForm">
    <div fxLayout="column" fxLayoutGap="0.3rem" class="fh fw">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
                <img [src]="icon.credentials"  class=" h20px" alt="">
                <span class="ft500 ft14 black">Información del usuario</span>
            </div>
            <span class="makeBlue cursorPointer ft14" (click)="openCreateUserModal(student)">Editar</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" class="fh mgt10 ">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".75rem" class="w-75">
                <div>
                    <img [src]="imageUrl ? imageUrl : 'assets/images/default/default-user-image.jpg'" class="avatar8" alt="">
                </div>
                <div class="radius10 backBlue1 pdr10 pdl10">
                    <span class="blue-5 ft13 ft500">Activo</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="w-100">
                <!-- Not editing -->
                <div fxLayout="column">
                    <div fxLayout="column" fxLayoutAlign="center" class="h24px">
                        <span class="ft16 ft600 black"> {{studentForm.get('displayName').value | titlecase}} </span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px mgt10">
                        <img [src]="icon.userProfile" class="makeGray h18px" alt="">
                        <span class="ft12">{{studentForm.get('profile').value ? displayProfileName(studentForm.get('profile').value) : "Perfil"}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px mgt05">
                        <img [src]="icon.email" class="makeGray h18px" alt="">
                        <span class="ft12">{{studentForm.get('email').value}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px mgt05">
                        <img [src]="icon.phone" class="makeGray h18px" alt="">
                        <span class="ft12">{{studentForm.get('phoneNumber').value ? studentForm.get('phoneNumber').value : "Teléfono desconocido"}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="h24px mgt05">
                        <img [src]="icon.location" class="makeGray h18px" alt="">
                        <span class="ft12">{{studentForm.get('country').value ? studentForm.get('country').value : "País desconocido"}}</span>
                    </div>
                    
                   
                </div>      
            </div>
        </div>
        <div class="mgt10" fxLayout="" fxLayoutAlign="start center" fxLayoutGap=".5rem">
            <span class="ft12 makeBlue">Permitir cursos extracurriculares</span>
            <mat-slide-toggle class=" " color="primary" formControlName="canEnrollParticularCourses" (click)="toggleCanEnrollParticularCourses()"></mat-slide-toggle>
        </div>
    </div>
</form>