.fitWidth{
    width: fit-content;
}

app-dialog-download-report{
    width: fit-content !important;
}

.modal-content{

    width: fit-content !important;
}

#pdfChart{
    display: none !important;
}