<app-navigate-back class="ft600 ft16 gray-10" targetUrl="/admin/articles">Artículos</app-navigate-back>
<div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="1rem" style="margin-top: -45px;">
    <div fxFlex="20%">
        <!-- Espacio vacío a la izquierda para centrar los tabs -->
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="60%" fxLayoutGap="1rem">
        <div (click)="tab = 1" [ngClass]="{'active-tab': tab === 1, 'inactive-tab': tab !== 1}" class="tab">Datos</div>
        <div (click)="tab = 2" [ngClass]="{'active-tab': tab === 2, 'inactive-tab': tab !== 2}" class="tab">Contenido</div>
    </div>
    <div fxFlex="20%" class="pdr20" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem" style="margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
            <span>Borrador:</span>
            <mat-slide-toggle class="pdl03" color="primary" [(ngModel)]="isDraft"></mat-slide-toggle>
        </div>
        <button (click)="save()" class="blueButton">Guardar artículo</button>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" class="fw pd20" [ngClass]="{'displayNone':tab!=1}" >

    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1.5rem" class="w-60">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1.5rem" class="fw">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem" class="w-50">
                <!-- Title -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
                    <span class="w100px">Título:</span>
                    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".5rem" class="fw">
                        <input type="text" [maxlength]="titleMaxLength" [(ngModel)]="title" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                        <div class="progress-bar-container fw">
                            <div class="progress-bar" [style.width.%]="(title.length / titleMaxLength) * 100"></div>
                        </div>
                    </div>
                </div>
                <!-- Author -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
                    <span class="w100px">Autor:</span>
                    <select [(ngModel)]="selectedAuthorId" class="ft14 shadow-animation pdl05 pdr05 borderLight cursorPointer fw h28px" style="text-align: center;">
                        <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</option>
                    </select>
                </div>
                <!-- Pillars -->
                <div fxLayout="column" fxLayoutGap=".2rem" class="fw">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2.5rem" class="cursorPointer">
                        <span class="w60px">Pilares:</span>
                        <form class="fw">
                            <mat-form-field subscriptSizing="dynamic" class="example-full-width fw h50px">
                                <mat-label>Buscar pilar</mat-label>
                                <input type="text" class="ft14 fw" placeholder="Seleccione uno" aria-label="Number" matInput #pillarAutoTrigger="matAutocompleteTrigger" 
                                [formControl]="pillarsForm" [matAutocomplete]="autoPillars"/>
                                <mat-autocomplete [hideSingleSelectionIndicator]="true" [displayWith]="getOptionTextPillar" #autoPillars="matAutocomplete" class="options">
                                    <mat-option (click)="changePillar(option)" class="multiline-mat-option ft12 fw" *ngFor="let option of filteredPillars | async" [value]="option">
                                        <div fxLayout="row" fxLayoutAlign="space-between" class="fw">
                                            <div fxLayout="col" fxLayoutAlign="center center">{{ option.name | titlecase }}</div>
                                            <mat-icon class="makeBlue" *ngIf="isPillarSelected(option)">check</mat-icon>
                                        </div>
                                    </mat-option>
                                    <mat-option (click)="createPillar(createPillarModal)" class="multiline-mat-option" value="null">
                                        <span class="ft13 blueLink">Crear nuevo pilar</span>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="margin-left-custom pdt03">
                        <ng-container *ngFor="let pillar of articlePillars; let pillarIndex = index" class="margin-left-custom">
                            <div class="skill-badge-complete ListHover radius10 backGray2 ft12 pdl08 pdr08 gray-8">
                                {{ pillar.name | titlecase }}
                                <img style="cursor: pointer" (click)="removePillar(pillarIndex)" [src]="icon.close" class="h16px makeGray" alt="" />
                            </div>
                        </ng-container>
                    </div>
                    <span *ngIf="articlePillars.length === 0" class="ft10 redText">Debes seleccionar por lo menos un pilar</span>
                </div>
                <!-- Order number -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
                    <span class="w100px">Orden:</span>
                    <input [(ngModel)]="orderNumber" type="number" min="1" [max]="maxOrderNumber" style="text-align: center;"
                    class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" />
                </div>
                
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="w-50">
                <!-- Title SEO-->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
                    <span class="w100px">Título SEO:</span>
                    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".5rem" class="fw">
                        <input type="text" [maxlength]="titleSEOMaxLength" [(ngModel)]="titleSEO" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                        <div class="progress-bar-container fw">
                            <div class="progress-bar" [style.width.%]="(titleSEO.length / titleSEOMaxLength) * 100"></div>
                        </div>
                    </div>
                </div>
                <!-- Slug -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
                    <span class="w100px">Slug:</span>
                    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" class="fw">
                        <input id="slug" name="slug" [(ngModel)]="slug" #slugCtrl="ngModel" class="h28px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" 
                        required pattern="^[a-z0-9]+(?:-[a-z0-9]+)*$" />
                        <!-- <div class="progress-bar-container fw">
                            <div class="progress-bar" [style.width.%]="(slug.length / 90) * 100"></div>
                        </div> -->
                    </div>
                </div>
                <div *ngIf="slugCtrl.invalid && slugCtrl.touched">
                    <span class="ft10 redText" *ngIf="slugCtrl.errors?.required">Slug is required.</span>
                    <span class="ft10 redText" *ngIf="slugCtrl.errors?.pattern">Invalid slug format.</span>
                </div>   
                <!-- Tags -->
                <div fxLayout="column" fxLayoutGap=".2rem" class="fw">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5rem" class="cursorPointer fw">
                        <span class="w60px">Etiquetas:</span>
                        <form class="fw">
                            <mat-form-field subscriptSizing="dynamic" class="example-full-width fw h50px">
                                <mat-label>Buscar etiqueta</mat-label>
                                <input  type="text" class="ft14 fw" placeholder="Seleccione uno" aria-label="Number" matInput #autoTrigger="matAutocompleteTrigger" 
                                [formControl]="tagsForm" [matAutocomplete]="autoTags"/>
                                <mat-autocomplete [hideSingleSelectionIndicator]="true" [displayWith]="getOptionTextTag" #autoTags="matAutocomplete" class="options">
                                    <mat-option (click)="changeTag(option)" class="multiline-mat-option ft12 fw" *ngFor="let option of filteredTags | async" [value]="option">
                                        <div fxLayout="row" fxLayoutAlign="space-between" class="fw">
                                            <div fxLayout="col" fxLayoutAlign="center center">{{ option.name | titlecase }}</div>
                                            <mat-icon class="makeBlue" *ngIf="isTagSelected(option)">check</mat-icon>
                                        </div>
                                    </mat-option>
                                    <mat-option (click)="createTag(createTagModal)" class="multiline-mat-option" value="null">
                                        <span class="ft13 blueLink">Crear nueva etiqueta</span>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="margin-left-custom pdt03">
                        <ng-container *ngFor="let tag of articleTags; let tagIndex = index" class="margin-left-custom">
                            <div class="skill-badge-complete ListHover radius10 backGray2 ft12 pdl08 pdr08 gray-8">
                                {{ tag.name | titlecase }}
                                <img style="cursor: pointer" (click)="removeTag(tagIndex)" [src]="icon.close" class="h16px makeGray" alt="" />
                            </div>
                        </ng-container>
                    </div>
                    <span *ngIf="articleTags.length === 0" class="ft10 redText">Debes seleccionar por lo menos una etiqueta</span>
                </div>
                <!-- Categories -->
                <div fxLayout="column" fxLayoutGap=".2rem" class="fw">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="fw">
                        <span class="w100px">Categorias:</span>
                        <select [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)" class="ft14 shadow-animation pdl05 pdr05 borderLight cursorPointer fw" style="text-align: center;">
                            <option value="" disabled selected>Selecciona las categorias</option>
                            <option *ngFor="let category of categoriesOptions" [value]="category">{{ category }}</option>
                        </select>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="margin-left-custom pdt03">
                        <div *ngFor="let category of categories; let categoryIndex = index" class="skill-badge-complete ListHover radius10 backGray2 ft12 pdl08 pdr08 gray-8">
                            <span>{{ category | titlecase }}</span>
                            <img style="cursor: pointer" (click)="removeCategory(categoryIndex)" [src]="icon.close" class="h16px makeGray" alt="" />
                        </div>
                    </div>
                    <span *ngIf="categories.length === 0" class="ft10 redText">Debes seleccionar por lo menos una categoria</span>
                </div>  
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1.5rem" class="fw">
            <!-- Courses -->
            <div fxLayout="column" fxLayoutGap=".2rem" class="fw">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5rem" class="cursorPointer fw">
                    <span class="w60px">Cursos:</span>
                    <form class="fw">
                        <mat-form-field subscriptSizing="dynamic" class="example-full-width fw h50px">
                        <mat-label>Buscar curso</mat-label>
                        <input type="text" class="ft14 fw" placeholder="Seleccione uno" aria-label="Number" matInput #autoTrigger="matAutocompleteTrigger" 
                        [formControl]="coursesForm" [matAutocomplete]="autoCourses"/>
                        <mat-autocomplete [hideSingleSelectionIndicator]="true" [displayWith]="getOptionTextCourse" #autoCourses="matAutocomplete" class="options">
                            <mat-option (click)="changeCourse(option)" class="multiline-mat-option ft12 fw" *ngFor="let option of filteredCourses | async" [value]="option">
                            <div fxLayout="row" fxLayoutAlign="space-between" class="fw">
                                <div fxLayout="col" fxLayoutAlign="center center">{{ option.titulo | titlecase }}</div>
                                <mat-icon class="makeBlue" *ngIf="isCourseSelected(option)">check</mat-icon>
                            </div>
                            </mat-option>
                        </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="margin-left-custom pdt03">
                    <ng-container *ngFor="let course of articleCourses; let courseIndex = index" class="margin-left-custom">
                        <div class="skill-badge-complete ListHover radius10 backGray2 ft12 pdl08 pdr08 gray-8">
                        {{ course.titulo | titlecase }}
                        <img style="cursor: pointer" (click)="removeCourse(courseIndex)" [src]="icon.close" class="h16px makeGray" alt="" />
                        </div>
                    </ng-container>
                </div>
                <span *ngIf="articleCourses.length === 0" class="ft10 redText">Debes seleccionar por lo menos un curso</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1.5rem" class="fw">
            <!-- Related Articles -->
            <div fxLayout="column" fxLayoutGap=".2rem" class="fw">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5rem" class="cursorPointer fw">
                    <span class="w60px">Artículos relacionados:</span>
                    <form class="fw">
                        <mat-form-field subscriptSizing="dynamic" class="example-full-width fw h50px">
                            <mat-label>Buscar artículo</mat-label>
                            <input type="text" class="ft14 fw" placeholder="Seleccione uno" aria-label="Number" matInput #autoTrigger="matAutocompleteTrigger" 
                            [formControl]="relatedArticlesForm" [matAutocomplete]="autoRelatedArticles"/>
                            <mat-autocomplete [hideSingleSelectionIndicator]="true" [displayWith]="getOptionTextRelatedArticle" #autoRelatedArticles="matAutocomplete" class="options">
                                <mat-option (click)="changeRelatedArticle(option)" class="multiline-mat-option ft12 fw" *ngFor="let option of filteredRelatedArticles | async" [value]="option">
                                    <div fxLayout="row" fxLayoutAlign="space-between" class="fw">
                                        <div fxLayout="col" fxLayoutAlign="center center">{{ option.title | titlecase }}</div>
                                        <mat-icon class="makeBlue" *ngIf="isRelatedArticleSelected(option)">check</mat-icon>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="margin-left-custom pdt03">
                    <ng-container *ngFor="let relatedArticle of articleRelatedArticles; let relatedArticleIndex = index" class="margin-left-custom">
                        <div class="skill-badge-complete ListHover radius10 backGray2 ft12 pdl08 pdr08 gray-8">
                            {{ relatedArticle.title | titlecase }}
                            <img style="cursor: pointer" (click)="removeRelatedArticle(relatedArticleIndex)" [src]="icon.close" class="h16px makeGray" alt="" />
                        </div>
                    </ng-container>
                </div>
                <!-- <span *ngIf="articleRelatedArticles.length === 0" class="ft10 redText">Debes seleccionar por lo menos un artículo relacionado</span> -->
            </div>
        </div>        

        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem" class="fw">
            <!-- Summary -->
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".5rem" class="fw">
                <span class="">Resumen:</span>
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" class="fw">
                    <textarea class="form-control radius4 fw h80px ft12 borderLight" style="overflow-y: hidden; resize:none; background-color: transparent !important;" 
                    type="text" [maxlength]="summaryMaxLength" [(ngModel)]="summary"></textarea>
                    <div class="progress-bar-container fw">
                        <div class="progress-bar" [style.width.%]="(summary.length / summaryMaxLength) * 100"></div>
                    </div>
                </div>
            </div>
            <!-- Meta description -->
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".5rem" class="fw">
                <span class="">Meta descripción:</span>
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" class="fw">
                    <textarea class="form-control radius4 fw h80px ft12 borderLight" style="overflow-y: hidden; resize:none; background-color: transparent !important;" 
                    type="text" [maxlength]="metaDescriptionMaxLength" [(ngModel)]="metaDescription"></textarea>
                    <div class="progress-bar-container fw">
                        <div class="progress-bar" [style.width.%]="(metaDescription.length / metaDescriptionMaxLength) * 100"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" class="fw pd20" [ngClass]="{'displayNone':tab!=2}">
    <!-- Photo -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5rem" class="fw">
        <div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center">
            <input #authorImage type="file" (change)="setImage($event)" hidden accept="image/jpeg, image/png, image/webp" [src]="selectedFile">
            <div *ngIf="!previewImage" (click)="authorImage.click()" class="imageBanner radius10 backGray2 shadowLight" fxLayout="row" fxLayoutAlign="center center">
                <span>Recomendamos cargar una imagen de 1.920 x 1.080 pixeles</span>
            </div>
            <div *ngIf="previewImage" (click)="authorImage.click()" class="imageBanner">
                <img [src]="previewImage" alt="Imagen seleccionada" class="fw fh radius10">
            </div>
        </div>
    </div>
    <!-- Title -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="w-70">
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".5rem" class="fw">
            <input type="text" [(ngModel)]="title" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
            <div class="progress-bar-container fw">
                <div class="progress-bar" [style.width.%]="(title.length / titleMaxLength) * 100"></div>
            </div>
        </div>
    </div>
    <quill-editor [modules]="modules" [format]="format" (onEditorCreated)="onEditorCreated($event)" class="w-70">
        <div above-quill-editor-toolbar>above</div>
        <div quill-editor-toolbar class="ql-toolbar sticky-toolbar">
            <span class="ql-formats">
                <!-- <button class="ql-header" value="2"></button> -->
                <select class="ql-header">
                    <option value="2">Título 2</option>
                    <option value="3">Título 3</option>
                    <option value="" selected>Normal</option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-align">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                </select>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
            </span>
        </div>
        <div below-quill-editor-toolbar>below</div>
    </quill-editor>
</div>
<!-- Modal de tags -->
<ng-template #createTagModal let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="modal-title pd10">
            <span class="ft16 ft500 gray-10">Asignar etiqueta</span>
        </div>
        <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
        <div fxLayout="row" class="fw">
            <div class="form-group fw">
                <label>Nombre de la etiqueta</label>
                <input type="text" class="form-control customInput" [(ngModel)]="newTagName" placeholder="Escriba el nombre de la etiqueta" />
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" class="pdt03" style="width: 100%">
            <button (click)="saveTag()" class="blueButton gray-1 radius4 ft12 h28px mgt10" fxLayout="row"
                fxLayoutGap="0.625rem" fxLayoutAlign="center center">
                <img [src]="icon.check" class="h16px pdr05 makeWhite" alt="" />
                Asignar etiqueta
            </button>
        </div>
    </div>
</ng-template>

<!-- Modal de pilares -->
<ng-template #createPillarModal let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="modal-title pd10">
            <span class="ft16 ft500 gray-10">Asignar pilar</span>
        </div>
        <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
        <div fxLayout="row" class="fw">
            <div class="form-group fw">
                <label>Nombre del pilar</label>
                <input type="text" class="form-control customInput" [(ngModel)]="newPillarName" placeholder="Escriba el nombre del pilar" />
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" class="pdt03" style="width: 100%">
            <button (click)="savePillar()" class="blueButton gray-1 radius4 ft12 h28px mgt10" fxLayout="row"
                fxLayoutGap="0.625rem" fxLayoutAlign="center center">
                <img [src]="icon.check" class="h16px pdr05 makeWhite" alt="" />
                Asignar pilar
            </button>
        </div>
    </div>
</ng-template>