/* .ql-toolbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: ;
}
 */

.ql-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ql-formats {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.customInput {
  color: var(--gray-9) !important;
  font-size: 12px;
}

/* .ql-header[value="3"]:after {
  clear: both;
  content: "H3";
  display: table;
  font-weight: 600;
  margin-top: -2px;
  margin-left: 1px;
  font-size: 14px;
} */


.avatar-scroll {
  display: flex;
  overflow-x: auto; /* Permite el scroll horizontal */
  white-space: nowrap; /* Esto evita que las imágenes salten a la siguiente línea */
  }
  
  .avatar-scroll img {
  border-radius: 50%; /* Esto hará que las imágenes tengan bordes redondos */
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--gray-8)
  
  }
  
  /* Este estilo es opcional, pero eliminará el scroll por defecto en algunos navegadores */
  .avatar-scroll::-webkit-scrollbar {
  display: none;
  }
