/* .ql-toolbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: ;
}
 */

.ql-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ql-formats {
    display: flex;
    flex-direction: row;
    gap: 20px;
}