<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1rem">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="fw mgt10">
        <span class="ft500 ft14 gray-10">Redactar correo:</span>
        <button *ngIf="!emailSent" class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="onSubmit()">
            <img [src]="icon.send" class="h16px pdr05 makeWhite" alt="" />Enviar a todos los usuarios inscritos
        </button>
    </div>
    <ng-container *ngIf="!emailSent">
        <!-- <textarea rows="6" type="text" class="form-control ft12 customInput2" style="resize: none;"
        placeholder="Escriba el contenido del correo." [(ngModel)]="emailContent"></textarea> -->
        <quill-editor class="fw" [modules]="modules" [(ngModel)]="emailContent" [format]="format"
            (onEditorCreated)="onEditorCreated($event)">
            <div above-quill-editor-toolbar>above</div>
            <div quill-editor-toolbar class="ql-toolbar">
                <span class="ql-formats">
                    <!-- <button class="ql-header" value="2"></button> -->

                    <select class="ql-header">
                        <option value="2">Heading 2</option>
                        <option value="3">Heading 3</option>
                        <option value="" selected>Normal</option>
                    </select>

                </span>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <!-- <button class="ql-underline"></button>
                    <button class="ql-strike"></button> -->

                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <!-- <select class="ql-align">
                        <option selected></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                    </select> -->
                </span>
                <span class="ql-formats">
                    <button class="ql-blockquote"></button>
                    <button class="ql-code-block"></button>
                </span>
                <!-- <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                    <button class="ql-direction" value="rt1"></button>
                </span> -->
                <!-- <span class="ql-formats">
                    <select class="ql-header">
                        <option selected></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                    </select>
                    <select class="ql-font">
                        <option selected></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                    </select>
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                </span> -->

                <!-- <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span> -->

                <span class="ql-formats">
                    <!-- <button class="ql-clean"></button> -->
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                    <!-- <button class="ql-video"></button> -->
                </span>
            </div>
            <div below-quill-editor-toolbar>below</div>
        </quill-editor>
    </ng-container>
    <ng-container *ngIf="emailSent">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".75rem" class="fw mgt10">
            <span *ngIf="emailContent" class="ft500 ft14 blue-5">Enviando ...</span>
            <ng-container *ngIf="!emailContent">
                <span *ngIf="!hasBeenAnError" class="ft500 ft14 gray-8">Tu correo ha sido enviado!</span>
                <!-- <span *ngIf="hasBeenAnError"></span> -->
                <button class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="emailSent = false; hasBeenAnError = false">
                    <img [src]="icon.add" class="h16px pdr05 makeWhite" alt="" />Redactar nuevo correo
                </button>
            </ng-container>
        </div>
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="fw">
        <span class="ft500 ft14 gray-10">Enviado por ultima vez:</span>
        <span class="ft500 ft14 blue-5">{{emailLastDate | customDatetime}}</span>
    </div>

</div>