.containerLeft {
    padding-bottom: 1rem !important;
    width: 100%;
    border-right: 1px solid var(--gray-3);
}

.containerRight {
    width: 100%;
}

.card-container {
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #D5DCE0;
    min-width: 240px;
    padding: 12px;
}