<div class="mgt05 mgl05 mgr05">
    <!-- <p class="ft600 ft16 gray-10">Pizarra</p> -->

    <div fxLayout="row" fxLayoutAlign="space-between center" class="mgb05">
        <div>
            <app-navigate-back targetUrl="/crm/dashboard">
                {{empresa?.nombre | titlecase}}
                <span *ngIf="!editingIndustria" (click)="editingIndustria = true" class="ft14 ft500 cursorPointer" >{{empresa.industria ? empresa.industria : 'Sin Industria'}}</span>
                <select [(ngModel)]="empresa.industria"   *ngIf="editingIndustria"  (blur)="editingIndustria = false; saveIndustria()" (keydown)="handleKeydownIndustria($event)" class="form-control customInput" >
                    <option value="" disabled>Seleccionar industria</option>
                    <option value="Aeroespacial / Aerea">Aeroespacial / Aérea</option>
                    <option value="Agrícola">Agrícola</option>
                    <option value="Alimenticia / Bebidas">Alimenticia / Bebidas</option>
                    <option value="Automatización Industrial">Automatización Industrial</option>
                    <option value="Automotriz">Automotriz</option>
                    <option value="Cementera">Cementera</option>
                    <option value="Construcción">Construcción</option>
                    <option value="Energía Nuclear">Energía Nuclear</option>
                    <option value="Energía renovable">Energía renovable</option>
                    <option value="Farmacéutica / Cosmética">Farmacéutica / Cosmética</option>
                    <option value="Ferroviaria">Ferroviaria</option>
                    <option value="Ganadera">Ganadera</option>
                    <option value="Generación de energía">Generación de energía</option>
                    <option value="Hidroeléctrica">Hidroeléctrica</option>
                    <option value="Maderera">Maderera</option>
                    <option value="Manufacturera">Manufacturera</option>
                    <option value="Militar">Militar</option>
                    <option value="Minería">Minería</option>
                    <option value="Naval">Naval</option>
                    <option value="Nuclear">Nuclear</option>
                    <option value="Papelera">Papelera</option>
                    <option value="Petróleo / Gas">Petróleo / Gas</option>
                    <option value="Petroquímica">Petroquímica</option>
                    <option value="Química">Química</option>
                    <option value="Siderúrgica / Acerera">Siderúrgica / Acerera</option>
                    <option value="Textil">Textil</option>
                    <option value="Transporte">Transporte</option>
                    <option value="Vidriera">Vidriera</option>
                  </select>
                
                
                <!-- <input (blur)="editingIndustria = false; savelead(card)"  (keydown)="handleKeydown($event, card, 'editingTitle')"  *ngIf="card['editingTitle']"  type="text" [(ngModel)]="card.title" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" /> -->
            </app-navigate-back>
        </div>
        <div>
            <span class="ft600 ft16 gray-10">{{asesorEmpresa?.displayName | titlecase}}</span>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <span class="ft12">Ver Perdidas</span>
            <mat-slide-toggle [(ngModel)]="showLost" color="primary"></mat-slide-toggle>
            <button class="backBlue5 button-animation" style="border-radius: 24px !important;">
                <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
                Nuevo Negocio
            </button>
        </div>
    </div>
    
    <div class="kanban-board" fxLayout="row" fxLayoutAlign="space-between stretch">
        <ng-container *ngFor="let column of columns">
            <div *ngIf="(column.id !== 'lost' && column.id !== 'closed') || (column.id === 'lost' && showLost) || (column.id === 'closed' && !showLost)" class="kanban-column"  fxLayout="column" fxFlex="20">
                <div *ngIf="column.name!='Notas'" class="kanban-header" [ngStyle]="{'background-color': column.color}">
                    {{ column.name }} ({{ column.cantidad }} - {{ column.total | numberAbbreviate:'USD' }})
                </div>
                <div *ngIf="column.name=='Notas'" class="kanban-header" [ngStyle]="{'background-color': column.color}">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                        <div></div>
                        <span>{{ column.name }}</span>
                        <div class="pdr05 cursorPointer" (click)="addNote(nuevaNotaModal)">
                            <img [src]="icon.addNew" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="kanban-content" cdkDropList [attr.id-column]="column.id" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let card of column.cards" >
                    <div cdkDrag class="lead-card" [attr.id]="card.id" [ngClass]="{'backGray5': card.archivado }">
                        <!-- <ng-container *ngIf="(card.typeCard == 'lead' || card.typeCard == 'sinNegcios')"> -->
                        <ng-container *ngIf="card.typeCard !== 'nota'">
                            <div style="padding: 10px;">
                                <div>
                                    <span *ngIf="!card['editingTitle']" (click)="card['editingTitle'] = true" class="ft14 ft500 cursorPointer" >{{card.title ? card.title : 'Sin titulo'}}</span>
                                    <input (blur)="card['editingTitle'] = false; savelead(card)"  (keydown)="handleKeydown($event, card, 'editingTitle')"  *ngIf="card['editingTitle']"  type="text" [(ngModel)]="card.title" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                                </div>
                                <div class="contactoLead mgt05" fxLayout="column">
                                    <div fxLayout="row" class="pdb05">
                                        <span class="ft12">{{card.name | titlecase}}&nbsp;- &nbsp;{{card.cargo}}</span> 
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                        <a (click)="copiarContacto('Correo copiado',card.email)" [href]="'mailto:' + card.email" class="ft12 blueLink">{{ card.email }}</a>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                        <a (click)="copiarContacto('Teléfono copiado',card.telefono)" [href]="'https://wa.me/' + card.telefono" target="_blank" class="ft12 gray-10">Tel:&nbsp;{{ card.telefono }}</a>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Valor:</span>
                                    <!-- <input [(ngModel)]="card.valor" (blur)="savelead(card)" type="number"/> -->
                                    <span *ngIf="!card['editingValor']" (click)="card['editingValor'] = true" class="cursorPointer" [ngClass]="{ 'greenText4 ft600': card.valor }">{{ card.valor ? (card.valor | numberAbbreviate:'USD') : 'Sin valor establecido' }}</span>
                                    <input (blur)="card['editingValor'] = false; savelead(card)" (keydown)="handleKeydown($event, card, 'editingValor')"  *ngIf="card['editingValor']"  type="number" [(ngModel)]="card.valor" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                                </div>
            
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Interes:</span>
                                    <!-- Select para elegir entre 'Empresa' o 'Independiente' -->
                                    <span *ngIf="!card['editingProducto']" (click)="card['editingProducto'] = true" class="cursorPointer">
                                        {{ card.interesUser ? (card.interesUser | titlecase) : 'Sin valor establecido' }}
                                    </span>
                                    <select (keydown)="handleKeydown($event, card, 'editingProducto')"  (blur)="card['editingProducto'] = false; savelead(card)" *ngIf="card['editingProducto']" [(ngModel)]="card.interesUser" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw">
                                        <option [ngValue]="'empresa'">Empresa</option>
                                        <option [ngValue]="'individual'">Individual</option>
                                    </select>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Cantidad:</span>
                                    <!-- Select para elegir entre 'Empresa' o 'Independiente' -->
                                    <span *ngIf="!card['editingCantidad']" (click)="card['editingCantidad'] = true" class="cursorPointer">
                                        {{ card.cantidad ? (card.cantidad ) : 'Sin valor establecido' }}
                                    </span>
                                    <select (keydown)="handleKeydown($event, card, 'editingCantidad')"  (blur)="card['editingCantidad'] = false; savelead(card)" *ngIf="card['editingCantidad']" [(ngModel)]="card.cantidad" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw">
                                        <option [ngValue]="'1'">Para 1 persona</option>
                                        <option [ngValue]="'2'">Para 2 personas</option>
                                        <option [ngValue]="'5'">Para 5 personas</option>
                                        <option [ngValue]="'+10'">Para más de 10 personas</option>
                                        <option [ngValue]="'+25'">Para más de 25 personas</option>
                                    </select>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start start" class="pdt05">
                                    <div fxLayout="column" fxFlex="20">
                                        <span>Origen:</span>
                                    </div>
                                    <div fxLayout="column" fxFlex="80">
                                        <span *ngIf="!card['editingOrigen']" (click)="card['editingOrigen'] = true" class="cursorPointer" style="text-align: right; display: block; overflow-wrap: break-word; max-width: 100%;">
                                            {{ card.origenBase ? card.origenBase : 'Sin valor establecido' }}
                                        </span>
                                        <textarea cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="99"
                                        [(ngModel)]="card.origenBase"
                                        (blur)="card['editingOrigen'] = false; savelead(card)"
                                        *ngIf="card['editingOrigen']"></textarea>
                                    </div>
                                </div>
                                <!-- source	medium	campaign -->
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Source:</span>
                                    <!-- <input [(ngModel)]="card.valor" (blur)="savelead(card)" type="number"/> -->
                                    <span *ngIf="!card['editingSource']" (click)="card['editingSource'] = true" class="cursorPointer" >{{ card.source ? (card.source) : '-' }}</span>
                                    <input (blur)="card['editingSource'] = false; savelead(card)" (keydown)="handleKeydown($event, card, 'editingSource')"  *ngIf="card['editingSource']"  type="text" [(ngModel)]="card.source" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Medium:</span>
                                    <!-- <input [(ngModel)]="card.valor" (blur)="savelead(card)" type="number"/> -->
                                    <span *ngIf="!card['editingMedium']" (click)="card['editingMedium'] = true" class="cursorPointer" >{{ card.medium ? (card.medium) : '-' }}</span>
                                    <input (blur)="card['editingMedium'] = false; savelead(card)" (keydown)="handleKeydown($event, card, 'editingMedium')"  *ngIf="card['editingMedium']"  type="text" [(ngModel)]="card.medium" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Campaign:</span>
                                    <!-- <input [(ngModel)]="card.valor" (blur)="savelead(card)" type="number"/> -->
                                    <span *ngIf="!card['editingCampaign']" (click)="card['editingCampaign'] = true" class="cursorPointer" >{{ card.campaign ? (card.campaign) : '-' }}</span>
                                    <input (blur)="card['editingCampaign'] = false; savelead(card)" (keydown)="handleKeydown($event, card, 'editingCampaign')"  *ngIf="card['editingCampaign']"  type="text" [(ngModel)]="card.campaign" class="h32px ft14 shadow-animation pdl05 pdr05 radius4 borderLight fw" style="text-align: center;" />
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pdt05">
                                    <span>Fecha:</span>
                                    <span>{{card.date.seconds * 1000 | date}}</span>
                                </div>
                            </div>
                            <!-- Footer de la tarjeta -->
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="card-footer" style="margin: 0; padding: 8px;">
                                <span (click)="selectedLead=card" [matMenuTriggerFor]="menuResposnable" class="ftxs cursorPointer ">{{card.nameAsesor? (card.nameAsesor | titlecase):'Sin responsable'}}</span>
                                <span class="ftxs blueLink" (click)="selectedLead=card" [matMenuTriggerFor]="menuDormir">Dormir (WIP)</span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="card.typeCard == 'nota'">
                            <div style="padding: 10px;"
                            [ngClass]="{
                                'bg-red': card.color === 'red',
                                'bg-blue': card.color === 'blue',
                                'bg-yellow': card.color === 'yellow'
                              }"
                            (contextmenu)="rightClickCard($event,card);">
                                <div fxLayout="row">
                                    <span class="ft12">
                                        {{card.nameAsesor | titlecase}} - {{(card.date.seconds * 1000 )| date:"dd/MM/yyyy HH:mm"}}
                                    </span>
                                </div>
                                <div fxLayout="row" class="pdt05">
                                    <span>{{card.texto}}</span>
                                </div>
                            </div>
                            <div [attr.id]="'menuCard-' + card.id" (click)="selectedNote=card;selectedIdNote = card.id;" [matMenuTriggerFor]="menuNota">
                            </div>
                        </ng-container>
                        
                    </div>
                </ng-container>
              </div>
            </div>
        </ng-container>
    </div>
</div>

<mat-menu #menuResposnable="matMenu" class="containerMenu" style="padding: 20px !important;">
    <div fxLayout="column" fxLayoutGap="" fxLayoutAlign="center center">
        <div
            mat-menu-item
            class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign="center center">
            <span class="pdl05">Responsable</span>
            <select class="mgl05" (click)="$event.stopPropagation()" (change)="asignarAsesor($event, selectedLead)">
                <option value="" disabled [selected]="!selectedLead?.idAsesor">Asignar</option>
                <option *ngFor="let asesor of asesores" [value]="asesor.id" [selected]="asesor.id === selectedLead?.idAsesor">{{ asesor.name | titlecase }}</option>
            </select>
        </div>
    </div>
</mat-menu>
<mat-menu #menuNota="matMenu" class="containerMenu" style="padding: 20px !important;">
    <div fxLayout="column" fxLayoutGap="" fxLayoutAlign="center center">
        <div
        (click)="makeBgNote('red')"
        mat-menu-item class="opcionMenu"
        fxLayout="row"
        fxLayoutAlign=" center">
        <img [src]="icon.circleFill" alt="" class="makeRedComentario">
        <span class="pdl05">Roja</span>
        </div>
        
        <div
            (click)="makeBgNote('yellow')"
            mat-menu-item class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <img [src]="icon.circleFill" alt="" class="makeYellowComentario">
            <span class="pdl05">Amarilla</span>
        </div>
        
        <div
            (click)="makeBgNote('blue')"
            mat-menu-item class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <img [src]="icon.circleFill" alt="" class="makeBlueComentario">
            <span class="pdl05">Azul</span>
        </div>
        
        <div
            (click)="makeBgNote('white')"
            mat-menu-item class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <img [src]="icon.circleFill" alt="" class="makeWhite">
            <span class="pdl05">Blanca</span>
        </div>
    
        <div
            mat-menu-item class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <img [src]="icon.trash" alt="" class="makeRed">
            <span class="pdl05">Eliminar</span>
        </div>
    </div>
</mat-menu>


<mat-menu #menuDormir="matMenu" class="containerMenu" style="padding: 20px !important;">
    <div fxLayout="column" fxLayoutGap="" fxLayoutAlign="">
        <div
            mat-menu-item
            class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <span class="pdl05">1 Día</span>
        </div>
        <div
            mat-menu-item
            class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <span class="pdl05">2 Días</span>
        </div>
        <div
            mat-menu-item
            class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <span class="pdl05">1 Semana</span>
        </div>
        <div
            mat-menu-item
            class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <span class="pdl05">1 Mes</span>
        </div>
        <div
            mat-menu-item
            class="opcionMenu"
            fxLayout="row"
            fxLayoutAlign=" center">
            <span class="pdl05">Seleccionar Fecha</span>
        </div>
    </div>
</mat-menu>

<!-- Modal crear empresa -->
<ng-template #nuevaNotaModal let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="modal-title pd10">
            <span class="ft16 ft500 gray-10">Crear nueva nota</span>
        </div>
        <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
        <div fxLayout="column" class="fw">
            <div fxLayout="column" class="fw">
                <textarea [(ngModel)]="notaTexto" rows="8" placeholder="Escribe una nota" class="textarea-class"></textarea>
              </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" class="pdt03" style="width: 100%">
            <button (click)="saveNota()"  class="blueButton gray-1 radius4 ft12 h28px mgt10" fxLayout="row"
                fxLayoutGap="0.625rem" fxLayoutAlign="center center">
                <img [src]="icon.save" class="h16px pdr05 makeWhite" alt="" />
                Crear Nota
            </button>
        </div>
    </div>
</ng-template>
