<div class="">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="ft14">Nombre</th>

      <!-- <th mat-header-cell *matHeaderCellDef class="gray-8"> Nombre </th> -->
      <td mat-cell *matCellDef="let enterprise">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
          <img
            [src]="
              enterprise.photoUrl
                ? enterprise.photoUrl
                : 'assets/images/default/default-user-image.jpg'
            "
            class="avatar2"
            alt=""
          />
          <div fxLayout="column" fxLayoutAlign="center " class="move-right">
            <div class="ft500 ft14 gray-10">
              {{ enterprise.name | titlecase }}
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="ritmo">
      <th mat-header-cell *matHeaderCellDef class="ft14"></th>
      <th mat-header-cell *matHeaderCellDef class="gray-8"> Ritmo </th>
      <td mat-cell *matCellDef="let enterprise">
        <div class="bar-container">
          <div class="bar-segment bar-high" [style.width.%]="(enterprise.ritmos.high / enterprise.totalRitmos) * 100"></div>
          <div class="bar-segment bar-medium" [style.width.%]="(enterprise.ritmos.medium / enterprise.totalRitmos) * 100"></div>
          <div class="bar-segment bar-low" [style.width.%]="(enterprise.ritmos.low / enterprise.totalRitmos) * 100"></div>
          <div class="bar-segment bar-no-iniciado" [style.width.%]="(enterprise.ritmos.noIniciado / enterprise.totalRitmos) * 100"></div>
          <div class="bar-segment bar-no-plan" [style.width.%]="(enterprise.ritmos.noPlan / enterprise.totalRitmos) * 100"></div>
        </div>
      </td>
    </ng-container>
    <!-- Users Qty Column -->
    <ng-container matColumnDef="userQty">
      <th mat-header-cell *matHeaderCellDef class="ft14">Usuarios</th>

      <td mat-cell *matCellDef="let enterprise" class="ft14">
        {{ enterprise.userQty | number : "1.0-0" }}
      </td>
    </ng-container>
    <!-- Available Licenses Column -->
    <ng-container matColumnDef="availableLicenses">
      <th mat-header-cell *matHeaderCellDef class="ft14">
        Licencias disponibles
      </th>

      <td mat-cell *matCellDef="let enterprise" class="ft14">
        {{ enterprise.availableLicenses | number : "1.0-0" }}
      </td>
    </ng-container>
    <!-- In Use Licences Column -->
    <ng-container matColumnDef="inUseLicenses">
      <th mat-header-cell *matHeaderCellDef class="ft14">Licencias en uso / Disponibles</th>

      <td mat-cell *matCellDef="let enterprise" class="ft14">
        {{ enterprise.totalLicenses - enterprise.availableLicenses| number : "1.0-0"}} / {{enterprise.availableLicenses| number : "1.0-0"}}
      </td>
    </ng-container>
    <!-- Rotations Column -->
    <ng-container matColumnDef="rotations">
      <th mat-header-cell *matHeaderCellDef class="ft14">Rotaciones</th>

      <td mat-cell *matCellDef="let enterprise" class="ft14">
        {{ enterprise.availableRotations | number : "1.0-0" }}
      </td>
    </ng-container>
    <!-- Expiration Date Column -->
    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef class="ft14">
        Fecha de vencimiento
      </th>

      <td mat-cell *matCellDef="let enterprise" class="ft14">
        {{ enterprise.expirationDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef class="ft14">Producto</th>

      <td mat-cell *matCellDef="let enterprise" class="ft14">
        {{ enterprise.product }}
      </td>
    </ng-container>


    <!-- Product Column -->
    <ng-container matColumnDef="demo">
      <th mat-header-cell *matHeaderCellDef class="ft14">Demo</th>

      <td mat-cell *matCellDef="let enterprise" class="centertext ft12">
        <div *ngIf="enterprise.demo" fxLayout="row" fxLayoutGap="6px" fxLayoutAlign=" center">
          <div
            class="pdt03 pdb03 radius6 fw backOrange1 orange-3"> Demo
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="ft13 centertext">
        <div
          class="cursorPointer"
          fxLayout="row"
          fxLayoutAlign=" center"
          [matMenuTriggerFor]="menu"
        >
          <span>Fecha licnecia</span>
          <mat-icon>expand_more</mat-icon>
        </div>
        <mat-menu #menu="matMenu" class="radius6 shadow16 pd0">
          <div fxLayout="column" class="pd0">
            <div
              mat-menu-item
              class="opcionMenu"
              fxLayout="row"
              fxLayoutAlign=" center"
              (click)="search('all')"
              [ngClass]="status == 'all' ? 'backGray2 green-5 ft500' : 'gray-10'"
            >
              <span class="pdl05">Todos</span>
            </div>
            <div
              mat-menu-item
              class="opcionMenu"
              fxLayout="row"
              fxLayoutAlign=" center"
              (click)="search('active')"
              [ngClass]="status == 'active' ? 'backGray2 green-5 ft500' : 'gray-10'"
            >
              <span class="pdl05">Activos</span>
            </div>
            <div
              mat-menu-item
              class="opcionMenu"
              fxLayout="row"
              fxLayoutAlign=" center"
              (click)="search('expired')"
              [ngClass]="
                status == 'expired' ? 'backGray2 green-5 ft500' : 'gray-10'
              "
            >
              <span class="pdl05">
                <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign=" center">
                  <span>Vencidos</span>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    *ngIf="atLeastOneExpired"
                    [matTooltip]="
                      'Esta empresa tiene licencias vencidas por desactivar'
                    "
                  >
                    <mat-icon style="color: var(--red-5)">error</mat-icon>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let enterprise" class="centertext ft12">
        <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign=" center">
          <div
            class="pdt03 pdb03 radius6 fw"
            [ngClass]="
              enterprise.status == SubscriptionClass.STATUS_ACTIVE? 'backGreen2 green-6' : 'backGray3 gray-5'">
            {{ enterprise.status == 'active'? 'Activa' : enterprise.status }}  {{ enterprise.product }}: {{ enterprise.expirationDate | date : "MMM yy" }}
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            *ngIf="enterprise.showWarning"
            [matTooltip]="
              'Esta empresa tiene licencias vencidas por desactivar'
            "
          >
            <mat-icon style="color: var(--red-5)">error</mat-icon>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container>
      <tr
        mat-row
        *matRowDef="let enterprise; columns: displayedColumns"
        class="cursorPointer"
        [routerLink]="'/admin/enterprises/form/' + enterprise.id"
      ></tr>
    </ng-container>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">
        No se han encontrado empresas para el criterio de busqueda
      </td>
    </tr>
  </table>

  <mat-paginator
    aria-label="Select page of enterprises"
    [pageSize]="pageSize"
    [length]="totalLength"
    (page)="onPageChange($event.pageIndex + 1)"
  ></mat-paginator>
</div>
