<button (click)="debug()" class="blueButton">Debug</button>
<div class="fw fh mgt20">
    <form [formGroup]="createDemoForm" (ngSubmit)="onSubmit()">
        <div class="pd10" fxLayout="row" fxLayoutAlign="center center">
            <span class="ft16 ft600 gray-10">
                Crear empresa demo
            </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="w-30">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center ">
                    <input
                        formControlName="enterpriseName"
                        [class.is-invalid]="createDemoForm.get('enterpriseName').errors && displayErrors"
                        type="text" 
                        class="form-control"
                        placeholder="Nombre de la empresa"
                        >
                    <div
                        class="custom-invalid-feedback"
                        *ngIf="createDemoForm.get('enterpriseName').errors && displayErrors"
                        >
                        <div *ngIf="createDemoForm.get('enterpriseName').errors?.required">
                            Es obligatorio especificar el nombre de la empresa
                        </div>
                    </div>
                    <div style="position: relative">
                        <img [src]="icon.email" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="email"
                            [class.is-invalid]="createDemoForm.get('email').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20"
                            placeholder="Correo electrónico del administrador"
                            >
                    </div>
                    <div
                        class="custom-invalid-feedback"
                        *ngIf="createDemoForm.get('email').errors && displayErrors"
                        >
                        <div *ngIf="createDemoForm.get('email').errors?.required">
                            Es obligatorio especificar el correo del usuario administrador
                        </div>
                        <div *ngIf="createDemoForm.get('email').errors?.email">
                            El correo electrónico posee un formato incorrecto
                        </div>
                    </div>
                    <div style="position: relative">
                        <img [src]="icon.phone" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="phoneNumber"
                            [class.is-invalid]="createDemoForm.get('phoneNumber').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20"
                            placeholder="Teléfono"
                            >
                    </div>
                    <div
                        class="custom-invalid-feedback"
                        *ngIf="createDemoForm.get('phoneNumber').errors && displayErrors"
                        >
                        <div *ngIf="createDemoForm.get('phoneNumber').errors?.required">
                            Es obligatorio especificar un número de contacto para la empresa
                        </div>
                    </div>
                    <input formControlName="activeUsersQty"
                        [class.is-invalid]="createDemoForm.get('activeUsersQty').errors && displayErrors"
                        type="number"
                        min="1"
                        class="form-control"
                        placeholder="Cantidad de usuarios activos"
                        >
                    <div
                        class="custom-invalid-feedback"
                        *ngIf="createDemoForm.get('activeUsersQty').errors && displayErrors"
                        >
                        <div *ngIf="createDemoForm.get('activeUsersQty').errors?.required">
                            Es obligatorio especificar la cantidad de usuarios activos
                        </div>
                        <div *ngIf="createDemoForm.get('activeUsersQty').errors?.min">
                            El demo debe tener al menos un usuario activo
                        </div>
                        <div *ngIf="createDemoForm.get('activeUsersQty').errors?.pattern">
                            La cantidad de usuarios activos del demo debe ser un número
                        </div>
                    </div>
                    <div style="position: relative">
                        <img [src]="icon.calendarAdd" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="endDate"
                            [class.is-invalid]="createDemoForm.get('endDate').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20"
                            name="endDate"
                            (click)="endDate.toggle()"
                            ngbDatepicker
                            #endDate="ngbDatepicker"
                            placeholder="Fecha de finalización del demo"
                            >
                    </div>
                    <div
                        class="custom-invalid-feedback"
                        *ngIf="createDemoForm.get('endDate').errors && displayErrors"
                        >
                        <div *ngIf="createDemoForm.get('endDate').errors?.required">
                            Es obligatorio especificar la fecha de finalización del demo
                        </div>
                    </div>
                </div>
                <div class="mgt10" style="display: flex; align-items: center; justify-content: center">
                    <button
                        class=" blueButtonAnim button-animation   h28px mgr10 "
                        fxLayout="row"
                        fxLayoutGap="0.625"
                        fxLayoutAlign="center center"
                        type="submit"
                        >
                        Crear demo
                    </button>        
                </div>
            </div>
        </div>
    </form>
</div>