<div class="mgb20">
    <!-- Admins -->
    <!-- <div class="">
        <app-enterprise-admins-list [enterpriseRef]="enterpriseRef"></app-enterprise-admins-list>
    </div> -->
   <!-- Licenses -->
    <div class="mgt20">
        <app-enterprise-licenses-list [enterpriseRef]="enterpriseRef"></app-enterprise-licenses-list>
    </div>
    <!-- Students list -->
    <div class="mgt20">
        <app-enterprise-students-list [enterpriseRef]="enterpriseRef"></app-enterprise-students-list>
    </div>
</div>