<div>
    <!-- Admins -->
    <div class="mgt20">
        <app-enterprise-admins-list [enterpriseRef]="enterpriseRef"></app-enterprise-admins-list>
    </div>
   <!-- Licenses -->
    <div class="mgt20">
        <app-enterprise-licenses-list [enterpriseRef]="enterpriseRef"></app-enterprise-licenses-list>
    </div>
    <!-- Students list -->
    <div class="mgt20">
        <div fxLayout="row" fxLayoutAlign=" center">
            <h6 class="ft16 ft500 mgt0 mgb0"> Lista de usuarios</h6>
            <mat-icon (click)="addUser()" class="mgl10 gray-5 cursorPointer ft20 linkIcon">
                add_circle</mat-icon>
        </div>
        <div class="fw mgt10">
            <!-- <table class="fw">
                <thead>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Perfil</th>
                    <th>Correo</th>
                    <th>Estatus</th>
                </thead>
                <tr *ngFor="let student of empresa.students; let i = index">
                    <td>
                        <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign=" center">
                            <img [src]="student.photoURL" class="avatar2" alt="" onerror="this.src='assets/images/default/default-user-image.jpg'">
                            <span>{{student.name}}</span>
                        </div>
                    </td>
                    <td >
                        <div fxLayout="row" fxLayoutGap=".5rem">
                            <span>{{student.getDepartmentOfUser(empresa.departments).name}}</span>
                        </div>
                    </td>
                    <td >
                        <div fxLayout="row" fxLayoutGap=".5rem">
                            <span>
                                {{student.getProfileOfUser(empresa.departments).name != 'Asignar perfil'? 
                                student.getProfileOfUser(empresa.departments).name: 'Sin asignar'}}
                            </span>
                        </div>
                 
                    </td>
                    <td>
                        {{student.email}}
                    </td>
                    <td fxLayout="row" fxLayoutGap="1rem">
                        <span *ngIf="student.getSubscriptionOfUser(subscriptions)" [ngClass]="student.getSubscriptionOfUser(subscriptions).status == 'active'?'chip backGreen1 green-5':'chip'">{{student.getSubscriptionOfUser(subscriptions).status}}</span>
                        <span *ngIf="student.uid && !student.getSubscriptionOfUser(subscriptions)" class="chip backGray4 gray-10" [matMenuTriggerFor]="inactiveMenu" >Inactiva</span>
                        <mat-menu #inactiveMenu="matMenu">
                            <ng-container *ngFor="let licencia of getAvailableLicences()">
                              <button mat-menu-item (click)="activarLicencia(licencia, student)">
                                Activar licencia (Válida hasta: {{licencia.currentPeriodEnd| date:"dd-MM-yyyy"}})
                              </button>
                            </ng-container>
                            <ng-container *ngIf="!getAvailableLicences().length">
                              <button mat-menu-item disabled>
                                No posee licencias disponibles, contacte a un asesor
                              </button>
                            </ng-container>
                          </mat-menu>
                        <div  *ngIf="!student.uid" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center">
                            <mat-icon class="iconButton">email</mat-icon>
                            <mat-icon  [cdkCopyToClipboard]="copyLink(student)" (click)="openCopySnack()" class="iconButton">link</mat-icon>
                        </div>
                        <mat-icon *ngIf="student.included" class="iconButton" (click)="deleteUser(student)">delete</mat-icon>
                    </td>
                </tr>
            </table> -->
        </div>
    </div>
</div>