<div class="list">
    <span *ngIf="type == 'predyc'" class="ft400 gray-8 ft13 pd05">Cursos Predyc</span>
    <span *ngIf="type == 'propios' && hasOwnCourses()" class="ft400 gray-8 ft13 pd05">Cursos Porpios</span>
    <div class="fw categories" *ngFor="let category of processedCategories">
        <!-- <div *ngIf="filteredCourses(type == 'propios' ? category.coursesPropios : category.courses)?.length>0" [ngClass]="(type == 'propios' ? category.expandedPropios : category.expandedPredyc) ? 'headCategoryExpanded hoverGray mgt05' : 'headCategory hoverGray'"  -->
        <div *ngIf="filteredCourses(type == 'propios' ? category.coursesPropios : category.coursesPredyc)?.length>0" [ngClass]="(type == 'propios' ? category.expandedPropios : category.expandedPredyc) ? 'headCategoryExpanded hoverGray mgt05' : 'headCategory hoverGray'"
            fxLayout="row" 
             fxLayoutAlign="space-between center" 
             (click)="type == 'propios' ? category.expandedPropios=!category.expandedPropios : category.expandedPredyc=!category.expandedPredyc">
            <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
                <ng-container *ngIf="type == 'propios'; else predycTemplate">
                    <img *ngIf="!category.expandedPropios" [src]="icon.chevronRight" class="makeBlue cursorPointer" alt="">
                    <img *ngIf="category.expandedPropios" [src]="icon.chevronDown" class="makeBlue cursorPointer" alt="">
                </ng-container>
                <ng-template #predycTemplate>
                    <img *ngIf="!category.expandedPredyc" [src]="icon.chevronRight" class=" cursorPointer" alt="">
                    <img *ngIf="category.expandedPredyc" [src]="icon.chevronDown" class=" cursorPointer" alt="">
                </ng-template>
                <span [ngClass]="(type == 'propios' ? category.expandedPropios : category.expandedPredyc) ? 'ft12 gray-10 ft500' : 'ft12 gray-10 ft500'">
                    {{category.name}}
                </span>
            </div>
        </div>
        <div fxLayout="column" 
             fxLayoutAlign="start start" 
             [ngClass]="(type == 'propios' ? category.expandedPropios : category.expandedPredyc) ? 'bodyCategoryExpanded' : 'bodyCategory'">
             <ng-container *ngFor="let course of filteredCourses(type == 'propios' ? category.coursesPropios : category.coursesPredyc)">
            <!-- <ng-container *ngFor="let course of filteredCourses(type == 'propios' ? category.coursesPropios : category.courses)"> -->
                <div *ngIf="!course.dontshow" class="fw pd05 h40px  cursorPointer hoverGray courseContainer"  
                        [ngClass]="selectedCourse == course ? 'backBlue1' : ''" 
                        (click)="selectCourse(course)" 
                        fxLayout="row" 
                        fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
                        <img *ngIf="course['imagen']" [src]="course['imagen']" class="h24px w24px radius4" alt="">
                        <img *ngIf="!course['imagen']" [src]="icon.examenPredyc2" class="h24px w24px radius4" alt="">
                        <span class="ft12" [ngClass]="selectedCourse == course ? 'blue-5 ft500' : 'gray-10'">
                            {{course.titulo | titlecase}}
                        </span>
                    </div>
                    <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap=".5rem">
                        <div fxLayout="row" fxLayoutGap=".3rem">
                            <div *ngIf="course['proximamente']"
                                style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                                class="skill-badge-complete ListHover radius10 backGray2  ft12 pdl05 pdr05 yellow-5">
                                Borrador
                            </div>
                        </div>
                        <span *ngIf="course?.duracion" class="gray-6 ft12 nowrap">
                            {{ getRounded(course.duracion / 60) }}{{getRounded(course.duracion / 60) == 1 ? 'hr' : 'hrs'}}
                        </span>
                    </div>
                </div>
             </ng-container>
             

        </div>
    </div>
</div>

