<div class="">
    <table mat-table [dataSource]="dataSource">

        <!-- Nombre Column -->
        <ng-container matColumnDef="displayName">

            <th mat-header-cell *matHeaderCellDef class="ft14"> 
                <div class="cursorPointer" fxLayout="row"fxLayoutAlign=" center" >
                <span  class="gray-7">Nombre</span>
                <mat-icon>expand_more</mat-icon>
              </div>
            </th>

            <!-- <th mat-header-cell *matHeaderCellDef class="gray-8"> Nombre </th> -->
            <td mat-cell *matCellDef="let user"> 
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center" >
                    <img
                        [src]="user.photoUrl ? user.photoUrl : 'assets/images/default/default-user-image.jpg'"
                        class="avatar2"
                        alt=""
                        >
                    <div fxLayout="column" fxLayoutAlign="center ">
                        <div  fxLayout="row" class="ft500 ft14  gray-10">{{ user.displayName | titlecase }}
                            <div *ngIf="user.role == 'admin'" class="chip backGreen2 mgl05" fxLayoutAlign="center center">
                                <span class="ft9 nowrap ft500 green-5 pdl03 pdr03" >Administrador</span>
                            </div>
                        </div> 
                        <div *ngIf="!user.profile"
                            class="ft400 ft13 gray-6">
                            Perfil sin asignar
                        </div>
                        <div
                            *ngIf="user.profile" fxLayout="row" fxLayoutGap="5px"  >
                            <div *ngIf="user.profile" class="ft400 ft13 blue-4" >
                                {{ user.profile  | titlecase }}
                            </div>
                            <!-- <img [src]="icon.arrowForward" alt="Forward Arrow" class="makeBlue" > -->
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container>
            <tr mat-row
                *matRowDef="let user; columns: displayedColumns;"
                class="cursorPointer move-right">
            </tr>
          </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8">No se han encontrado usuarios para el criterio de busqueda</td>
        </tr>
    </table>

    <mat-paginator
        aria-label="Select page of users"
        [pageSize]="pageSize"
        [length]="totalLength"
        (page)="onPageChange($event.pageIndex + 1)"
        ></mat-paginator>
</div>



  
  