/* Structure */
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.filter-container {
    margin: 0 0 20px 0;
}

.filter-item {
    cursor: pointer;
    padding: 4px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.filter-item:hover {
    background-color: #e9e9e9;
}

.filter-item.active {
    background-color: #ffdb51b3; 
}

.filter-item span {
    font-weight: 500;
}



  