<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >   
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayoutAlign="space-between center" >
        <div class="modal-title pd10 ">
            <span class="ft16 ft600 gray-10">
                {{studentToEdit ? (studentToEdit.displayName | titlecase) : "Crear nuevo usuario"}}
            </span>
        </div>
        <img [src]="icon.close" class="h24px pdl5  pdr10 cursorPointer" alt="" (click)="dismiss()">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="modal-body">
        <div class="w-95">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center" class="pdb10">
                <div>
                    <div (click)="fileInput.click()" class="cursorPointer">
                        <img [src]="imageUrl ? imageUrl : 'assets/images/default/default-user-image.jpg'" class="avatar6" alt="">
                    </div>
                    <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)">
                </div>
                <div class="fw " fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center " >
                    <input
                        formControlName="displayName"
                        [class.is-invalid]="userForm.get('displayName').errors && displayErrors"
                        type="text" 
                        class="form-control  radius20 shadow-animation borderLight"
                        placeholder="Nombre del usuario"
                        >
                    <div
                        class="custom-invalid-feedback"
                        *ngIf="userForm.get('displayName').errors && displayErrors" >
                        <div *ngIf="userForm.get('displayName').errors?.required " >
                            Es obligatorio especificar el nombre del usuario
                        </div>
                    </div>  
                    <div class="fw" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <div style="position: relative; flex-grow: 1; border-radius: 20px !important;" class="">
                            <img [src]="icon.userProfile" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                            <select (change)="changeProfile()" formControlName="profile" class="form-control select radius20 shadow-animation borderLight" style="border-radius: 20px!important;">
                                <option [value]="null" [disabled]="true"> &nbsp; Sin perfil</option>
                                <option *ngFor="let profile of profiles" [value]="profile.id">&nbsp;{{profile.name}} {{!profile.enterpriseRef ? '[Predyc]' : ''}} - Duración: {{getFormattedDuration(profile)}}</option>
                            </select>
                            <img  [src]="icon.chevronDown" class="makeGray h18px" alt="" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                        </div>
                        <img (click)="showCoursesProfile(modalCursosPerfil)" *ngIf="userForm.get('profile').value" [src]="icon.info" class="h22px makeBlue cursorPointer" alt="" style="align-self: center;">
                    </div>
                             
                </div>
            </div>
            <div *ngIf="userForm.get('profile').value" class="pdb10">
                <div fxLayout="row" fxLayoutGap="20px">
                    <!-- Primeras dos columnas -->
                    <div fxFlex="50" fxLayout="column">
                        <label>Fecha inicio plan de estudio</label>
                        <div style="position: relative">
                            <img [src]="icon.calendarAdd" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                            <input [min]="MinDateProfile" [max]="MaxDateProfile" formControlName="startDateStudy" (change)="changedDate($event,'start')" [class.is-invalid]="userForm.get('startDateStudy').errors && displayErrors" type="date" class="form-control pdl20 radius20 shadow-animation borderLight" placeholder="Fecha inicio plan de estudio">
                        </div>
                    </div>
                    <div fxFlex="50" fxLayout="column">
                        <label>Fecha fin plan de estudio</label>
                        <div style="position: relative">
                            <img [src]="icon.calendarAdd" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                            <input [min]="MinDateEndProfile" formControlName="endDateStudy" (change)="changedDate($event,'end')" [class.is-invalid]="userForm.get('endDateStudy').errors && displayErrors" type="date" class="form-control pdl20 radius20 shadow-animation borderLight" placeholder="Fecha fin plan de estudio">
                        </div>
                    </div>
                </div>
                <!-- Última columna debajo -->
                <div *ngIf="hoursPlan>0" fxLayout="column" class="fw pdt10">
                    <span [ngClass]="{'green-5':hoursPlan<=8,'orange-3':hoursPlan>8,'red-5':hoursPlan>12,}" class="ft12">
                        El usuario deberá hacer <b>{{hoursPlan}} horas</b> de estudio mensual para cumplir con el plan de estudio.                      
                    </span>
                </div>
            </div>
                    
            <div fxLayout="row"  fxLayoutAlign="left " class="pdt10 border-tl">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" left" class="w-50  mgr05">
                    <div style="position: relative">
                        <img [src]="icon.phone" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="phoneNumber"
                            [class.is-invalid]="userForm.get('phoneNumber').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            placeholder="Teléfono">
                    </div>
                    <div style="position: relative; border-radius: 20px !important;">
                        <img [src]="icon.location" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); ">
                        <select
                            class="form-control select radius20 shadow-animation borderLight" style="border-radius: 20px!important;"
                            formControlName="country"
                            >
                            <option [value]="null">País de residencia</option>
                            <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                        </select>
                        <img [src]="icon.chevronDown" class="makeGray h18px" alt="" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                    </div>
                    <div style="position: relative; border-radius: 20px !important;">
                        <img [src]="icon.calendarAdd" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="birthdate"
                            [class.is-invalid]="userForm.get('birthdate').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            name="birhtdate"
                            (click)="birthdate.toggle()"
                            ngbDatepicker
                            [minDate]="minDate" [maxDate]="maxDate"
                            #birthdate="ngbDatepicker"
                            placeholder="Fecha de nacimiento"
                            >
                    </div>
                    <div style="position: relative">
                        <img [src]="icon.email" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="email"
                            [class.is-invalid]="userForm.get('email').errors && displayErrors  "
                            type="text" 
                            class="form-control pdl20 radius20 shadow-animation borderLight"
                            placeholder="Correo electrónico"
                            >
                    </div>
                    <div
                        class="custom-invalid-feedback "
                        *ngIf="userForm.get('email').errors && displayErrors"
                        >
                        <div *ngIf="userForm.get('email').errors?.required" >
                            Es obligatorio especificar el correo del usuario
                        </div>
                        <div *ngIf="userForm.get('email').errors?.email">
                            El correo electrónico posee un formato incorrecto
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" right" class="w-50  mgl15">
                    <div style="position: relative">
                        <img [src]="icon.suitcase" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="job"
                            [class.is-invalid]="userForm.get('job').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            placeholder="Cargo">
                    </div>
                    <div style="position: relative">
                        <img [src]="icon.calendarAdd" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="hiringDate"
                            [class.is-invalid]="userForm.get('hiringDate').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            name="hiringDate"
                            (click)="hiringDate.toggle()"
                            ngbDatepicker
                            [minDate]="minDate" [maxDate]="maxDate"
                            #hiringDate="ngbDatepicker"
                            placeholder="Fecha de ingreso"
                            >
                    </div>
                    <div style="position: relative">
                        <img [src]="icon.clock" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="experience"
                            [class.is-invalid]="userForm.get('experience').errors && displayErrors"
                            type="text" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            placeholder="Años de experiencia"
                            >
                    </div>
                    <div style="position: relative">
                        <img *ngIf="!isDepartmentInvalid" [src]="icon.enterprise" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            type="text" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            placeholder="Departamento"
                            aria-label="Number"
                            matInput
                            formControlName="department"
                            [matAutocomplete]="auto"
                            [class.is-invalid]="isDepartmentInvalid"
                        >
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option 
                                *ngFor="let option of filteredDepartments | async"
                                [value]="option">
                                {{option}}
                            </mat-option>
                            <mat-option
                                class="multiline-mat-option"
                                value="null"
                                (click)="createDepartment(modalCrearDepartment)">
                                <div fxLayout="row" fxLayoutAlign=" center">
                                    <div>Crear departamento</div>
                                    <img [src]="icon.addNew" alt="Crear nuevo departamento" class="mgl20 makeGray">
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                        <!-- Mensaje de Feedback Inválido -->
                        <div *ngIf="isDepartmentInvalid" class="invalid-feedback" style="display: block;">
                            El departamento seleccionado es inválido.
                        </div>
                    </div>
                    <!-- <div style="position: relative">
                        <img [src]="icon.enterprise" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            type="text" 
                            class="form-control pdl20"
                            placeholder="Departamento"
                            aria-label="Number"
                            matInput
                            formControlName="department"
                            [matAutocomplete]="auto"
                        >
                        <mat-autocomplete
                            #auto="matAutocomplete"
                        >
                            <mat-option 
                                *ngFor="let option of filteredDepartments | async"
                                [value]="option"
                                >
                                {{option}}
                            </mat-option>
 
                        </mat-autocomplete>
                    </div> -->
                    <!-- <div *ngFor="let option of departments | async">
                        {{option.name}}
                    </div> -->
                </div>
            </div>
            <div class="mgt10" style="display: flex; align-items: center; justify-content: center">
                <!-- Contenedor para los dos botones de la derecha -->
                <button [disabled]="savingChanges"
                class="blueButtonAnim button-animation h28px mgr10"
                fxLayout="row"
                fxLayoutAlign="center center"
                type="submit">
                    <!-- Spinner que solo se muestra cuando savingChanges es true -->
                    <mat-spinner *ngIf="savingChanges" diameter="20" class="spinner-blanc"></mat-spinner>
                    <!-- Texto del botón que siempre se muestra -->
                    {{ studentToEdit ? "Guardar" : "Crear" }} usuario
                </button>
            </div>
        </div>
    </div>
</form>


<ng-template #modalCrearDepartment let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1">
      <div class="modal-title pd10" fxLayout="row" fxLayoutAlign="start center">
        <span class="ft16 ft500 gray-10">Crear departamento</span>
      </div>
      <img style="cursor: pointer;" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="">
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
        <form [formGroup]="formNewDepartment" class="fw">
            <div fxLayout="row" class="fw">
                <div class="form-group fw">
                    <label>Nombre del departamento</label>
                    <input formControlName="nombre" [class.is-invalid]="formNewDepartment.controls['nombre'].errors && showErrorDepartment" type="text" class="form-control customInput" placeholder="Escriba el nombre de la competencia">
                    <div class="invalid-feedback" *ngIf="formNewDepartment.controls['nombre'].errors && showErrorDepartment">
                        Debe indicar del departamento.
                    </div>
                </div>
            </div>
        </form>
        <!-- Botón de guardar en la esquina inferior derecha -->
        <div fxLayout="row" fxLayoutAlign="end end" class="pdt03" style="width: 100%;">
            <button (click)="saveNewDepartment()" class="blueButton gray-1 radius4 ft12 h28px mgt10" fxLayout="row" fxLayoutGap="0.625rem" fxLayoutAlign="center center">
                <img [src]="icon.save" class="h16px pdr05 makeWhite" alt="">
                Guardar departamento
            </button>
        </div>
    </div>
</ng-template>


<ng-template #modalCursosPerfil let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayoutAlign="space-between center" >
        <div class="modal-title pd10 ">
            <span class="ft16 ft600 gray-10">
                Cursos del perfil: {{getNameProfileSelected()}}
            </span>
        </div>
        <img [src]="icon.close" class="h24px pdl5  pdr10 cursorPointer" alt="" (click)="modal.dismiss()">
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">

        <div style="overflow: hidden; background-color: #FCFCFC;" class="radius10 borderLight" >
            <div class="fw pd05 h40px border-bl hoverBlue"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                fxLayoutGap="1rem"
                *ngFor="let item of getCoursesProfileSelected(); let i = index">
                <div fxLayout="row" fxLayoutAlign="space-between center" class=" fw" fxLayoutGap="0.5rem">
                    <div fxLayout="column" fxLayoutGap="5px" class="ft11">
                        <span class="ft12 gray-10">
                            {{ item.titulo }}
                        </span>
                    </div>
                    <div fxLayout="row" class="" fxLayoutGap="0.5rem" style="margin-left: 5px;">
                        <span class="gray-10 ft11 nowrap">
                            {{ roundNumber(item.duracion / 60) }} hrs
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>