<app-navigate-back [targetUrl]="'../'">Notificaciones</app-navigate-back>

<!-- <span (click)="onAddButton()">Añadir notificaciones</span> -->

<div class="filter-container" fxLayout="row" fxLayoutAlign="start center">
    <div [ngClass]="{'active': dataSource.filter === 'all'}" class="filter-item active" (click)="applyFilter('all')">
        <img *ngIf="dataSource.filter === 'all'" [src]="icon.check" class="h20px pdr08" alt="">        
        <span>Todas</span>
    </div>
    <div [ngClass]="{'active': dataSource.filter === 'alert'}" class="filter-item" (click)="applyFilter('alert')">
        <img *ngIf="dataSource.filter === 'alert'" [src]="icon.check" class="h20px pdr08" alt="">        
        <span>Alertas</span>
    </div>
    <div [ngClass]="{'active': dataSource.filter === 'activity'}" class="filter-item" (click)="applyFilter('activity')">
        <img *ngIf="dataSource.filter === 'activity'" [src]="icon.check" class="h20px pdr08" alt="">        
        <span>Actividades</span>
    </div>
    <div [ngClass]="{'active': dataSource.filter === 'request'}" class="filter-item" (click)="applyFilter('request')">
        <img *ngIf="dataSource.filter === 'request'" [src]="icon.check" class="h20px pdr08" alt="">        
        <span>Solicitudes</span>
    </div>
    <div [ngClass]="{'active': dataSource.filter === ''}" class="filter-item" (click)="applyFilter('')">
        <img *ngIf="dataSource.filter === ''" [src]="icon.check" class="h20px pdr08" alt="">        
        <span>Archivos</span>
    </div>
</div>


<div>
    <table mat-table [dataSource]="dataSource" matSort>


        <!-- Content Column -->
        <ng-container matColumnDef="content">
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th> -->
            <td mat-cell *matCellDef="let notification"> 
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
                    <img [src]="'assets/images/default/default-user-image.jpg'" class="avatar2 " alt=""
                        onerror="this.src='assets/images/default/default-user-image.jpg'">
                    <div>
                        <!-- {{ notification.user.displayName | titlecase }} {{notification.message}} -->
                        {{ notification.userId | titlecase }} {{notification.message}}
                    </div>
                </div>
            </td>
        </ng-container>
        

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th> -->
            <td mat-cell *matCellDef="let notification"> {{ notification.date | date:"d MMM" }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th> -->
            <td mat-cell *matCellDef="let notification">
                <div *ngIf="notification.type === 'alert'">
                    <img [src]="icon.email" class="h20px" alt="">
                    Enviar aviso 
                </div> 
                <div *ngIf="notification.type === 'activity'">
                    <img [src]="icon.panel" class="h20px" alt="">
                    Ir al panel 
                </div> 
                <div *ngIf="notification.type === 'request'">
                    <img [src]="icon.chat" class="h20px" alt="">
                    Contactar a Predyc 
                </div> 
            </td>
        </ng-container>

        <!-- Check Column -->
        <ng-container matColumnDef="check">
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th> -->
            <td mat-cell *matCellDef="let notification"> 
                <img [src]="icon.check" class="h20px" alt="">
                Marcar como leido 
            </td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <tr mat-row *matRowDef="let notification; columns: displayedColumns;" class="cursorPointer"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No posees notificacines en este momento</td>
        </tr>
    </table>

    <mat-paginator
        [hidePageSize]="true"
        [pageSizeOptions]="[5, 10, 15]"
        aria-label="Select page of notifications"
    ></mat-paginator>
</div>
  