.contenedor{
    /* aspect-ratio: 12/9; */
    width: 100%;
    height: 100%;
    position: relative; 
    overflow: hidden;

}

.value{
    height: 14%;
    /* background-color: red; */
    text-align: center;
}
.barra {
    flex: 1 1 100%;
    background-color: #efefef;
    height: 69%;
}

.progress-line {
    position: absolute; 
    width: 100%;
    height: 1px; 
    background-color: transparent; 
    border-bottom: 3px dashed #ff9100; 
 
}
  

.barra-fill{
    width: 100%;
    background-color: #00BF9C;
}

.barra-fill2{
    width: 100%;
    background-color: var(--blue-5);
}

.label{
    height: 17%;
    /* background-color: red; */
    text-align: center;
}

.label-text{
    font-size: .55vw;
    white-space: nowrap;

}

.value-text{
    font-size: .55vw;
    white-space: nowrap;
}