<ng-container *ngIf="!formNewCourse">
  <div style="display: flex; justify-content: center; align-items: center; height: 100%">
    <mat-spinner class="spinner-dark" diameter="50"></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="formNewCourse">
  <div class="fw" class="fw fh backWhite radius10" fxLayout="column">
    <div [ngClass]="true ? 'header--edit' : ''" fxLayout="row" fxLayoutAlign="space-between " class="header pdr20 pdl10">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="fw fh pdt05 pdb05">
        <div fxLayout="row">
          <div *ngIf="formNewCourse?.get('title')?.value" class="radius20 pdl10 pdr10 mgr10 pdt05 pdb05 backWhite ft14 fh pdl05" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
            <span class="input-box ft14" placeholder="Nombre del curso">{{ formNewCourse?.get("title")?.value }}</span>
          </div>
          <ng-container *ngIf="formNewCourse">
            <input (change)="changeBorrador($event)" type="checkbox" [checked]="formNewCourse?.get('proximamente')?.value" />
            <label style="padding-top: 5px; padding-left: 5px; color: white">Borrador</label>
          </ng-container>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
          <div class="radius20 pdl10 pdr10 pdt05 pdb05 backWhite ft14 cursorPointer" routerLink="/admin/live">Cancelar</div>
          <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButton ft14 cursorPointer" (click)="saveDraftPre()" style="border-radius: 24px !important">Guardar Curso <img [src]="icon.save" class="h16px pdl05 makeWhite" alt="" /></button>
        </div>
      </div>
    </div>
    <div class="fh">
      <mat-tab-group mat-stretch-tabs="false" class="swal-overlay pdt35" (selectedTabChange)="onTabChange($event)" style="z-index: 2; position: fixed; width: 97%">
        <mat-tab label="Contenido del Curso" style="z-index: 2; position: fixed">
          <ng-container>
            <div fxLayout="row" class=" " fxLayoutGap="" style="overflow-y: auto; height: 150% !important; width: 100%">
              <!-- Informacion general del curso -->
              <div *ngIf="formNewCourse" class="radius10 w-30 mgt15 mgb10 mgl10 shadowLight" fxLayout="column" style="background-color: rgba(244, 244, 244, 0.362); height: fit-content">
                <form [formGroup]="formNewCourse" class="mgl10 mgt15 mgr10 mgb20">
                  <div class="fw" fxLayoutAlign="space-between center" fxLayout="row">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                      <img [src]="icon.presentationFile" class="makeBlue h20px" alt="" />
                      <span class="ft500 ft14 black" style="margin-top: 5px">Informacion general del curso</span>
                    </div>
                  </div>
                  <div class="form-group mgt08">
                    <label class="ft12">Título</label>
                    <input [class.is-invalid]="formNewCourse.controls['title'].errors && showErrorCurso" formControlName="title" type="text" class="form-control customInput2 radius6" placeholder="Escriba el título del curso aquí" />
                    <div class="invalid-feedback" *ngIf="formNewCourse.controls['title'].errors && showErrorCurso">Debe indicar el título del curso</div>
                  </div>
                  <div *ngIf="mode === 'edit'" class="form-group mgt08">
                    <label class="ft12">Enlace de la reunion:</label>
                    <div class="input-group">
                      <input [class.is-invalid]="formNewCourse.controls['meetingLink'].errors && showErrorCurso" formControlName="meetingLink" type="text" class="form-control customInput2 radius6" placeholder="Escriba el URL del curso aquí" />
                    </div>
                    <div class="invalid-feedback" *ngIf="formNewCourse?.controls['meetingLink']?.errors && showErrorCurso">Debe indicar el link de la reunion</div>
                  </div>
                  <div *ngIf="mode === 'edit'" class="form-group mgt08">
                    <label class="ft12">Texto identificativo:</label>
                    <div class="input-group">
                      <input [class.is-invalid]="formNewCourse.controls['identifierText'].errors && showErrorCurso" formControlName="identifierText" type="text" class="form-control customInput2 radius6" placeholder="Escriba el URL del curso aquí" />
                    </div>
                    <div class="invalid-feedback" *ngIf="formNewCourse?.controls['identifierText']?.errors && showErrorCurso">Debe indicar el texto identificativo</div>
                  </div>
                  <div class="ft12 form-group pdt10">
                    <label>Descripción del curso</label>
                    <textarea [class.is-invalid]="formNewCourse.controls['description'].errors && showErrorCurso" rows="3" formControlName="description" type="text" class="form-control ft12 customInput2" placeholder="Escriba la descripción del curso aquí" style="resize: none"></textarea>
                    <div class="invalid-feedback" *ngIf="formNewCourse.controls['description'].errors && showErrorCurso">Debe indicar la descripción del curso</div>
                  </div>
                  <div class="form-group pdt10">
                    <label class="ft12 pdb05">Foto del curso</label>
                    <div fxLayout="row" fxLayoutAlign="start end">
                      <input #cursoImage type="file" (change)="uploadCourseImage($event, 'curso')" hidden accept="image/jpeg, image/png" />
                      <div class="image-scroll">
                        <img *ngIf="formNewCourse.get('photoUrl').value" [src]="formNewCourse.get('photoUrl').value" alt="Imagen seleccionada" class="avatarSquare8 radius6" />
                      </div>
                      <div class="fw">
                        <button (click)="cursoImage.click()" class="grayButton pd03 radius6 ft12 ft500 h28px mgr10 gray-8" fxLayoutGap="0.625">
                          <img [src]="icon.arrowUp" class="h16px pdr05" alt="" />
                          Adjuntar imagen
                        </button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="formNewCourse.controls['photoUrl'].errors && showErrorCurso" class="custom-invalid-feedback pdt05">Debe seleccionar o subir la imagen del curso</div>
                  
                  <div fxLayout="row" class="mgt10">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
                      <span class="ft12">Examen con orden estricto</span>
                      <mat-slide-toggle class="" color="primary" formControlName="orderExam"></mat-slide-toggle>
                    </div>
                  </div>

                  <div fxLayout="row" class="mgt10">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
                      <span class="ft12">Presencial</span>
                      <mat-slide-toggle class="" color="primary" formControlName="presencial"></mat-slide-toggle>
                    </div>
                  </div>
                  
                  <div fxLayout="row" fxLayoutAlign=" center" class="mgt10 fw">
                    <form class="fw">
                      <mat-form-field class="example-full-width fw">
                        <mat-label>Buscar Pilar</mat-label>
                        <input type="text" class="ft14 fw" placeholder="Seleccione uno" aria-label="Number" matInput #autoTrigger="matAutocompleteTrigger" [formControl]="pillarsForm" [matAutocomplete]="autoPillars" />
                        <mat-autocomplete [displayWith]="getOptionTextPillar" #autoPillars="matAutocomplete" class="options">
                          <mat-option (click)="changePillar(option)" class="multiline-mat-option ft12" *ngFor="let option of filteredPillars | async" [value]="option">
                            <div fxLayout="row" fxLayoutAlign="space-between">
                              <div fxLayout="col" fxLayoutAlign="center center">
                                {{ option.name | titlecase }}
                              </div>
                            </div>
                          </mat-option>
                          <mat-option (click)="createPillar()" class="multiline-mat-option" value="null">Crear nuevo pilar</mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                  </div>
                  <div fxLayout="row" fxLayoutAlign=" center" class="fw">
                    <div class="">
                      <ng-container *ngFor="let skill of skillsCurso; let indexSkill = index">
                        <div style="display: inline-block; margin-right: 5px; margin-bottom: 5px; margin-top: 5px" class="skill-badge-complete ListHover radius10 backGray2 ft12 pdl08 pdr08 gray-8 mgt08">
                          {{ skill.name }}
                          <img style="cursor: pointer" (click)="removeSkill(skill)" [src]="icon.close" class="h16px makeGray" alt="" />
                        </div>
                      </ng-container>
                      <div class="pdb10">
                        <div *ngIf="skillsCurso?.length < 3 && pillarsForm.value" matTooltip="Agregar competencia" style="display: inline-block; margin-right: 5px" (click)="crearCompetencia(modalCrearSkill)" class="backGray2 radius20 pdl03 pdr03 gray-8">
                          <img style="cursor: pointer" [src]="icon.addBlue" class="h16px ft600" alt="" />
                        </div>
                      </div>
                    </div>
                    <div *ngIf="formNewCourse.controls['skills'].errors && showErrorCurso" class="custom-invalid-feedback pdt05">Debe seleccionar al menos una competencia.</div>
                  </div>
                  <ng-container>
                    <div fxLayout="row" fxLayoutAlign="center center" class="mgt05 fw">
                      <div fxFlex="100">
                        <form class="example-form">
                          <mat-form-field class="example-full-width fw">
                            <mat-label>Buscar Instructor</mat-label>
                            <input type="text" class="ft14 fw" placeholder="Seleccione uno" aria-label="Number" matInput #autoTrigger="matAutocompleteTrigger" [formControl]="instructoresForm" [matAutocomplete]="autoInstructores" />
                            <mat-autocomplete [displayWith]="getOptionText" #autoInstructores="matAutocomplete" class="options">
                              <mat-option (click)="setInstructor(option)" class="multiline-mat-option" *ngFor="let option of filteredinstructores | async" [value]="option">
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                  <div fxLayout="col" fxLayoutAlign="center center" class="ft12">
                                    {{ option.nombre | titlecase }}
                                  </div>
                                </div>
                              </mat-option>
                              <mat-option (click)="createInstructor()" class="multiline-mat-option" value="null">Crear nuevo instructor</mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </form>
                      </div>
                    </div>
                  </ng-container>
                </form>
              </div>
              <!-- Contenido del curso -->
              <div class="column w-70 mgr25 fh" fxLayoutGap="2rem" style="margin-bottom: 15px">
                <div class="mgt15 mgl10 fw" fxLayout="column">
                  <div fxLayout="column" class="radius10 shadowLight" style="background-color: rgba(244, 244, 244, 0.362); margin-bottom: 50px !important; overflow-y: auto; max-height: 150vh">
                    <div>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgl10 mgt15 mgr10">
                        <img [src]="icon.document" class="makeBlue h20px" alt="" />
                        <span class="ft500 ft14 black" style="margin-top: 5px">Contenido del curso - {{ getDurationModuleCourse() | formatDuration }}</span>
                      </div>
                      <div class="pdl10 pdr10 pdt10 fw">
                        <div fxLayout="column" class="fw fh mgb20">
                          <!-- Sesiones -->
                          <div class="ContainerModulo">
                            <div fxLayout="row" fxLayoutAlign="space-between start" class="fw pd08">
                              <div fxLayout="row" fxLayoutGap="10px" class="fw">
                                <div class="ft500 ft13">Agrega las sesiones que conformarán el curso</div>
                              </div>
                            </div>
                            <div>
                              <!-- Sesiones existentes -->
                              <div *ngFor="let session of liveCourseData?.sessions; trackBy: trackBySession; let iClase = index" fxLayout="row" class="fw">
                                <div *ngIf="!session?.activity?.autoGenerated" class="mgl10 mgt03 mgr10 fw"> <!-- What is activity.autoGenerated for ???? -->
                                  <div class="fw mgb10">
                                    <mat-accordion multi="false" class="fw">
                                      <mat-expansion-panel [ngClass]="{ ContainerClase: session['isInvalid'] }" [disabled]="!session.title || session.type == 'lectura'" [expanded]="session['expanded'] || session.type == 'video'" (opened)="closeOtherSessions(session)">
                                        <mat-expansion-panel-header>
                                          <mat-panel-title (click)="onPanelTitleClick($event)">
                                            <div *ngIf="session.title && !session['editarTitulo']; then tituloPresenteClase; else ClaseSinTitulo"></div>
                                            <ng-template #tituloPresenteClase>
                                              <div fxLayout="row" class="fw" fxLayoutAlign="space-between center" (click)="session['editarTitulo'] = true; session['tituloTMP'] = session?.title; editarTituloSession(iClase)">
                                                <div>{{ session.title }}</div>
                                                <div *ngIf="mode === 'edit'">
                                                  <span>{{ session["dateFormatted"] ? "Inicia el " + (session["dateFormatted"] | customDatetime) : "Sin fecha" }}</span>
                                                  <span class="mgl10">Duración: {{ session.duration | formatDuration }}</span>
                                                </div>
                                                <img (click)="borrarSession(session)" [src]="icon.trash" class="h16px trash mgl10" alt="" />
                                              </div>
                                            </ng-template>
                                            <ng-template #ClaseSinTitulo>
                                              <div fxLayout="row" class="fw" fxLayoutAlign="space-between center">
                                                <input #inputRef class="inputInvisible" type="text" [(ngModel)]="session['tituloTMP']" (keydown.space)="preventDefault($event)" (keyup.enter)="preventDefault($event); confirmSessionTitleAndDuration(session)" placeholder="Escriba el título aquí" />
                                                <div fxLayout="row" fxLayoutAlign=" center">
                                                  <div *ngIf="mode === 'edit'" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".25rem" class="form-group">
                                                    <label class="ft12 ft500" for="fecha-inicio">Fecha y hora: </label>
                                                    <input type="datetime-local" id="fecha-inicio" class="form-control w225px" [(ngModel)]="session['dateFormatted']" />
                                                  </div>

                                                  <select [(ngModel)]="session['duration']" class="duration-select mgl10">
                                                    <option *ngFor="let duration of durations" [ngValue]="duration.value">{{ duration.label }}</option>
                                                  </select>
                                                  <img (click)="confirmSessionTitleAndDuration(session)" matTooltip="Confirmar título" [src]="icon.check" class="h18px pdl05 makeGray edit cursorPointer mgl10" alt="" />
                                                </div>
                                              </div>
                                            </ng-template>
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <!-- Contenido con sesion expandida -->
                                        <ng-container *ngIf="session.type != 'actividad' && session.type != 'corazones'">
                                          <div fxLayout="row" class="fw" fxLayoutAlign="space-between center">
                                            <ng-container *ngIf="mode === 'edit'">
                                              <div *ngIf="session.vimeoId1" fxLayout="row" fxLayoutAlign="start center">
                                                <button (click)="verVideoVimeo(session)" class="grayButton pd03 radius4 ft12 h28px mgr10 w130px" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                                                  <img [src]="icon.playOutline" class="h16px pdr05" alt="" />
                                                  Reproducir video
                                                </button>
                                                <span (click)="quitarVideoSession(session)" class="blueLink mgr05">Eliminar</span>
                                              </div>
                                              <div *ngIf="!session.vimeoId1">
                                                <span (click)="FileInputTitle.click()" *ngIf="session.title && !session['videoUpload'] && !session['uploading']" class="blueLink mgr10"> Agregar video </span>
                                                <div *ngIf="session.type == 'video' && session['videoUpload']">
                                                  <span *ngIf="session['videoUpload'] < 100 && session['videoUpload'] > 0" class="pdl05 mgr10"> Subiendo video: {{ session["videoUpload"] }}% </span>
                                                </div>
                                                <span *ngIf="!session.title" class="gray-6 cursorPointer mgr10">Agregar video</span>
                                                <input (change)="session.type = 'video'; onFileSelected($event, session, false, false, null, true)" type="file" accept="video/mp4" #FileInputTitle style="display: none" />
                                              </div>
                                            </ng-container>
                                            <div *ngIf="session['editarTitulo']" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".25rem" class="">
                                              <label class="ft12 ft500" for="">Repetición: </label>
                                              <select class="duration-select" [(ngModel)]="session['weeksToKeep']">
                                                <option [ngValue]="2">2 Sem</option>
                                                <option [ngValue]="3">3 Sem</option>
                                                <option [ngValue]="4">4 Sem</option>
                                                <option [ngValue]="53">Un año</option>
                                              </select>
                                            </div>
                                            <span *ngIf="!session['editarTitulo']">{{ "Disponible durante " + session["weeksToKeep"] + " sem." }}</span>
                                          </div>
                                          <!-- Lista de recursos de sesiones -->
                                          <ng-container>
                                            <div *ngIf="!session['uploading'] && session.files.length > 0" class="fw ContainerFile mgt10" style="min-height: 80px">
                                              <div fxLayout="row" fxLayoutGap="20px" class="fw pd10" (dragover)="onDragOver($event)" (drop)="onDrop($event, session.type, session)">
                                                <!-- Columna izquierda con el texto "Recursos:" -->
                                                <div fxFlex="10%" fxLayoutAlign="start start">Recursos:</div>
                                                <!-- Columna derecha con la lista de archivos -->
                                                <div fxFlex="90%" fxLayoutAlign="start start">
                                                  <ol style="padding-left: 10px; margin: 0">
                                                    <ng-container *ngFor="let archivo of session.files; let i = index">
                                                      <!-- Lista los archivos comenzando desde el segundo elemento (índice 1) -->
                                                      <li>
                                                        <span class="cursorPointer blueLink" (click)="descargarArchivo(archivo)">{{ archivo.nombre }}</span>
                                                        <img [src]="icon.close" class="h18px pdl10 makeRed cursorPointer" alt="" (click)="borrarArchivo(session, archivo)" />
                                                      </li>
                                                    </ng-container>
                                                  </ol>
                                                </div>
                                              </div>
                                            </div>
                                          </ng-container>
                                          <div fxLayout="row" fxLayoutAlign="center center" class="mgt15 mgb05">
                                            <input (change)="onFileSelected($event, session, false, true, null, true)" type="file" #FileInputAdicional style="display: none"
                                            accept="application/pdf, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/png, image/jpeg, application/zip, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                                            <button (click)="FileInputAdicional.click()" class="grayButton pd03 radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                                              <img [src]="icon.folderUp" class="h16px pdr05" alt="" />
                                              Añadir archivos
                                            </button>

                                            <button (click)="createLink(session)" class="grayButton pd03 radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                                              <img [src]="icon.link" class="h16px pdr05" alt="" />
                                              Añadir enlaces
                                            </button>
                                          </div>
                                          <div fxLayout="row" class="mgt10">
                                            <div fxLayout="row" fxLayoutAlign="start center" class="fw">
                                              <span class="ft12">Oculta</span>
                                              <mat-slide-toggle (change)="changedHidden(session)" [(ngModel)]="session['hidden']" class="pdl10" color="primary"></mat-slide-toggle>
                                            </div>
                                          </div>
                                          <input (change)="onFileSelected($event, session, false, false, null, true)" type="file" accept="{{ session.type == 'lectura' ? '.pdf' : 'video/mp4' }}" #FileInput style="display: none" />
                                        </ng-container>
                                        <ng-container *ngIf="session['isInvalid']">
                                          <div class="mgl05 mgr10 fw" *ngFor="let mensaje of session['InvalidMessages']" fxLayoutAlign="start center">
                                            <mat-icon class="red-5 ft16">info</mat-icon>
                                            <span class="redText">{{ mensaje }}</span>
                                          </div>
                                        </ng-container>
                                      </mat-expansion-panel>
                                    </mat-accordion>
                                  </div>
                                </div>
                              </div>

                              <!-- Agregar sesion -->
                              <div fxLayout="column" class="fw" fxLayoutAlign="center center">
                                <!-- Primer div para "Agregar sesión" -->
                                <div *ngIf="!liveCourseData['addClassMode']" fxLayout="row" class="fw mg10" fxLayoutAlign="center center">
                                  <span (click)="addSession('video')" class="blueLink radius4 ft12 h28px no-select">
                                    <img [src]="icon.addNew" class="h12px pdr05 makeBlue" alt="" />
                                    Agregar sesión
                                  </span>
                                </div>

                                <!-- Agregar video -->
                                <div *ngIf="liveCourseData['addClassMode']" fxLayout="row" class="fw mgb10" fxLayoutAlign="center center">
                                  <div fxLayout="row" fxLayoutGap="0.625rem" fxLayoutAlign="center center">
                                    <span (click)="liveCourseData['addClassMode'] = false">
                                      <img [src]="icon.close" class="h18px pdr05 makeRed" alt="" />
                                    </span>
                                    <button (click)="addSession('video'); liveCourseData['addClassMode'] = false" class="grayButton pd03 radius4 ft12 h28px gray-8"><img [src]="icon.addNew" class="h12px pdr05 makeGray8" alt="" />Video</button>
                                  </div>
                                </div>
                              </div>
                              <ng-container *ngIf="liveCourseData['isInvalid']">
                                <div class="mgl08 fw" [ngClass]="{ mgb10: i + 1 == liveCourseData['InvalidMessages'].length }" *ngFor="let mensaje of liveCourseData['InvalidMessages']; let i = index" fxLayoutAlign="start center">
                                  <mat-icon class="red-5 ft16">info</mat-icon>
                                  <span class="redText">{{ mensaje }}</span>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                          <ng-container *ngIf="isInvalidCases">
                            <div class="pdt05 fw" *ngFor="let mensaje of invalidMessages" fxLayoutAlign="start center">
                              <mat-icon class="red-5 ft16">info</mat-icon>
                              <span class="redText">{{ mensaje }}</span>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-tab>

        <mat-tab [label]="'Examen Inicial' + (examenDiagnostico?.questions?.length ? ' (' + examenDiagnostico?.questions?.length + ' Pregunta' + (examenDiagnostico?.questions?.length > 1 ? 's' : '') + ')' : '')">
          <div fxLayout="column" fxLayoutAlign=" center" class="w-100 containerActivitiesTab pdt10">
            <div *ngIf="mode === 'edit'" fxLayout="row" fxLayoutAlign="center center" class="w800px pdt10 pdb10" fxLayoutGap="1.5rem">
              <span>Habilitar examen</span>
              <mat-slide-toggle [checked]="liveCourseData.canTakeDiagnosticTest" (change)="toggleDiagnosticTest($event, false)"></mat-slide-toggle>
            </div>
            <app-questions style="width: 800px" type="test" class="mgr10" [questionMaxSize]="100" 
            [nameCurso]="formNewCourse?.get('title').value ? formNewCourse?.get('title').value : 'Temporal'" [nameEmpresa]="empresa?.name" (changeQuestion)="validExam = $event; formatExamQuestions()" 
            (emmitForm)="validExam = $event" [questionsArray]="examenDiagnostico?.questions ? examenDiagnostico?.questions : []" [checkQuestions]="updateTriggeQuestionsExam" [selectedTestSkills]="[]" 
            [mode]="mode" [enableImportQuestions]="false" [enableSortQuestions]="false"></app-questions>
          </div>
        </mat-tab>

        <mat-tab [label]="'Examen Final' + (examenFinal?.questions?.length ? ' (' + examenFinal?.questions?.length + ' Pregunta' + (examenFinal?.questions?.length > 1 ? 's' : '') + ')' : '')">
          <div fxLayout="column" fxLayoutAlign=" center" class="w-100 containerActivitiesTab pdt10">
            <div *ngIf="mode === 'edit'" fxLayout="row" fxLayoutAlign="center center" class="w800px pdt10 pdb10" fxLayoutGap="1.5rem">
              <span>Habilitar examen</span>
              <mat-slide-toggle [checked]="liveCourseData.canTakeFinalTest" (change)="toggleDiagnosticTest($event, true)"></mat-slide-toggle>
            </div>
            <app-questions style="width: 800px" type="final-test" class="mgr10" [questionMaxSize]="100" 
            [nameCurso]="formNewCourse?.get('title').value ? formNewCourse?.get('title').value : 'Temporal'" [nameEmpresa]="empresa?.name" (changeQuestion)="validFinalExam = $event; formatFinalExamQuestions()" 
            (emmitForm)="validFinalExam = $event" [questionsArray]="examenFinal?.questions ? examenFinal?.questions : []" [checkQuestions]="updateTriggeFinalQuestionsExam" [selectedTestSkills]="[]" 
            [mode]="mode" [enableImportQuestions]="false" [enableSortQuestions]="false"></app-questions>
          </div>
        </mat-tab>

        <mat-tab *ngIf="mode === 'edit'" label="Usuarios">
          <div fxLayout="row" fxLayoutAlign="center " class="containerCurso h-100" fxLayoutGap="1.5rem">
            <div fxLayout="row" fxLayoutAlign="center" class="w-100">
              <app-live-course-student-list class="w-90" [courseDetails]="liveCourseData" [liveCourseTemplateId]="liveCourseTemplateId" [liveCourseId]="liveCourseId" (userEmailsChanged)="onUserEmailsChanged($event)"></app-live-course-student-list>
            </div>
          </div>
        </mat-tab>

        <mat-tab *ngIf="mode === 'edit' && !diplomadoRef" label="Seguimiento">
          <div fxLayout="row" fxLayoutAlign="center " class="containerCurso h-100" fxLayoutGap="1.5rem">
            <div fxLayout="row" fxLayoutAlign="center" class="w-100">
              <app-live-course-following class="w-90" [studentEmails]="studentEmails" [idBaseLiveCourse]="liveCourseTemplateId" [liveCourseId]="liveCourseId"> </app-live-course-following>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>


  <!-- MODALS -->
  <ng-template #modalCrearInstructor let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1">
      <div class="modal-title pd10" fxLayout="row" fxLayoutAlign="start center">
        <span class="ft16 ft500 gray-10">Crear Instructor</span>
      </div>
      <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
      <form [formGroup]="formNewInstructor" class="mgr20">
        <div class="form-group">
          <label>Nombre del instructor</label>
          <input formControlName="nombre" [class.is-invalid]="formNewInstructor.controls['nombre'].errors && showErrorInstructor" type="text" class="form-control customInput" placeholder="Escriba el nombre del instructor del curso aquí" />
          <div class="invalid-feedback" *ngIf="formNewInstructor.controls['nombre'].errors && showErrorInstructor">Debe indicar el nombre del instructor.</div>
        </div>

        <div class="form-group">
          <label>Correo del instructor</label>
          <input formControlName="email" [class.is-invalid]="formNewInstructor.controls['email'].errors && showErrorInstructor" type="text" class="form-control customInput" placeholder="Escriba el correo del instructor del curso aquí" />
          <div class="invalid-feedback" *ngIf="formNewInstructor.controls['email'].errors?.required && showErrorInstructor">Debe indicar el correo del instructor.</div>
          <div class="invalid-feedback" *ngIf="formNewInstructor.controls['email'].errors?.email && showErrorInstructor">El correo es invalido.</div>
        </div>

        <div class="form-group pdt10">
          <label>Resumen del instructor</label>
          <textarea rows="3" [class.is-invalid]="formNewInstructor.controls['resumen'].errors && showErrorInstructor" formControlName="resumen" type="text" class="form-control customInput" placeholder="Escriba el resumen del instructor aquí." style="resize: none"></textarea>
          <div class="invalid-feedback" *ngIf="formNewInstructor.controls['resumen'].errors && showErrorInstructor">Debe indicar el resumen del instructor.</div>
        </div>
        <div class="form-group pdt10">
          <label>Foto del instructor</label>
          <div class="avatar-selector">
            <button (click)="instructorImage.click()" class="grayButton pd03 radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
              <img [src]="icon.arrowUp" class="h16px pdr05" alt="" />
              Adjuntar imagen
            </button>
            <input #instructorImage type="file" (change)="uploadCourseImage($event, 'instructor', true)" hidden accept="image/jpeg, image/png" />
            <div class="avatar-scroll">
              <img *ngIf="formNewInstructor.get('foto').value" [src]="formNewInstructor.get('foto').value" alt="Imagen seleccionada" class="image shadow8" />
            </div>
          </div>
          <div *ngIf="formNewInstructor.controls['foto'].errors && showErrorInstructor" class="custom-invalid-feedback pdt05">Debe seleccinar o subir la imagen del instructor</div>
        </div>
      </form>
      <!-- Botón de guardar en la esquina inferior derecha -->
      <div fxLayout="row" fxLayoutAlign="end" class="pdt03">
        <button (click)="crearInstructor()" class="blueButton radius4 ft12 h28px mgr10 gray-1" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
          <img [src]="icon.save" class="h16px pdr05 makeWhite" alt="" />
          Guardar Instructor
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #modalCrearSkill let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="modal-title pd10">
        <span class="ft16 ft500 gray-10">Asignar Competencia</span>
      </div>
      <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
      <form [formGroup]="formNewSkill" class="fw">
        <div fxLayout="row" class="fw">
          <div class="form-group fw">
            <label>Nombre de la competencia</label>
            <input formControlName="nombre" [class.is-invalid]="formNewSkill.controls['nombre'].errors && showErrorSkill" type="text" class="form-control customInput" placeholder="Escriba el nombre de la competencia" />
            <div class="invalid-feedback" *ngIf="formNewSkill.controls['nombre'].errors && showErrorSkill">Debe indicar el nombre de la competencia.</div>
          </div>
        </div>
      </form>
      <!-- Botón de guardar en la esquina inferior derecha -->
      <div fxLayout="row" fxLayoutAlign="end end" class="pdt03" style="width: 100%">
        <button *ngIf="!savingSkill" (click)="saveNewSkill()" class="blueButton gray-1 radius4 ft12 h28px mgt10" fxLayout="row" fxLayoutGap="0.625rem" fxLayoutAlign="center center">
          <img [src]="icon.check" class="h16px pdr05 makeWhite" alt="" />
          Asignar competencia
        </button>
        <button disabled *ngIf="savingSkill" (click)="saveNewSkill()" class="grayButton gray-8 radius4 ft12 h28px mgt10" fxLayout="row" fxLayoutGap="0.625rem" fxLayoutAlign="center center">
          <mat-spinner class="spinner-dark" diameter="20"></mat-spinner>
          Asignar competencia
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #modalCrearPilar let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1">
      <div class="modal-title pd10" fxLayout="row" fxLayoutAlign="start center">
        <span class="ft16 ft500 gray-10">Crear Pilar</span>
      </div>
      <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
      <form [formGroup]="formNewPillar" class="fw">
        <div fxLayout="row" class="fw">
          <div class="form-group fw">
            <label>Nombre del pilar</label>
            <input formControlName="nombre" [class.is-invalid]="formNewPillar.controls['nombre'].errors && showErrorPillar" type="text" class="form-control customInput" placeholder="Escriba el nombre del pilar" />
            <div class="invalid-feedback" *ngIf="formNewPillar.controls['nombre'].errors && showErrorPillar">Debe indicar el nombre del pilar.</div>
          </div>
        </div>
      </form>

      <!-- Botón de guardar en la esquina inferior derecha -->
      <div fxLayout="row" fxLayoutAlign="end" class="pdt03">
        <button (click)="!savingPillar ? saveNewPillar() : ''" class="{{ !savingPillar ? 'blueButton gray-1' : 'grayButton pd03 gray-8 ' }} radius4 ft12 h28px mgt08" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
          <img [src]="icon.save" class="h16px = makeWhite" alt="" />
          Guardar Pilar
        </button>
      </div>
    </div>
  </ng-template>


  <ng-template #modalCrearEnlace let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1">
      <div class="modal-title pd10" fxLayout="row" fxLayoutAlign="start center">
        <span class="ft16 ft500 gray-10">Crear Enlace</span>
      </div>
      <img style="cursor: pointer" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px" alt="" />
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 80vh">
      <form [formGroup]="formNewLink" class="fw">
        <div fxLayout="row" class="fw">
          <div class="form-group fw">
            <label>Nombre</label>
            <input formControlName="nombre" [class.is-invalid]="formNewLink.controls['nombre'].errors && showErrorLink" type="text" class="form-control customInput" placeholder="Escriba el nombre" />
            <div class="invalid-feedback" *ngIf="formNewLink.controls['nombre'].errors && showErrorLink">Debe indicar el nombre.</div>
          </div>
        </div>
        <div fxLayout="row" class="fw">
          <div class="form-group fw">
            <label>Enlace</label>
            <input formControlName="url" [class.is-invalid]="formNewLink.controls['url'].errors && showErrorLink" type="text" class="form-control customInput" placeholder="Escriba el enlace" />
            <div class="invalid-feedback" *ngIf="formNewLink.controls['url'].errors && showErrorLink">Debe indicar el enlace.</div>
          </div>
        </div>
      </form>
      <!-- Botón de guardar en la esquina inferior derecha -->
      <div fxLayout="row" fxLayoutAlign="end" class="pdt03">
        <button (click)="!savingPillar ? saveLink() : ''" class="{{ !savingPillar ? 'blueButton gray-1' : 'grayButton pd03 gray-8 ' }} radius4 ft12 h28px mgt08" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
          <img [src]="icon.save" class="h16px = makeWhite" alt="" />
          Asignar enlace
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
