
<div *ngIf="!supportFlag" fxLayout="row" class="mgt30">
    <div class="w900px">
        <app-plan-card></app-plan-card>
    </div>
    <div>
        <app-license-data (supportFlagChanged)="supportFlag = $event"></app-license-data>
    </div> 
</div>

<div *ngIf="supportFlag" fxLayout="column" class="mgt0">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="20px">
        <div class=" w24px h24px backGray2 radius50 cursorPointer" fxLayoutAlign="center center" (click)="supportFlag = false">
            <img [src]="icon.chevronLeft" class="  makeGray h20px">
        </div>
        <div fxLayoutAlign="center center">
            <p class="ft600 ft16" style="color: black">Regresar</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div class="containerLeft mgt03" style="border-right: none;">
            <app-support-contact [type] = "'sales'"></app-support-contact>
        </div>
        <div class="containerRight mgt03" >
            <app-frequent-questions [questions] = "questions"></app-frequent-questions>
        </div>
    </div>
</div>