<!-- <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="20px">
    <div class=" w24px h24px  radius50 cursorPointer" fxLayoutAlign="center center" [routerLink]="targetUrl">
        <img [src]="icon.blueArrowLeft" class="  h20px">
    </div>
    <p class="ft600 ft16 gray-10"  >
        <ng-content></ng-content>
    </p>
</div> -->

<div class="mgt12  mgr20  pdl10" fxLayout="row">
    <div class=" w24px h24px  radius50 cursorPointer" fxLayoutAlign=" " [routerLink]="targetUrl">
        <img [src]="icon.blueArrowLeft" class=" h24px">
    </div> 
    <div class="ft600 ft16 gray-10 pdl10"  >
        <ng-content></ng-content>
    </div>
       
 </div>