<ng-container>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div>
            <span class="ft16 ft500 gray-10">{{ this.productForm.controls.id.value == "" ? "Nuevo" : "Editar" }} Producto</span>

            <div class="mgt10" fxLayout="row" fxLayoutGap="2.5rem" fxLayoutAlign=" center">
                <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".75rem">
                    <span class="gray-9 ft12 ft500">Estatus:</span>
                    <div fxLayout="column" fxLayoutAlign="center" [ngClass]="productForm.controls.active.value ? 'ft12 green-4' : 'ft12 red-4'" for="active">
                        {{ productForm.controls.active.value ? "Activo" : "Inactivo" }}
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center" 
                    [ngClass]="productForm.controls.active.value ? 'backRed5 ft11 pdt03 pdb03 pdl10 pdr10 radius6 cursorPointer' : 
                    'backBlue5 ft11 pdt03 pdb03 pdl10 pdr10 radius6 cursorPointer'" (click)="toggleProductActiveState()">
                        <span class="ft11 gray-1">{{ productForm.controls.active.value ? "Desactivar" : "Activar" }}</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".75rem">
                    <input hidden id="active" type="checkbox" formControlName="active" />
                    <input hidden id="id" type="text" formControlName="id" />
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" class="mgt10">
            <!-- Información general -->
            <div fxLayout="column" fxLayoutGap="1rem" class="" >
                <div>
                    <span class="ft18 gray-9 ft500">Información general</span>
                </div>
                <div class="fw" fxLayout="column" fxLayoutGap="1rem">
                    <div fxLayout="row" fxLayoutAlign="space-between center"  fxLayoutGap="1.5rem" class="fw">
                        <div class="" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".3rem" >
                            <label for="name" class="gray-9 ft14">Nombre:</label>
                            <input class="backWhite fw pdl03" id="name" type="text" formControlName="name" [readonly]="product.id ? true : false" />
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".3rem" >
                            <label for="name" class="gray-9 ft14">Monto:</label>
                            <input class="backWhite w80px pdl03" id="amount" type="number" min="0" formControlName="amount" [readonly]="product.id ? true : false"/>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center"  fxLayoutGap=".5rem" class="fw">
                        <div class="fh fw" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".25rem">
                            <span class="gray-9 ft14">Tipo: </span>
                            <mat-select placeholder="Seleccione el tipo" formControlName="type" style="border: 1px solid black;" class="pdl03 pdr03 pdt05 fh">
                                <mat-option *ngFor="let type of typeOptions" [value]="type">{{type | titlecase}}</mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="" fxLayout="column">
                        <label for="description" class="gray-9 ft15">Descripción:</label>
                        <textarea id="description" type="text" autocomplete="off" class="backWhite fw" formControlName="description"></textarea>
                    </div>
                    <div class="fw" fxLayout="column">
                        <span class="ft15 gray-9 ft500">Accesos</span>
                    </div>
                    <div class="fw" fxLayout="column" fxLayoutGap=".7rem">
                        <div class="fw" fxLayout="row" fxLayoutGap="1rem"> 
                            <ng-container formGroupName="accesses">
                                <div class="fw" fxLayout="column">
                                    <label for="enableUserRadar" class="gray-9 ft11">Pueden ver radar de usuario:</label>
                                    <input id="enableUserRadar" type="checkbox" formControlName="enableUserRadar" />
                                </div>
                                <div class="fw" fxLayout="column">
                                    <label for="enableStudyPlanView" class="gray-9 ft11">Pueden ver listado de plan de estudio:</label>
                                    <input id="enableStudyPlanView" type="checkbox" formControlName="enableStudyPlanView" />
                                </div>
                                <div class="fw" fxLayout="column">
                                    <label for="enableExtraCoursesView" class="gray-9 ft11">Pueden ver listado de extracurriculares:</label>
                                    <input id="enableExtraCoursesView" type="checkbox" formControlName="enableExtraCoursesView" />
                                </div>
                            </ng-container>
                        </div>
                        
                        <div class="fw" fxLayout="row" fxLayoutGap="1rem"> 
                            <ng-container formGroupName="accesses">
                                <div class="fw" fxLayout="column">
                                    <label for="enableToTakeTest" class="gray-9 ft11 pdr05">Pueden presentar examen:</label>
                                    <input id="enableToTakeTest" type="checkbox" formControlName="enableToTakeTest" />
                                </div>
                                <div class="fw" fxLayout="column">
                                    <label for="enableCreateParticularCourses" class="gray-9 ft11">Pueden crear cursos propios:</label>
                                    <input id="enableCreateParticularCourses" type="checkbox" formControlName="enableCreateParticularCourses" />
                                </div>
                            </ng-container>
                            <div class="fw" fxLayout="column">
                                <label for="autodeactivate" class="gray-9 ft11">Las subscripciones caducan automaticamente:</label>
                                <input id="autodeactivate" type="checkbox" formControlName="autodeactivate" />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="fw" fxLayout="column">
                            <label for="acceptsPaypal" class="gray-9 ft11">Crear cursos propios:</label>
                            <input id="acceptsPaypal" type="checkbox" formControlName="createParticularCourses" />
                        </div> -->
                </div>

                <div class="mgt05">
                    <div class="fw" fxLayout="column" formArrayName="features">
                        <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign=" center">
                            <div>
                                <span class="ft15 gray-9 ft500">Características</span>
                            </div>
                            <div fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" 
                            style="border-radius: 24px !important; height: 28px;" (click)="addFeature()">
                                <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
                                Añadir
                            </div>
                        </div>
                        <div class="mgt05" *ngFor="let feature of features.controls; let i = index" [formGroupName]="i" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
                            <input class="backWhite fw gray-8" type="text" name="added_features" formControlName="text" />
                            <input type="checkbox" formControlName="isActive" />
                            <mat-icon (click)="removeFeature(i)" class="ft18 red-5">delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showAlertText" class="mgt15" fxLayout="row" fxLayoutAlign="center center">
            <span style="color: red !important">Debes indicar el nombre del producto</span>
        </div>
        <div class="mgt20">
            <button class="blueButton w100px" type="submit">Guardar</button>
        </div>
    </form>
</ng-container>