.input-box {
    height: 36px;
    border-radius: 0 50px 50px 0;
    border: 1px solid #ccc;
    border-left: none;
    padding: 5px 15px;
    background-color: transparent;
}

.input-box::placeholder{
    color: var(--gray-8);
    font-weight: 500;
}

.search{
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}