<div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="space-between" class="backGray2 radius10 pdt10 pdb10">
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center" class="mgt05 mgl15">
        <span class="ft500 ft30 gray-10">PRO</span>
        <div class="adq fh">
            <span style="color: white !important;">Adquirido</span>
        </div>
    </div> 
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between" class="mgt05 h36px ">
        <span class="ft600 ft18 gray-10 mgl15">
            $1,199 USD / Año
        </span>
    </div>
    <div class="fw mgl15" fxLayoutAlign="center">
      <div class="fw listaPlan mgt03 pdr05" fxLayoutAlign="center " fxLayout="column">
        <div class="ft12 gray-6 mgt03" fxLayout="row" fxLayoutGap=".3rem" fxLayoutAlign=" center" *ngFor="let feature of features">
            <div>
                <img *ngIf="feature.isActive" [src]="icon.checkCircleBlue" class="h20px" alt=""/>
                <img *ngIf="!feature.isActive" [src]="icon.closeCircle" class="h20px makeRed" alt=""/> 
            </div>
            <p class="ft16 align-start mgb0">
                {{ feature.text }}
            </p>
        </div>
      </div>
    </div>
</div>
  
<!-- ---------- Plantilla dinamica --------------- -->
<!-- <div fxLayout="column" class="backGray2 radius10 pd15" fxLayoutAlign=" center" *ngIf="!product.isACompanyProduct">
    <span class="ft500 ft16 gray-10 h20px lnh1">{{ product.name }}</span>
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center stretch" class="mgt05 h36px ">
        <span class="ft600 ft30 gray-10 lnh1">
            {{coupon?price.getTotalAmount([coupon]):price.getTotalAmount([]) }} {{price.currency}}
        </span>
        <span class="line-th ft20 lnh1 gray-10" *ngIf="coupon">
            {{ price.getTotalAmount([]) }}
        </span>
    </div>
    <div class="h16px " fxLayoutAlign="center center">
      <span class="mgt03 gray-10 ft12">
        Pago {{ price.getIntervalDisplayValue() }}
      </span>
    </div>
    <div class=" fw" fxLayoutAlign="center">
      <div class="fw listaPlan mgt10 pdl05 pdr05" fxLayoutAlign="center " fxLayout="column">
        <div class="ft12 gray-6 mgt05" fxLayout="row" fxLayoutGap=".3rem" fxLayoutAlign=" center"
          *ngFor="let feature of product.features">
          <div>
            <img *ngIf="feature.isActive" [src]="icon.checkCircleBlue" class="h20px" alt=""/>
            <img *ngIf="!feature.isActive" [src]="icon.closeCircle" class="h20px makeRed" alt=""/>
          </div>
          <p class="ft11 gray-8 align-start mgb0">
            {{ feature.text }}
          </p>
        </div>
      </div>
    </div>
  
    <div class="fw mgt10" fxLayoutAlign="center center">
      <div *ngFor="let btnText of btnsText" class="fw mgt10" fxLayoutAlign="center center">
        <div *ngIf="!subscriptionOrigin || subscriptionOrigin && subscriptionOrigin != 'Predyc'"
          class="backBlue5 radius8 pd08 fw cursorPointer" fxLayoutAlign="center center" (click)="handleOnClick(btnText)">
          <span class="gray-1 ft500 ft14 lnh1">{{ btnText }}</span>
        </div>
        <div *ngIf="subscriptionOrigin && subscriptionOrigin == 'Predyc'" class="backBlue5 radius8 pd08 fw cursorPointer"
          fxLayoutAlign="center center" (click)="openContacto()">
          <span class="gray-1 ft500 ft14 lnh1">{{ btnText }} (Contactar a un asesor) </span>
        </div>
      </div>
    </div>
</div>
  
<div fxLayout="column" class="backGray2 radius10 pd15 fh fw" fxLayoutAlign="space-between bottom"
    *ngIf="product.isACompanyProduct">
    <div class="fw" fxLayout="column" fxLayoutAlign=" center">
        <span class="ft500 ft16 gray-10 h20px lnh1">{{ product.name }}</span>
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center" class="mgt05">
        <span class="ft600 h36px ft20 gray-10 lnh1">Precio personalizado</span>
        </div>
        <div fxLayout="row" fxLayoutGap=".3rem" fxLayoutAlign="center center" class="h16px fw">
        <span class="mgt03 ft500 blueLink ft12" routerLink="/empresas">
            Ver Detalles
        </span>
        <img [src]="icon.arrowForward" class="h16px makeBlue" alt="">
        </div>
        <div class="fw" fxLayoutAlign="center">
        <div class="listaPlan mgt10 pdl05 pdr05 fw" fxLayoutAlign="center " fxLayout="column">
            <div class="ft12 gray-6 mgt05" fxLayout="row" fxLayoutGap=".3rem" fxLayoutAlign=" center"
            *ngFor="let feature of product.features">
            <div>
                <img *ngIf="feature.isActive" [src]="icon.checkCircleBlue" class="h20px" alt="" />
                <img *ngIf="!feature.isActive" [src]="icon.closeCircle" class="h20px makeRed" alt="" />
            </div>
            <p class="ft11 gray-8 align-start mgb0">
                {{ feature.text }}
            </p>
            </div>
        </div>
        </div>
    </div>
    <div class="fw mgt10" fxLayoutAlign="center center">
        <div class="backBlue5 radius8 pd08 fw cursorPointer" (click)="solicitaDemo()" fxLayoutAlign="center center">
        <span class="gray-1 ft500 ft14 lnh1">Solicita una demo</span>
        </div>
    </div>
</div> -->