<div fxLayout="column" class="pd10" ngClass="containerPC" ngClass.lt-md="containerMobile" >

    <div fxLayout="row" class=" bg-web-primary text-white px-3 py-1 mgb10" fxLayoutAlign="space-between center" >
        <div class="  " style="margin-bottom: -15px !important;">
            <span class="ft16  ft600 gray-10">
                Detalle del curso inscrito
            </span>
            
        </div>
        <div class="  ">
            <img [src]="icon.close" class="h24px    cursorPointer" alt="" (click)="salir()"  style="margin-bottom: -10px;">
        </div>
    </div>
    <div class="grayLine mgt05" style=" margin-bottom: 12px;" > </div>

    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="1rem">
        <div>
            <img [src]="coursePhoto ? coursePhoto : 'assets/images/default/default-user-image.jpg'" class="avatar4" alt="" >
        </div>
        <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign=" center">
            <span class="gray-10 ft22 ft500 blue-5 underline">
                {{courseTitle | titlecase}}
            </span>
            <div fxLayoutAlign="center center">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
            <span class="gray-10 ft22 ft500 blue-5 underline">
                {{userName | titlecase}}
            </span>
        </div>
        
        <div fxLayoutAlign=" center" class="mgl10 pdt05" fxLayoutGap="2rem">
            <!-- <a *ngIf="inscrito.completado==true" href="https://predyc.com/certificado/{{inscrito.certificado}}"
                target="_blank" class="pdb03 ">
                <span class="chip backBlue5 ft500 gray-2 cursorPointer">
                    Link de certificado
                </span>
            </a> -->
        </div>
        
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mgt10" fxLayoutGap=".5rem">
        <span class="ft11 backGray2 radius20 gray-8 pdr05 pdl05">Id del curso: {{courseRef.id}}</span>
        <span class="ft11 backGray2 radius20 gray-8 pdr05 pdl05">Id del courseByStudent: {{courseByStudentRef.id}}</span>
    </div>
    <div *ngIf="!isActive">
        <span class="ft13 ft500 red-5">El estudiante no tiene este curso activo actualmente.</span>
    </div>

    <div class="">
        <table mat-table [dataSource]="dataSource">
    
            <ng-container matColumnDef="module">
                <th mat-header-cell *matHeaderCellDef class="ft15 centertext"> Módulo </th>
                <td mat-cell *matCellDef="let data" class="centertext ft13">
                    <div fxLayout="row" fxLayoutGap=".1rem" fxLayoutAlign="start center" >
                        <span>{{ data.numero}}.</span>
                        <span>{{ data.titulo | titlecase}}</span>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="completed">
                <th mat-header-cell *matHeaderCellDef class="ft15 centertext"> Completado </th>
                <td mat-cell *matCellDef="let data" class="centertext ft13">  
                    <mat-icon *ngIf="data.completedClassesInsidemodule === data.classes.length" class="green-5">check</mat-icon>
                    <mat-icon *ngIf="data.completedClassesInsidemodule !== data.classes.length" class="red-5">close</mat-icon>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="completedClasses">
                <th mat-header-cell *matHeaderCellDef class="ft15 centertext"> Clases completadas </th>
                <td mat-cell *matCellDef="let data" class="centertext ft13"> {{ data.completedClassesInsidemodule }} / {{data.classes.length}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <ng-container>
                <tr
                    mat-row
                    *matRowDef="let data; columns: displayedColumns;"
                    >
                </tr>
            </ng-container>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No se han encontrado suscripciones para el criterio de busqueda</td>
            </tr>
        </table>
    
        <mat-paginator
            aria-label="Select page of subscriptions"
            [pageSize]="pageSize"
            [length]="totalLength"
        ></mat-paginator>
    </div>

    <!-- In process -->
    <div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let module of dataSource.data" [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <div fxLayout="row" fxLayoutGap=".1rem" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutGap=".1rem" fxLayoutAlign="start center">
                                <span>{{ module.numero }}.</span>
                                <span>{{ module.titulo | titlecase }}</span>
                            </div>
                            <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="end center">
                                <mat-icon *ngIf="module.completedClassesInsidemodule === module.classes.length" class="green-5">check</mat-icon>
                                <mat-icon *ngIf="module.completedClassesInsidemodule !== module.classes.length" class="red-5">close</mat-icon>
                                <span>{{ module.completedClassesInsidemodule }} / {{ module.classes.length }}</span>
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                
                <div fxLayout="column" fxLayoutGap="1rem">
                    <div *ngFor="let cls of module.classes" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
                        <span>{{ cls.titulo }}</span>
                        <mat-icon *ngIf="cls.isCompleted" class="green-5">check_circle</mat-icon>
                        <mat-icon *ngIf="!cls.isCompleted" class="red-5">cancel</mat-icon>
                        <button *ngIf="!cls.isCompleted" class="blueButton" (click)="classReady(cls)">Completar clase</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
  
  