<div class="fw pdt20 pdl30 pdr30 backWhite" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign=" center">
    <div *ngIf="user">
        <img [src]="user.photoUrl" onerror="this.src='../../assets/images/default/default-user-image.jpg'"
            class="avatar6" alt="">
    </div>
    <div class="fw" fxLayout="column" *ngIf="user">
        <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="1rem">
            <span class="ft24 gray-10">{{user.displayName | titlecase}}</span>
            <span class="ft11 backGray4 radius20 gray-8 pdr05 pdl05">ID: {{user.uid}}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="1.5rem">
            <span class="ft11 gray-8">Registrado el {{user.createdAt | date:"dd/MM/yyyy"}}</span>
            <span class="ft11 gray-8">{{user.email}}</span>
            <a [href]="'https://wa.me/'+ user.phoneNumber?.split('-').join('')" target="_blank"
                class="ft11 blue-5">{{user.phoneNumber}}</a>
        </div>
    </div>
</div>
<div class="fw pdt10 pdl20 pdr20 backWhite">
    <div class="infoContainer" fxLayout="row" *ngIf="user">
        <div fxFlex="15" class="sticky">
            <div class="sticky">
                <div>
                    <span class="gray-10 ft500 ft13 pdb05">Detalles</span>
                </div>
                <div class="fw mgt05" fxLayout="column">
                    <div *ngIf="user.gender" fxLayout="column" class="mgt05">
                        <span class="ft11 gray-8">Género</span>
                        <span class="ft11 gray-9">{{user.gender}}</span>
                    </div>
                    <div *ngIf="user.birthdate" fxLayout="column" class="mgt05">
                        <span class="ft11 gray-8">Edad</span>
                        <span class="ft11 gray-9">{{user.age}}</span>
                        <!-- <span class="ft11 gray-9">{{2023 - user.birthdate}}</span> -->
                    </div>
                    <div *ngIf="user.country" fxLayout="column" class="mgt05">
                        <span class="ft11 gray-8">País</span>
                        <span class="ft11 gray-9">{{user.country}}</span>
                    </div>
                    <div *ngIf="user.job" fxLayout="column" class="mgt05">
                        <span class="ft11 gray-8">Profesión</span>
                        <span class="ft11 gray-9">{{user.job}}</span>
                    </div>
                    <div *ngIf="user.enterprise" fxLayout="column" class="mgt05">
                        <span class="ft11 gray-8">Empresa</span>
                        <span class="ft11 gray-9">{{user.enterprise.name | titlecase}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="85" class="pdl10 pdr10">
            <div fxLayout="row" fxLayoutGap="1rem">
                <span [ngClass]="tab == 0 ? 'selectedTab ' : 'ft13 gray-9 cursorPointer'" (click)="tab=0">Ventas</span>
                <span [ngClass]="tab == 1 ? 'selectedTab' : 'ft13 gray-9 cursorPointer'" (click)="tab=1">Académico</span>
            </div>
            <!-- Ventas -->
            <div *ngIf="tab == 0" class="fw">
                <div class="fw">
                    <div class="fw mgt20 pdb05 border-b" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5">
                        <span class="ft13 ft500 gray-10">Suscripciones</span>
                        <mat-icon (click)="createSubscription()" class="mgl10 gray-5 cursorPointer ft20 linkIcon">add_circle</mat-icon>
                    </div>
                    <app-student-subscription-list [userRef]="userRef" [prices]="prices" [products]="products" [coupons]="coupons"></app-student-subscription-list>
                    <!-- <div class="tableContainer mgt10">
                        <table class="tableBody sticky">
                            <tbody>
                                <tr *ngIf="subscriptions.length == 0">
                                    <td>El usuario no se ha suscrito</td>
                                </tr>
                                <tr class="rowPlan" *ngFor="let subscription of subscriptions; let i = index">
                                    <td class="align-start">
                                        <span class="ft11 gray-10">{{getProduct(subscription.priceId).name}}</span>
                                    </td>
                                    <td>
                                        <a class="ft11 blue-5" *ngIf="subscription.couponId"
                                            [tooltip]="getCoupon(subscription.couponId).tooltipInfo()">{{getCoupon(subscription.couponId).name}}</a>
                                    </td>
                                    <td>
                                        <span [ngClass]="
                                        {'backGreen1 radius6 pd05 ft11 green-4':subscription.status == 'active'} ||
                                        {'backRed1 radius6 pd05 ft11 red-5':subscription.status == 'trialing'} ||
                                        {'backRed1 radius6 pd05 ft11 red-5':subscription.status == 'past_due'} ||
                                        {'backRed1 radius6 pd05 ft11 red-5':subscription.status == 'unpaid'} ||
                                        {'backRed1 radius6 pd05 ft11 red-5':subscription.status == 'canceled'} ||
                                        {'backGray2 radius6 pd05 ft11 gray-8':subscription.status == 'incomplete'} ||
                                        {'backGray2 radius6 pd05 ft11 gray-8':subscription.status == 'incomplete_expired'}
                                    ">{{subscription.status}}</span>
                                    </td>
                                    <td>
                                        <span class="ft11 gray-9">{{subscription.origin}}</span>
                                    </td>
                                    <td>
                                        <span class="ft11 gray-9">Inicio el {{subscription.startedAt |
                                            date:"dd/MM/yyyy"}}</span>
                                    </td>
                                    <td>
                                        <span class="ft11 gray-9">Inicio de período {{subscription.currentPeriodStart |
                                            date:"dd/MM/yyyy"}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="subscription.status != 'canceled'" class="ft11 gray-9">Próximo
                                            cobro el {{subscription.currentPeriodEnd |
                                            date:"dd/MM/yyyy"}} por ${{getNextInvoice(subscription).ammount}}</span>
                                        <span *ngIf="subscription.status == 'canceled'" class="ft11 gray-9">Cancelada el
                                            {{subscription.endedAt | date:'dd/MM/yyyy'}}</span>
                                    </td>
                                    <td>
                                        <div fxLayout="row" fxLayoutGap="1rem" *ngIf="subscription.origin == 'Predyc'">
                                            <mat-icon  class="ft14"
                                                (click)="editSubscription(subscription)">edit
                                            </mat-icon>
                                            <mat-icon class="red-5 ft14" (click)="deleteSubscription(subscription)">
                                                delete</mat-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
                <div>
                    <div class="fw mgt10 pdb05 border-b" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5">
                        <span class="ft13 ft500 gray-10">Pagos</span>
                        <mat-icon (click)="createCharge()" class="mgl10 gray-5 cursorPointer ft20 linkIcon">add_circle</mat-icon>
                    </div>
                    <app-student-charge-list [userRef]="userRef" [user]="user" [prices]="prices" [products]="products"></app-student-charge-list>
                    <!-- <div class="tableContainer mgt10">
                        <div *ngIf="payments.length == 0" class="ft12 gray-6">
                            El usuario no tiene pagos
                        </div>
                        <table class="tableBody sticky" *ngIf="payments.length > 0">
                            <thead class="tableHeader sticky">
                                <tr>
                                    <th class="gray-10 ft11 align-start ft500 mw" colspan="4">Monto</th>
                                    <th class="gray-9 ft11 align-start ft500">Producto</th>
                                    <th class="gray-9 ft11 align-start ft500">Descripción</th>
                                    <th class="gray-9 ft11 align-start ft500">Fecha</th>
                                    <th class="gray-9 ft11 align-start ft500">Método de pago</th>
                                    <th class="gray-9 ft11 align-start ft500">Refunded</th>
                                    <th class="gray-9 ft11 align-start ft500">Comentario</th>
                                    <th class="gray-9 ft11 align-start ft500">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of payments; let i = index" class="paymentElement">
                                    <td class="ft11 gray-10 align-end mw nowrap">
                                        <span *ngIf="item.priceId && getPrice(item.priceId).amount != item.amount"
                                            class="ft11 gray-10 align-end mw line-th">${{getPrice(item.priceId).amount |
                                            number:"1.2-2"}}</span>

                                        ${{item.amount | number:"1.2-2"}}
                                    </td>
                                    <td class="ft11 gray-8 centertext mw ftup">{{item.currency}}</td>
                                    <td class="ft11 gray-8 centertext mw ftup">{{item.via}}</td>
                                    <td class="align-start mw">
                                        <span *ngIf="item.status == 'succeeded'"
                                            class="backGreen1 radius6 pd05 fw ft11 green-4">{{item.status}}</span>
                                        <span *ngIf="item.status == 'pending'"
                                            class="backGray3 radius6 pd05 fw ft11 gray-8">{{item.status}}</span>
                                        <span *ngIf="item.status == 'failed'"
                                            class="backRed1 radius6 pd05 fw ft11 red-5"
                                            [matTooltip]="item.failureMessage">Failed</span>
                                    </td>
                                    <td class="ft11 gray-8">
                                        {{item.priceId? getProduct(item.priceId).name:item.description}}
                                    </td>
                                    <td class="ft11 gray-8">{{item.description}}</td>
                                    <td class="ft11 gray-8">{{item.createdAt| date:"dd/MM/yyyy"}}</td>
                                    <td class="ft11 gray-8">

                                        <div *ngIf="item.via == 'Stripe'">
                                            Stripe - {{item.cardBrand}} - {{item.cardLast4}}
                                        </div>
                                        <div *ngIf="item.via != 'Stripe'">
                                            {{item.origin}}
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ft11 gray-8 align-end mw">${{item.amountRefunded|
                                            number:"1.2-2"}}</span>
                                    </td>
                                    <td>
                                        <span class="ft11 gray-8">
                                            {{item.comment}}
                                        </span>
                                    </td>
                                    <td>
                                        <div fxLayout="row" fxLayoutGap="1rem" *ngIf="item.via == 'Predyc'">
                                            <mat-icon class="ft14" (click)="editPayment(item)">edit</mat-icon>
                                            <mat-icon class="red-5 ft14" (click)="deletePayment(item)">delete</mat-icon>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
            <div *ngIf="tab == 1" class="">
                <div class="fw">
                    <div class="fw mgt20 pdb05 border-b" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5">
                        <span class="ft13 ft500 gray-10">Cursos</span>
                    </div>
                    <app-student-courses-list [userRef]="userRef"></app-student-courses-list>
                </div>

                <!-- <div class="radius10 shadow16 mgt20">
                    <div class="backWhite pd10 " fxLayout="row" fxLayoutGap="1rem">
                        <span [ngClass]="tabAcademico ==0?'blue-5 ft12 ft500':'gray-9 ft12'"
                            (click)="tabAcademico = 0">Cursos ({{cursos.length}})</span>
                        <span [ngClass]="tabAcademico ==1?'blue-5 ft12 ft500':'gray-9 ft12'"
                            (click)="tabAcademico = 1">Programas ({{programas.length}})</span>
                        <span [ngClass]="tabAcademico ==2?'blue-5 ft12 ft500':'gray-9 ft12'"
                            (click)="tabAcademico = 2">Académico</span>
                    </div>
                    <div class="tableContainer" *ngIf="tabAcademico == 0">
                        <table style="width:100%">
                            <tr class="firstRowTable ">
                                <th class="ft500 ft11 align-start gray-10 ">Nombre</th>
                                <th class="ft500 ft11 align-start gray-10 ">Fecha de Inscr.</th>
                                <th class="ft500 ft11 align-start gray-10 ">Fecha de Comp.</th>
                                <th class="ft500 ft11 align-start gray-10 ">Ult. Act.</th>
                                <th class="ft500 ft11 align-start gray-10 w-20">Progreso</th>
                                <th class="ft500 ft11 align-start gray-10 ">Puntaje</th>
                                <th class="ft500 ft11 align-start gray-10 ">Valorado</th>
                            </tr>
                            <tr *ngFor="let item of cursos;  let i=index">
                                <td class="">
                                    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                                        <img [src]="item.cursoFoto" alt="foto de perfil" class="avatarSquare2 radius3"
                                            onerror="this.src='../../assets/images/default/default-user-image.jpg'">
                                        <span class="blueLink ft11 ft500"
                                            routerLink="/admin/inscritos-cursos/{{item.cursoId}}/{{item.usuarioCorreo}}">{{item.cursoTitulo}}
                                        </span>
                                    </div>
                                </td>

                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap"
                                        *ngIf="item.fechaInscripcion!=null">{{item.fechaInscripcion | date }} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap"
                                        *ngIf="item.fechaInscripcion!=null">{{item.fechaCompletacion | date}} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap"
                                        *ngIf="item.fechaInscripcion!=null">{{item.fechaUltimaAct | date: 'dd-mm-yyyy
                                        h:mm:ss a'}} </span>
                                </td>
                                <td class="centertext">
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <div *ngIf="item.completado == true">
                                            <mat-icon class="green-5">check</mat-icon>
                                        </div>
                                        <mat-progress-bar mode="determinate" [value]="item.progreso"
                                            *ngIf="item.completado != true">
                                        </mat-progress-bar>
                                        <div *ngIf="item.completado != true" fxLayout="row" fxLayoutAlign=" center"
                                            class="mgl05 nowrap ft11" fxLayoutAlign="center center">
                                            {{item.progreso | number: '1.2-2'}}%
                                        </div>
                                    </div>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap" *ngIf="item.puntaje!=null">{{item.puntaje |
                                        number:
                                        '1.0-0'}} </span>
                                </td>
                                <td class="centertext">
                                    <div *ngIf="item.valorado == true">
                                        <mat-icon class="green-5">check</mat-icon>
                                    </div>
                                    <div *ngIf="item.valorado == false">
                                        <mat-icon class="gray-5">close</mat-icon>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tableContainer" *ngIf="tabAcademico == 1">
                        <table style="width:100%">
                            <tr class="">
                                <th class="ft500 ">Nombre</th>
                                <th class="ft500 ">Fecha de Inscr.</th>
                                <th class="ft500">Fecha de Comp.</th>
                                <th class="ft500">Ult. Act.</th>
                                <th class="ft500 w-20">Progreso</th>
                                <th class="ft500 ">Puntaje</th>
                                <th class="ft500 ">Valorado</th>
                            </tr>
                            <tr *ngFor="let item of programas;  let i=index">
                                <td class="">
                                    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                                        <img [src]="item.programaFoto" alt="foto de perfil"
                                            class="avatarSquare2 radius3"
                                            onerror="this.src='../../assets/images/default/default-user-image.jpg'">
                                        <span class="blueLink ft12 ft500"
                                            routerLink="/admin/inscritos-cursos/{{item.cursoId}}/{{item.usuarioCorreo}}">{{item.cursoTitulo}}


                                        </span>
                                        <mat-icon class="iconButton">more_horiz</mat-icon>
                                    </div>
                                </td>

                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap"
                                        *ngIf="item.fechaInscripcion!=null">{{item.fechaInscripcion}} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap"
                                        *ngIf="item.fechaInscripcion!=null">{{item.fechaCompletacion}} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap"
                                        *ngIf="item.fechaInscripcion!=null">{{item.fechaUltimaAct | date: 'dd-mm-yyyy
                                        h:mm:ss a'}} </span>
                                </td>
                                <td class="centertext">
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <div *ngIf="item.completado == true">
                                            <mat-icon class="green-5">check</mat-icon>
                                        </div>
                                        <mat-progress-bar mode="determinate" [value]="item.progreso"
                                            *ngIf="item.completado != true">
                                        </mat-progress-bar>
                                        <div *ngIf="item.completado != true" fxLayout="row" fxLayoutAlign=" center"
                                            class="mgl05 nowrap ft11" fxLayoutAlign="center center">
                                            {{item.progreso}}%
                                        </div>
                                    </div>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap" *ngIf="item.puntaje!=null">{{item.puntaje |
                                        number:
                                        '1.0-0'}} </span>
                                </td>
                                <td class="centertext">
                                    <div *ngIf="item.valorado == true">
                                        <mat-icon class="green-5">check</mat-icon>
                                    </div>
                                    <div *ngIf="item.valorado == false">
                                        <mat-icon class="gray-5">close</mat-icon>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tableContainer" *ngIf="tabAcademico == 2">
                        <table style="width:100%">
                            <tr class="">

                                <th class="ft500 ">Curso</th>
                                <th class="ft500 ">Fecha Actividad</th>
                                <th class="ft500">Descripción</th>
                                <th class="ft500">Tiempo</th>
                                <th class="ft500">Tipo</th>
                            </tr>
                            <tr *ngFor="let item of logs;  let i=index">
                                <td class="">
                                    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                                        <span class="blueLink ft12 ft500"
                                            routerLink="/admin/inscritos-cursos/{{item.cursoId}}">{{item.cursoTitulo}}
                                        </span>
                                    </div>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap" *ngIf="item.timestamp!=null">{{item.timestamp
                                        | date: 'dd-mm-yyyy h:mm:ss a '}} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap">{{item.descripcion}} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap">{{item.tiempo}} </span>
                                </td>
                                <td class="centertext">
                                    <span class="ft400 ft10 gray-6 nowrap">{{item.tipo}} </span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>