<app-navigate-back class="ft600 ft16 gray-10">Estudiantes</app-navigate-back
>
<div
  class="fw pdt20 pdl20 pdr30 backWhite"
  fxLayout="row"
  fxLayoutGap="2rem"
  fxLayoutAlign=" center"
>
  <div *ngIf="user">
    <img
      [src]="user.photoUrl"
      onerror="this.src='../../assets/images/default/default-user-image.jpg'"
      class="avatar6"
      alt=""
    />
  </div>
  <div class="fw" fxLayout="column" *ngIf="user">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="1rem">
      <span class="ft24 gray-10">{{ user.displayName | titlecase }}</span>
      <span class="ft11 backGray4 radius20 gray-8 pdr05 pdl05"
        >ID: {{ user.uid }}</span
      >
    </div>
    <div fxLayout="row" fxLayoutGap="1.5rem">
      <span class="ft11 gray-8">Registrado el {{ user.createdAt | date : "dd/MM/yyyy" }}</span>
      <span class="ft11 gray-8">{{ user.email }}</span>
      <!-- <a
        [href]="'https://wa.me/' + user.phoneNumber?.split('-').join('')"
        target="_blank"
        class="ft11 blue-5"
        *ngIf="user.phoneNumber"
        >{{ user.phoneNumber }}</a
      > -->
      <span *ngIf="user.enterprise" class="ft11 gray-8"
        >Empresa: {{ user.enterprise.name }}</span
      >
    </div>
  </div>
</div>
<div class="fw pdl20 pdr20 backWhite">
  <div class="fw">
    <!-- Detalles -->
    <!-- <div *ngIf="tab == 0" class="fw">
    <div class="sticky">
        <div>
        <span class="gray-10 ft500 ft14 pdb05">Detalles</span>
        </div>
        <div class="fw mgt10" fxLayout="column" fxLayoutGap="1rem">
        <div *ngIf="user.gender" fxLayout="column" class="">
            <span class="ft13 gray-8">Género</span>
            <span class="ft13 gray-9">{{ user.gender }}</span>
        </div>
        <div *ngIf="user.birthdate" fxLayout="column" class="">
            <span class="ft13 gray-8">Edad</span>
            <span class="ft13 gray-9">{{ user.age }}</span>
        </div>
        <div *ngIf="user.country" fxLayout="column" class="">
            <span class="ft13 gray-8">País</span>
            <span class="ft13 gray-9">{{ user.country }}</span>
        </div>
        <div *ngIf="user.job" fxLayout="column" class="">
            <span class="ft13 gray-8">Profesión</span>
            <span class="ft13 gray-9">{{ user.job }}</span>
        </div>
        <div *ngIf="user.enterprise" fxLayout="column" class="">
            <span class="ft13 gray-8">Empresa</span>
            <span class="ft13 gray-9">{{
            user.enterprise.name | titlecase
            }}</span>
        </div>
        </div>
    </div>
    </div> -->
    <!-- Ventas -->
    <div *ngIf="tab == 1" class="fw">
      <div class="fw">
        <div
          class="fw mgt20 pdb05 border-b"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap=".5"
        >
          <span class="ft13 ft500 gray-10">Suscripciones</span>
          <mat-icon
            (click)="createSubscription()"
            class="mgl10 gray-5 cursorPointer ft20 linkIcon"
            >add_circle</mat-icon
          >
        </div>
        <app-student-subscription-list
          (onSubSelected)="subSelected($event)"
          [userRef]="userRef"
          [products]="products"
        ></app-student-subscription-list>
      </div>
      <div
        class="fw mgt20 pdb05 border-b"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap=".5"
      >
        <div class="fw" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
            <span class="ft13 ft500 gray-10">Academico</span>
            <span
              *ngIf="user?.profile"
              class="ft13 backGray4 radius20 gray-8 pd05"
              >Perfil: {{ user.profile.name }}</span
            >
          </div>
          <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
            <div class="blueLink ft12" (click)="openCoursesDialog()">
              Elegir cursos a inscribir
            </div>
            <div class="blueLink ft12" *ngIf=" user?.product && user.product.type === productClass.TYPE_SIMPLIFIED" (click)="saveEnrolledCoursesAsExtraCourse()"> 
              Importar cursos del perfil
            </div>
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="1rem"
        fxLayoutAlign=" center"
        class="fw mgt10 pdb05"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap=".5"
          (click)="academicTab = 0"
        >
          <span
            class=""
            [ngClass]="
              academicTab == 0 ? 'selectedTab ' : 'ft13 gray-9 cursorPointer'
            "
            >Cursos</span
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap=".5"
          (click)="academicTab = 1"
        >
          <span
            class=""
            [ngClass]="
              academicTab == 1 ? 'selectedTab' : 'ft13 gray-9 cursorPointer'
            "
            >Actividad</span
          >
        </div>
      </div>
      <div
        *ngIf="academicTab === 0"
        class="fw"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <app-student-courses-list
          [userRef]="userRef"
          [userName]="user?.name"
          [userEmail]="user?.email"
          [userPhotoUrl]="user?.photoUrl"
        ></app-student-courses-list>
      </div>
      <div *ngIf="academicTab === 1" class="fw">
        <app-student-classes-activity-list
          [userRef]="userRef"
        ></app-student-classes-activity-list>
      </div>
    </div>
  </div>
</div>
