<div class="fw pdt10" fxLayout="column" fxLayoutGap="2.5rem">
    <div *ngIf="!profile">
        <span class="ft20 gray-10">El usuario no posee un perfil asignado.</span>
    </div>
    <div *ngIf="profile" class="fw" fxLayout="column" fxLayoutGap=".5rem">
        <div class="fw" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4rem">
            <div class="fh" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".75rem">
                <span class="ft16 gray-10">Perfil del estudiante:</span>
                <span class="ft16 ft500 gray-10">{{profile.name}}</span>
            </div>
            <ng-container *ngIf="coursesByStudent.length > 0 else noCourses">
                <div *ngIf="!hasExtraCourses" class="" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="3rem">
                    <span class="ft14">Los cursos inscritos pertenecen a un <span class="ft600"> plan de estudio </span> asignado</span>
                    <button class="blueButton" (click)="saveAsExtraCourse()">Asignar cursos como extracurriculares</button>
                </div>
                <div *ngIf="hasExtraCourses" class="f" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                    <span class="ft14">Los cursos estan inscritos como <span class="ft600"> extracurriculares </span></span>
                </div>
            </ng-container>
            <ng-template #noCourses>
                <div class=""  fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="3rem">
                    <span>El estudiante aun no posee cursos extra curriculares o plan de estudios</span>
                    <button class="blueButton" (click)="saveAsExtraCourse()">Asignar cursos como extracurriculares</button>
                </div>
            </ng-template>
        </div>
        <!-- <div class="fw" fxLayout="column" fxLayoutGap=".2rem">

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="courseTitle">
                    <th mat-header-cell *matHeaderCellDef class="ft14"> </th>
                    <td mat-cell *matCellDef="let data" class="ft500 ft14  gray-10"> {{ data.courseTitle | titlecase}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <ng-container>
                    <tr mat-row *matRowDef="let data; columns: displayedColumns;" > </tr>
                </ng-container>
        
            </table>
        </div> -->
    </div>
</div>