<div class="container" fxLayout="column">
    <form [formGroup]="form" (ngSubmit)="saveSubscription()">
        <div>
            <span class="ft20 gray-10 ft500">Crear Suscripción</span>
        </div>
        <div class="fw mgt10" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem">
            <div class="h50px w-30" fxLayout="column" fxLayoutGap=".75rem">
                <span class="ft31 gray-9">Comienzo del periodo actual:</span>
                <input type="datetime-local" formControlName="startedAt" (ngModelChange)="onDateChange()" class="pdl03 pdr03">
            </div>
            <div class="h50px w-30" fxLayout="column" fxLayoutGap=".75rem">
                <span class="ft13 gray-9">Final de período actual:</span>
                <input type="datetime-local" formControlName="currentPeriodEnd" (ngModelChange)="showAlertText = false" class="pdl03 pdr03">
            </div>                  
            <div class="h50px w-30" fxLayout="column" fxLayoutGap=".75rem">
                <span class="ft13 gray-9">Producto</span>
                <mat-select placeholder="Seleccione el producto" formControlName="productId" (ngModelChange)="showAlertText = false" 
                style="border: 1px solid black;" class="pdl03 pdr03">
                    <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div *ngIf="showAlertText" class="mgt15" fxLayout="row" fxLayoutAlign="center center">
            <span style="color: red !important">Debes elegir un producto y fecha final</span>
        </div>
        <div class="fw mgt15" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
            <button class="backBlue5 pd03 radius6 w150px centertext cursorPointer" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap=".5rem" type="submit">
                <mat-icon class="ft16 gray-1 pd0">save</mat-icon>
                <span class="gray-1 ft12 ft500">Guardar</span>
            </button>
            <button (click)="cancel()" class="backRed5 pd03 radius6 w150px centertext cursorPointer" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap=".5rem" type="button">
                <mat-icon class="ft16 gray-1 pd0">cancel</mat-icon>
                <span class="gray-1 ft12 ft500 ">Cancelar</span>
            </button>
        </div>
    </form>
</div>