<div class="fw fh pd10">
    <div fxLayout="row" fxLayoutAlign="end center">
        <img [src]="icon.close" (click)="closeDialog()" class="makeGray h20px cursorPointer">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start"  fxLayoutGap=".20rem" class="mgt10">
        <div class="fw fh">
            <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft24 ft500 gray-10">{{ this.couponForm.controls.id.value == "" ? "Crear" : "Editar" }} Cupon</span>
                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap=".3rem" class="formGroup formGroup-center">
                        <div [ngClass]="couponForm.controls.active.value ? 'activeCoupon' : 'inactiveCoupon'" for="active">
                            Cupón {{ couponForm.controls.active.value ? "Activo" : "Inactivo" }}
                        </div>
                        <div [ngClass]="couponForm.controls.active.value ? 'btn redButton' : 'blueButton'" (click)="toggleCouponActiveState()">
                            {{ couponForm.controls.active.value ? "Desactivar" : "Activar" }}
                        </div>
                        <input hidden id="active" type="checkbox" formControlName="active" />
                        <input hidden id="id" type="text" formControlName="id" />
                    </div>
                </div>
                <div>
                    <span class="ft18 gray-9 ft500 mgt20">Información general</span>
                </div>
                <div class="formGroup mgt05">
                    <label for="name" class="gray-9 ft500 ft14">Nombre:</label>
                    <input id="name" type="text" formControlName="name" />
                </div>
                <div>
                    <div class="formGroupHorizontal">
                        <div>
                            <div class="ft14 ft500 gray-9">Monto:</div>
                            <input type="number" name="amountOff" min="0" step="0.01" formControlName="amountOff" />
                            <select name="currency" id="currency" formControlName="currency">
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div>
                        <div class="ft14 ft500 gray-9">Monto porcentual:</div>
                            <input type="number" name="percentOff" min="0" max="100" step="0.01" formControlName="percentOff" />%
                        </div>
                    </div>
                    <div class="ft14 ft500 gray-9">Max Redeems:</div>
                    <div class="formGroupHorizontal">
                        <input type="number" name="maxRedemptions" min="0" step="1" formControlName="maxRedemptions" />
                    </div>
                    <div class="ft14 ft500 gray-9">Max Redeems por usuario:</div>
                    <div class="formGroupHorizontal">
                        <input type="number" name="maxRedemptionsPerUser" min="0" step="1" formControlName="maxRedemptionsPerUser" />
                    </div>
                </div>
                <div>
                    <div class="ft14 ft500 gray-9">Duración:</div>
                    <div class="formGroupHorizontal">
                        <input type="number" name="durationInMonths" min="0" step="1" formControlName="durationInMonths" />
                            <select name="duration" id="duration" formControlName="duration">
                            <option value="once">Una vez</option>
                            <option value="repeating">Repetidas veces</option>
                            <option value="forever">Por siempre</option>
                        </select>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3rem" class="">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".3rem">
                        <div class="ft14 ft500 gray-9">Es global:</div>
                        <div class="formGroupHorizontal">
                            <input type="checkbox" name="isGlobal" formControlName="isGlobal" />
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".3rem">
                        <div class="ft14 ft500 gray-9">Activar banner:</div>
                        <div class="formGroupHorizontal">
                            <input type="checkbox" name="activeBanner" formControlName="activeBanner" />
                        </div>
                    </div>
                </div>
                <div class="formGroup mgt05">
                    <label for="textBanner" class="gray-9 ft500 ft14">Texto Banner:</label>
                    <input id="textBanner" type="text" formControlName="textBanner" />
                </div>
                <div class="formGroup mgt05">
                    <label for="promoCode" class="gray-9 ft500 ft14">PromoCode:</label>
                    <input id="promoCode" type="text" formControlName="promoCode" />
                </div>
                <div fxLayoutAlign="center center" class="mgt15">
                <button [disabled]="!couponForm.valid" class="blueButton" type="submit">
                    Guardar
                </button>
                </div>
            </form>
        </div> 
    </div>
</div>