<div class="sidenav_container pdl05 pdr05" fxLayout="column" fxLayoutAlign="space-between">
  
        <div fxLayout="column" fxLayoutAlign=" start">
            <div *ngFor="let page of pages" [routerLink]="page.link"   routerLinkActive=" ActiveMenuOption"
                [routerLinkActiveOptions]="{ exact: true }" class="item" fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign=" center" class="fw">
                    <img [src]="page?.icon" class="h20px w20px makeGray8  " routerLinkActive="opacity1" style="margin-top: 2px;"
                        [routerLinkActiveOptions]="{ exact: true }">
                    <span *ngIf="menuExpanded" class="ft13 mgt03 gray-8 ft500 mgr05 mgl05 no-select">{{page.name}}</span>
                </div>
            </div>
        </div>
</div>