.sidenav_container {
    height: 100%;
    padding: 20%
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    /* border: 2px solid red; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}