.sidenav_container {
    height: 100%;
    overflow: hidden;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    /* border: 2px solid red; */
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.item{
    width: 100%;
    border-radius: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
}

.hoverBasic:hover{
    background-color: rgb(255, 244, 202) !important;
}