<div class="sidenav_container pdl05 pdr05" fxLayout="column" fxLayoutAlign="space-between">
  
        <div fxLayout="column" fxLayoutAlign=" start">
            <div *ngFor="let page of pages" [routerLink]="page.link"    fxLayout="left center "  routerLinkActive=" ActiveMenuOption"
                [routerLinkActiveOptions]="{ exact: true }" class="item cursorPointer hoverBasic  " fxLayout="row" fxLayout="center center">
                <div fxLayout="row" class=" MenuOptionsNav">
                    <img [src]="page?.icon" class="h20px makeGray8  " routerLinkActive="opacity1" style="margin-top: 2px;"
                        [routerLinkActiveOptions]="{ exact: true }">
                    <span *ngIf="menuExpanded" class="ft13 mgt03 gray-8 ft500 mgr05 mgl05">{{page.name}}</span>

                    
                </div>
            </div>


        </div>

    <!-- <div *ngIf="user$ | async as user" fxLayout="column" fxLayoutAlign="center">
        <a class="cursorPointer" routerLink="my-account">
            <img [src]="user.photoUrl ? user.photoUrl : 'assets/images/default/default-user-image.jpg'"
                style="height: 2rem; width: 2rem; border-radius: 50%;" alt="">
        </a>
    </div> -->
</div>