<ng-container>
    <form [formGroup]="freebieForm" (ngSubmit)="onSubmit()">
        <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayoutAlign="space-between center"  >
            <div class="modal-title pd10 ">
				<span class="ft16 ft500 gray-10">{{ this.freebie ? "Editar" : "Nuevo" }} Freebie</span>

            </div>
			<img [src]="icon.close" (click)="closeDialog()" class="makeGray h20px cursorPointer" />
        </div>
		<div class="fw fh mgt10 pd10" >
			
			<div class="fw" fxLayout="column"  fxLayoutAlign="space-between center" >
				<ng-container  class="fw" >
					<ng-container  class="fw"  >
						<form  class="fw"[formGroup]="freebieForm" fxLayoutAlign="row" (ngSubmit)="onSubmit()" >
								<!-- Información general -->
								<div fxLayout="column" fxLayoutGap="1rem"  class="fw">
									<div fxLayout="row" class="fw"   >
										<div fxLayout="column" class="w-20 mgr10 centertext" >
											<!-- Image -->
											<div style="display: flex; justify-content: center; align-items: center;">
												<div (click)="fileInput.click()" class="cursorPointer">
													<img style="height: 100px;" [src]="photoUrl ? photoUrl : 'assets/images/default/default-user-image.jpg'" class="radius6" alt="" />
												</div>
												<input #fileInput accept="image/*" type="file" hidden (change)="onFileSelected($event, 'photoUrl')" />
											</div>
											<label class="gray-9 ft12 mgt05 ft500">Foto de freebie</label>


										</div>
										<div  fxLayout="column" class="w-80 mgl10" >
											<div class="form-group">
												<label class="gray-9 ft12 ft500">Título</label>
												<input [class.is-invalid]="freebieForm.controls['name'].errors && displayErrors" formControlName="name" style="height: 35px;" type="text" class="form-control ft14  shadow-animation   pdl05 pdr05 radius20  borderLight  ">
												<div class="invalid-feedback" *ngIf="freebieForm.controls['name'].errors && displayErrors"> 
													Es obligatorio especificar el nombre del freebie
												</div>
											</div>
											<div class="form-group">
												<label class="gray-9 ft12 ft500">Tipo</label>
												<input [class.is-invalid]="freebieForm.controls['type'].errors && displayErrors" formControlName="type"  style="height: 35px;" type="text" class="form-control ft14  shadow-animation   pdl05 pdr05 radius20  borderLight ">
												<div class="invalid-feedback" *ngIf="freebieForm.controls['type'].errors && displayErrors"> 
													Es obligatorio especificar el tipo del freebie
												</div>
											</div>
											
										</div>
										
									</div>
									<div class="form-group ">
										<label class="ft12 gray-9 ft500">Custom URL</label>
										<input [class.is-invalid]="freebieForm.controls['customUrl'].errors && displayErrors" formControlName="customUrl" type="customUrl" class="form-control pd05 radius20 backWhite shadow-animation borderLight ">
										<div class="invalid-feedback" *ngIf="freebieForm.controls['customUrl'].errors && displayErrors"> 
											Es obligatorio especificar customUrl
										</div>
									</div>
									
									<div class="form-group">
										<span  class="gray-9 ft12 ft500">Descripción: </span>
										<div class="pd05  mgt05   radius10 backWhite shadow-animation borderLight">
											<textarea [class.is-invalid]="freebieForm.controls['description'].errors && displayErrors" formControlName="description" type="text"  style=" overflow-y: hidden;  width: 100%; height: 100px; resize:none; border: none!important; background-color: transparent !important; " maxlength="200"  ></textarea>
										<div class="invalid-feedback" *ngIf="freebieForm.controls['description'].errors && displayErrors"> 
											Debe indicar la descripción
										</div>
									</div>  
									<div class=" mgt10" >
										<label class="ft12 gray-9 ft500">Archivo</label>

										<div *ngIf="freebieForm.get('file').value; else input2" fxLayout="row" fxLayoutGap="10px" fxLayout=" center">
											<span>{{ freebieForm.get("file").value.length > 50 	? freebieForm.get("file").value.slice(0, 50) + "..." 	: freebieForm.get("file").value}}</span>
											<img [src]="icon.greenCheck" alt="" />
										</div>
										<ng-template #input2>
											<button type="button" (click)="cursomFile.click()" class="grayButton pd03 mgl10 radius6 ft12 ft500 h28px mgr10 gray-8" fxLayoutGap="0.625">
												<img [src]="icon.arrowUp" class="h16px pdr05" alt="">	Adjuntar archivo
											</button>
											<input #cursomFile type="file" style="width: 50px!important" (change)="onFileSelected($event, 'file')" hidden />
												<div *ngIf="this.uploadedFile;" fxLayout="row"  fxLayoutGap="10px" fxLayout=" center">
													<span class="pdt08 text-overflow ">{{ uploadedFileName.length > 50 ? uploadedFileName.slice(0, 50) + "..." : uploadedFileName}}</span>
													<img [src]="icon.greenCheck" alt="" />
												</div>
										</ng-template>
									</div>

									<div class="custom-invalid-feedback" *ngIf="freebieForm.get('file').errors && displayErrors">
										<div *ngIf="freebieForm.get('file').errors?.required"> Es obligatorio adjuntar un archivo </div>
									</div>
									
								</div>
								<div class="mgt20">
									<button
										class="blueButton w100px"
										type="submit">
										Guardar
									</button>
								</div>
							</div>
							
						</form>
					</ng-container>
				</ng-container>
			</div>
		</div>
	</form>
</ng-container>
