<div class="fw fh mgt10 pd10">
	<div
		fxLayout="row"
		fxLayoutAlign="end center">
		<img
			[src]="icon.close"
			(click)="closeDialog()"
			class="makeGray h20px cursorPointer" />
	</div>
	<div
		fxLayout="row"
		fxLayoutAlign="space-between start"
		fxLayoutGap=".20rem">
		<ng-container>
			<ng-container>
				<form
					[formGroup]="freebieForm"
					(ngSubmit)="onSubmit()">
					<div>
						<span class="ft16 ft500 gray-10">{{ this.freebie ? "Editar" : "Nuevo" }} Freebie</span>
					</div>

					<div
						fxLayout="row"
						fxLayoutAlign="space-between"
						class="mgt10">
						<!-- Información general -->
						<div
							fxLayout="column"
							fxLayoutGap="1rem"
							class="">
							<div>
								<span class="ft18 gray-9 ft500">Información general</span>
							</div>
							<div
								class="fw"
								fxLayout="column"
								fxLayoutGap="1rem">
								<div
									fxLayout="row"
									fxLayoutAlign="space-between center"
									fxLayoutGap="1.5rem"
									class="fw">
									<div
										class=""
										fxLayout="row"
										fxLayoutAlign="start center"
										fxLayoutGap=".3rem">
										<label
											for="name"
											class="gray-9 ft14"
											>Nombre:</label
										>
										<input
											class="backWhite fw pdl03"
											id="name"
											type="text"
											formControlName="name" />
									</div>
									<div
										class="custom-invalid-feedback"
										*ngIf="freebieForm.get('name').errors && displayErrors">
										<div *ngIf="freebieForm.get('name').errors?.required">
											Es obligatorio especificar el nombre del freebie
										</div>
									</div>
								</div>
								<div
									fxLayout="row"
									fxLayoutAlign="space-between center"
									fxLayoutGap=".5rem"
									class="fw">
									<div
										class="fh fw"
										fxLayout="row"
										fxLayoutAlign="start center"
										fxLayoutGap=".25rem">
										<span class="gray-9 ft14">Tipo: </span>
										<mat-select
											placeholder="Seleccione el tipo"
											formControlName="type"
											style="border: 1px solid black"
											class="pdl03 pdr03 pdt05 fh">
											<mat-option
												*ngFor="let type of typeOptions"
												[value]="type"
												>{{ type | titlecase }}</mat-option
											>
										</mat-select>
									</div>
									<div
										class="custom-invalid-feedback"
										*ngIf="freebieForm.get('type').errors && displayErrors">
										<div *ngIf="freebieForm.get('type').errors?.required">
											Es obligatorio especificar el tipo del freebie
										</div>
									</div>
								</div>

								<div
									class=""
									fxLayout="column">
									<label
										for="description"
										class="gray-9 ft15"
										>Descripción:</label
									>
									<textarea
										id="description"
										type="text"
										autocomplete="off"
										class="backWhite fw"
										formControlName="description"></textarea>
								</div>
								<!-- Image -->
								<div>
									<div
										(click)="freebieForm.get('photoUrl').value ? null : fileInput.click()"
										class="cursorPointer">
										<img
											[src]="photoUrl ? photoUrl : 'assets/images/default/default-user-image.jpg'"
											class="avatar5"
											alt="" />
									</div>
									<input
										#fileInput
										type="file"
										style="display: none"
										(change)="onFileSelected($event, 'photoUrl')" />
								</div>
								<!-- File -->
								<span>Archivo</span>
								<div>
									<div
										*ngIf="freebieForm.get('file').value; else input2"
										fxLayout="row"
										fxLayoutGap="10px"
										fxLayout=" center">
										<span>{{
											freebieForm.get("file").value.length > 30
												? freebieForm.get("file").value.slice(0, 30) + "..."
												: freebieForm.get("file").value
										}}</span>
										<img
											[src]="icon.greenCheck"
											alt="" />
									</div>
									<ng-template #input2>
										<input
											type="file"
											(change)="onFileSelected($event, 'file')" />
									</ng-template>
								</div>
								<div
									class="custom-invalid-feedback"
									*ngIf="freebieForm.get('file').errors && displayErrors">
									<div *ngIf="freebieForm.get('file').errors?.required">
										Es obligatorio adjuntar un archivo
									</div>
								</div>
								<div
									fxLayout="row"
									fxLayoutAlign="space-between center"
									fxLayoutGap="1.5rem"
									class="fw">
									<div
										class=""
										fxLayout="row"
										fxLayoutAlign="start center"
										fxLayoutGap=".3rem">
										<label
											for="customUrl"
											class="gray-9 ft14"
											>Custom url:</label
										>
										<input
											class="backWhite fw pdl03"
											id="customUrl"
											type="text"
											formControlName="customUrl" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mgt20">
						<button
							class="blueButton w100px"
							type="submit">
							Guardar
						</button>
					</div>
				</form>
			</ng-container>
		</ng-container>
	</div>
</div>
