<div *ngIf="!loaderService.loading">
    <div fxLayout="row" fxLayoutAlign=" center">
        <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
            [src]="enterprise?.photoUrl" class="avatar5" alt="">
        <span class="mgl10 ft16 ft600 gray-10">
            {{enterprise.name}}
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class="mgt15">
        <div class="w-35 radius10 border">
            <span>Horas de estudio</span>
        </div>
        <div class="w-30 radius10 border">
            <span>Ritmo de usuarios</span>
        </div>
        <div class="w-30 radius10 border fh">
            <app-notifications-dashboard></app-notifications-dashboard>
        </div>
    </div>     
</div>