<div *ngIf="!loaderService.loading" class="fh mgt10 mgl30 mgr30">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="pdr10 pdl10">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="photo-shadow avatarshadow" onerror="this.src='assets/images/default/default-user-image.jpg'" [src]="enterprise?.photoUrl" alt="">
            <span class="mgl10 ft16 ft600 gray-10">
                {{enterprise.name}}
            </span>
        </div>
        <button class="blueButton">Descargar reporte</button>
    </div>   
    <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="1rem" class="h-30 mgt10">
        <div class="radius10 border w-60 pd10">
            <app-users-study-time-container class="fh"></app-users-study-time-container>
        </div>
        <div class="radius10 border w-40 pd10">
            <app-users-rhythm
                [high]="0"
                [medium]="0"
                [low]="0"
                [noPlan]="0"
            ></app-users-rhythm>
        </div>
    </div>
    <div class="fw h-50 mgt10">
        <div class="radius10 border fw pdr10 pdl10">
            <app-ranking-list></app-ranking-list>
        </div>
    </div>
</div>
