<span class="mgl10 gray-10">Usuario administrador</span>
<div fxLayout="row" fxLayoutAlign="space-between center" class="card-container-sm mgl10 pd05">
    <div fxLayout="row" fxLayoutAlign="center center">
        <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
        [src]="user.photoUrl" class="avatar5" alt="">
        <div fxLayout="column" class="mgl10">
            <span class="ft16 ft600 gray-10">{{user.name}}</span>
            <span>{{user.job}}</span>
        </div>
    </div>
    <div fxFlexAlign="start">
        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="">
    </div>
</div>