.containerLeft {
    padding-bottom: 1rem !important;
    width: 100%;
    border-right: 1px solid var(--gray-3);
}

.containerRight {
    width: 100%;
}

.card-container-sm {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #D5DCE0;
    height: 140px;
}

.card-container-lg {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #D5DCE0;
    height: 340px;
}

.card-container-xl {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #D5DCE0;
    height: 490px;
}

.question {
    margin-top: 12px;
    border-bottom: 1px solid var(--gray-3);
    padding-bottom: 12px;
}