<h3 class="page-title">Mi cuenta</h3>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="swal-overlay">
    <mat-tab label="Información" class="tab">  
        <div fxLayout="row" fxLayoutAlign="center">
            <div class="containerLeft mgt03">
                <span class="gray-10">Empresa</span>    
                <div fxLayout="row" fxLayoutAlign="space-between center" class="card-container-sm mgr10 pd05">
                    <div>
                        <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
                        [src]="user.photoUrl" class="avatar5" alt="">
                        <span class="mgl10 ft16 ft600 gray-10">{{enterprise.name}}</span>
                    </div>
                    <div>
                        <div fxLayout="row">
                            <img [src]="icon.camera" class=" makeGray h14px" alt=""><span>facebook</span>
                        </div>
                        <div fxLayout="row" class="mgt05">
                            <img [src]="icon.instagram_gray" class=" makeGray h14px" alt=""><span>instagram</span>
                        </div>
                        <div fxLayout="row" class="mgt05">
                            <img [src]="icon.camera" class=" makeGray h14px" alt=""><span>www.sitioweb.com</span>
                        </div>
                        <div fxLayout="row" class="mgt05">
                            <img [src]="icon.linkedin_gray" class=" makeGray h14px" alt=""><span>linkedin</span>
                        </div>
                    </div>
                    <div fxFlexAlign="start">
                        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="">
                    </div>
                </div>
                <div fxLayout="column" class="card-container-lg mgt05 mgr10 pd05">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="gray-10">Datos generales de la empresa</span>
                        <img [src]="icon.licencias" class="makeGray h20px cursorPointer" alt="">
                    </div>
                    <div class="mgl05">
                        <span class="makeGray">Descripción de la empresa</span>
                        <span>{{enterprise.description}}</span>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>
                                <span class="makeGray">Sector de la empresa</span>
                                <span>Energías renovables</span>
                            </div>
                            <div>
                                <span class="makeGray">Tamaño de la empresa</span>
                                <span>Mediana</span>
                            </div>
                            <div>
                                <span class="makeGray">No. Empleados</span>
                                <span>234</span>
                            </div>
                        </div>
                    </div>
                    <span class="mgt20 mgb05 gray-10">Dirección</span>
                    <div fxLayout="column" class="mgl05">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column">
                                <span class="makeGray">País</span>
                                <span>Mexico</span>
                            </div>
                            <div fxLayout="column">
                                <span class="makeGray">Ciudad / Estado</span>
                                <span>Santiago de Querétaro</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" class="mgt03">
                                <span class="makeGray">CP</span>
                                <span>78904</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="containerRight mgt03">
                <span class="mgl10 gray-10">Usuario administrador</span>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="card-container-sm mgl10 pd05">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
                        [src]="user.photoUrl" class="avatar5" alt="">
                        <div fxLayout="column" class="mgl10">
                            <span class="ft16 ft600 gray-10">{{user.name}}</span>
                            <span>{{user.job}}</span>
                        </div>
                    </div>
                    <div fxFlexAlign="start">
                        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="">
                    </div>
                </div>
                <div fxLayout="column" class="card-container-lg mgt05 mgl10 pd05">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="gray-10" >Información personal</span>
                        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="">
                    </div>
                    <div fxLayout="column" class="mgl05">
                        <div fxLayout="row" fxLayoutAlign="space-between start">

                            <div fxLayout="column">
                                <span class="makeGray">Nombre (s)</span>
                                <span>Carlos</span>

                                <span class="makeGray">Mail</span>
                                <span>carlosmtz@gmail.com</span>

                                <span class="makeGray">Cargo</span>
                                <span>Ing. Industrial</span>
                            </div>

                            <div fxLayout="column">
                                <span class="makeGray">Apellido (s)</span>
                                <span>Martínez Encinas</span>

                                <span class="makeGray">Teléfono</span>
                                <span>123 45 67 89</span>
                            </div>

                        </div>
                        
                    </div>
                    <span class="mgt20 mgb05 gray-10">Dirección</span>
                    <div fxLayout="column" class="mgl05">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column">
                                <span class="makeGray">País</span>
                                <span>Mexico</span>
                            </div>
                            <div fxLayout="column">
                                <span class="makeGray">Ciudad / Estado</span>
                                <span>Santiago de Querétaro</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" class="mgt03">
                                <span class="makeGray">CP</span>
                                <span>78904</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="redButton" (click)="signOut()" fxLayout="row" fxLayoutAlign="end end">Cerrar sesión</button>
    </mat-tab>

    <mat-tab label="Soporte"> 
        <div fxLayout="row" fxLayoutAlign="center">
            <div class="containerLeft mgt03" style="border-right: none;">
                <span class="gray-10">Account manager</span>
                <div fxLayout="column" class="card-container-xl mgt05 mgr10 pd05">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row"  fxLayoutAlign="center center">
                            <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
                            [src]="user.photoUrl" class="avatar5" alt="">
                            <div fxLayout="column" fxLAyout="center center">
                                <span class="mgl10 ft16 ft600 gray-10">{{enterprise.name}}</span>
                                <span class="mgl10">Account manager</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center">
                            <img [src]="icon.whatsapp_gray" class="makeGray h24px" alt="">
                            <button class="blueButton">Contactar vía email</button>
                        </div>
                    </div>
                    <div class="mgt05">
                        <span>
                            Hola, soy Kevin Grajales, estoy aqui como tu account manager en esta aplicación. Si tienes
                            alguna pregunta o necesitas asistencia, no dudes en contactarme.
                        </span>
                        <span>
                            Además, cada mes, te proporcionaré un reporte detallado para mantenerte al tanto de los progresos 
                            y rendimiento
                        </span>
                    </div>
                </div>
            </div>
            <div class="containerRight mgt03" >
                <span class="gray-10 mgl10">Preguntas frecuentes</span>
                <div fxLayout="column" class="card-container-xl mgt05 mgl10 pd05">

                    <ng-container *ngFor="let question of questions; let i = index; let last = last">
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="question" [style.border-bottom]="last ? 'none' : ''">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span>{{i + 1}}.</span>
                                <span class="mgl05">{{question}}</span>
                            </div>
                            <img [src]="icon.addNew" class="makeGray h10px">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

