<div fxLayout="column">
    <div class="main_top" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign=" center">
                <img [src]="icon.predyc" class="h24px" alt="">
                <div class="ft600 gray-10 mgl05">Predyc <span class="gray-6">ADMIN</span></div>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
            <!-- <div (click)="openSupport()">
              <img [src]="icon.headset" alt="" class="h24px cursorPointer makeGray"/>
            </div> -->
            <div *ngIf="user$ | async as user" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem" class="cursorPointer" [matMenuTriggerFor]="userMenu">
                <span class="ft600 gray-6">{{user.displayName | titlecase}}</span>
                <img  [src]="user.photoUrl ? user.photoUrl : 'assets/images/default/default-user-image.jpg'" style="height: 2rem; width: 2rem; border-radius: 50%;"  alt="">
                <mat-menu #userMenu="matMenu" fxLayout="column" fxLayoutAlign="center">
                    <button class="redButtonAnim button-animation" (click)="signOut()" >Cerrar sesión</button>
                </mat-menu>
            </div>
            <div>
                <button class="blueButton ft13"  routerLink="/">Ir a plataforma de empresas</button>
            </div>
        </div>
    </div>
</div>
<div class="main_layout">
    <div [ngClass]="menuExpanded?'sidenavExpanded':'sidenav'" (mouseover)="menuExpanded = true" (mouseleave)="menuExpanded=false">
        <app-sidenav [menuExpanded]="menuExpanded"></app-sidenav>
    </div>
    <div class="main_content_container fh">
        <div class="main_content fh fw">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>