<div class="mgt20 mgl20 mgr20">
  <p class="ft600 ft16 gray-10">Admin dashboard</p>

  <div fxLayout="row" fxLayoutAlign="left " alt="stats-top" class="mgt05 mgb10" fxLayoutGap="1.5rem">
    <div class="w-40 radius10 shadowLight pdt10 mgb10 cards" alt="stats-enterprise" fxLayoutAlign="center center" fxLayout="column" style="height: 12vh; background-color: rgba(244, 244, 244, 0.362)">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" class="border-rl">
          <div fxLayout="column" class="mgr10" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Empresas Activas </span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 46 (HC)</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center " class="border-rl">
          <div fxLayout="column" class="mgr20 mgl20" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Empresas Demo </span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 10 (HC)</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="">
          <div fxLayout="column" class="mgl10" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Empresas totales </span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 56 (HC)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-40 radius10 shadowLight pdt10 mgb10 cards" alt="stats-users" fxLayoutAlign="center center" fxLayout="column" style="height: 12vh; background-color: rgba(244, 244, 244, 0.362)">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" class="border-rl">
          <div fxLayout="column" class="mgr10" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Usuarios Activos </span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 46 (HC)</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center " class="border-rl">
          <div fxLayout="column" class="mgr20 mgl20" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Usuarios Inactivos</span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 10 (HC)</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="">
          <div fxLayout="column" class="mgl10" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Usuarios Totales </span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 56 (HC)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-20 radius10 shadowLight pdt10 mgb10 cards" alt="stats-courses" fxLayoutAlign="center center" fxLayout="column" style="height: 12vh; background-color: rgba(244, 244, 244, 0.362)">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" class="">
          <div fxLayout="column" class="mgr10" fxLayoutAlign="center center">
            <span class="ft12 ft500" fxLayoutAlign="center center">Cursos Publicados </span>
            <span class="fh ft14 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> 46 (HC)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="left " alt="stats-mid" class="mgt05 mgb10" fxLayoutGap="1.0rem">
    <div fxLayout="column" class="w-80" fxLayoutAlign="left " fxLayoutGap="">
      <div fxLayout="row" class="fw" fxLayoutAlign="left " fxLayoutGap="1.5rem" style="margin-top: 3px">
        <div class="w-50 radius10 shadowLight pdt10 mgb10 cards" alt="mid-graph" fxLayoutAlign="center center" fxLayout="column" style="height: 30vh; background-color: rgba(244, 244, 244, 0.362)">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" class="mgr10" fxLayoutAlign="left ">
              <span class="ft13 ft500" fxLayoutAlign="center center">graph here </span>
              <span class="fh ft18 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> GRAPH (HC)</span>
            </div>
          </div>
        </div>
        <div class="w-50 radius10 shadowLight pdt10 mgb10 cards" alt="mid-graph2" fxLayoutAlign="center center" fxLayout="column" style="height: 30vh; background-color: rgba(244, 244, 244, 0.362)">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" class="mgr10" fxLayoutAlign="left ">
              <span class="ft13 ft500" fxLayoutAlign="center center">graph here </span>
              <span class="fh ft18 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> GRAPH (HC)</span>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="mgb05 fw mgt10" fxLayoutAlign="left " fxLayoutGap="1.5rem">
        <div class="fw radius10 shadowLight pdt10 cards" alt="mid-graph" fxLayoutAlign="center center" fxLayout="column" style="height: 32vh; background-color: rgba(244, 244, 244, 0.362)">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" class="mgr10" fxLayoutAlign="left ">
              <span class="ft13 ft500" fxLayoutAlign="center center">table here </span>
              <span class="fh ft18 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> table (HC)</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" class="w-20">
      <div class="radius10 shadowLight pdt10 mgb05 cards" alt="right-list" fxLayoutAlign="center center" fxLayout="column" style="height: 66vh; margin-left: 5px; background-color: rgba(244, 244, 244, 0.362)">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" class="mgr10" fxLayoutAlign="left ">
            <span> List user</span>
            <span> info user</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
