<div>
    <div *ngIf="selection.hasValue() && isAllSelected()" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center" class="mgt05">
        <img [src]="icon.redWarning2" alt="Warning">
        <div class="red-5">Se han seleccionado los usuarios de todas las páginas</div>
    </div>
    <table mat-table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null; emitSelectedUsers()"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row.uid) : null; emitSelectedUsers()"
                            [checked]="selection.isSelected(row.uid)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Nombre </th>
            <td mat-cell *matCellDef="let user"> 
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
                    <img [src]="user.photoUrl ? user.photoUrl : 'assets/images/default/default-user-image.jpg'" class="avatar2" alt="" >
                    <div fxLayout="column" fxLayoutAlign="center ">
                        <div class="ft500 ft13 black" style=" width: 150px; text-overflow: ellipsis">{{ user.displayName | titlecase }}</div>
                        <div class="ft11 gray-6">{{user.email}}</div>
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Profile Column -->
        <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Perfil </th>
            <td mat-cell *matCellDef="let user"> 
                <div class="move-right">
                    <span class="ft400 ft13" [ngClass]="user.profile ? 'blue-4' : 'gray-5'">{{ user.profile ? user.profile : 'Perfil sin asignar' }}</span>
                    <img *ngIf="user.profile" class="mgl05 makeBlue " [src]="icon.arrowForward" alt="Forward Arrow"> 
                </div>
                
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status" fxLayoutAlign="center center">
            <th mat-header-cell *matHeaderCellDef class="ft14" fxLayoutAlign="center center" style="margin-right: 5vw;" > Status </th>
            <td mat-cell *matCellDef="let user" class=""> 
                <!-- <div *ngIf="user.status === 'active'" class="chip backBlue1" fxLayout="row" fxLayoutAlign="center center">
                    <span class="ft13 nowrap ft400 blue-5">Activo</span>
                </div>
                <div *ngIf="user.status !== 'active'" class="chip backRed1" fxLayout="row" fxLayoutAlign="center center">
                    <span class="ft13 nowrap ft400 red-5">Inactivo</span>
                </div> -->
                <div class="pdl20 chip  " [ngClass]="user.status === 'active' ? 'backBlue1' : 'backRed1'" fxLayout="row" fxLayoutAlign="center center"  style=" margin-right: 5vw;" >
                    <span [ngClass]="user.status === 'active' ? 'blue-5' : 'red-5'" class="ft13 nowrap ft400" fxLayoutAlign="center center" style="width: 40px; ">{{user.statusDisplayText}}</span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container>
            <tr
                mat-row
                *matRowDef="let user; columns: displayedColumns;"
                class="cursorPointer"
                (click)="$event.stopPropagation(); selection.toggle(user.uid); emitSelectedUsers()"
                >
            </tr>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se han encontrado usuarios para el criterio de busqueda</td>
        </tr>
    </table>

    <mat-paginator
        aria-label="Select page of users"
        [pageSize]="pageSize"
        [length]="totalLength"
        (page)="onPageChange($event.pageIndex + 1)"
        ></mat-paginator>
</div>
  
  