.containerLeft {
    padding-bottom: 1rem !important;
    width: 320px;
    /* border-right: 1px solid var(--gray-3); */
}

.containerRight {
    /* width: 612px; */
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border: 1px solid transparent;
}

.trash:hover {
    /* Aquí puedes definir los estilos que representarían la clase `red-5` */
    filter: invert(31%) sepia(18%) saturate(7186%) hue-rotate(331deg) brightness(115%) contrast(86%);
}
.edit:hover{
    filter:invert(43%) sepia(91%) saturate(3168%) hue-rotate(180deg) brightness(94%) contrast(101%) !important;
}

/* Color de fondo cuando el chip está seleccionado */
.custom-chip {
    background-color: var(--gray-2) !important; /* Azul, pero puedes cambiarlo al color que desees */
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  /* Color de fondo cuando el chip está seleccionado */
  .custom-chip.mat-mdc-chip-selected {
    background-color: var(--blue-4) !important; /* Azul, pero puedes cambiarlo al color que desees */
  }
  
  /* Color del texto cuando el chip está seleccionado */
  .custom-chip.mat-chip-selected .mat-chip-label {
    color: white !important; /* Puedes cambiarlo si lo necesitas */
  }

  .pill {
    display: inline-block;
    padding:2px; /* Reduced padding for smaller design */
    border-radius: 12px; /* Adjusted border-radius for smaller pill */
    background-color: var(--blue-5); /* Color of the Material Design primary */
    color: #ffffff; /* White text color */
    font-size: 10px; /* Reduced font size */
    text-align: center;
    user-select: none; /* Prevent text selection */
    pointer-events: none; /* Makes it not clickable or focusable */
  }
  