<form [formGroup]="instructorForm" (ngSubmit)="onSubmit()" >
    <div class="modal-header bg-web-primary text-white px-3 py-1" fxLayoutAlign="space-between center" >
        <div class="modal-title pd10 ">
            <span class="ft16 ft600 gray-10">
                {{instructorToEdit ? (instructorToEdit.nombre | titlecase) : "Crear nuevo instructor"}}
            </span>
        </div>
        <img [src]="icon.close" class="h24px pdl5  pdr10 cursorPointer" alt="" (click)="dismiss()">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="modal-body">
        <div class="w-95">

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center" class="pdb10">
                <div>
                    <div (click)="fileInput.click()" class="cursorPointer">
                        <img [src]="imageUrlPhoto ? imageUrlPhoto : 'assets/images/default/default-user-image.jpg'" class="avatar6" alt="">
                    </div>
                    <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event,'foto')">
                </div>

                <div class="fw" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <input formControlName="nombre" [class.is-invalid]="instructorForm.get('nombre').errors && displayErrors" type="text" 
                               class="form-control radius20 shadow-animation borderLight"
                               placeholder="Nombre del instructor">
                      </div>
                      <div class="custom-invalid-feedback"
                           *ngIf="instructorForm.get('nombre').errors && displayErrors">
                        <div *ngIf="instructorForm.get('nombre').errors?.required">
                          Es obligatorio especificar el nombre del instructor
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <input formControlName="email" [class.is-invalid]="instructorForm.get('email').errors && displayErrors" type="email" 
                            class="form-control radius20 shadow-animation borderLight"  placeholder="email del instructor"  >
                            <button type="button" (click)="createUser()" *ngIf="instructorToEdit && !instructorToEdit?.uid" [disabled]="savingChanges" class="blueButtonAnim button-animation h28px" fxLayout="row" fxLayoutAlign="center center" >
                                Crear usuario
                            </button>
                        </div>
                      <div class="custom-invalid-feedback"
                           *ngIf="instructorForm.get('email').errors && displayErrors">
                        <div *ngIf="instructorForm.get('email').errors?.required">
                          Es obligatorio especificar el email del instructor
                        </div>
                      </div>
                </div>
                
            </div>
            <div fxLayout="row"  fxLayoutAlign="left " class="pdt10 border-tl">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" left" class="w-50  mgr05">
                    <label for="">Descripción</label>
                    <div style="position: relative">
                        <textarea
                            maxlength="500"
                            style="height: 300px; resize: none;"
                            formControlName="descripcion"
                            [class.is-invalid]="instructorForm.get('descripcion').errors && displayErrors"
                            class="form-control pdl20  radius20 shadow-animation borderLight hideScroll"
                            placeholder="Descripción">
                        </textarea>
                    </div>
                </div>

                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign=" left" class="w-50  mgl05">
                    <label for="">Porcentaje regalias</label>
                    <div style="position: relative">
                        <img [src]="icon.information" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
                        <input
                            formControlName="porcentaje"
                            [class.is-invalid]="instructorForm.get('porcentaje').errors && displayErrors"
                            type="number" 
                            class="form-control pdl20  radius20 shadow-animation borderLight"
                            placeholder="Porcentaje regalias" >
                    </div>
                    <label for="">Firma</label>
                    <div (click)="fileInputFirma.click()" fxLayout="row" fxLayoutAlign="center center" class="radius20 shadow-animation borderLight cursorPointer" style="height: 100%; max-height: 100% !important;">
                      <img *ngIf="imageUrlFirma && !imageLoadError" [src]="imageUrlFirma" (error)="handleImageError()" alt="Firma" style="width: 100%; max-height: 219px; object-fit: contain;">
                      <div fxLayout="column" *ngIf="!imageUrlFirma || imageLoadError">
                        <img [src]="icon.arrowUp" class="makeGray h16px" alt="">
                        <span class="pdt10" *ngIf="!imageLoadError">Haga clic aquí para anexar la firma.</span>
                        <span class="pdt10" *ngIf="imageLoadError">Firma inválida. Haga clic aquí para anexar la firma.</span>
                      </div>
                    </div>
                    <input #fileInputFirma type="file" style="display: none;" (change)="onFileSelected($event, 'firma')">
                </div>
            </div>

            <div class="mgt10" style="display: flex; align-items: center; justify-content: center">
                <!-- Contenedor para los dos botones de la derecha -->
                <button [disabled]="savingChanges"
                class="blueButtonAnim button-animation h28px mgr10"
                fxLayout="row"
                fxLayoutAlign="center center"
                type="submit">
                    <!-- Spinner que solo se muestra cuando savingChanges es true -->
                    <mat-spinner *ngIf="savingChanges" diameter="20" class="spinner-blanc"></mat-spinner>
                    <!-- Texto del botón que siempre se muestra -->
                    {{ instructorToEdit ? "Guardar" : "Crear" }} Instructor
                </button>
            </div>

        </div>

    </div>
</form>
