<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10">Productos</p>
    <div fxLayout="column" class="mgt03 ">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" class="">
            <mat-tab-group class="swal-overlay" class="fw">
                <mat-tab label="Disponibles">
                    <app-product-list class=""></app-product-list>
                </mat-tab>
                <mat-tab label="Cupones">
                    <app-coupons-list></app-coupons-list>     
                </mat-tab>
            </mat-tab-group>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="fw vh50 " >
        </div>
    </div>
</div>    
