<table mat-table [dataSource]="dataSource">

    <!-- Departamento Column -->
    <ng-container matColumnDef="departmentName">
        <th class="ft10 gray-10" mat-header-cell *matHeaderCellDef>Departamento</th>
        <td class="ft10 gray-10" mat-cell *matCellDef="let profile">{{profile.departmentName}}</td>
    </ng-container>

    <!-- Perfil Column -->
    <ng-container matColumnDef="profileName">
        <th class="w-25 ft10 gray-10" mat-header-cell *matHeaderCellDef>Perfil</th>
        <td class="w-25 ft10 gray-10" mat-cell *matCellDef="let profile">{{profile.name}}</td>
    </ng-container>

    <!-- Horas Column -->
    <ng-container matColumnDef="hours">
        <th class="w-10 ft10 gray-10" mat-header-cell *matHeaderCellDef>Horas por semana</th>
        <td class="w-10 ft10 gray-10" mat-cell *matCellDef="let profile">
            <div fxLayout="row" fxLayoutAlign="center center">
                <input type="number" placeholder="Horas" class="w30px" min="1" max="8" [(ngModel)] ="profile.hours" (ngModelChange)="hasFormChanged = true"/>
            </div>
        </td>
    </ng-container>

    <!-- Libertad Column -->
    <ng-container matColumnDef="liberty">
        <th class="w-15 ft10 gray-10" mat-header-cell *matHeaderCellDef>Libertad de estudio</th>
        <td class="w-15 ft10 gray-10" mat-cell *matCellDef="let profile">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
                <span class="ft10 gray-10">Libre</span>
                <span class="ft10 gray-10 mgl15">Estricto</span>
                <span class="ft10 gray-10 mgl05">Solicitudes</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="h24px">
                <mat-slider min="1" max="3" step="1" showTickMarks>
                    <input matSliderThumb [(ngModel)] ="profile.liberty" (ngModelChange)="hasFormChanged = true">
                </mat-slider>
            </div>
        </td>
    </ng-container>

    <!-- Generación Column -->
    <ng-container matColumnDef="generation">
        <th class="w-20 ft10 gray-10" mat-header-cell *matHeaderCellDef>Generación de cronograma</th>
        <td class="w-20" mat-cell *matCellDef="let profile">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
                <span class="ft10 gray-10">Optimizada</span>
                <span class="ft10 gray-10">Confirmar</span>
                <span class="ft10 gray-10">Por defecto</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="h24px">
                <mat-slider min="1" max="3" step="1" showTickMarks>
                    <input matSliderThumb [(ngModel)] ="profile.generation" (ngModelChange)="hasFormChanged = true">
                </mat-slider>
            </div>
        </td>
    </ng-container>

    <!-- Intentos Column -->
    <ng-container matColumnDef="attempts">
        <th class="w-20 ft10 gray-10" mat-header-cell *matHeaderCellDef>Intentos por examen</th>
        <td class="w-20 ft10 gray-10" mat-cell *matCellDef="let profile">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-90 mgl05">
                <span class="ft10 gray-10">1</span>
                <span class="ft10 gray-10">2</span>
                <span class="ft10 gray-10">3</span>
                <span class="ft10 gray-10">4</span>
                <span class="ft10 gray-10">5</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="h24px">
                <mat-slider min="1" max="5" step="1" showTickMarks >
                    <input matSliderThumb [(ngModel)] ="profile.attempts" (ngModelChange)="hasFormChanged = true">
                </mat-slider>
            </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let profile; columns: displayedColumns;"></tr>

</table>
<mat-paginator
    *ngIf="enablePagination"
    aria-label="Select page of table"
></mat-paginator>
<button *ngIf="hasFormChanged" class="blueButton btn" (click)="onSave()">Guardar cambios</button>