.contentContainer {
    margin: 0 auto;
    top: 0px;
    height: calc(100vh - 80px);
    width: 60%;
    background: var(--gray-1) !important;
    overflow-y: auto;
    padding: 3rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .formGroupHorizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .formGroup-center {
    align-items: center;
    justify-content: center;
  }
  
  .activeProduct {
    color: var(--green-5);
    font-weight: 500;
  }
  
  .inactiveProduct {
    color: var(--red-5);
    font-weight: 500;
  }

  