<ng-container>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div>
            <span class="ft16 ft500 gray-10">{{ this.productForm.controls.id.value == "" ? "Nuevo" : "Editar" }} Producto</span>

            <div class="mgt10" fxLayout="row" fxLayoutGap="2.5rem" fxLayoutAlign=" center">
                <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".75rem">
                    <span class="gray-9 ft12 ft500">Estatus:</span>
                    <div fxLayout="column" fxLayoutAlign="center" [ngClass]="productForm.controls.active.value ? 'ft12 green-4' : 'ft12 red-4'" for="active">
                        {{ productForm.controls.active.value ? "Activo" : "Inactivo" }}
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center" 
                    [ngClass]="productForm.controls.active.value ? 'backRed5 ft11 pdt03 pdb03 pdl10 pdr10 radius6 cursorPointer' : 
                    'backBlue5 ft11 pdt03 pdb03 pdl10 pdr10 radius6 cursorPointer'" (click)="toggleProductActiveState()">
                        <span class="ft11 gray-1">{{ productForm.controls.active.value ? "Desactivar" : "Activar" }}</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".75rem">
                    <label for="priority" class="gray-9 ft11">Prioridad:</label>
                    <input min="0" max="5" (disabled)="(true)" id="priority" type="number" formControlName="priority" style="width: 40px;"/>
                    <input hidden id="active" type="checkbox" formControlName="active" />
                    <input hidden id="id" type="text" formControlName="id" />
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2rem" class="mgt10">
            <!-- Información general -->
            <div fxLayout="column" class="">
                <div>
                    <span class="ft13 gray-9 ft500">Información general</span>
                </div>
                <div class="fw" fxLayout="column">
                    <div class="fw" fxLayout="column">
                        <label for="name" class="gray-9 ft11">Nombre:</label>
                        <input class="backWhite fw" id="name" type="text" formControlName="name" [readonly]="product.id ? true : false" />
                    </div>

                    <div class="mgt10" fxLayout="column">
                        <label for="description" class="gray-9 ft11">Descripción:</label>
                        <textarea id="description" type="text" autocomplete="off" class="backWhite fw" formControlName="description"></textarea>
                    </div>

                    <div class="fw" fxLayout="row">
                        <div class="fw" fxLayout="column">
                            <label for="acceptsStripe" class="gray-9 ft11">Acepta Stripe:</label>
                            <input id="acceptsStripe" type="checkbox" formControlName="acceptsStripe" />
                        </div>
                        <div class="fw" fxLayout="column">
                            <label for="acceptsBankTransfer" class="gray-9 ft11">Acepta Transferencia:</label>
                            <input id="acceptsBankTransfer" type="checkbox" formControlName="acceptsBankTransfer" />
                        </div>
                        <div class="fw" fxLayout="column">
                            <label for="acceptsZelle" class="gray-9 ft11">Acepta Zelle:</label>
                            <input id="acceptsZelle" type="checkbox" formControlName="acceptsZelle" />
                        </div>
                        <div class="fw" fxLayout="column">
                            <label for="acceptsPaypal" class="gray-9 ft11">Acepta Paypal:</label>
                            <input id="acceptsPaypal" type="checkbox" formControlName="acceptsPaypal" />
                        </div>
                        <div class="fw" fxLayout="column">
                            <label for="canEnrollByHimself" class="gray-9 ft11">Puede inscribirse en cualquier curso:</label>
                            <input id="canEnrollByHimself" type="checkbox" formControlName="canEnrollByHimself" />
                        </div>
                        <div class="fw" fxLayout="column">
                            <label for="canEnrollPrograms" class="gray-9 ft11">Puede inscribirse en cualquier programa:</label>
                            <input id="canEnrollPrograms" type="checkbox" formControlName="canEnrollPrograms" />
                        </div>
                        <!-- EMPRESAS -->
                        <div class="fw" fxLayout="column">
                            <label for="isACompanyProduct" class="gray-9 ft11">Pertenece a empresa:</label>
                            <input id="isACompanyProduct" type="checkbox" formControlName="isACompanyProduct" />
                        </div>
                    </div>
                </div>

                <div class="mgt20">
                    <div class="fw" fxLayout="column" formArrayName="features">
                        <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign=" center">
                            <div>
                                <span class="ft15 gray-9 ft500">Características</span>
                            </div>
                            <div fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" 
                            style="border-radius: 24px !important; height: 28px;" (click)="addFeature()">
                                <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
                                Añadir
                            </div>
                        </div>
                        <div class="mgt05" *ngFor="let feature of features.controls; let i = index" [formGroupName]="i" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
                            <input class="backWhite fw gray-8" type="text" name="added_features" formControlName="text" />
                            <input type="checkbox" formControlName="isActive" />
                            <mat-icon (click)="removeFeature(i)" class="ft18 red-5">delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mgt20">
            <button [disabled]="!productForm.valid" class="blueButton w100px" type="submit">Guardar</button>
        </div>
    </form>
</ng-container>