<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10">Licencias y suscripciones</p>
    <!-- license list -->
    <div fxLayout="column" class="mgt03">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="1rem"> 
                <p class="ft600 ft14 gray-10 mgb0">Licencias</p>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="fw vh50 " >
            <app-licenses-list class="fw"></app-licenses-list>
        </div>
    </div>
    <!-- subsciptions list -->
    <div fxLayout="column" class="mgt05">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="1rem">
                <p class="ft600 ft14 gray-10 mgb0">Suscripciones</p>
                <div class="shadow-animation radius20">
                    <app-search-input-box class=""></app-search-input-box>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="fw vh50 pdb22" >
            <app-subscriptions-list class="fw"></app-subscriptions-list>
        </div>
    </div>

</div>    
