<div fxLayout="column" class="pd10" ngClass="containerPC" ngClass.lt-md="containerMobile" style="width: 500px">
    <div fxLayout="row" class=" bg-web-primary text-white px-3 py-1 mgb10" fxLayoutAlign="space-between center" >
        <div class="  " style="margin-bottom: -15px !important;">
            <span class="ft16  ft600 gray-10">
                Adquirir licencias
            </span>
        </div>
        <div class="  ">
            <img [src]="icon.close" class="h24px    cursorPointer" alt="" (click)="salir()"  style="margin-bottom: -10px;">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mgb10 border-bl" fxLayoutGap=".5rem" >
    </div>
    <div fxLayout="column"  class="   " fxLayoutAlign="center center" fxLayoutGap=".5rem"  >
        <label class="gray-10 ft500 centertext ft14 " style="width: 70%;">Cantidad de licencias:</label>

        <div class="  radius20" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center">
            <div class="fw mgb05 borderLight shadow-animation radius20   " fxLayout="row" fxLayoutAlign=" center">
                <input [(ngModel)]="licensesQty" type="number" min="1"  class="searchBar ft14 centertext " 
                style="width: 90%; outline: none; border: 0;  background-color: transparent;"
                placeholder="">
            </div>
            
        </div>


        <!-- <input type="number" min="1" class="ft14 gray-8  centertext inputNumber" fxLayoutAlign="end"  [(ngModel)]="licensesQty" style=" width: 10%;"></div> -->
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="1rem" fxLayoutGap.lt-md="0rem"  class="fw  containerTabla ">    
        <span  class="ft14 ft500 gray-6  " fxLayoutAlign="center center" >Enviar solicitud via:</span>


        <div *ngIf="enterprise" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mgb03">
            <div fxLayout="column" fxLayout.lt-md="row"  fxLayoutAlign.lt-md="center center" ngClass="blueBorderContainer centertext " style="width: 45%;" fxLayoutAlign="center center" fxLayoutGap=".5rem"
            (click)="openWhatsappContacto()" fxLayout="column">
                <img [src]="icon.whatsapp_blue " class="" alt="" ngClass="h40px" ngClass.lt-md="h26px">
                <span class="ft500 ft14 nowrap"> Whatsapp </span>
            </div>
            <div fxLayout="column" fxLayout.lt-md="row"  fxLayoutAlign.lt-md="center center" ngClass="blueBorderContainer centertext " style="width: 45%" fxLayoutAlign="center center" fxLayoutGap=".5rem"
                (click)="emailContacto()" fxLayout="column">
                <img [src]="icon.email" alt="" ngClass="h40px makeBlue" ngClass.lt-md="h26px">
                <span class="ft500 ft14 nowrap">Correo</span>
            </div>
        </div>



    </div>
</div>

