<div class="mgt20 mgl20 mgr20">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="">
    <p class="ft600 ft16 gray-10">Usuarios</p>
    <div fxLayout="row" fxLayoutAlign="start center" class="">
      <span class="pdr03">Selecciona el tipo de tabla que deseas cargar:</span>
        <select [(ngModel)]="view">
            <option [ngValue]="0">Usuarios por buscador</option>
            <option [ngValue]="1">Todos los usuarios</option>
        </select>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mgb05">
    <div class="radius10 shadowLight pdt10 cards" alt="stats-users" fxLayoutAlign="center center" fxLayout="column" style="height: 10vh; background-color: rgba(244, 244, 244, 0.362)">
      <div fxLayout="row" class="mgb08" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" class="border-rl">
          <div fxLayout="column" class="mgr10 mgl20" fxLayoutAlign="center center">
            <span class="ft08 ft500 mgt08" fxLayoutAlign="center center">Usuarios Activos </span>
            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> {{ estadisticas.usuariosActivos }}</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center " class="border-rl">
          <div fxLayout="column" class="mgr20 mgl20" fxLayoutAlign="center center">
            <span class="ft08 ft500 mgt08" fxLayoutAlign="center center">Usuarios Inactivos</span>
            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> {{ estadisticas.usuariosInactivos }}</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="">
          <div fxLayout="column" class="mgr20 mgl10" fxLayoutAlign="center center">
            <span class="ft08 ft500 mgt08" fxLayoutAlign="center center">Usuarios Totales </span>
            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center"> {{ estadisticas.usuariosTotales }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign=" center" class="radius20 mgr20 " style="width: 30%;">
            <app-search-input-box  fxLayoutAlign=" center" class="shadow-animation radius20 fw" style="height: 38px;  "></app-search-input-box>
        </div> -->
    <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="createParticularStudent()"><img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="" />Nuevo Usuario Particular</button>
    <!-- <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="getReporteUser()"><img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="" />Reporte</button> -->

    <div fxLayout="row" fxLayoutAlign=" center" class="h36px radius20 w500px shadow-animation w-30 mgr20" style="overflow: hidden">
      <app-status-selector origin="StudentsComponent" class="fh"></app-status-selector>
      <app-search-input-box class="fw"></app-search-input-box>
    </div>
  </div>
  <!-- student list -->
  <div fxLayout="column" fxLayoutAlign="center center" class="fw vh50 pdr20">
    <app-admin-student-list-light *ngIf="view === 0" class="fw" (totalUsers)="getUsers($event)" (onStudentSelected)="onStudentSelected($event)" [newUser]="newUser" [authUser]="authUser"></app-admin-student-list-light>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="fw vh50 pdr20">
    <app-admin-student-list *ngIf="view === 1" class="fw" (totalUsers)="getUsers($event)" (onStudentSelected)="onStudentSelected($event)" [newUser]="newUser" [authUser]="authUser"></app-admin-student-list>
  </div>
</div>
