.libertyTooltip{
    position: absolute;
    left: 12rem;
    top: 0rem;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: var(--shadow16);
    background-color: white;
    z-index: 1000;
}

.generationTooltip{
    position: absolute;
    left: 15rem;
    top: 0rem;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: var(--shadow16);
    background-color: white;
    z-index: 1000;
}

.positionRelative{
    position: relative;
}

.level-bar {
    /* display: flex; */
    width: 45px;
    height: 20px;
}

.block {
    width: 33.33%; /* Divide la barra de nivel en tres partes iguales */
    height: 100%;
    background: #eaeaea; /* Color de fondo básico para la barra */
}

.block.standard {
    background-color: green;
}

.block.strict {
    background-color: rgb(255, 208, 0);
}

.block.strict.op {
    background-color: rgb(255, 208, 0);
    opacity: 0.4;
}
