.level-bar {
    /* display: flex; */
    width: 45px;
    height: 20px;
}

.block {
    width: 33.33%; /* Divide la barra de nivel en tres partes iguales */
    height: 100%;
    background: #eaeaea; /* Color de fondo básico para la barra */
}

.block.standard {
    background-color: green;
}

.block.strict {
    background-color: rgb(255, 208, 0);
}

.block.strict.op {
    background-color: rgb(255, 208, 0);
    opacity: 0.4;
}
