
.cuadrito{
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    margin-right: .7rem !important;
}
.graphContainer{
    width: 12vw;
    
}
.altoPunto {
    background-color: #AFEF9F;
}
.medioPunto{

    background-color: rgb(255, 221, 0);
}
