<span class="gray-10">Empresa</span>    
<div fxLayout="row" fxLayoutAlign="space-between center" class="card-container-sm mgr10 pd05">
    <div>
        <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
        [src]="user.photoUrl" class="avatar5" alt="">
        <span class="mgl10 ft16 ft600 gray-10">{{enterprise.name}}</span>
    </div>
    <div>
        <div fxLayout="row">
            <img [src]="icon.camera" class=" makeGray h14px" alt=""><span class="mgl03">facebook</span>
        </div>
        <div fxLayout="row" class="mgt05">
            <img [src]="icon.instagram_gray" class=" makeGray h14px" alt=""><span class="mgl03">instagram</span>
        </div>
        <div fxLayout="row" class="mgt05">
            <img [src]="icon.camera" class=" makeGray h14px" alt=""><span class="mgl03">www.sitioweb.com</span>
        </div>
        <div fxLayout="row" class="mgt05">
            <img [src]="icon.linkedin_gray" class=" makeGray h14px" alt=""><span class="mgl03">linkedin</span>
        </div>
    </div>
    <div fxFlexAlign="start">
        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="">
    </div>
</div>
