<div fxLayout="column" class="card-container-lg mgt05 mgl10 pd05">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="gray-10" >Información personal</span>
        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="">
    </div>
    <div fxLayout="column" class="mgl05">
        <div fxLayout="row" fxLayoutAlign="space-between start">

            <div fxLayout="column" class="mgt05">
                <span class="makeGray">Nombre (s)</span>
                <span>Carlos</span>

                <span class="makeGray mgt03">Mail</span>
                <span>carlosmtz@gmail.com</span>

                <span class="makeGray mgt03">Cargo</span>
                <span>Ing. Industrial</span>
            </div>

            <div fxLayout="column" class="mgt05">
                <span class="makeGray">Apellido (s)</span>
                <span>Martínez Encinas</span>

                <span class="makeGray mgt03">Teléfono</span>
                <span>123 45 67 89</span>
            </div>

        </div>
        
    </div>
    <span class="mgt20 mgb05 gray-10">Dirección</span>
    <div fxLayout="column" class="mgl05">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
                <span class="makeGray">País</span>
                <span>Mexico</span>
            </div>
            <div fxLayout="column">
                <span class="makeGray">Ciudad / Estado</span>
                <span>Santiago de Querétaro</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" class="mgt03">
                <span class="makeGray">CP</span>
                <span>78904</span>
            </div>
        </div>
    </div>
</div>