<div fxLayout="column" class="card-container-lg mgt05 mgl10 pd05">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="gray-10" >Información personal</span>
        <img [src]="icon.licencias" class=" makeGray h20px cursorPointer" alt="" (click)="onClick()">
    </div>
    <form *ngIf="adminUser$ | async as adminUser" [formGroup]="form" (ngSubmit)="onSubmit()" > 
        <div fxLayout="column" class="mgl05">
            <div fxLayout="row" fxLayoutAlign="space-between start">
    
                <div fxLayout="column" class="mgt05">
    
                    <span class="makeGray mgt03">Mail</span>
                    <span>
                        {{adminUser.email}}
                    </span>
    
                    <span class="makeGray mgt03">Cargo</span>
                    <span *ngIf="!isEditing">
                        {{form.get('job').value ? form.get('job').value : onNullFormValues.job}}
                    </span>
                    <input *ngIf="isEditing" type="text" placeholder="Introduzca el Cargo" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="job">
                </div>
    
                <div fxLayout="column" class="mgt05">
    
                    <span class="makeGray mgt03">Teléfono</span>
                    <span *ngIf="!isEditing">
                        {{form.get('phoneNumber').value ? form.get('phoneNumber').value : onNullFormValues.phoneNumber}}
                    </span>
                    <input *ngIf="isEditing" type="number" placeholder="Introduzca el Teléfono" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="phoneNumber">
                </div>
    
            </div>
            
        </div>
        <span class="mgt20 mgb05 gray-10">Dirección</span>
        <div fxLayout="column" class="mgl05">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column">
                    <span class="makeGray">País</span>
                    <span *ngIf="!isEditing">
                        {{form.get('country').value ? form.get('country').value : onNullFormValues.country}}
                    </span>
                    <input *ngIf="isEditing" type="text" placeholder="Introduzca el País" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="country">
                </div>
                <div fxLayout="column">
                    <span class="makeGray">Ciudad / Estado</span>
                    <span *ngIf="!isEditing">
                        {{form.get('city').value ? form.get('city').value : onNullFormValues.city}}
                    </span>
                    <input *ngIf="isEditing" type="text" placeholder="Introduzca la Ciudad" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="city">
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" class="mgt03">
                    <span class="makeGray">CP</span>
                    <span *ngIf="!isEditing">
                        {{form.get('zipCode').value ? form.get('zipCode').value : onNullFormValues.zipCode}}
                    </span>
                    <input *ngIf="isEditing" type="number" placeholder="Introduzca el Código Postal" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="zipCode">
                </div>
            </div>
        </div>
    </form>
</div>