<div class="container slider" fxLayout="column" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div>
            <span class="ft20 gray-10 ft500">Crear nueva licencia</span>
        </div>
        <div fxLayout="row" fxLayoutGap="1.5rem" class="mgt10">
            <div fxLayout="column">
                <span class="ft11 gray-9">Identificador:</span>
                <span class="ft11 gray-10">{{license.id}}</span>
            </div>
            <div fxLayout="column">
                <span class="ft11 gray-9">Fecha de creación:</span>
                <span class="ft11 gray-10">{{license.createdAt | date:"dd/MM/yyyy hh:mm a"}}</span>
            </div>
        </div>
        <div class="fw mgt10" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2rem">
            <div fxLayout="column" class="fw">
                <div class="h50px" fxLayout="column">
                    <span class="ft11 gray-9">Comienzo de la suscripción:</span>
                    <!-- <input type="datetime-local" [(ngModel)]="_date" (ngModelChange)="onDateChange()"> -->
                    <input type="datetime-local" formControlName="startDate">

                </div>
                <div fxLayout="column" class="mgt05 h50px">
                    <span class="ft11 gray-9">Producto</span>
                    <mat-select placeholder="Seleccione el producto" formControlName="productId" >
                        <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
                    </mat-select>
                </div>
                <div fxLayout="column" class="mgt05 h50px">
                    <span class="ft11 gray-9">Precio</span>
                    <mat-select placeholder="Seleccione el precio" (ngModelChange)="getCurrentTimes()" formControlName="priceId">
                        <mat-option *ngFor="let price of getFilteredPrice()" [value]="price.id">$ {{price.amount}}
                        </mat-option>
                    </mat-select>
                </div>
                <div fxLayout="column" class="mgt05 h50px">
                    <span class="ft11 gray-9">Descuento</span>
                    <mat-select placeholder="Seleccione el descuento si aplica" formControlName="couponId">
                        <mat-option *ngFor="let coupon of getFilteredCoupons()" [value]="coupon.id">
                            <span>{{coupon.name}}</span>
                        </mat-option>
                    </mat-select>
                </div>
    
            </div>
            <div fxLayout="column" class="fw">
                <div fxLayout="column" class="h50px">
                    <span class="ft11 gray-9">Comienzo de período actual:</span>
                    <span class="ft12 mgt05 gray-10">{{license.currentPeriodStart| date:"dd/MM/yyyy"}}</span>
                </div>
                <div fxLayout="column" class="mgt05 h50px">
                    <span class="ft11 gray-9">Final de período actual:</span>
                    <span class="ft12 mgt05 gray-10" *ngIf="form.get('priceId')?.value">{{getPeriodEnd()| date:"dd/MM/yyyy"}}</span>
                </div>
    
                <div fxLayout="column" class="mgt05 h50px">
                    <span class="ft11 gray-9">Estatus:</span>
                    <mat-select placeholder="Seleccione el descuento si aplica" formControlName="status">
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="trialing">Trialing</mat-option>
                        <mat-option value="unpaid">Unpaid</mat-option>
                        <mat-option value="canceled">Canceled</mat-option>
                        <mat-option value="incomplete">Incomplete</mat-option>
                    </mat-select>
                </div>
                <div fxLayout="column" class="mgt05 h50px" *ngIf="form.get('status')?.value == 'trialing'">
                    <span class="ft11 gray-9">Días de prueba:</span>
                    <input type="number" formControlName="trialDays">
                </div>
                <div fxLayout="column" class="mgt05 h50px">
                    <span class="ft11 gray-9">Cantidad de licencias:</span>
                    <input type="number" min="1" formControlName="quantity">
                </div>
            </div>
        </div>
        <div *ngIf="showAlertText" class="mgt03" fxLayout="row" fxLayoutAlign="center center">
            <span style="color: red !important">Debes elegir un producto y un precio.</span>
        </div>
        <div class="fw mgt10" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
            <button class=" blueButtonAnim button-animation h28px mgr10 " fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" type="submit">
                <mat-icon class="ft16 gray-1 pd0">save</mat-icon>
                Guardar
            </button> 
            <button class=" redButtonAnim button-animation h28px mgr10 " fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" 
            type="button" (click)="cancel()" >
                <mat-icon class="ft16 gray-1 pd0">cancel</mat-icon>
                Cancelar
            </button> 
        </div>
    </form>
</div>
  