.main_layout {
    display: flex;
    width: 100vw;
    height: calc(100vh - 48px);
}

.main_top{
    height: 48px;
    background-color: var(--gray-2);
    padding-left: 1rem;
    padding-right: 1rem;
}

.main_content_container {
    width: 100%; 
    height: calc(100vh - 48px); 
    background: var(--gray-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.redDot{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: var(--red-5);
}

.searchBar{
    background-color: #DEDEDE;
    position: relative;
    left: 100px;
    height: 32px;
    width: 300px;
}

.inputSearchBar{
    background-color: transparent;
    border: none;
    color: var(--gray-8);
}

.inputSearchBar::placeholder{
  
    color: var(--gray-8);
}

.inputSearchBar:focus{
    outline: none;
}

.main_content {
    background-color: white;
    width: 100%;
    height: 100%;
    /* padding: 30px; */
    border-radius: 10px 10px 0 0;
    /* overflow: scroll; */
    overflow: auto;
}

.sidenav {
    width: 4vw !important;
    height: 100vh;
    background-color: var(--gray-2);
    transition: .3s ease-in-out;
}

.sidenavExpanded {
    width: 150px;
    height: calc(100vh - 48px);
    background-color: var(--gray-2);
    transition: .3s;
}


