<!-- <div fxLayout="column" class="mgt10">
    <div fxLayout="row" fxLayoutAlign="start center">
        <img [src]="icon.checkCircle" alt="Ícono">
        <span class="ft600 gray-10">Presente | </span>
        <img [src]="icon.notification" alt="Ícono">  
        <span class="ft600 gray-10">{{studentProfile.name}}</span> 
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class="mgt10">
        <div class="w-30" fxLayout="column" fxLayoutGap="0.3rem" >
            <app-student-profile [student]="student" [isStudentProfile]="true" style="height: 300px;"></app-student-profile>
        </div>
        <div fxLayout="column" class="w-30 radius10 border pd10" style="height: 300px;">
            <div fxLayout="row" fxLayoutAlign="center center" class="mgb20">
                <span class="ft500 ft20">Información básica</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="mgt05">
                <div fxLayout="column" fxLayoutAlign=" start" fxLayoutGap="0.5rem">
                    <span>Horas asignadas</span>
                    <span>Inicio de plan de estudios</span>
                    <span>Descripción del perfil</span>
                </div>
                <div fxLayout="column" fxLayoutAlign=" end" fxLayoutGap="0.5rem">
                    <span>{{"N/A"}}</span>
                    <span>{{"N/A"}}</span>
                    <span>{{"N/A"}}</span>
                </div>
            </div>
        </div>
        <div class="w-30 radius10 border">
            <app-ranking-list style="height: 300px;"></app-ranking-list>
        </div>
    </div>    
    <div class="radius10 border mgt10" style="height: 400px;"></div>
</div> -->

<div fxLayout="column" class="mgt10 container">
    <!-- 3 cards top -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mgt10">
        <!-- Informacion del usuario-->
        <div class="w-30 radius10 border cards" fxLayout="column" style="height: 15rem">
            <app-student-info-form class="fh" [student]="student" [studentProfile]="studentProfile"  (onStudentSave)="onStudentSaveHandler($event)"></app-student-info-form>
        </div>
        <!-- Tiempode estudio -->
        <div class="w-30 radius10 border pd10 cards" fxLayout="column" fxLayoutGap="0.3rem" style="height: 15rem;">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                <img [src]="icon.clock" class="makeBlue h16px" alt="">
                <span class="ft500 black undrl ft14 ft600 black">Tiempo de estudio</span>
            </div>
            <!-- Chart -->
            <div class="border radius10 pd05" fxLayout="row" fxLayoutAlign="space-between center">
                <div style="height: 150px;">
                    <span> Aqui va la grafica</span>
                </div>
            </div>
        </div>
        <!-- Progreso -->
        <div class="w-30 radius10 border pd10 cards" fxLayout="column" fxLayoutGap="0.3rem" style="height: 15rem;">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                <img [src]="icon.dashboard" class="makeBlue h16px" alt="">
                <span class="ft500 black undrl ft14 ft600 black">Progreso</span>
            </div>
            <!-- Chart -->
            <div class="border radius10 pd05" fxLayout="row" fxLayoutAlign="space-between center">
                <div style="height: 150px;">
                    <span> Aqui va la grafica</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="ft14 ft500 black">El ritmo es ...</span>
            </div>
        </div>
    </div>
    
    <!-- 2 cards bottom -->
    <div fxLayout="column" >
        <app-student-study-plan-and-competences [student]="student" [selectedProfile]="studentProfile" class="fw"></app-student-study-plan-and-competences>
    </div>
</div>