<div fxLayout="row"  fxLayoutAlign="space-between center" class="mgt10">
	<button class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="openModal()">
		<img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="" />Asignar a usuario
	</button>
	<button class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="downloadExcel()">
		<img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="" />Descargar Datos
	</button>
</div>

<div class="mgt10">
	<table mat-table [dataSource]="dataSource">
		<!-- userEmail Column -->
		<ng-container matColumnDef="userEmail">
			<th mat-header-cell *matHeaderCellDef class="ft14">Correo del estudiante</th>
			<td mat-cell *matCellDef="let data" class="ft500 ft14 gray-10">{{ data.userEmail }}</td>
		</ng-container>

		<!-- userName Column -->
		<ng-container matColumnDef="userName">
			<th mat-header-cell *matHeaderCellDef class="ft14 centertext">Nombe del estudiante</th>
			<td mat-cell *matCellDef="let data" class="centertext ft14">{{ data.userName | titlecase}}</td>
		</ng-container>

		<!-- diagnosticTest Column -->
		<ng-container matColumnDef="diagnosticTest">
			<th mat-header-cell *matHeaderCellDef class="ft14 centertext">Diagnostico</th>
			<td mat-cell *matCellDef="let data" class="centertext ft14">{{ "Diagnostico" }}</td>
		</ng-container>

		<!-- finalTest Column -->
		<ng-container matColumnDef="finalTest">
			<th mat-header-cell *matHeaderCellDef class="ft14 centertext">Fin</th>
			<td mat-cell *matCellDef="let data" class="centertext ft14">{{ "Fin"}}</td>
		</ng-container>

        <!-- certificate Column -->
		<ng-container matColumnDef="certificate">
			<th mat-header-cell *matHeaderCellDef class="ft14 centertext">Certificado</th>
			<td mat-cell *matCellDef="let data" class="centertext ft14">{{ "Certificado" }}</td>
		</ng-container>

		<!-- attendance Column -->
		<ng-container matColumnDef="attendance">
			<th mat-header-cell *matHeaderCellDef class="ft14 centertext">Asistencia</th>
			<td mat-cell *matCellDef="let data" class="centertext ft14">
				<input type="checkbox" [checked]="data.isAttending" (change)="onAttendanceChange($event, data)" />
			</td>
		</ng-container>


		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let data; columns: displayedColumns" (click)="onSelect(data)" class=""></tr>

		<!-- Row shown when there is no matching data. -->
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="6">Aún no existen estudiantes inscritos.</td>
		</tr>
	</table>

	<mat-paginator
		aria-label="Select page of products"
		[pageSize]="pageSize"
		[length]="totalLength"
		(page)="onPageChange($event.pageIndex + 1)">
    </mat-paginator>
</div>

