<div fxLayout="row" fxLayoutAlign="end center" class="mgt10">
  <button class="botonSecundario" style="border-radius: 24px !important" (click)="downloadExcel()">
    <img [src]="icon.addNew" class="h16px pdr05 makeBlue" alt="" />Descargar Datos
  </button>
  <button *ngIf="!courseDetails.diplomadoLiveRef" class="blueButtonAnim button-animation" style="border-radius: 24px !important" (click)="openModal()">
    <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="" />Asignar a usuario
  </button>
</div>

<div class="mgt10">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef class="ft14">Nombe del estudiante</th>
      <td mat-cell *matCellDef="let data" class="ft14">{{ data.userName | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="userEmail">
      <th mat-header-cell *matHeaderCellDef class="ft14">Correo del estudiante</th>
      <td mat-cell *matCellDef="let data" class="">
        <div fxLayout="column" fxLayoutAlign="center ">
          <div class="ft500 ft14 black">{{ data.userEmail }}</div>
          <div class="ft11 gray-6">{{ data.userPhone ? data.userPhone : "Sin número de teléfono" }}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="enterprise">
      <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Empresa</th>
      <td mat-cell *matCellDef="let data" class="centertext ft14">
        <input type="text" [value]="data.companyName" (input)="onCompanyNameInput($event, data)" (blur)="saveCompanyName($event, data)" 
        class="form-control ft14 shadow-animation pdl05 pdr05 radius20 borderLight" style="text-align: center" />
      </td>
    </ng-container>

    <ng-container matColumnDef="diagnosticTest">
      <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Diagnóstico</th>
      <td mat-cell *matCellDef="let data" class="centertext ft14">{{ data.diagnosticTestScore ? data.diagnosticTestScore+'/100' : "No ha presentado" }}</td>
    </ng-container>

    <ng-container matColumnDef="finalTest">
      <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Final</th>
      <td mat-cell *matCellDef="let data" class="centertext ft14">{{ data.finalTestScore ? data.finalTestScore+'/100' : "No ha presentado" }}</td>
    </ng-container>

    <ng-container matColumnDef="certificate">
      <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Certificado</th>
      <td mat-cell *matCellDef="let data" class="centertext ft14">
        <div *ngIf="data.certificateId"><a class="blueLink undrl" target="_blank" href="{{ environment.predycUrl }}/certificado/{{ data.certificateId }}">Disponible</a></div>
        <div *ngIf="!data.certificateId">No disponible</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="attendance">
      <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Asistencia</th>
      <td mat-cell *matCellDef="let data" class="centertext ft14">
        <input type="checkbox" [checked]="data.isAttending" (change)="onAttendanceChange($event, data)" />
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Acción</th>
      <td mat-cell *matCellDef="let data" class="centertext ft14">
        <span class="blueLink undrl" *ngIf="!data.isActive" (click)="changeStatus(data.liveCourseByStudentId, true)">Agregar</span>
        <span class="redLink undrl" *ngIf="data.isActive" (click)="changeStatus(data.liveCourseByStudentId, false)">Eliminar</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let data; columns: displayedColumns" (click)="onSelect(data)" class=""></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="10">Aún no existen estudiantes inscritos.</td>
    </tr>
  </table>

  <mat-paginator aria-label="Select page of products" [pageSize]="pageSize" [length]="totalLength" (page)="onPageChange($event.pageIndex + 1)"> </mat-paginator>
</div>
