.card-container {
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.card-container--border {
    border: 2px solid #D5DCE0;
}

.card-container--sm {
    min-width: 250px;
}

.card-container--md {
    min-width: 270px;
}

.card-container--bg {
    min-width: 300px;   
}