<div>
    <!-- Admins -->
    <div class="mgt20">
        <div fxLayout="row" fxLayoutAlign=" center">
            <h6 class="ft16 ft500 mgt0 mgb0"> Admins</h6>
            <mat-icon (click)="addAdmins()" class="mgl10 gray-5 cursorPointer ft20 linkIcon">
                add_circle</mat-icon>
        </div>
        <hr>
        <!-- <table style="width:100%">
            <tr class="fw">
                <th class="ft500">Nombre</th>
                <th class="ft500">Email</th>
                <th class="ft500">Activación</th>
                <th class="ft500">Eliminar</th>
            </tr>
            <tr *ngFor="let admin of empresa.admins; let i=index; trackBy:customTrackBy">
                <td class="centertext">{{admins[i].nombre}}</td>
                <td class="centertext"><input type="text" [(ngModel)]="empresa.admins[i]"
                        [ngModelOptions]="{standalone: true}" class="fw" fxFlex="95%"></td>
                <td class="centertext" *ngIf="admins[i].activado == false"><a class="cursorPointer blueLink pdr10"
                        target="_blank" href="https://empresa.predyc.com/registro"
                        (click)="guardarEmpresa(true, null, null)">Activar</a></td>
                <td class="centertext" *ngIf="admins[i].activado == true"><span class="chip"> activado </span></td>
                <td class="centertext">
                    <mat-icon class="gray-5 cursorPointer ft20" (click)="eliminarAdmins(i)">
                        delete_outline
                    </mat-icon>
                </td>
            </tr>
        </table> -->
    </div>
   <!-- Licenses -->
    <div class="mgt20">
        <div fxLayout="row" fxLayoutAlign=" center">
            <h6 class="ft16 ft500 mgt0 mgb0"> Licencias</h6>
            <mat-icon (click)="addLicense()" class="mgl10 gray-5 cursorPointer ft20 linkIcon">
                add_circle</mat-icon>
        </div>
        <div class="fw mgt15">
            <table mat-table [dataSource]="dataSource">
                <!-- Producto Column -->
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Producto</th>
                    <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.product }} </td>
                </ng-container>

                <!-- Adquiridas Column -->
                <ng-container matColumnDef="rotations">
                    <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Adquiridas</th>
                    <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.acquired }} </td>
                </ng-container>

                <!-- Licencias disponibles Column -->
                <ng-container matColumnDef="avaliable">
                    <th mat-header-cell *matHeaderCellDef class="ft14"> Licencias disponibles </th>
                    <td mat-cell *matCellDef="let data" class="centertext ft14 "> {{ data.avaliable}} </td>
                </ng-container>
        
                <!-- Licencias usadas Column -->
                <ng-container matColumnDef="inUse">
                    <th mat-header-cell *matHeaderCellDef class="centertext ft14"> Licencias usadas </th>
                    <td mat-cell *matCellDef="let data" class="centertext ft14  "> {{ data.used }} </td>
                </ng-container>
        
                <!-- Vigencia Column -->
                <ng-container matColumnDef="expiration">
                    <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Vigencia </th>
                    <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.valid | date:"dd-MM-yyyy" }} </td>
                </ng-container>

                <!-- Estatus Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Estatus </th>
                    <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.status }} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <ng-container>
                    <tr
                        mat-row
                        *matRowDef="let data; columns: displayedColumns;"
                        class="cursorPointer"
                        >
                    </tr>
                </ng-container>
        
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Aún no existe ninguna licencia.</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Students list -->
    <div class="mgt20">
        <div fxLayout="row" fxLayoutAlign=" center">
            <h6 class="ft16 ft500 mgt0 mgb0"> Lista de usuarios</h6>
            <mat-icon (click)="addUser()" class="mgl10 gray-5 cursorPointer ft20 linkIcon">
                add_circle</mat-icon>
        </div>
        <div class="fw mgt10">
            <!-- <table class="fw">
                <thead>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Perfil</th>
                    <th>Correo</th>
                    <th>Estatus</th>
                </thead>
                <tr *ngFor="let student of empresa.students; let i = index">
                    <td>
                        <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign=" center">
                            <img [src]="student.photoURL" class="avatar2" alt="" onerror="this.src='assets/images/default/default-user-image.jpg'">
                            <span>{{student.name}}</span>
                        </div>
                    </td>
                    <td >
                        <div fxLayout="row" fxLayoutGap=".5rem">
                            <span>{{student.getDepartmentOfUser(empresa.departments).name}}</span>
                        </div>
                    </td>
                    <td >
                        <div fxLayout="row" fxLayoutGap=".5rem">
                            <span>
                                {{student.getProfileOfUser(empresa.departments).name != 'Asignar perfil'? 
                                student.getProfileOfUser(empresa.departments).name: 'Sin asignar'}}
                            </span>
                        </div>
                 
                    </td>
                    <td>
                        {{student.email}}
                    </td>
                    <td fxLayout="row" fxLayoutGap="1rem">
                        <span *ngIf="student.getSubscriptionOfUser(subscriptions)" [ngClass]="student.getSubscriptionOfUser(subscriptions).status == 'active'?'chip backGreen1 green-5':'chip'">{{student.getSubscriptionOfUser(subscriptions).status}}</span>
                        <span *ngIf="student.uid && !student.getSubscriptionOfUser(subscriptions)" class="chip backGray4 gray-10" [matMenuTriggerFor]="inactiveMenu" >Inactiva</span>
                        <mat-menu #inactiveMenu="matMenu">
                            <ng-container *ngFor="let licencia of getAvailableLicences()">
                              <button mat-menu-item (click)="activarLicencia(licencia, student)">
                                Activar licencia (Válida hasta: {{licencia.currentPeriodEnd| date:"dd-MM-yyyy"}})
                              </button>
                            </ng-container>
                            <ng-container *ngIf="!getAvailableLicences().length">
                              <button mat-menu-item disabled>
                                No posee licencias disponibles, contacte a un asesor
                              </button>
                            </ng-container>
                          </mat-menu>
                        <div  *ngIf="!student.uid" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center">
                            <mat-icon class="iconButton">email</mat-icon>
                            <mat-icon  [cdkCopyToClipboard]="copyLink(student)" (click)="openCopySnack()" class="iconButton">link</mat-icon>
                        </div>
                        <mat-icon *ngIf="student.included" class="iconButton" (click)="deleteUser(student)">delete</mat-icon>
                    </td>
                </tr>
            </table> -->
        </div>
    </div>
</div>