<div class="">
    <!-- <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem">
        <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" style="border-radius: 24px !important;"
            (click)="openCreateUserModal()">
            <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
            Nuevo Usuario
        </button>

        <button [matMenuTriggerFor]="tagMenu"  fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation gray-10" style="border-radius: 24px !important;">
            <img [src]="icon.tableShortcut" class="h16px pdr05" alt="">
            Importar Usuarios
        </button>

        <button (click)="updateUsage()" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation gray-10" style="border-radius: 24px !important;">
            <img [src]="icon.clock" class="h16px pdr05" alt="">
            Actualizar datos de uso
        </button>
    </div> -->

    <div fxLayout="row" fxLayoutAlign=" center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="row" fxLayoutAlign=" center" class="h36px radius20 w600px shadow-animation w-45" style="overflow: hidden;" >
                <app-profile-selector  [enterpriseRef]="enterpriseRef"></app-profile-selector>
                <app-status-selector origin="usersEmpresa" class="fh"></app-status-selector>
                <app-search-input-box class="fw"></app-search-input-box>
              </div>

              <button  (click)="copiaExitosa()"  fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation mgl05" style="border-radius: 24px !important;">
                <img [src]="icon.copy" class="h16px pdr05" alt="">
                <span>Copiar correos</span>
              </button>
              <button *ngIf="filter" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation mgl05" style="border-radius: 24px !important;"
                (click)="removeAllFilter()">
                <img [src]="icon.filterRemove" class="h16px pdr05" alt="">
                <span>Quitar filtros</span>
              </button>
            </div>

            <div fxLayout="row"  fxLayoutGap="0.75rem">
                <button (click)="openCreateUserModal()" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="backBlue5 button-animation" style="border-radius: 24px !important;">
                    <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
                    Nuevo Usuario
                </button>
                <button [matMenuTriggerFor]="tagMenu"  fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation gray-10" style="border-radius: 24px !important;">
                    <img [src]="icon.tableShortcut" class="h16px pdr05" alt="">
                    Importar Usuarios
                </button>
                <button (click)="updateUsage()" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation gray-10" style="border-radius: 24px !important;">
                    <img [src]="icon.clock" class="h16px pdr05" alt="">
                    Actualizar datos de uso
                </button>
            </div>

          </div>
        <!-- <div class="w-25 pdl20">

        </div> -->
    </div>

    <mat-menu #tagMenu="matMenu" class="radius6 shadow16 pd0">
        <div fxLayout="column" class="pd0">
            <div (click)="downloadTemplate();" mat-menu-item class="opcionMenu"
                fxLayout="row" fxLayoutAlign=" center">
                <span class="pdl05 ft12 gray-10">Descargar Plantilla</span>
            </div>
            <div (click)="uploadfileUsers.click()" mat-menu-item class="opcionMenu"
                fxLayout="row" fxLayoutAlign=" center">
                <span class="pdl05 ft12 gray-10">Cargar Archivo</span>
            </div>
        </div>
    </mat-menu>

    <input type="file" (change)="uploadUsers($event)" #uploadfileUsers style="display: none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>

    <app-student-list  [enterpriseRef]="enterpriseRef" (studentsOnList)="usersOnListProcess($event)" origen="admin"/>

</div>