<!-- <h3 class="page-title">Configuración</h3>
<mat-tab-group *ngIf="enterpriseLoaded" mat-stretch-tabs="false" mat-align-tabs="start" class="swal-overlay">
    <mat-tab label="Permisos">
        <app-permissions></app-permissions>
    </mat-tab>
    <mat-tab label="Miembros"> 
        <app-members></app-members>
    </mat-tab>
    <mat-tab label="Licencias"> 
        <app-license></app-license>
    </mat-tab>
</mat-tab-group> -->

<!-- ************************************ -->
<!-- <button (click)="test()" class="blueButton">test</button> -->
<div class="mgt10 mgl30 mgr30">
    <p class="ft600 ft20" style="color: black">Licencias</p>
    <div fxLayout="row" fxLayoutAlign=" center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-70 pdr20 border-rl">
            <div fxLayout="row" fxLayoutAlign=" center">
                <!-- Estudiar si se puede combinar con el selector de perfiles -->
                <app-status-selector></app-status-selector>
                <!--  -->
                <app-search-input-box class=""></app-search-input-box>
            </div>
            <button fxLayout="row" fxLayoutAlign="center center" (click)="currentStatus !== 'active' ? null : removeLicense()"
                [matMenuTriggerFor]="currentStatus !== 'active' ? licenseMenu : null" #trigger="matMenuTrigger"
                style="border-radius: 24px !important;" [ngClass]="currentStatus !== 'active' ? 'blueButton':'redButton'">
                {{ currentStatus !== 'active' ? 'Asignar licencia' : 'Cancelar licencia' }}
            </button>
            <mat-menu *ngIf="licenses$ | async as licenses" #licenseMenu class="radius6 shadow16 pd0 mgt05">
                <div fxLayout="column" class="fw pd0">
                    <div class="pd05 fw ">
                        <span class="ft12 gray-10 ft500">Seleccione su licencia</span>
                    </div>
                    <div (click)="selectLicense(license)" *ngFor="let license of licenses"
                        mat-menu-item class="opcionMenu" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="2rem">
                        <span class="pdl05 ft12 gray-10">Valido hasta {{ license.currentPeriodEnd | date:'short' }}
                            - Disponible: {{ license.quantity}}</span>
                            <!-- - Disponible: {{ license.quantity - license.retrieveBy.length }}</span> -->
                    </div>
                </div>
            </mat-menu>
        </div>
        <div class="w-25 pdl20">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="ft16 ft700" style="color: black;">Licencias adquiridas</span>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div class="w-70 pdr20 border-rl">
            <app-license-student-list [hasLicenseChanged]="hasLicenseChanged" (selectedUsers)="handleSelectedUsers($event)"></app-license-student-list>
        </div>
        <div class="w-30 pdl20" fxLayout="column" fxLayoutGap="10px">
            <div class="" fxLayout="column">
                <div class="item " fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft13 title">Licencias disponibles</span>
                    <span class="ft13 value">50</span>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft13 title">Licencias usadas</span>
                    <span class="ft13 value">26</span>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft13 title">Rotaciones disponibles</span>
                    <span class="ft13 value">24</span>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft13 title">Válidas hasta</span>
                    <span class="ft13 value">14/01/2024</span>
                </div>
            </div> 
            <button class="grayButton ft500 ft13" style="border-radius: 24px !important; color: #39a3f9;">Adquirir más licencias</button>           
        </div>
    </div>
</div>    
  