.select-container {
    background-color: rgb(234 234 234);
    border-radius: 24px 0 0 24px;
    padding: 0px 10px;
    height: 36px; /*Igual al search*/
}

.select-container2 {
    background-color: #d2d2d2;
    border-radius: 24px 0 0 24px;
    padding: 0px 10px;
    height: 36px; /*Igual al search*/
}

.select {
    background-color: transparent !important;
    border: none !important; 
    outline: none !important; 
}
  

.item {
    border-bottom: 2px solid #e3e3e3;
    height: 2rem;
    padding: 0 .5rem 0 .5rem;
    font-weight: bold;
}

.title {
    color: black
}

.value {
color: gray;
}

.opcionMenu {
    padding: 10px;
    border-top: 1px solid var(--gray-3);
    padding-right: 14px;
    padding-left: 14px;
}

.line {
    height: 1px;
    background-color: var(--gray-2);
}
.shadow-animation {
    transition: box-shadow 0.5s ease;
    border: 1px solid #e6e6e6;  
}

.shadow-animation::before {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.shadow-animation:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);   

}

.shadow-animation:hover::before {
    opacity: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.button-animation{
    transition: box-shadow 0.5s ease;
    border: none;  

}

.button-animation:before {
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.button-animation:hover {
    transition:  0.5s ease;
    /* box-shadow: 0px 2px 2px rgba(30, 30, 30, 0.539); */
    box-shadow: 0px 1px 4px rgba(26, 26, 26, 0.514);
    
}