<div class="mgt20 mgl20 mgr20">
  <div class="fw mgb15" fxLayout="row" fxLayoutAlign=" center">
    <div fxLayout="row" fxLayoutGap="2.5rem" fxLayoutAlign="center center" class="pdl10 pdr10 pdb05 pdt05 ft14 ft500" (click)="tab = 0" [ngClass]="tab == 0 ? 'selectedTab gray-10' : 'gray-6 tab'">
      Artículos
    </div>
    <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="center center" class="pdl10 pdr10 pdb05 pdt05 ft14 ft500" (click)="tab = 1" [ngClass]="tab == 1 ? 'selectedTab gray-10' : 'gray-6 tab'">
      Autores
    </div>
  </div>
  <ng-container *ngIf="tab === 0">
    <p class="ft600 ft16 gray-10">Artículos</p>
    <div fxLayout="column" class="mgt03">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
        <div fxLayout="row" fxLayoutAlign=" center" class="h36px radius20 shadow-animation w-40" style="overflow: hidden">
           <app-general-selector [options]="selectorOptions" class="fh"></app-general-selector>
           <app-general-selector canpo="pagina" [options]="selectorpaginaOptions" class="fh"></app-general-selector>
          <app-search-input-box class="fw"></app-search-input-box>
        </div>
        <a routerLink="./new">
          <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" style="border-radius: 24px !important">
            <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="" />
            Agregar nuevo artículo
          </button>
        </a>
      </div>
      <app-articles-list [articles]="articles" [authors]="authors" [tags]="tags" class=""></app-articles-list>
    </div>
  </ng-container>
  <ng-container *ngIf="tab === 1">
    <p class="ft600 ft16 gray-10">Autores</p>
    <div fxLayout="column" class="mgt03">
      <app-authors-list [authors]="authors" (authorSelected)="onAuthorSelected($event)" class=""></app-authors-list>
    </div>
  </ng-container>
</div>
