.plan {
    border: 2px solid var(--gray-4);
    color: var(--gray-7);
    padding: 8px 8px;
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    z-index: 1;
    background-color: var(--gray-1);
  }
  
  .containerMovil {
    width: 100vw;
    height: 100vh;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    top: 0px;
    background-color: white !important;
    background-repeat: no-repeat;
    background-position: right bottom;
    overflow: auto;
    padding-bottom: 65px;
  }
  
  .selectedPlan {
    background-color: white;
    color: var(--gray-7);
    border: 2px solid var(--blue-5);
    padding: 8px 8px;
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    z-index: 2;
  }
  
  .discountTag {
    background-color: var(--purple-5);
    position: relative;
    border-radius: 0px 6px 0px 10px;
    margin-right: -16px;
    padding: 12px;
  }
  .discountTagContainer {
    width: 100%;
  
    margin-top: -16px;
    min-height: 50px;
  }

  .adq{
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    /* border: 2px solid #D5DCE0; */
    /* padding: 8px; */
    background-color: #008CE3!important;
    /* color: white !important; */
    float: right;
    padding: 1px 15px;
  }
  