<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10">
        Perfiles
    </p>

    <div fxLayout="row" fxLayoutAlign=" center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
            <div fxLayout="row" fxLayoutAlign="start center">
              <!-- <div fxLayout="row" fxLayoutAlign="center center" class="shadow-animation radius20">
                <app-profile-selector></app-profile-selector>
                <app-status-selector origin="licenciasEmpresa"></app-status-selector>
                <app-search-input-box class=""></app-search-input-box>
              </div> -->
              <div fxLayout="row" fxLayoutAlign=" center" class="h36px radius20 w800px shadow-animation w-45" style="overflow: hidden;" >
                <app-search-input-box class="fw"></app-search-input-box>
              </div>
              <div *ngIf="filter" matTooltip="Quitar filtros" (click)="removeAllFilter()" class="mgl08 cursorPointer  ">
                <img [src]="icon.filterRemove" alt="copiar" class="h16px">
              </div>
            </div>
            <button [routerLink]="['/management/profiles/new']" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" style="border-radius: 24px !important;">
              <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
              Nuevo Perfil
            </button>
          </div>
        <!-- <div class="w-25 pdl20">

        </div> -->
    </div>
    <div fxLayout="row">
        <div class=" fw vh50" >
            <app-profile-list/>
        </div>
    </div>
</div>    
