<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10">
        Usuarios y Perfiles
    </p>

    <div fxLayout="row" fxLayoutAlign=" center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="fw">
            <div fxLayout="row" fxLayoutAlign="start center">
              <!-- <div fxLayout="row" fxLayoutAlign="center center" class="shadow-animation radius20">
                <app-profile-selector></app-profile-selector>
                <app-status-selector origin="licenciasEmpresa"></app-status-selector>
                <app-search-input-box class=""></app-search-input-box>
              </div> -->
              <div fxLayout="row" fxLayoutAlign=" center" class="h36px radius20 w800px shadow-animation w-45" style="overflow: hidden;" >
                <app-profile-selector></app-profile-selector>
                <app-status-selector origin="usersEmpresa" class="fh"></app-status-selector>
                <app-search-input-box class="fw"></app-search-input-box>
                
            </div>
              <div *ngIf="usersMails" matTooltip="Copiar correos" (click)="copiaExitosa()" class="mgl08 cursorPointer" >
                <img [src]="icon.copy" alt="copiar" class="h16px">
              </div>
              <div *ngIf="filter" matTooltip="Quitar filtros" (click)="removeAllFilter()" class="mgl08 cursorPointer  ">
                <img [src]="icon.filterRemove" alt="copiar" class="h16px">
              </div>
            </div>
            <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation" style="border-radius: 24px !important;"
              (click)="createNewStudent()">
              <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
              Nuevo Usuario
            </button>
          </div>
        <!-- <div class="w-25 pdl20">

        </div> -->
    </div>
    <div fxLayout="row">
        <div class=" fw vh50" >
            <app-student-list (onStudentSelected)="onStudentSelected($event)" (studentsOnList)="usersOnListProcess($event)"/>
        </div>
        <div *ngIf="false" class="w-20 pdl15 " fxLayout="column" fxLayoutGap="15px" style="margin-top: -40px;">

            <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 1px solid #e3e3e3; padding-bottom: .5rem;">
                <span class="ft14" style="font-weight: bold; color: black;">
                   Tus Perfiles
                </span>
                <a [routerLink]="['/management/profiles/new']" class="ft14 blue-4" style="font-weight: bold;">
                    Nuevo perfil
                </a>
            </div>

            <div
                class=" radius20 pd03 pdl10 pdr20  ft12 profile-container"
                *ngFor="let profile of profiles"
                [routerLink]="['/management/profiles/' + profile.id]"
                >
                {{ profile.name }}
                <img class="profile-arrow" [src]="icon.chevronRight" alt="Go to profile">
            </div>

            <ng-container *ngIf="false">
                <div  fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 1px solid #e3e3e3; padding-bottom: .5rem;">
                    <span class="ft14" style="font-weight: bold; color: black;">
                        Perfiles predefinidos
                    </span>
                    <!-- <a [routerLink]="['/management/profiles/new']" class="ft14 blue-4" style="font-weight: bold;">
                        Nuevo perfil
                    </a> -->
                </div>
    
                <div
                    class=" radius20 pd03 pdl10 pdr20  ft12 profile-container"
                    *ngFor="let profile of profilesPredyc"
                    [routerLink]="['/management/profiles/' + profile.id]"
                    >
                    {{ profile.name }}
                    <img class="profile-arrow" [src]="icon.chevronRight" alt="Go to profile">
                </div>
            </ng-container>
            
        </div>
    </div>
</div>    
