.profile-container {
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2rem;
    max-height: 36px;
    background-color: #f8f8f8;
    /* color: var(--gray-6) */
}

.profile-arrow {
    filter: invert(77%) sepia(43%) saturate(602%) hue-rotate(172deg) brightness(103%) contrast(102%);
    position: absolute;
    right: 10px;
    display: none;
    width: 20px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.profile-container:hover {
    background-color: var(--blue-1);
    cursor: pointer;
    color: #2298e2 !important;
}

.listadeusuarios{

    overflow: auto;
    overflow-y: visible !important;

}

.profile-container:hover .profile-arrow {
    display: block;
    /* filter: invert(62%) sepia(42%) saturate(1721%) hue-rotate(169deg) brightness(102%) contrast(101%); */
}

.profile-arrow:hover {
    filter: invert(48%) sepia(25%) saturate(4622%) hue-rotate(175deg) brightness(86%) contrast(108%);
}

/* .shadow-animation {
    transition: box-shadow 0.5s ease, border 0.5s ease;  
    border: 1px solid rgba(107, 107, 107, 0.1);  
}


.shadow-animation:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);  
    border: none; 
}

.shadow-animation:not(:hover) {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
} */

.shadow-animation {
    transition: box-shadow 0.5s ease;
    border: 1px solid #e6e6e6;  
}

.shadow-animation::before {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.shadow-animation:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);   

}

.shadow-animation:hover::before {
    opacity: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

/**/

.button-animation{
    transition: box-shadow 0.5s ease;
    border: none;  

}

.button-animation:before {
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.button-animation:hover {
    transition:  0.5s ease;
    /* box-shadow: 0px 2px 2px rgba(30, 30, 30, 0.539); */
    box-shadow: 0px 1px 4px rgba(26, 26, 26, 0.514);
}
/*  */

.ft13.blue-4:hover {
    color: #008CE3 !important;
}