<div class="fh fw pdb20">
  <div
    [ngClass]="isEditing ? 'header--edit' : ''"
    fxLayout="row"
    fxLayoutAlign="space-between "
    class="header pdr10 pdl10"
  >
    <app-navigate-back
      *ngIf="!isEditing"
      targetUrl="/admin/articles"
      class="pdt10"
    >
      {{ isEditing ? "" : profileName }}
    </app-navigate-back>
    <div
      *ngIf="isEditing; else profileTitle"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="fw fh pdt05 pdb05"
    >
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
        <!-- <input class="input-box ft12" placeholder="Nombre del perfil" [(ngModel)]="profileName" maxlength="43"> -->
        <div class="edit-button">Modo de edición</div>
        <div *ngIf="isEditing" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="" class="">
          <span style="color:white">Borrador:</span>
          <mat-slide-toggle class="pdl03" color="primary" [(ngModel)]="isDraft"></mat-slide-toggle>
      </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
        <div
          class="radius20 pdl10 pdr10 pdt05 pdb05 backWhite ft14 cursorPointer"
          (click)="onCancel()"
        >
          Cancelar
        </div>
        <button
          fxLayout="row"
          fxLayoutGap="0.625"
          fxLayoutAlign="center center"
          class="blueButton ft14 cursorPointer"
          style="border-radius: 24px !important"
          (click)="onSave()"
          [disabled]="disableSaveButton"
        >
          {{ id === "new" ? "Agregar Revista" : "Guardar Revista" }}
          <img [src]="icon.save" class="h16px pdl05 makeWhite" alt="" />
        </button>
      </div>
    </div>
    <ng-template #profileTitle>
      <div class="pdr10 pdt10">
        <div
          fxLayout="row"
          fxLayoutGap="0.625"
          fxLayoutAlign=" center center"
          class="blueButton mgt10 ft14"
          style="border-radius: 24px !important"
          (click)="onEdit()">
          {{
            user.isSystemUser || profile?.enterpriseRef ? "Editar" : "Editar"
          }}
          <img [src]="icon.licencias" class="h16px pdl05" alt="" />
        </div>
      </div>
    </ng-template>
  </div>
  <div fxLayout="row" fxLayoutGap="2rem" class="pdt10 pdr20 pdl20 pdb10">
    <div class="containers" style="width: 40%">
      <!-- <div class="container" style="height: 100px; padding: 5px; border: 2px solid black; border-radius: 20px">
            </div> -->

      <div
        class="fw pd08 shadowLight radius10 pd10"
        style="background-color: rgba(244, 244, 244, 0.362)"
      >
        <div
          class="mgl05"
          fxLayout="row"
          fxLayoutGap="0.5rem"
          fxLayoutAlign="start center"
        >
          <img
            [src]="icon.credentials"
            class="h20px"
            alt="Información del perfil"
          />
          <span class="ft500 ft14 black">Detalles de la revista</span>
        </div>

        <div *ngIf="!isEditing" class="mgl05 mgt10">
          <span>Borrador {{isDraft?'Si':'No'}}</span>
          
        </div>

        <div class="mgt15 mgb10 radius20" *ngIf="isEditing">
          <!-- <p class="ft13 gray-8 mgl03" *ngIf="isEditing">Nombre del perfil</p> -->

          <div
            class="fw"
            fxLayout="row"
            fxLayoutGap=""
            fxLayoutAlign="space-between center"
            style="margin-top: 25px; border: none"
          >
            <div
              class="searchBarContainer cursorPointer radius20 fw"
              fxLayout="row"
              fxLayoutAlign=" center"
            >
              <textarea
                name=""
                id=""
                rows="1"
                [(ngModel)]="profileName"
                maxlength="43"
                placeholder="Nombre de la revista"
                style="
                  width: 100%;
                  resize: none;
                  border: none;
                  padding-left: 15px !important;
                  background-color: #ffffff !important;
                "
                class="shadow-animation radius20 pd05"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- <input class="input-box ft12" placeholder="Nombre del perfil" [(ngModel)]="profileName" maxlength="43"> -->

        <div class="pd05 mgt10 radius10" *ngIf="!isEditing">
          <p
            class="ft12 gray-8"
            *ngIf="!isEditing"
            style="overflow-y: hidden; word-wrap: break-word; max-height: 122px"
          >
            {{ profileDescription }}
          </p>
        </div>

        <div
        class="pd05 mgt10 radius10 backWhite shadow-animation"
        *ngIf="isEditing"
        style="margin-bottom: 10px; border: none">
        <textarea
          name=""
          id=""
          rows="3"
          *ngIf="isEditing"
          [(ngModel)]="profileDescription"
          placeholder="Introduzca la descripción"
          style="
            overflow-y: hidden;
            width: 100%;
            resize: none;
            border: none;
            background-color: transparent !important;
          "
          maxlength="170"
        ></textarea>
      </div>

        <mat-accordion>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Meta datos
                  </mat-panel-title>
              </mat-expansion-panel-header>

              <form [formGroup]="formNewRevista" >

                <div *ngIf="user?.isSystemUser" class="form-group mgt08">
                  <label class="ft12">URL personalizado</label>
                  <div class="input-group">
                      <input
                      [class.is-invalid]="formNewRevista.controls['customUrl'].errors && showErrorCurso"
                      formControlName="customUrl"
                      type="text"
                      class="form-control customInput2 radius6"
                      placeholder="Escriba el URL del curso aquí"
                      >
                      <div class="input-group-append">
                          <span class="input-group-text">{{ formNewRevista?.controls['customUrl']?.value?.length || 0 }}</span>
                      </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="formNewRevista?.controls['customUrl']?.errors && showErrorCurso">
                      Debe indicar el URL del curso
                  </div>
                </div>
        
                <div *ngIf="user.isSystemUser" class="ft12 form-group pdt10">
                    <label>Meta descripción del curso</label>
                    <textarea [class.is-invalid]="formNewRevista.controls['metaDescripcion'].errors && showErrorCurso" rows="3"
                              formControlName="metaDescripcion" type="text" class="form-control ft12 customInput2"
                              [maxLength]="metaDescriptionMaxLength"
                              placeholder="Escriba la descripción del curso aquí" style="resize: none;"></textarea>
                    <div class="progress-bar-container fw mgt03">
                        <div class="progress-bar" [style.width.%]="(formNewRevista?.controls['metaDescripcion']?.value?.length / metaDescriptionMaxLength) * 100"></div>
                    </div>
                    <div class="invalid-feedback" *ngIf="formNewRevista.controls['metaDescripcion'].errors && showErrorCurso"> 
                        Debe indicar la meta descripción del curso
                    </div>
                </div>
        
                <div *ngIf="user.isSystemUser" class="ft12 form-group pdt10">
                    <label>KeyWords</label>
                    <textarea [class.is-invalid]="formNewRevista.controls['KeyWords'].errors && showErrorCurso" [maxLength]="keyWordsMaxLength"
                              rows="3" formControlName="KeyWords" type="text" class="form-control ft12 customInput2"
                              placeholder="Escriba los KeyWords del curso aquí" style="resize: none;"></textarea>
                    <div class="progress-bar-container fw mgt03">
                        <div class="progress-bar" [style.width.%]="(formNewRevista?.controls['KeyWords']?.value?.length / keyWordsMaxLength) * 100"></div>
                    </div>
                    <div class="invalid-feedback" *ngIf="formNewRevista.controls['KeyWords'].errors && showErrorCurso"> 
                        Debe indicar los KeyWords del curso
                    </div>
                </div>
              </form>


      
          </mat-expansion-panel>
        </mat-accordion>

        <label>Fecha</label>

        <form [formGroup]="formNewRevista">
          <div style="position: relative">
            <img [src]="icon.calendarAdd" class="makeGray h16px" alt="" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);">
            <input formControlName="fecha" [class.is-invalid]="formNewRevista.get('fecha').errors && showErrorCurso" type="date" class="form-control pdl20 radius6 shadow-animation borderLight" placeholder="Ingrese la fecha de publicación">
          </div>
        </form>



        <form [formGroup]="formNewRevista">
          <div>
            <label>Editor</label>
            <input formControlName="editor" [class.is-invalid]="formNewRevista.get('editor').errors && showErrorCurso" type="text" class="form-control radius6 shadow-animation borderLight" placeholder="Ingrese el editor">

            <div
            class="pd05 mgt10 radius10 backWhite shadow-animation"
            style="border: none">

            <label>Resumen Editor</label>

            <textarea
              name=""
              id=""
              formControlName="resumenEditor" [class.is-invalid]="formNewRevista.get('resumenEditor').errors && showErrorCurso"
              rows="3"
              placeholder="Introduzca el resumen del instructor"
              style="
                overflow-y: hidden;
                width: 100%;
                resize: none;
                border: none;
                background-color: transparent !important;
              "
              maxlength="170"
            ></textarea>
          </div>

          <div class="form-group pdt10">
            <label class="ft12 pdb05 "  >Foto del editor</label>
            <div fxLayout="row" fxLayoutAlign="start end" >
              <!-- <button class="add-button">Adjuntar nueva</button> -->
              <input (change)="uploadCourseImage($event,'editor')" #editorImage type="file" hidden accept="image/jpeg, image/png , image/webp" />
              <div>
                  <!-- {{formNewRevista.get('imagen').value}} -->
                  <img *ngIf="formNewRevista.get('imagenEditor').value" [src]="formNewRevista.get('imagenEditor').value" alt="Imagen seleccionada" class="avatar3 mgb05">
              </div>
            </div>
            <div *ngIf="isEditing" class="fw" >
              <button (click)="editorImage.click()" class="grayButton pd03 radius6 ft12 ft500 h28px mgr10 gray-8" fxLayoutGap="0.625" >
                  <img [src]="icon.arrowUp" class="h16px pdr05" alt="">
                  Adjuntar imagen editor
              </button>
              <div class="invalid-feedback" *ngIf="formNewRevista?.controls['imagenEditor']?.errors && showErrorCurso">
                Debe indicar la imagen del editor
            </div>
          </div>
        </div>


          </div>
        
    
        </form>


        <div class="form-group pdt10">
          <label class="ft12 pdb05 "  >Foto del la revista</label>
          <div fxLayout="row" fxLayoutAlign="start end" >
            <!-- <button class="add-button">Adjuntar nueva</button> -->
            <input (change)="uploadCourseImage($event,'revista')" #cursoImage type="file" hidden accept="image/jpeg, image/png,  image/webp" />
            <!-- <div class="image-scroll">
                <img *ngFor="let imagen of imagenesCurso" (click)="seleccionarImagenCurso(imagen)" [src]="imagen" alt="Imagen seleccionada" class="image cursorPointer {{this.formNewCourse.get('imagen').value == imagen? 'img-active': ''}}">
            </div> -->
            <div>
                <!-- {{formNewRevista.get('imagen').value}} -->
                <img *ngIf="formNewRevista.get('imagen').value" [src]="formNewRevista.get('imagen').value" alt="Imagen seleccionada" class="radius6 mgb05" style="width: 250px !important;">
            </div>
          </div>
          <div *ngIf="isEditing" class="fw" >
            <button (click)="cursoImage.click()" class="grayButton pd03 radius6 ft12 ft500 h28px mgr10 gray-8" fxLayoutGap="0.625" >
                <img [src]="icon.arrowUp" class="h16px pdr05" alt="">
                Adjuntar imagen
            </button>
            <div class="invalid-feedback" *ngIf="formNewRevista?.controls['imagen']?.errors && showErrorCurso">
              Debe indicar la imagen de la revista (Portada)
          </div>
        </div>
      </div>

      </div>

      <!-- <div class="container" class="pd10 mgt20 shadowLight radius10 " style="background-color: rgba(244, 244, 244, 0.362); "> -->

      <!-- </div> -->
    </div>

    <div
      class="containers pd10 shadowLight radius10"
      style="
        width: 70%;
        margin-right: -15px !important;
        background-color: rgba(244, 244, 244, 0.362);
      "
    >
      <div class="study-plan" style="padding: 5px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <img
              [src]="icon.course"
              class="makeBlue h20px"
              alt="Plan de estudios"
            />
            <span class="ft500 ft14 black">Artículos</span>
          </div>
          <!-- <span *ngIf="studyPlan.length>0"  (click)="downloadPdfStudyPlan()" class="blueLink">Descargar</span> -->
        </div>
        <div
          *ngIf="isEditing"
          ngbDropdown
          [autoClose]="'outside'"
          fxLayout="row"
          fxLayoutAlign=" center"
        >
          <div
            class="mgt10 h40px radius20 shadow12"
            style="width: 100%; overflow: hidden; z-index: 2"
            fxLayout="row"
          >
            <div
              style="
                width: 100%;
                overflow: hidden;
                padding: 0 0px;
                position: relative;
              "
              class="pdl10 pdr05"
              fxLayout="row"
              fxLayoutAlign=" center"
            >
              <input
                type="text"
                placeholder="Buscar"
                class="pdl05 ft13"
                style="
                  width: 100%;
                  outline: none;
                  border: 0;
                  background-color: transparent;
                "
                [formControl]="searchControl"
                matInput
                [matAutocomplete]="auto"
              />
              <img
                [src]="icon.search"
                alt="Search"
                style="position: absolute; right: 10px"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let course of filteredCourses | async"
                  [value]="course.id"
                >
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="ft12 ft500 dropdownMenu dropdownMenuCourse"
                    (click)="
                      $event.stopPropagation(); toggleCourseInPlan(course)
                    "
                  >
                    <div
                      fxLayout="row"
                      fxLayoutAlign=" center"
                      fxLayoutGap="10px"
                    >
                      <img
                        [src]="course['photoUrl']"
                        [alt]="course['title']"
                        class="w40px h40px radius4"
                      />
                      <div fxLayout="column" fxLayoutGap="5px">
                        <div class="title-course-badge-art">
                          {{ course['title'] | titlecase }}
                        </div>
                      </div>
                    </div>
                    <div
                      [ngStyle]="{
                        'background-color': course.inStudyPlan
                          ? '#008CE3'
                          : 'white'
                      }"
                      style="
                        border-radius: 50%;
                        border: 1px solid black;
                        width: 15px;
                        height: 15px;
                      "
                    ></div>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdownContainer fw"
            (mouseleave)="onCategoryLeave()"
          >
            <div fxLayout="row" class="fw">
              <div style="width: 32%" class="backGray2 dropy">
                <div
                  ngbDropdownItem
                  class="ft12 ft500 pdt10 pdb10 gray-10 dropCategory"
                  style="width: 100%"
                  *ngFor="let category of categories"
                  (mouseenter)="onCategoryHover(category)"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                >
                  <div class="ft12 gray-10">{{ category.name }}</div>
                  <img [src]="icon.chevronRight" alt="" />
                </div>
              </div>
              <div class="drowCourses">
                <div
                  class="ft12 ft500 fw dropCourse"
                  ngbDropdownItem
                  *ngFor="let course of filteredCourses | async"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  (click)="toggleCourseInPlan(course)"
                >
                  <!-- (click)="course.inStudyPlan = !course.inStudyPlan" -->
                  <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="5px">
                    <img
                      [src]="course.imagen"
                      [alt]="course.titulo"
                      class="w42px h42px radius4"
                    />
                    <div fxLayout="column" fxLayoutGap="1px" class="">
                      <div class="">
                        <div
                          class="title-course-badge-art ft12"
                          style="display: inline-block"
                        >
                          {{ course.titulo | titlecase }}
                        </div>
                        <div class="skills-container" style="margin-top: -5px">
                          <div
                            *ngFor="let skill of course.skills"
                            style="
                              display: inline-block;
                              margin-right: 5px;
                              margin-bottom: 5px;
                            "
                            class="skill-badge radius10 backGray2 pdl05 pdr05 gray-8 mgt05"
                          >
                            {{ skill.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    [ngStyle]="{
                      'background-color': course.inStudyPlan
                        ? '#008CE3'
                        : 'white'
                    }"
                    style="
                      border-radius: 50%;
                      border: 1px solid var(--blue-5);
                      width: 15px;
                      height: 15px;
                    "
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="studyPlan.length > 0 && isEditing">
          <div
            cdkDropList
            [cdkDropListData]="studyPlan"
            (cdkDropListDropped)="onDrop($event)"
            class="list-container hoverBlue"
            style="overflow: hidden; background-color: #fcfcfc"
            class="radius10 borderLight mgt20"
          >
            <div
              *ngFor="let item of studyPlan; let i = index"
              cdkDrag
              class="fw pd05 h40px border-bl hoverBlue item-container cursorPointer"
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="1rem"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center  "
                class="fw"
                fxLayoutGap="0.5rem"
              >
                <div fxLayout="column" fxLayoutGap="5px" class="ft11">
                  <span class="ft12 gray-10">
                    <img
                      [src]="icon.drag"
                      class="h14px cursorPointer"
                      alt=""
                      class="pdr05"
                    />
                    {{ item.title }}
                  </span>
                  <!-- <span>Orden: {{ item.studyPlanOrder }}</span> -->
                </div>
                <div
                  fxLayout="row"
                  class=""
                  fxLayoutGap="0.5rem"
                  style="margin-left: 5px"
                >
                  <img
                    [src]="icon.trash"
                    class="h14px makeGray cursorPointer"
                    (click)="toggleCourseInPlan(item)"
                    alt=""
                  />
                </div>
              </div>
              <div *cdkDragPlaceholder class="placeholder"></div>
            </div>
          </div>
        </ng-container>

        <div
          *ngIf="studyPlan.length > 0 && !isEditing"
          style="overflow: hidden; background-color: #fcfcfc"
          class="radius10 borderLight mgt20"
        >
          <div
            class="fw pd05 h40px border-bl hoverBlue"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="1rem"
            *ngFor="let item of studyPlan; let i = index"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="fw"
              fxLayoutGap="0.5rem"
            >
              <div fxLayout="column" fxLayoutGap="5px" class="ft11">
                <span class="ft12 gray-10">
                  {{ item.title }}
                </span>
              </div>
              <div
                fxLayout="row"
                class=""
                fxLayoutGap="0.5rem"
                style="margin-left: 5px"
              >
                <img
                  *ngIf="isEditing"
                  [src]="icon.trash"
                  class="h14px makeGray cursorPointer"
                  (click)="toggleCourseInPlan(item)"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div *ngIf="studyPlan.length === 0" class="mgt15" style="height: 70%">
            <div
              fxLayout="row"
              fxLayoutAlign="center center"
              style="background: var(--gray-2); height: 100%"
            >
              Comienza a agregar cursos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-floating-notification *ngIf="showNotification" [message]="notificationMessage"></app-floating-notification>
