.mat-column-select {
    overflow: initial;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border: 2px solid gray;
}

th, td {
    padding: 1em;
    background: #FBFBFB;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid gray;
}

 tr:nth-child(odd) td{
    background-color: #f8f8f8 !important; /* Light gray for odd rows */
}

 tr:nth-child(even) td{
    background-color: #fcfcfc !important; /* Lighter gray for even rows */
}

th {
    border-top: none !important;
    border-bottom: none !important;
}

tbody {
  
    border-radius: 20px;
    overflow: hidden;
}

table.mat-mdc-row:first-child .mat-mdc-cell:first-child {
    border-radius: 2rem !important;
}

tr:first-child td:first-child {
    border-top-left-radius: 10px !important;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px !important;
}

table.mat-table tbody tr {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table.mat-table tfoot tr {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    



  }
   
  .mat-mdc-row:hover .mat-mdc-cell {
    background-color:  rgba(200, 202, 203, 0.224) !important; 
  } 
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .move-right {
    transition: transform 0.3s ease-out;
    transform: translateX(0);
  }

  .move-right:hover {
    transform: translateX(5px);
    transform: translateX(5px);
    color: #0f3b56 !important;
  }

  .custom-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}
.mat-mdc-autocomplete-trigger{
  font-size: 14px !important;
}
.custom-textarea {
  height: 116px; /* Ajusta esta altura a tu necesidad */
  resize: none; /* Desactiva la redimensión */
  overflow: auto; /* Permite el desplazamiento si el contenido es mayor */
}