<div *ngIf="!loaderService.loading">
    <app-navigate-back targetUrl="../">{{student.displayName}}</app-navigate-back>

    <mat-tab-group class="swal-overlay">
        <mat-tab label="Cronograma de capacitación"> 
            <div fxLayout="row" fxLayoutAlign="space-between" class="mgt05">
                <div class="w-25" fxLayout="column" fxLayoutGap="0.3rem">
                    <div class="radius10 border fw" style="height: 35vh;">
                        <span>Progreso General</span>
                    </div>
                    <div class="radius10 border fw" style="height: 35vh;">
                        <span>Calendar</span>
                    </div>
                </div>
                <div class="w-50" >
                    <app-study-plan></app-study-plan>
                </div>
                <div class="w-20">
                    <app-student-profile [student]="student" [isStudentProfile]="true"></app-student-profile>
                </div>
            </div>     
        </mat-tab>
        <mat-tab label="Validación de competencias"> Content 2 </mat-tab>
        <mat-tab label="Estadísticas"><app-student-stats></app-student-stats></mat-tab>
        <mat-tab label="Detalles"><app-student-details [student]="student"></app-student-details></mat-tab>
    </mat-tab-group>
</div> 