<div class="mgt20">
    <table mat-table [dataSource]="dataSource">

        <!-- Nombre Column -->
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Nombre </th>

            <!-- <th mat-header-cell *matHeaderCellDef class="gray-8"> Nombre </th> -->
            <td mat-cell *matCellDef="let user"> 
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
                    <img
                        [src]="user.photoUrl ? user.photoUrl : 'assets/images/default/default-user-image.jpg'"
                        class="avatar2"
                        alt=""
                        >
                    <div fxLayout="column" fxLayoutAlign="center ">
                        <div class="ft500 ft14  gray-10">{{ user.displayName | titlecase }}</div>
                        <div
                        *ngIf="!user.profile"
                            (click)="$event.stopPropagation();"
                            class="ft400 ft13 gray-6"
                            >
                            Perfil sin asignar
                        </div>
                        <div
                            *ngIf="user.profile" fxLayout="row" fxLayoutGap="5px" class="move-right " >
                            <div *ngIf="user.profile"(click)="$event.stopPropagation();"  class="ft400 ft13 blue-4" >
                                {{ user.profile  | titlecase }}
                            </div>
                            <img [src]="icon.arrowForward" alt="Forward Arrow" class="makeBlue" >
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Departamento </th>

            <!-- <th mat-header-cell *matHeaderCellDef class="gray-8"> Departamento </th> -->
            <td mat-cell *matCellDef="let user" class="ft14"> {{user.department}} </td>
        </ng-container>

        <!-- Hours Column -->
        <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Horas </th>
            <td mat-cell *matCellDef="let user" class="ft14">{{user.hours}}&nbsp;/&nbsp;{{user.targetHours}}</td>
        </ng-container>
        
        <!-- RatingPoints Column -->
        <ng-container matColumnDef="ratingPoints">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Puntaje </th>

            <!-- <th mat-header-cell *matHeaderCellDef class="centertext gray-8" > Puntaje </th> -->
            <td mat-cell *matCellDef="let user" class="centertext ft14"> {{ user.ratingPoints }} </td>
        </ng-container>

        <!-- Rhythm Column -->
        <ng-container matColumnDef="rhythm" class="centertext">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Ritmo </th>

            <!-- <th mat-header-cell *matHeaderCellDef class="w-10 centertext gray-8"> Ritmo </th> -->
            <td mat-cell *matCellDef="let user" class="w-10"> 
                <div *ngIf="user.rhythm === 'high'" class="chip newGreen2b" style="border: 1px solid #3ED219;" fxLayout="row" fxLayoutAlign="center center">
                    <span class="ft13 nowrap ft500  " style="color: #27be02;">Alto</span>
                </div>
                <div *ngIf="user.rhythm === 'medium'" class="chip newYellow2b " style="border: 1px solid rgb(255, 196, 0);"  fxLayout="row" fxLayoutAlign="center center">
                    <span class="ft13 nowrap ft500 " style="color: rgb(255, 196, 0);" >Medio</span>
                </div>
                <div *ngIf="user.rhythm === 'low'" class="chip backRed2 borderLight " style="border: 1px solid #ff0000;" fxLayout="row" fxLayoutAlign="center center">
                    <span class="ft13 nowrap ft500" style="color: #f50000;" >Bajo</span>
                </div>
                <div *ngIf="user.rhythm === 'no plan'" class="chip borderLight"  fxLayout="row" fxLayoutAlign="center center">
                    <span class="ft13 nowrap ft400 gray-6">Sin plan</span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container>
            <tr
                mat-row
                *matRowDef="let user; columns: displayedColumns;"
                (click)="onSelectUser(user)"
                class="cursorPointer"
                [routerLink]="enableNavigateToUser && user.profile ? [user.uid] : []">
            </tr>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se han encontrado usuarios para el criterio de busqueda</td>
        </tr>
    </table>

    <mat-paginator
        aria-label="Select page of users"
        [pageSize]="pageSize"
        [length]="totalLength"
        (page)="onPageChange($event.pageIndex + 1)"
        ></mat-paginator>
</div>
  
  