<div *ngIf="!loaderService.loading" class="positionRelative pd05">
    <div class="tooltipPoints mgt05" [fxShow]="showPointsTooltip" (mouseover)="showPointsTooltip = true" (mouseleave)="showPointsTooltip = false">
        <app-tooltip-points></app-tooltip-points>
    </div>
    <div class="table-container mgt05">
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
            <div class="iconContainer mgb03" fxLayoutAlign="center center">
                <img [src]="icon.trophy" class="makeBlue h16px" alt="">
            </div>
            <span class="ft12 gray-10 ft600 ">Ranking Semanal</span>
            <div fxLayout="center center" class="positionRelative" (mouseover)="showPointsTooltip = true" (mouseleave)="showPointsTooltip = false">
                <img [src]="icon.information" class="h16px makeBlue" alt="">
            </div>
        </div>
        <table class="fw">
            <tr>
                <td></td>
                <td class="gray-10 ft500 ft10 centertext">Puntos</td>
                <td class="gray-10 ft500 ft10 centertext">Ritmo</td>
            </tr>
            <tr *ngFor="let item of ranking | slice:0:listLength; let i = index" class="selected">
                <td class="fw">
                    <div fxLayout="row" fxLayoutAlign=" center">
                        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
                            <div class="avatar2 positionRelative">
                                <img [src]="item.photoUrl" class="avatar2" alt=""
                                    onerror="this.src='assets/images/default/default-user-image.jpg'">
                                <div *ngIf="i < 3" class="trofeo cursorPointer" fxLayoutAlign="center center">
                                    <img [src]="icon.trophy" class="fw" alt="">
                                </div>
                            </div>
                            <span class="gray-10 ft10">{{item.name}}</span>
                        </div>
                    </div>
                </td>
                <td class="centertext gray-10 ft10">{{item.ratingPoints | number: "1.0-0"}}</td>
                <td class="centertext">
                    <div class="minWidth centertext">
                        <span *ngIf="item.performance == 'no plan' || item.performance == null "class="gray-6 ft9 ft600 nowrap">
                            Sin asignación
                        </span>
                        <span *ngIf="item.performance == 'low'" class="red-5 ft9 ft600 nowrap">
                            bajo
                        </span>
                        <span *ngIf="item.performance == 'medium'" class="green-5 ft9 ft600 nowrap">
                            medio
                        </span>
                        <span *ngIf="item.performance == 'high'" class="purple-5 ft9 ft600 nowrap">
                            óptimo
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
