<div *ngIf="!loaderService.loading" class="positionRelative pd05">
    <div class="tooltipPoints mgt05" [fxShow]="showPointsTooltip" (mouseover)="showPointsTooltip = true" (mouseleave)="showPointsTooltip = false">
        <app-tooltip-points></app-tooltip-points>
    </div>
    <div class="table-container mgt05">
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
            <div class="" fxLayoutAlign="center center">
                <img [src]="icon.trophyBlue" class="makeBlue h20px" alt="">
            </div>
            <span class="ft12 gray-10 ">Ranking del mes</span>
            <div fxLayout="center center" class="positionRelative" (mouseover)="showPointsTooltip = true" (mouseleave)="showPointsTooltip = false">
                <img [src]="icon.information" class="h16px makeBlue" alt="">
            </div>
        </div>
        <table class="fw mgt10">
            <tr>
                <td class="gray-10 ft500 ft12 ">Nombre</td>
                <td class="gray-10 ft500 ft12 centertext">Horas</td>
                <td class="gray-10 ft500 ft12 centertext">Puntos</td>
                <td class="gray-10 ft500 ft12 centertext">Ritmo</td>
                <td class="gray-10 ft500 ft12 ">Perfil</td>
            </tr>
            <tr *ngFor="let item of ranking | slice:0:listLength; let i = index" class="selected">
                <td class="w-20">
                    <div fxLayout="row" fxLayoutAlign=" center">
                        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
                            <div class="avatar2 positionRelative">
                                <img [src]="item.photoUrl" class="avatar2" alt=""
                                    onerror="this.src='assets/images/default/default-user-image.jpg'">
                                <div *ngIf="i < 3" class="trofeo cursorPointer" fxLayoutAlign="center center">
                                    <img [src]="icon.trophy" class="fw" alt="">
                                </div>
                            </div>
                            <span class="gray-10 ft12 mgl05">{{item.name}}</span>
                        </div>
                    </div>
                </td>
                <td class="centertext gray-10 ft12">{{"Horas"}}</td>
                <td class="centertext gray-10 ft12">{{item.ratingPoints | number: "1.0-0"}}</td>
                <td class="centertext">
                    <div class="centertext" fxLayoutAlign="center center">
                        <div class="chip w100px"
                        [ngClass]="{'backGreen1':item.performance == 'high',
                                    'backBlue1':item.performance == 'medium'}"
                        >
                            <span *ngIf="item.performance == 'no plan' || item.performance == null "class="gray-6 ft11 nowrap">
                                Sin asignación
                            </span>
                            <span *ngIf="item.performance == 'low'" class="red-5 ft11 nowrap">
                                Bajo
                            </span>
                            <span *ngIf="item.performance == 'medium'" class="blue-5 ft11 nowrap">
                                Medio
                            </span>
                            <span *ngIf="item.performance == 'high'" class="green-5 ft11 nowrap">
                                Alto
                            </span>
                        </div>
                    </div>
                </td>
                <td class="gray-10 ft12 w-20">{{getStudentProfileName(item)}}</td>
            </tr>
        </table>
    </div>
</div>
