<div class="container slider" fxLayout="column" *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div>
      <span class="ft20 gray-10 ft500"
        >{{ data.license ? "Editar" : "Crear" }} nueva licencia</span
      >
    </div>
    <div fxLayout="column" fxLayoutGap=".5rem" class="fw mgt15">
      <div fxLayout="column" class=" h50px">
        <span class="ft13 gray-9">Producto</span>
        <mat-select
          placeholder="Seleccione el producto"
          formControlName="productId"
          style="border: 1px solid; padding-left: 5px; padding-right: 5px;"
        >
          <mat-option *ngFor="let product of products" [value]="product.id">{{
            product.name
          }}</mat-option>
        </mat-select>
      </div>
      <div class="h50px" fxLayout="column">
        <span class="ft13 gray-9">Comienzo de la suscripción:</span>
        <input type="datetime-local" formControlName="startDate" style="padding-left: 5px;" />
      </div>
      <div class="h50px" fxLayout="column">
        <span class="ft13 gray-9">Final de la suscripción:</span>
        <input type="datetime-local" formControlName="endDate" style="padding-left: 5px;" />
      </div>

      <div *ngIf="showWarningDate">
        <span class="blueLink">
          <img [src]="icon.information" class="h16px pdl05 makeBlue" alt="" />
          Esta empresa tiene licencias activas. Se recomienda que las nuevas
          tengan el mismo periodo actual.
        </span>
      </div>
      <div fxLayout="column" class=" h50px">
        <span class="ft13 gray-9">Estatus:</span>
        <mat-select
          placeholder="Seleccione el estatus"
          formControlName="status"
          style="border: 1px solid; padding-left: 5px; padding-right: 5px;"
        >
          <mat-option *ngFor="let status of statusChoices" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1rem"
        class="h50px"
      >
        <div fxLayout="column" class="">
          <span class="ft13 gray-9">Cantidad de licencias:</span>
          <input
            type="number"
            min="1"
            formControlName="quantity"
            style="width: 100%; padding-left: 5px;"
          />
        </div>
        <div fxLayout="column" class="">
          <span class="ft13 gray-9">Cantidad de rotaciones:</span>
          <input
            type="number"
            min="0"
            formControlName="rotations"
            style="width: 100%; padding-left: 5px;"
          />
        </div>
      </div>
    </div>
    <div
      *ngIf="showAlertText"
      class="mgt03"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <span style="color: red !important"
        >Debes elegir un producto y una fecha de finalizacion.</span
      >
    </div>
    <div
      class="fw mgt20"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="2rem"
    >
      <button
        class="blueButtonAnim button-animation h28px mgr10"
        fxLayout="row"
        fxLayoutGap="0.625"
        fxLayoutAlign="center center"
        type="submit"
      >
        <mat-icon class="ft16 gray-1 pd0">save</mat-icon>
        Guardar
      </button>
      <button
        class="redButtonAnim button-animation h28px mgr10"
        fxLayout="row"
        fxLayoutGap="0.625"
        fxLayoutAlign="center center"
        type="button"
        (click)="cancel()"
      >
        <mat-icon class="ft16 gray-1 pd0">cancel</mat-icon>
        Cancelar
      </button>
    </div>
  </form>
</div>
