<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10">Usuarios</p>
    <div fxLayout="row" fxLayoutAlign="space-between center" class=" ">
        <div fxLayout="row" fxLayoutAlign=" center" class="shadow-animation radius20">
            <app-search-input-box class=""></app-search-input-box>
        </div>
        <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation " 
        style="border-radius: 24px !important;"  (click)="createNewStudent()">
            <img [src]="icon.addNew" class="h16px pdr05 makeWhite" alt="">
            Nuevo Usuario
        </button>
    </div>
    <!-- student list -->
    <div fxLayout="columm" fxLayoutAlign="center center" class="fw vh50 pdr20" >
        <app-admin-student-list class="fw" (onStudentSelected)="onStudentSelected($event)"></app-admin-student-list>
    </div>
</div>    
