.container {
    overflow-y: auto;
    max-height: 35rem;
  }


  .cards {
    padding: 12px 18px;
  }
  

  .input-number {
    width: calc(30px + .5rem);
    border: 1px solid var(--gray-3);
    border-radius: 4px;
    text-align: center;
    padding-left: .5rem;
    font-size: 12px;
  

}

.input-number:focus {
    border: 1px solid var(--gray-3);
    outline: 0;

}

.inputDate{
  border: 1px solid var(--gray-3);
  border-radius: 4px;
  padding-left: .5rem;
  font-size: 12px;

}

.chart-container {
  /* padding-top: 2rem; */
  /* width: 100%; */
  /* height: max-content; */
  width: 100%;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; 
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.selectedTab{
  color: var(--blue-5);
  font-size: 13px;
  font-family: "Gordita-medium";
  font-weight: 500;
  border-bottom: 2px solid;
}



.header--edit {
  background-color: var(--yellow-5);
  position :fixed;
  width: 96.3%;
  border-radius: 6px;
  z-index: 1000;
}
.input-container {
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: white;
  font-size: 14px;
}

.custom-input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.mirror-text {
  position: absolute;
  height: 0;
  overflow: hidden;
  font-size: 14px; /* Asegúrate de que la fuente coincida con el input */
}

.chart-container {
  /* padding-top: 2rem; */
  /* width: 100%; */
  /* height: max-content; */
  width: 70%;
}
.progress-item {
  margin-bottom: 10px; /* Espacio entre cada barra de progreso */
  width: 100%; /* Asegura que el item ocupa todo el ancho de su contenedor */
}

.progress-container {
  background-color: #e0e0e0; /* Color de fondo de la barra de progreso */
  height: 20px; /* Altura de la barra de progreso */
  border-radius: 5px; /* Bordes redondeados para la barra de progreso */
}

.progress-bar {
  height: 20px; /* Altura de la barra de progreso activa */
  border-radius: 5px; /* Bordes redondeados para la barra de progreso activa */
  color: white; /* Color de texto dentro de la barra de progreso */
  text-align: right; /* Alinear texto a la derecha dentro de la barra */
  padding-right: 5px; /* Espacio a la derecha del texto dentro de la barra */
  line-height: 20px; /* Centrar texto verticalmente dentro de la barra */
}
.containerAllQustions{
  min-height: calc(80vh);
  max-height: calc(80vh);
  /* width: calc((100% - 1rem)*2/3);
   */
  overflow: auto;
}
.course-type {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Asegura que el contenido esté centrado verticalmente */
}