<div fxLayout="row" fxLayoutAlign="space-between" class="mgt10" fxLayoutGap="2rem">
    <!-- Resumen de competencias -->

    <div class="w-40 radius10 shadowLight pd10 cards fh" fxLayout="column" fxLayoutGap="1rem"  style="background-color: rgba(244, 244, 244, 0.362); ">
        <div class="mgt10" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" >    
            <img [src]="icon.ticTacToe" class="makeBlue h20px"  alt="">
            <span class="ft500  ft14  black"  >Resumen de competencias </span>
        </div>
        <div class="chart-container mgt10 fw" >
            <canvas id="chart" ></canvas>
        </div>
        <div class="badge-container" style="margin-top: -10px; display: flex; align-items: center;">
            <!-- Leyenda para Plan de estudios -->
            <div style="display: flex; align-items: center; margin-right: 20px;">
              <span style="height: 15px; width: 15px; background-color: rgb(54, 162, 235); display: inline-block; margin-right: 5px; border-radius: 3px;"></span>
              <span>Plan de estudios</span>
            </div>
            
            <!-- Leyenda para Progreso -->
            <div style="display: flex; align-items: center;">
              <span style="height: 15px; width: 15px; background-color: #00BF9C; display: inline-block; margin-right: 5px; border-radius: 3px;"></span>
              <span>Progreso</span>
            </div>
        </div>
        <!-- <div fxLayout="column" fxLayoutGap="1rem" *ngFor="let competence of competences; let i = index">
            <span>{{competence.title}}</span>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap=".5rem">
                <div *ngFor="let categorie of competence.categories; let i = index" class="mgb05">
                    <span  class="radius10 pd03 backGray2"> {{categorie}} </span>
                </div>
            </div>
        </div> -->
        <div class="chart-container ft13 fw">
            <div class="mgt10 fw" *ngFor="let category of categoriesAndSkillsWidgetData; let i = index">
              <div class="ft14">Pilar {{i + 1}}: {{category.label}}</div>
              <div class="skills-container">
                <ng-container *ngFor="let skill of category.skills; let indexSkill = index">
                  <!-- Muestra solo las primeras 4 habilidades -->
                  <div *ngIf="indexSkill < 4" [matTooltip]="skill"
                       style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                       class="skill-badge ListHover2 radius10 backGray2 pdl05 pdr05 gray-8 mgt05">
                    {{skill}}
                  </div>
                </ng-container>
                <!-- Elemento adicional para mostrar el número de habilidades no visibles y sus nombres en un tooltip -->
                <div *ngIf="category.skills.length > 4"
                     [matTooltip]="getAdditionalSkillsTooltip(category.skills)"
                     style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"
                     class="skill-badge ListHover2  radius10 backGray2 pdl05 pdr05 gray-8 mgt05">
                  +{{category.skills.length - 4}}
                </div>
              </div>
            </div>
        </div>
          
    </div>
    <!-- Plan de estudios -->

    <div class="w-70 radius10 shadowLight cards " fxLayout="column" fxLayoutGap=""  style="background-color: rgba(244, 244, 244, 0.362); ">
        <div class="mgt10"  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
            <img [src]="icon.course" class="makeBlue h20px" alt="">
            <span class="ft500  ft14  black">Plan de estudios</span>
        </div>
        
        <ng-container *ngIf="!showInitForm">
            <div  *ngIf="getDelayedMonthsCount() > 0" class="border radius10 pd05 backRed1 mgt10" fxLayout="row" fxLayoutAlign="space-between center" style="border-color: red !important;">
                <img [src]="icon.redWarning2" class="h16px " alt="">
                <span class="red-5 ft14 ft600"> 
                    Advertencia: este usuario tiene {{ getDelayedMonthsCount() }} {{getDelayedMonthsCount() > 1 ? "meses atrasados" : "mes atrasado"}}
                </span>
                <div></div>
                <!-- <button class="redButton btn">Alertar via e-mail</button> -->
            </div>
            <div *ngIf="(selectedProfile && months && months.length > 0) else noPlan" >
                <div *ngIf="diagnosticTest" fxLayout="row" class="mgt15 mgb10 mgl15" fxLayoutAlign="space-between center">
                    <span class="ft13"> Examen diagnóstico del perfil </span>
                    <!-- just to see the dates -->
                    <!-- <span>{{diagnosticTest.date | date:'dd/MM/yy'}}</span> -->
                    <!--  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="" fxLayoutGap="0.5rem">
                        <img *ngIf="diagnosticTest.score >= 0" [src]="icon.greenCheck" class="h20px mgr05 makeGreen" alt="">
                        <!-- <span class="ft13 ft500 mgr15"> {{diagnosticTest.score >= 50 ? 'Aprobado' : 'Reprobado'}} con {{diagnosticTest.score}} </span> -->
                        <span *ngIf="diagnosticTest.score >= 0" class="makeGreen mgr10 ft14 ft400" >Completado </span>
                    </div>
                </div>
                <div *ngIf="!diagnosticTest">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="" fxLayoutGap="0.5rem">
                        <span class="ft13 ft500 mgl15 mgt15 " style="color: red; ">No ha presentado el examen diagnóstico</span>
                        <img class="h20px mgr20 mgt10 " [src]="icon.redWarning2">

                    </div>  

                </div>
                <div *ngFor="let month of months; let index = index" fxLayout="column"  class="mgt20 mgl05 mgr05">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgb10 radius6">
                        <span class="ft12 ft600 black">{{month.monthName | titlecase}} {{month.yearNumber}} </span>
                        <img *ngIf="isMonthPast(month) && !isMonthCompleted(month)" [src]="icon.redWarning2" class="makeRed h14px" alt="">
                    </div>
                    <div *ngFor="let course of month.courses; let i = index" fxLayout="column" fxLayoutAlign="center" 
                        class="h50px pd10 ListHover" [ngClass]=" i % 2 ? '' : 'backGray1'">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="ft12"> {{course.courseTitle}} </span>
                            <!-- just to see the dates -->
                            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign=" center">
                                <!-- <span>{{course.dateStartPlan | date:'dd/MM/yy'}}</span>
                                <span>{{course.dateEndPlan | date:'dd/MM/yy'}}</span> -->
                                <!--  -->
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="" fxLayoutGap="0.5rem">
                                    <div>
                                        <img *ngIf="course.dateEnd" [src]="icon.greenCheck" class="h20px mgr05 makeGreen" alt="">
                                        <span *ngIf="course.dateEnd" class="makeGreen mgr10 ft14 ft400" >Completado </span>
                                    </div>
                                    
                                    <span style="width: 50px;" *ngIf="course.dateEnd" class="ft500"> {{course.finalScore>=100? 100 : course.finalScore}}/100</span>
                                    <!-- <span *ngIf="!course.dateEnd" class="ft12"> {{course.duration | number:'1.0-1'}} hr </span>  -->
                                    <!-- <span class="ft12"> {{course.duration | number:'1.0-1'}} hr </span> -->
                                    <img matTooltip="Ver certificado" *ngIf="course.dateEnd" [src]="icon.certificado" (click)="verCertificadoCourse(course)" class="h20px mgr05 cursorPointer" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noPlan>
                <span>El usuario aun no posee un plan de estudios</span>
            </ng-template>
        </ng-container>
        <ng-container *ngIf="showInitForm">
            <span class="ft500 gray-10 ft14 mgt10">Selecciona alguna de las siguientes opciones:</span>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5rem" class="mgt10 mgb05">
                <span [ngClass]="initFormTab == 0 ? 'selectedTab ' : 'ft13 gray-9 cursorPointer'" (click)="initFormTab=0">Iniciar plan de estudios</span>
                <span [ngClass]="initFormTab == 1 ? 'selectedTab' : 'ft13 gray-9 cursorPointer'" (click)="initFormTab=1">Inscribir cursos extracurriculares</span>
            </div>
            <div *ngIf="initFormTab === 0" fxLayout="column"> 
                <span class="ft500 gray-10 ft14 mgt10">¡Inicia el plan de estudios de {{student.displayName.split(' ')[0] | titlecase}}!</span>
                <span class="mgt05">Indique los siguientes datos para inicializar su plan de estudio:</span>
                <div fxLayout="column" class="mgt10">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                        <span class="ft500 ft12 gray-8 w100px">Estudio mensual:</span>
                        <input type="number" min="0" class=" input-number" [(ngModel)]="hoursPermonthInitForm">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgt05">
                        <span class="ft500 ft12 gray-8 w100px">Fecha de inicio:</span>
                        <input class="inputDate" (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker"  [(ngModel)]="startDateInitForm" >
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgt10">
                    <button *ngIf="hoursPermonthInitForm && startDateInitForm" (click)="saveInitForm()" class="blueButton">Iniciar plan de estudio</button>
                </div>
            </div>
            <div *ngIf="initFormTab === 1" fxLayout="column" fxLayoutGap="1rem">
                <span class="ft500 gray-10 ft14 mgt10">¡Inscribe los cursos del perfil como extracurriculares!</span>
                <button (click)="saveInitForm()" class="blueButton w-30">Inscribir cursos extracurriculares</button>
            </div>
        </ng-container>
    </div>
</div>

