<div fxLayout="column " class="w-100">
    <div fxLayout="column" class="mgb10">
        <div fxLayout="column" fxLayoutGap=".5rem">
        <span class="ft14 ft500 gray-10">¿Cómo funcionan los puntos?</span>
        <span class="ft13 mgt05 gray-8 " fxLayoutAlign="center center">  Cada ves que tus usuarios completen un curso de su plan de estudios <br> suma puntos y le ayuda a subir su puesto en el ranking </span>
    </div>


    <!-- <div class="mgt05">
        <div fxLayout="column">
            <span class="ft10 ft600 gray-10">Bonus</span>
            <span class="ft10 gray-10 mgt05">Calificación >  80%: + 10% </span>
            <span class="ft10 gray-10">Calificación >  90%: + 30% </span>
            <span class="ft10 gray-10">Calificación = 100%: + 50% </span>
        </div>
    </div>
    <div class="mgt05">
        <div fxLayout="column">
            <span class="ft10 ft600 gray-10">Penalización</span>
            <span class="ft10 gray-10 mgt05">Retraso >  1  día: - 10% </span>
            <span class="ft10 gray-10">Retraso >  3 días: - 30% </span>
            <span class="ft10 gray-10">Retraso >  5 días: - 50% </span>
        </div>
    </div>
</div> -->