<span class="gray-10">Account manager</span>
<div fxLayout="column" class="card-container-xl mgt05 mgr10 pd05">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row"  fxLayoutAlign="center center">
            <img onerror="this.src='assets/images/default/default-user-image.jpg'" 
            [src]="enterprise?.photoUrl" class="avatar5" alt="">
            <div fxLayout="column" fxLAyout="center center">
                <span class="mgl10 ft16 ft600 gray-10">{{enterprise?.name}}</span>
                <span class="mgl10">Account manager</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center">
            <img [src]="icon.whatsapp_gray" class="makeGray h24px" alt="">
            <button class="blueButton btn">Contactar vía email</button>
        </div>
    </div>
    <div class="mgt05">
        <span>
            Hola, soy Kevin Grajales, estoy aqui como tu account manager en esta aplicación. Si tienes
            alguna pregunta o necesitas asistencia, no dudes en contactarme.
        </span>
        <span>
            Además, cada mes, te proporcionaré un reporte detallado para mantenerte al tanto de los progresos 
            y rendimiento
        </span>
    </div>
</div>
