<div class="">
    <button class="greenButton" (click)="createTestData()">Crear datos de prueba</button>
    <table mat-table [dataSource]="dataSource">

        <!-- Monto Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Monto </th>
            <td mat-cell *matCellDef="let charge"> 
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center" >
                    <div class="ft500 ft14 gray-10 w-50">{{ charge.amount | number:"1.2-2"}}</div>
                    <div class="ft500 ft14 gray-8 ftup">{{charge.currency}}</div>
                </div>
            </td>
        </ng-container>
        
        <!-- Origen de Column -->
        <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Método de pago</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> {{ charge.paymentMethod}} </td>
        </ng-container>

        <!-- Estatus Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Estatus</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> 
                <span *ngIf="charge.status == 'succeeded'" class="backGreen1 radius6 pd05 fw ft11 green-4">{{charge.status}}</span>
                <span *ngIf="charge.status == 'pending'" class="backGray3 radius6 pd05 fw ft11 gray-8">{{charge.status}}</span>
                <span *ngIf="charge.status == 'failed'" class="backRed1 radius6 pd05 fw ft11 red-5" [matTooltip]="charge.failureMessage">Failed</span>
            </td>
        </ng-container>

        <!-- Producto Column -->
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Producto</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> {{ charge.productName }} </td>
        </ng-container>

        <!-- Descripción Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Descripción</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> {{ charge.description }} </td>
        </ng-container>

        <!-- Cliente (nombre y correo) Column -->
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext centertext">Cliente</th>
            <td mat-cell *matCellDef="let charge" class="ft14"> 
                <div fxLayout="row"  fxLayoutGap=".75rem" fxLayoutAlign=" center" >
                    <div class="ft500 ft14 gray-10 w-50">{{ charge.customerName | titlecase }}</div>
                    <div class="ft500 ft12 gray-8">{{ charge.customerEmail }}</div>
                </div>
            </td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Fecha</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> {{ charge.createdAt | date:"dd/MM/yyyy"}} </td>
        </ng-container>

        <!-- Fecha pago Column -->
        <ng-container matColumnDef="payAt">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Fecha pago</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> {{ charge.payDate | date:"dd/MM/yyyy" }} </td>
        </ng-container>

        <!-- Devolución Column -->
        <ng-container matColumnDef="refund">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext">Devolución</th>
            <td mat-cell *matCellDef="let charge" class="centertext ft14"> {{ charge.amountRefunded > 0 ? (charge.amountRefunded | number:"1.2-2") : null }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container>
            <tr
                mat-row
                *matRowDef="let charge; columns: displayedColumns;"
                >
            </tr>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">No se han encontrado pagos para el criterio de busqueda</td>
        </tr>
    </table>

    <mat-paginator
        aria-label="Select page of users"
        [pageSize]="pageSize"
        [length]="totalLength"
        (page)="onPageChange($event.pageIndex + 1)"
    ></mat-paginator>
</div>
  
  