<div 
  *ngIf="allCoursesData && allCurrentUsersData"
  fxLayout="row"
  fxLayoutGap="5rem"
  fxLayoutAlign="start center"
  class="pd20"
>

  <!-- <button class="ft20 blueButton" (click)="migrateUsers()">
    Migrar Usuarios
  </button>

  <button class="ft20 greenButton" (click)="migrateCoursesByStudent()">
    Migrar Course by student
  </button>

  <button class="ft20 orangeButton" (click)="migrateClassesByStudent()">
    Migrar Class by student
  </button>  -->

</div>

<div class="pd20">
  <!-- <button class="ft24 redButton" (click)="addUserInCollection()">Migrar usuario especifico</button> -->
  <button class="ft24 redButton" (click)="testEmail()">Correo de prueba</button>
</div>