<div class="fw">
    <table *ngIf="royaltiesData" class="fw pdb20 mgb20">
        <thead *ngIf="origen!='instructor'">
            <th>Instructor</th>
            <th>Hrs Tot</th>
            <th>Fv Tot.</th>
            <th>% Reg.</th>
            <th>Tot USD</th>
            <th>Predyc USD</th>
            <th>Inst USD</th>
        </thead>
        <ng-container *ngFor="let instructor of royaltiesData.instructores">
            <tr *ngIf="origen!='instructor'">
                <td class="backGray5 gray-2">{{instructor.nombre}}</td>
                <td class="backGray5 centertext gray-2">{{(instructor.tiempoTotalMinutes / 60) | number:"1.2-2"}} h</td>
                <td class="backGray5 centertext gray-2">{{instructor.factorVisualizacion | number:"1.2-2"}}%</td>
                <td class="backGray5 centertext gray-2">{{instructor.porcentaje}}%</td>
                <td class="backGray5 centertext gray-2">{{instructor.montoTotal | number:"1.2-2"}} USD</td>
                <td class="backGray5 centertext gray-2">{{instructor.montoPredyc | number:"1.2-2"}} USD</td>
                <td class="backGray5 centertext gray-2">{{instructor.montoInstructor | number:"1.2-2"}} USD</td>
            </tr>
            <thead>
                <th class="align-start pdl10">Curso</th>
                <th>Hrs Tot</th>
                <th>Fv Tot.</th>
                <th>% Reg.</th>
                <th *ngIf="(instructor.montoTotal !== null && instructor.montoTotal !== undefined )|| origen!='instructor'">Tot USD</th>
                <th *ngIf="(instructor.montoPredyc !== null && instructor.montoPredyc !== undefined )|| origen!='instructor'">Predyc USD</th>
                <th *ngIf="(instructor.montoInstructor !== null && instructor.montoInstructor !== undefined) || origen!='instructor'">Inst USD</th>
            </thead>
            <tr *ngFor="let curso of instructor.cursos; let i = index">
                <td class="">{{curso.name}}</td>
                <td class="centertext">{{(curso.tiempoVistoMinutes)/60 | number: "1.2-2"}} h</td>
                <td class="centertext">{{curso.factorVisualizacion | number:"1.2-2"}}%</td>
                <td class="centertext">{{(curso.porcentajeInstructor ? curso.porcentajeInstructor :  instructor.porcentaje) | number:"1.2-2" }}%</td>
                <td *ngIf="(curso.montoTotal !== null && curso.montoTotal !== undefined) || origen!='instructor'" class="centertext">{{(curso.montoTotal?curso.montoTotal:0 ) | number:"1.2-2"}} USD</td>
                <td *ngIf="(curso.montoPredyc !== null && curso.montoPredyc !== undefined) || origen!='instructor'" class="centertext">{{(curso.montoPredyc?curso.montoPredyc:0) | number:"1.2-2"}} USD</td>
                <td *ngIf="(curso.montoInstructor !== null && curso.montoInstructor !== undefined) || origen!='instructor'" class="centertext">{{curso.montoInstructor | number:"1.2-2"}} USD</td>
            </tr>
        </ng-container>
    </table>
</div>



  
  