<div class="fw">
    <table *ngIf="royaltiesData" class="fw pdb20">
        <thead>
            <th>Instructor</th>
            <th>Hrs Tot</th>
            <th>Fv Tot.</th>
            <th>% Reg.</th>
            <th>Tot USD</th>
            <th>Predyc USD</th>
            <th>Inst USD</th>
        </thead>
        <ng-container *ngFor="let instructor of royaltiesData.instructores">
            <tr>
                <td class="backGray5 gray-2">{{instructor.nombre}}</td>
                <td class="backGray5 centertext gray-2">{{(instructor.tiempoTotalMinutes / 60) | number:"1.2-2"}} h</td>
                <td class="backGray5 centertext gray-2">{{instructor.factorVisualizacion | number:"1.2-2"}}%</td>
                <td class="backGray5 centertext gray-2">{{instructor.porcentaje}}%</td>
                <td class="backGray5 centertext gray-2">{{instructor.montoTotal | number:"1.2-2"}} USD</td>
                <td class="backGray5 centertext gray-2">{{instructor.montoPredyc | number:"1.2-2"}} USD</td>
                <td class="backGray5 centertext gray-2">{{instructor.montoInstructor | number:"1.2-2"}} USD</td>
            </tr>
            <thead>
                <th>Curso</th>
                <th>Hrs Tot</th>
                <th>Fv Tot.</th>
                <th>% Reg.</th>
                <th>Tot USD</th>
                <th>Predyc USD</th>
                <th>Inst USD</th>
            </thead>
            <tr *ngFor="let curso of instructor.cursos; let i = index">
                <td class="centertext">{{curso.name}}</td>
                <td class="centertext">{{(curso.tiempoVistoMinutes)/60 | number: "1.2-2"}} h</td>
                <td class="centertext">{{curso.factorVisualizacion | number:"1.2-2"}}%</td>
                <td class="centertext">{{instructor.porcentaje}}%</td>
                <td class="centertext">{{curso.montoTotal | number:"1.2-2"}} USD</td>
                <td class="centertext">{{curso.montoPredyc | number:"1.2-2"}} USD</td>
                <td class="centertext">{{curso.montoInstructor | number:"1.2-2"}} USD</td>
            </tr>
        </ng-container>
    </table>
</div>



  
  