<div fxLayout="column" class="mgt20 mgr10 pd20 shadowLight radius10  " style="background-color: rgba(244, 244, 244, 0.362);  margin-left: 15px; height: 45vh;" >
    
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="gray-10 ft14 ft600" >Información personal</span>
        <div fxLayout="row"  fxFlexAlign="start" (click)="onClick()" style="margin-right: -21px;">
            <span class="mgr03 mgt03 makeGray ft400 ft14 "  >Editar</span> 
            <img [src]="isEditing ? icon.check : icon.edit" class=" makeGray h20px mgt03  cursorPointer" alt=""> 
        </div>
    </div>
    <form *ngIf="adminUser" [formGroup]="form" (ngSubmit)="onSubmit()" > 
        <div fxLayout="column" class="mgl05">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <div fxLayout="column" class="mgt15">
                    <span >Mail</span>
                    <span class="makeGray mgb15 mgt05" >
                        {{adminUser.email}}
                    </span>
                </div>
                <div fxLayout="column" class="mgt15">
                    <span class="">Cargo</span>
                    <span class="makeGray mgb15 mgt05" *ngIf="!isEditing">
                        {{form.get('job').value ? form.get('job').value : onNullFormValues.job}}
                    </span>
                    <input *ngIf="isEditing" type="text" placeholder="Introduzca el Cargo" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="job">
                </div>                 
                <div fxLayout="column" class="mgt15">
                    <span>Teléfono</span>
                    <span class="makeGray mgt03" *ngIf="!isEditing">
                        {{form.get('phoneNumber').value ? form.get('phoneNumber').value : onNullFormValues.phoneNumber}}
                    </span>
                    <input *ngIf="isEditing" type="number" placeholder="Introduzca el Teléfono" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="phoneNumber">
                </div>
    
            </div>
            
        </div>
        <span class="gray-10 ft14 ft600">Dirección</span>
        <div fxLayout="column" class="mgl05 mgt15">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column">
                    <span >País</span>
                    <span class="makeGray mgb15 mgt05" *ngIf="!isEditing">
                        {{form.get('country').value ? form.get('country').value : onNullFormValues.country}}
                    </span>
                    <select
                        *ngIf="isEditing"
                        formControlName="country"
                        >
                        <option [value]="null">País de residencia</option>
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                </div>
                <div fxLayout="column">
                    <span >Ciudad / Estado</span>
                    <span class="makeGray mgb15 mgt05" *ngIf="!isEditing">
                        {{form.get('city').value ? form.get('city').value : onNullFormValues.city}}
                    </span>
                    <input *ngIf="isEditing" type="text" placeholder="Introduzca la Ciudad" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="city">
                </div>
                <div fxLayout="column">
                    <span >CP</span>
                    <span *ngIf="!isEditing" class="makeGray mgb15 mgt05" >{{form.get('zipCode').value ? form.get('zipCode').value : onNullFormValues.zipCode}}</span>
                    <input *ngIf="isEditing" type="number" placeholder="Introduzca el código postal" [ngClass]="isEditing ? '' : 'disabledInput'" 
                    class="input" formControlName="zipCode" min="0">
                </div>
            </div>
        </div>
    </form>
</div>