.card-container-lg {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #D5DCE0;
    height: 340px;
}

.input{
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
    font-size: 14px !important;
}

.disabledInput{
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
    font-size: 11px !important;
    opacity: .75 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}