<div class="fw" fxLayoutAlign="space-between center" fxLayout="row">
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
        <div class="iconContainer" fxLayoutAlign="center center">
            <img [src]="icon.clockBlue" class="makeBlue" alt="">
        </div>
        <span class="ft12 gray-10 ft600" *ngIf="chartTab == 0">Tiempo de estudio esta semana</span>
        <span class="ft12 gray-10 ft600" *ngIf="chartTab == 1">Tiempo de estudio 12 meses</span>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".7rem" class="">
        <div (click)="chartTab = 0"
            [ngClass]="chartTab == 0?'chipBlueSelected ft11 ft500':'chipBlue ft500 ft11'">
            7 días
        </div>
        <div (click)="chartTab = 1"
            [ngClass]="chartTab == 1?'chipBlueSelected ft11 ft500':'chipBlue ft500 ft11'">
            12 meses
        </div>
    </div>
</div>
<span class="ft11 mgt10 gray-10">Tu equipo ha acumulado  <span class="ft11 gray-10 ft500">{{(chartTab == 0 ? hoursTimeWeek : hoursTimeMonth) | number:"1.1-1"}}
        horas</span> de estudio {{chartTab == 0 ? 'esta semana' : 'este mes'}}
</span>
<div *ngIf="chartTab == 0" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="mgt08 h-75">
    <div fxLayout="column" fxLayoutAlign="center center" class="fh w-40 positionRelative">
        <span class="ft11 gray-10">Objetivo semanal</span>
        <div class="fh fw" fxLayoutAlign="start center">
            <div class="backProgressSpinner" fxLayoutAlign="center center">
                <div class="textoSpinner">
                    <span class="ft10 gray-10"><span class="ft500 ft10 gray-10">{{hoursTimeWeek | number:"1.1-1"}}</span> / 20 hrs</span>
                </div>
                <div class="">
                    <mat-progress-spinner [value]="this.hoursTimeWeek*100/20" class=""></mat-progress-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="fw fh" fxLayout="column" fxLayoutAlign="start center">
        <span class="ft11 gray-10">Calificación promedio</span>
        <app-study-time-weekly-chart [logs]="logs" class="fw h-90 mgt05"></app-study-time-weekly-chart>
    </div>
</div>
<div *ngIf="chartTab == 1" class="fw h-75 mgt08">
    <app-study-time-monthly-chart [logs]="logs" class="fw fh"></app-study-time-monthly-chart>
</div>
