<div class="fw" fxLayoutAlign="space-between center" fxLayout="row">
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
        <div class="iconContainer" fxLayoutAlign="center center">
            <img [src]="icon.clockBlue" class="makeBlue" alt="">
        </div>
        <span class="ft12 gray-10 ft600">Tiempo de estudio mensual</span>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="mgt08 h-75 pdl10 pdr10">
    <div fxLayout="column" fxLayoutAlign="center center" class="fh w-40 positionRelative">
        <div class="fh fw" fxLayoutAlign="center center">
            <div class="backProgressSpinner" fxLayoutAlign="center center">
                <div class="textoSpinner">
                    <span class="ft10 gray-10"><span class="ft500 ft10 gray-10">{{hoursTimeMonth | number:"1.1-1"}}</span> / 20 hrs</span>
                </div>
                <div class="">
                    <mat-progress-spinner [value]="this.hoursTimeMonth*100/20" class=""></mat-progress-spinner>
                </div>
            </div>
        </div>
        <div><span class="ft500 ft10 gray-10 fw">Mes actual: {{currentMonth}}</span></div>
    </div>
    <div class="fw fh" fxLayout="column" fxLayoutAlign="start center">
        <app-study-time-monthly-chart [logs]="logs" class="fw fh"></app-study-time-monthly-chart>
    </div>
</div>
