<div *ngIf="!loaderService.loading" class="mgt20 mgl20 mgr20 mgb30">
  <div fxLayout="row" fxLayoutAlign="space-between center" class=" ">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="positionRelative">
        <img class="photo-shadow avatarshadow" onerror="this.src='assets/images/default/default-user-image.jpg'"[src]="enterprise?.photoUrl" alt="" />
        <!-- <div class="photo-change" fxLayoutAlign="center center"><img [src]="icon.camera" class="makeGray8 avatarSquare1" alt=""></div> -->
      </div>
      <span class="mgl10 ft16 ft600 gray-10">
        {{ enterprise.name | titlecase }}
      </span>
    </div>
    <!-- <button class="blueButtonAnim button-animation ft500 " (click)="openDownloadReportModal()">Descargar reporte</button> -->
    <button [disabled]="generatinReport" class="blueButtonAnim button-animation ft500 w180px" [matMenuTriggerFor]="formatMenu" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner  *ngIf="generatinReport" diameter="20"class="spinner-blanc"></mat-spinner>
      <ng-container *ngIf="!generatinReport">Descargar reporte</ng-container>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="1.3rem"class="h-35 mgt15" >
    <div class="radius10 w-50 pd10"  style="background-color: rgba(244, 244, 244, 0.362)" >
      <app-users-study-time-container class="fh"></app-users-study-time-container>
    </div>
    <div class="radius10 w-50 pd10" style="background-color: rgba(244, 244, 244, 0.362)">
      <app-users-rhythm [rythms]="rythms"></app-users-rhythm>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="1.3rem"class="mgt15" >
    <div class="radius10 w-50 pd10"  style="background-color: rgba(244, 244, 244, 0.362)" >
      <app-ranking-list *ngIf="allUsers" [classes]="classes" [profiles]="profiles" [courses]="courses" [allUsers]="allUsers"></app-ranking-list>
    </div>
    <div class="w-50">
      <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="1rem" >
        <div class="radius10 fw pd10"  style="background-color: rgba(244, 244, 244, 0.362)" >
          <app-users-onboarding [enterprise]="enterprise" [users]="users"></app-users-onboarding>
        </div>
        <div class="radius10 fw pd10"  style="background-color: rgba(244, 244, 244, 0.362)" >
          <app-users-activity [enterprise]="enterprise" [users]="users"></app-users-activity>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="2rem"  class="mgt10">
        <div class="radius10 fw pd10"  style="background-color: rgba(244, 244, 244, 0.362)" >
          <app-users-activity [enterprise]="enterprise" [users]="users"></app-users-activity>
        </div>
      </div> -->

      <div *ngIf="enterprise['usage']" fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="2rem"  class="mgt10">
        <!-- <div class="radius10 fw pd10 shadowLight"  style="background-color: rgba(244, 244, 244, 0.362)" >
          <app-users-onboarding [enterprise]="enterprise" [users]="users"></app-users-onboarding>
        </div> -->
        <div class="radius10 fw pd10"  style="background-color: rgba(244, 244, 244, 0.362)" >
          <app-users-usage [enterprise]="enterprise"></app-users-usage>
        </div>
      </div>
    </div>
  </div>

</div>

<mat-menu #formatMenu="matMenu" class="radius6 shadow16 pd0">
  <div fxLayout="column" class="pd0">
    <div (click)="openDownloadReportModal()" mat-menu-item class="opcionMenu" fxLayout="row" fxLayoutAlign=" center" >
      <span class="pdl05 ft12 gray-10">PDF</span>
    </div>
    <div (click)="downloadReport()" mat-menu-item class="opcionMenu" fxLayout="row" fxLayoutAlign=" center" >
      <span class="pdl05 ft12 gray-10">Excel</span>
    </div>
      <div *ngIf="this.user.isSystemUser" (click)="descargarDatosFoms()" mat-menu-item class="opcionMenu" fxLayout="row" fxLayoutAlign=" center" >
        <span class="pdl05 ft12 gray-10">Formularios</span>
      </div>
      <div *ngIf="this.user.isSystemUser" (click)="descargarDatosMEC()" mat-menu-item class="opcionMenu" fxLayout="row" fxLayoutAlign=" center" >
        <span class="pdl05 ft12 gray-10">Man. en acción</span>
      </div>
      <div *ngIf="this.user.isSystemUser" (click)="getValoraciones()" mat-menu-item class="opcionMenu" fxLayout="row" fxLayoutAlign=" center" >
        <span class="pdl05 ft12 gray-10">Obtener valoraciones</span>
      </div>
    </div>
</mat-menu>
