.inputNumber{
    outline: none;
}

.inputNumber:focus{
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.blueBorder{
    border: 1px solid var(--blue-5);
    border-radius: 6px;
}