<div fxLayout="column" class="pd10 scrollpls">
    <div fxLayout="row" fxLayoutAlign="end">
        <div  class="iconContainer cursorPointer mgl05 mgt05 " (click)="salir()"
            fxLayoutAlign="center center"> <img [src]="icon.close" class="makeGray h24px">
        </div>
    </div>
    <div fxLayoutAlign="center center">
        <label class="gray-10 ft600  ft16"fxLayoutAlign="center center">Adquirir licencias</label>
    </div>
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="1rem" fxLayoutGap.lt-md="0rem"  class="fw mgt05 containerTabla ">    
        <div fxLayout="row"  class="mgt05">
            <label class="gray-10 ft500  ft14">Indique la cantidad de licencias que quiere solicitar</label>
            <input type="number" min="0" class="ft14 gray-8  centertext inputNumber" fxLayoutAlign="end" style="width: auto; margin-left: 70px;" [(ngModel)]="licensesQty">

        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mgt10 border-tl">
        </div>
        <span  class="ft14 ft500 black mgt10" fxLayoutAlign="center center" >Seleccione una de las siguientes opciones:</span>
        <div *ngIf="enterprise" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
            <div fxLayout="column" fxLayout.lt-md="row"  fxLayoutAlign.lt-md="center center" ngClass="blueBorderContainer centertext" style="width: 200px;" fxLayoutAlign="center center" fxLayoutGap=".5rem"
            (click)="openWhatsappContacto()" fxLayout="column">
                <img [src]="icon.whatsapp_blue " class="" alt="" ngClass="h40px" ngClass.lt-md="h26px">
                <span class="ft500 ft14 nowrap"> Whatsapp </span>
            </div>
            <div fxLayout="column" fxLayout.lt-md="row"  fxLayoutAlign.lt-md="center center" ngClass="blueBorderContainer centertext fw" style="width: 200px;" fxLayoutAlign="center center" fxLayoutGap=".5rem"
                (click)="emailContacto()" fxLayout="column">
                <img [src]="icon.email" alt="" ngClass="h40px makeBlue" ngClass.lt-md="h26px">
                <span class="ft500 ft14 nowrap">Correo</span>
            </div>
        </div>
    </div>
</div>

