<div class="mgt20 mgl20 mgr20">
    <p class="ft600 ft16 gray-10">Empresas</p>
    <div fxLayout="row" class="mgb05 fw" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start" >
            <div class="radius10 shadowLight pdt10   cards" alt="stats-empresas" fxLayoutAlign="center center" fxLayout="column" style="height: 10vh; background-color: rgba(244, 244, 244, 0.362); ">
                <div fxLayout="row" class="mgb08" fxLayoutAlign="center center" >
                    <div fxLayout="row"  fxLayoutAlign="center center" class="border-rl">
                        <div fxLayout="column" class="mgr20 mgl20 " fxLayoutAlign="center center"> 
                            <span class=" ft08 ft500 mgt08" fxLayoutAlign="center center" > Activas </span>
                            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center" > {{empresasActive}}</span>
                        </div>
                    </div>
    
                    <div fxLayout="row"  fxLayoutAlign="center center " class="border-rl">
                        <div fxLayout="column" class="mgr20 mgl20 " fxLayoutAlign="center center"> 
                            <span class=" ft08 ft500 mgt08" fxLayoutAlign="center center" > Inactivas</span>
                            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center" > {{empresasInactive}}</span>
                        </div>
                    </div>
    
                    <div fxLayout="row"  fxLayoutAlign="center center " class="border-rl">
                        <div fxLayout="column" class="mgr20 mgl20 " fxLayoutAlign="center center"> 
                            <span class=" ft08 ft500 mgt08" fxLayoutAlign="center center" > Demo</span>
                            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center" > {{empresasDemo}}</span>
                        </div>
                    </div>
    
                    <div fxLayout="row"  fxLayoutAlign="center center" class="">
                        <div fxLayout="column" class=" mgr20 mgl20 " fxLayoutAlign="center center"> 
                            <span class=" ft08 ft500 mgt08" fxLayoutAlign="center center" > Totales </span>
                            <span class="fh ft12 ft500 makeGray mgb10 mgt10" fxLayoutAlign="center center" > {{empresasTotales}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="center center" >
            <div fxLayout="row"  class="radius20 mgr05  fw">
                <app-search-input-box  fxLayoutAlign=" center" class="shadow-animation radius20 fw" style="height: 38px;  "></app-search-input-box>
            </div>
            <!-- <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="yellowButton button-animation " 
            style="border-radius: 24px !important;"  (click)="createDemo()">
                <img [src]="icon.addNew" class="h16px  makeWhite mgr08" alt="">
                Crear Demo
            </button> -->
            <button fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="blueButtonAnim button-animation "  style="border-radius: 24px !important;"  (click)="createEnterprise()">
                <img [src]="icon.addNew" class="h16px  makeWhite mgr08" alt="">
                Nueva Empresa
            </button>
            <button  fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center" class="grayButton button-animation gray-10"  style="border-radius: 24px !important;"  (click)="updateEmpresasUsage()">
                <img [src]="icon.clock" class="h16px mgr08" alt=""> Actualizar datos de uso
            </button>
        </div>
    </div>
    <div fxLayout="columm" fxLayoutAlign="center center" class="fw vh50  " >
        <app-enterprise-list (totalEmpresas)="getEmpresas($event)" class="fw mgr03"></app-enterprise-list>
    </div>
</div>    