<div fxLayout="column" class="card-container-lg mgt05 mgr10 pd05">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="gray-10">Datos generales de la empresa</span>
        <img [src]="icon.licencias" class="makeGray h20px cursorPointer" alt="">
    </div>
    <div class="mgl05">
        <span class="makeGray">Descripción de la empresa</span>
        <span>{{enterprise.description}}</span>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mgt05">
            <div fxLayout="column">
                <span class="makeGray">Sector de la empresa</span>
                <span>Energías renovables</span>
            </div>
            <div fxLayout="column">
                <span class="makeGray">Tamaño de la empresa</span>
                <span>Mediana</span>
            </div>
            <div fxLayout="column">
                <span class="makeGray">No. Empleados</span>
                <span>234</span>
            </div>
        </div>
    </div>
    <span class="mgt20 mgb05 gray-10">Dirección</span>
    <div fxLayout="column" class="mgl05">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
                <span class="makeGray">País</span>
                <span>Mexico</span>
            </div>
            <div fxLayout="column">
                <span class="makeGray">Ciudad / Estado</span>
                <span>Santiago de Querétaro</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" class="mgt03">
                <span class="makeGray">CP</span>
                <span>78904</span>
            </div>

        </div>
    </div>
</div>
