.container {
    overflow-y: auto;
    max-height: 35rem;
  }


  .cards {
    padding: 12px 18px;
  }
  

  .input-number {
    width: 30px;
    border: none;
    border-bottom: 2px solid black;
}

.input-number:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: 0;
}

.chart-container {
  padding-top: 5vh;
  /* width: 100%; */
  height: max-content;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; 
}