<div fxLayout="row" fxLayoutAlign="space-between" class="mgt10">
    <!-- Resumen de competencias -->
    <div class="w-35 radius10 borderLight cards fh" fxLayout="column" fxLayoutGap="0rem" >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
            <img [src]="icon.ticTacToe" class="makeBlue h16px" alt="">
            <span class="ft500 black undrl ft14 ft600 black">Resumen de competencias</span>
        </div>
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
        <!-- <div fxLayout="column" fxLayoutGap="1rem" *ngFor="let competence of competences; let i = index">
            <span>{{competence.title}}</span>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap=".5rem">
                <div *ngFor="let categorie of competence.categories; let i = index" class="mgb05">
                    <span  class="radius10 pd03 backGray2"> {{categorie}} </span>
                </div>
            </div>
        </div> -->
        <div  class="chart-container ft14">
            <div *ngFor="let category of categoriesAndSkillsWidgetData; let i = index">
                <div class="ft12 mgb05">Pilar {{i+1}}: {{category.label}}</div>
                <div fxLayout="row wrap" fxLayoutGap=".3rem" fxLayoutAlign="start center" class="mgt05 mgr10 mgb10">
                    <div
                        *ngFor="let skill of category.skills"
                        class="  radius10 backGray1 pdl10 pdr10  gray-8 centered-text ListHover"
                        style="margin-right: 0.3rem; margin-bottom: 0.3rem; white-space: nowrap;"
                        >
                        {{skill}}
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>
    <!-- Plan de estudios -->
    <div class="w-64 radius10 borderLight cards " fxLayout="column" fxLayoutGap="">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
            <img [src]="icon.ticTacToe" class="makeBlue h16px" alt="">
            <span class="ft500 black undrl ft14 ft600 black">Plan de estudios</span>
        </div>
        <ng-container *ngIf="!showInitForm">
            <div *ngIf="getDelayedMonthsCount() > 0" class="border radius10 pd05 backRed1" fxLayout="row" fxLayoutAlign="space-between center" style="border-color: red !important;">
                <img [src]="icon.redWarning2" class="h16px" alt="">
                <span class="red-5 ft14 ft600"> 
                    Advertencia: este usuario tiene {{ getDelayedMonthsCount() }} {{getDelayedMonthsCount() > 1 ? "meses atrasados" : "mes atrasado"}}
                </span>
                <button class="redButton btn">Alertar via e-mail</button>
            </div>
            <div *ngIf="(selectedProfile && months && months.length > 0) else noPlan" >
                <div *ngIf="diagnosticTest" fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft12"> Examen diagnóstico del perfil </span>
                    <!-- just to see the dates -->
                    <span>{{diagnosticTest.date | date:'dd/MM/yy'}}</span>
                    <!--  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="" fxLayoutGap="0.5rem">
                        <img *ngIf="diagnosticTest.score >= 50" [src]="icon.greenCheck" class="h12px" alt="">
                        <span class="ft12"> {{diagnosticTest.score >= 50 ? 'Aprobado' : 'Reprobado'}} con {{diagnosticTest.score}} </span>
                    </div>
                </div>
                <div *ngIf="!diagnosticTest">
                    <span>No ha presentado el examen diagnóstico</span>
                </div>
                <div *ngFor="let month of months; let index = index" fxLayout="column"  class="mgt20 mgl05 mgr05">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgb10 radius6">
                        <span class="ft12 ft600 black">{{month.monthName | titlecase}} {{month.yearNumber}} </span>
                        <img *ngIf="isMonthPast(month) && !isMonthCompleted(month)" [src]="icon.redWarning2" class="makeRed h14px" alt="">
                    </div>
                    <div *ngFor="let course of month.courses; let i = index" fxLayout="column" fxLayoutAlign="center" 
                        class="h50px pd10 ListHover" [ngClass]=" i % 2 ? '' : 'backGray1'">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="ft12"> {{course.courseTitle}} </span>
                            <!-- just to see the dates -->
                            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign=" center">
                                <span>{{course.dateStartPlan | date:'dd/MM/yy'}}</span>
                                <span>{{course.dateEndPlan | date:'dd/MM/yy'}}</span>
                                <!--  -->
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="" fxLayoutGap="0.5rem">
                                    <img *ngIf="course.dateEnd" [src]="icon.greenCheck" class="h12px" alt="">
                                    <span class="ft12"> {{course.duration | number:'1.0-1'}} hr </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noPlan>
                <span>El usuario aun no posee un plan de estudios</span>
            </ng-template>
        </ng-container>
        <ng-container *ngIf="showInitForm">
            <div fxLayout="column"> 
                <span>Indique los siguientes datos para inicializar su plan de estudio:</span>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=".5rem" class="mgb10">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                        <span class="ft500 ft12 gray-8">Estudio mensual</span>
                        <input type="number" min="0" class="mgl05 input-number" [(ngModel)]="hoursPermonthInitForm">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                        <span class="ft500 ft12 gray-8">Fecha de inicio</span>
                        <input (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker"  [(ngModel)]="startDateInitForm" >
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgb03">
                    <button *ngIf="hoursPermonthInitForm && startDateInitForm" (click)="saveInitForm()" class="blueButton">Guardar</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>

