.container {
    overflow-y: auto;
    max-height: 35rem;
  }


  .cards {
    padding: 12px 18px;
  }
  

  .input-number {
    width: calc(30px + .5rem);
    border: 1px solid var(--gray-3);
    border-radius: 4px;
    text-align: center;
    padding-left: .5rem;
    font-size: 12px;
  

}

.input-number:focus {
    border: 1px solid var(--gray-3);
    outline: 0;

}

.inputDate{
  border: 1px solid var(--gray-3);
  border-radius: 4px;
  padding-left: .5rem;
  font-size: 12px;

}

.chart-container {
  /* padding-top: 2rem; */
  /* width: 100%; */
  /* height: max-content; */
  width: 100%;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; 
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
