<div class="">
  <div fxLayout="row" fxLayoutAlign=" center">
    <h6 class="ft16 ft500 mgt0 mgb0">Licencias</h6>
    <mat-icon
      (click)="addLicense()"
      class="mgl10 gray-5 cursorPointer ft20 linkIcon"
      >add_circle</mat-icon
    >
  </div>

  <!-- <div class="radius10 fw pd10 mgt10"  style="background-color: rgba(244, 244, 244, 0.362)" > -->
    <div class="radius10 fw mgt10">
      <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign=" center" class="fw">
        <div *ngFor="let license of licenses"  (click)="editLicense(license.license)" class="fw backGray1 radius6 pd10 cursorPointer shadowLight" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <div fxFlex="50">
            <span class="ft500 blue-5 ft20 mgt10">{{license.productName | titlecase}}</span>
            <div class="ft400 mgt05">Licencias usadas: {{license.used}} / Disponibles: {{license.available}}</div>
            <div class="ft400 ">Rotaciones usadas: {{license.rotationsUsed}} / Disponibles: {{license.availableRotations}}</div>
            <div class="ft500 ">{{license.startFormated }} - {{license.endFormated }} ({{license.differenceInDays}} días)</div>
          </div>
          <div fxFlex="50" fxLayout="column" fxLayoutAlign="center end">
            <!-- <span class="ft500 ft16">Estatus actual:</span> -->
            <div class="pdt03 pdb03 radius6 w80px centertext mgt05 ft20 mgr10" [ngClass]="license.status == 'active' ? 'backGreen2 green-5' : 'backGray3 gray-5'">
              {{ license.status == 'active'? 'Activa': license.status  }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
