<div class="">
  <table mat-table [dataSource]="dataSource">
    <!-- Nombre Column -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef class="ft14">Nombre</th>
      <td mat-cell *matCellDef="let user">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
          <img
            [src]="
              user.photoUrl
                ? user.photoUrl
                : 'assets/images/default/default-user-image.jpg'
            "
            class="avatar2"
            alt=""
          />
          <div fxLayout="column" fxLayoutAlign="center ">
            <div
              class="ft500 ft13 black"
              style="width: 150px; text-overflow: ellipsis"
            >
              {{ user.displayName | titlecase }}
            </div>
            <div class="ft11 gray-6">{{ user.email }}</div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="ft14">Email</th>
      <td mat-cell *matCellDef="let user" class="centertext ft14">
        {{ user.email }}
      </td>
    </ng-container>

    <!-- Registro Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef class="ft14">Registro</th>
      <td mat-cell *matCellDef="let user" class="ft14">
        {{ user.createdAt | date : "dd/MM/yy" }}
      </td>
    </ng-container>

    <!-- Ult. Act. Column -->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef class="ft14">Ult. Act.</th>
      <td mat-cell *matCellDef="let user" class="ft14">
        {{ user.updatedAt | date : "dd/MM/yy" }}
      </td>
    </ng-container>

    <!-- Tipo Usuario Column -->
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef class="ft14">Tipo Usuario</th>
      <td mat-cell *matCellDef="let user" class="ft14">
        {{ user.enterprise ? "Empresa" : "Independiente" }}
      </td>
    </ng-container>

    <!-- Empresa Column -->
    <ng-container matColumnDef="enterprise">
      <th mat-header-cell *matHeaderCellDef class="ft14">Empresa</th>
      <td mat-cell *matCellDef="let user" class="ft14">
        {{ user.enterprise | titlecase }}
      </td>
    </ng-container>

    <!-- Teléfono Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef class="ft14">Teléfono</th>
      <td mat-cell *matCellDef="let user" class="ft14">
        {{ user.phoneNumber }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="ft13 centertext">Estatus</th>
      <td mat-cell *matCellDef="let user" class="centertext ft12">
        <div class="pdt03 pdb03 radius6" [ngClass]="user.status == 'Activo' ? 'backGreen2 green-5' : 'backGray3 gray-5'">
          {{ user.status }}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container>
      <tr
        mat-row
        *matRowDef="let user; columns: displayedColumns"
        class="cursorPointer"
        [routerLink]="'/admin/students/' + user.uid"
      ></tr>
    </ng-container>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se han encontrado usuarios para el criterio de busqueda
      </td>
    </tr>
  </table>

  <mat-paginator
    aria-label="Select page of users"
    [pageSize]="pageSize"
    [length]="totalLength"
    (page)="onPageChange($event.pageIndex + 1)"
  ></mat-paginator>
</div>
