<div class="">
    <table mat-table [dataSource]="dataSource">

        <!-- Nombre Column -->
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef class="ft14"> Nombre </th>
            <td mat-cell *matCellDef="let data" class="ft500 ft14  gray-10"> {{ data.userName | titlecase}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Email </th>
            <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.userEmail}} </td>
        </ng-container>

        <!-- Origen Column -->
        <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Origen </th>
            <td mat-cell *matCellDef="let data" class="centertext ft14"> {{data.origin}} </td>
        </ng-container>

        <!-- Producto Column -->
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Producto </th>
            <td mat-cell *matCellDef="let data" class="centertext ft14"> {{data.productName}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Status </th>
            <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.status}} </td>
        </ng-container>

        <!-- Inicio Column -->
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Inicio </th>
            <td mat-cell *matCellDef="let data" class="centertext ft14"> {{ data.createdAt | date:'dd/MM/yy'}} </td>
        </ng-container>

        <!-- Próximo cobro Column -->
        <ng-container matColumnDef="nextPayment">
            <th mat-header-cell *matHeaderCellDef class="ft14 centertext"> Próximo cobro </th>
            <td mat-cell *matCellDef="let data" class="centertext ft14">
            <span *ngIf="data.status != 'canceled'" class="ft11 gray-8 centertext" >
                Próximo cobro el {{ getNextInvoice(data).date | date : "dd/MM/yyyy" }} por $ {{ getNextInvoice(data).ammount }}
            </span>
            <span *ngIf="data.status == 'canceled'" class="ft11 gray-8 centertext" >
                Cancelada el {{ data.endedAt | date : "dd/MM/yyyy" }}
            </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container>
            <tr
                mat-row
                *matRowDef="let data; columns: displayedColumns;"
                (click)="onSelect(data)"
                class="cursorPointer"
                >
            </tr>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se han encontrado usuarios para el criterio de busqueda</td>
        </tr>
    </table>

    <mat-paginator
        aria-label="Select page of users"
        [pageSize]="pageSize"
        [length]="totalLength"
        (page)="onPageChange($event.pageIndex + 1)"
    ></mat-paginator>
</div>
  
  