/* .chip{
    color: var(--gray-9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px !important;
    height: 22px !important;
    border-radius: 10px;
    white-space: nowrap;
    cursor: default;
    background:  var(--gray-3)!important;
    font-size: 12px !important;
} */

.chipDark{
    color: var(--gray-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px !important;
    height: 22px !important;
    border-radius: 10px;
    white-space: nowrap;
    cursor: default;
    background: var(--gray-9) !important;
    font-size: 12px;
  }