<div *ngIf="firstLoad" fxLayout="column" class="">
    <div fxLayoutAlign="start start" fxLayout="row" class="mgt10 mgl10 mgr20">
        <app-navigate-back targetUrl="/admin/enterprises" >  {{enterpriseId ? "Editar" : "Agregar"}} empresa cliente: {{enterpriseId ? enterprise.name : ""}}</app-navigate-back>
        <!-- <h6 class="ft600 ft16 gray-10"> {{enterpriseId ? "Editar" : "Agregar"}} empresa cliente: {{enterpriseId ? enterprise.name : ""}}</h6> -->

    </div>    
    <div *ngIf="false" fxLayoutAlign="start start" fxLayout="column" class="mgt10  mgl20 mgr20">
        <div *ngIf="enterpriseId" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
            <span class="mgr10">Status suscripción: </span> 
            <div *ngIf="enterprise" >
                <span *ngIf="enterprise" class="chip pd05 radius20 ">{{"STATUS"}}</span>
            </div>
        </div>
        <div *ngIf="enterpriseId" fxLayout="row" fxLayoutGap="1.6rem" fxLayoutAlign=" center" class="mgt05">
            <span class="">Id de la empresa: </span>
            <div *ngIf="enterprise" >
                <span class="chip  pd05 radius20">{{enterpriseId }}</span>
            </div>
        </div>
        <div  *ngIf="enterpriseId" fxLayout="row" fxLayoutGap="4.5rem" fxLayoutAlign=" center" class="mgt05">
            <span class="">Acciones: </span>
            <div *ngIf="enterprise" >
                <span (click)="procesarDatosEmpresa()" class="chip  pd05 radius20 cursorPointer">Procesar datos de uso</span>
            </div>
        </div>
    </div>
    
    <div class="mgl20 mgr20">
        <div fxLayout="row" fxLayoutGap="1.5rem" fxLayoutAlign=" center" class="mgt10 border-bl">
            <span *ngIf="enterpriseId" class="pdl10 pdr10 pdb05 pdt05 ft11 cursorPointer" (click)="tab = 1"[ngClass]="tab == 1 ? 'selectedTab gray-10' : 'gray-8 tab'">Usuarios</span>
            <span class="pdl10 pdr10 pdb05 pdt05 ft11 cursorPointer " (click)="tab = 0" [ngClass]="tab == 0 ? 'selectedTab gray-10' : 'gray-8 tab'">Infomación</span>
            <!-- <span *ngIf="enterpriseId" class="pdl10 pdr10 pdb05 pdt05 ft11 cursorPointer" (click)="tab = 2"[ngClass]="tab == 2 ? 'selectedTab gray-10' : 'gray-8 tab'">Pagos</span> -->
        </div>
    
        <div *ngIf="tab === 0" fxLayout="column" class="mgt10 fw">
            <app-enterprise-info [enterprise]="enterprise" ></app-enterprise-info>
        </div>
        <div *ngIf="tab === 1" fxLayout="column" class="mgt10">
            <app-enterprise-students [enterprise]="enterprise"></app-enterprise-students>
        </div>
        <div *ngIf="tab === 2" fxLayout="column" class="mgt10">
            <app-enterprise-payments [enterprise]="enterprise"></app-enterprise-payments>
        </div>



    </div>
    
    
</div>