
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

@font-face {
  font-family: "Gordita";
  src: local("Gordita"), url(./assets/fonts/Gordita/Gordita-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Gordita-bold";
  src: local("Gordita-bold"), url(./assets/fonts/Gordita/Gordita-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Gordita-medium";
  src: local("Gordita-medium"), url(./assets/fonts/Gordita/Gordita-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Gordita-light";
  src: local("Gordita-light"), url(./assets/fonts/Gordita/Gordita-Light.otf) format("opentype");
}

@font-face {
  font-family: "Dmsans";
  src: local("Dmsans"), url(./assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Dmsans-medium";
  src: local("Dmsans-medium"), url(./assets/fonts/DM_Sans/DMSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Readex";
  src: local("Readex"), url(./assets/fonts/Readex/ReadexPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Readex-medium";
  src: local("Readex-medium"), url(./assets/fonts/Readex/ReadexPro-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"), url(./assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Satoshi-medium";
  src: local("Satoshi-medium"), url(./assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-medium";
  src: local("Inter-medium"), url(./assets/fonts/Inter/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-bold";
  src: local("Inter-bold"), url(./assets/fonts/Inter/Inter-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.firebase-emulator-warning {
  display: none;
}
.mat-tooltip.tooltip {
  background-color: darkblue;
  font-size: 12px;
}

html:not(.swal2-shown):not(.swal2-height-auto),
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;

}

:root {
  --menuHeight: 56px;
  --default-title-color: #151B26;
  --light-title-color:  #6f7782;
  --gray-title-color: #848f99;
  --dark-font-color: #273240;
  --default-font-color: #5d635a;
  --light-font-color: #cbd4db;
  --light-text-color: #9ca6af;
  --light-icon-color: #a6afb7;
  --backDark: #151B26;
  --backDark2: #011F19;
  --backSelect: #EDF8FF;
  --backLight: #F6F8F9;
  --backLight2: #F0F3F4;
  --backGray:lightgray;
  --backWhite: #FFFFFF;
  --backBlack: #000000;
  --backRed: #E8384F;
  --backGreen: #37C5AB;
  --backBlue: #4186E0;
  --backPurple: #7D72F0;
  --backOrange: #FD612C;
  --light-link-color: #cbd4db;
  --soft-gray: #fafcfe;
  --gray-1: #F6F8F9;
  --gray-1a: #F4F6F6;
  --gray-2: #F5F5F5;
  --gray-3: #E0E6E8;
  --gray-4: #D5DCE0;
  --gray-5: #B7BFC6;
  --gray-6: #9CA6AF;
  --gray-7: #848F99;
  --gray-8: #646F79;
  --gray-9: #222B37;
  --gray-10: #151B26;
  --green-1: #E2FFFA;
  --green-2:#BCE8DF;
  /* --green-2: #B0FFF1; */
  --green-3: #74d96e;
  --green-4: #2ea838;
  --green-5: #00BF9C;
  --green-6: #5cb85c;
  --blue-1: #EDF8FF;
  --blue-2: #95E0FF;
  --blue-3: #32C1FF;
  --blue-4: #14AAF5;
  --blue-5: #008CE3;
  --purple-1: #EFF0FB;
  --purple-2: #ABA3FF;
  --purple-3: #9287FF;
  --purple-4: #796EFF;
  --purple-5: #6d05b0;
  --yellow-1: #FFFEDE;
  --yellow-2: #FFF78F;
  --yellow-3: #FFE01B;
  --yellow-4: #FFE084;
  --yellow-5: #F2A100;
  --darkDegraded: linear-gradient(#222B37 50%, #151B26) !important;
  --orange-1: #F9DC00;
  --orange-2: #FFBA00;
  --orange-3: #FF7F00;
  --red-1: #FFEDEF;
  --red-2: #ffb9bf;
  --red-3: #FF7381;
  --red-4: #FF5263;
  --red-5: #ED4758;
  --lineColor: #e8ecee;
  --borderColor: #cbd4db;
  --shadowColor: rgb(36,50,66,.1);
  --borderInputColor: #cbd4db;
  --shadow05: 0 3px 5px 0 rgba(36,50,66, 0.05);
  --shadow10: 0 3px 5px 0 rgba(36,50,66, 0.1);
  --shadow20: 0 3px 5px 0 rgba(36,50,66, 0.2);
  --shadow30: 0 11px 12px 0 rgba(36,50,66, 0.12);
  --shadow40: 0 20px 30px 0 rgba(36,50,66, 0.14);
  --shadow50: 0 50px 60px 0 rgba(36,50,66, 0.15);
  --shadowUI: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
  --media-xs:	480;
  --media-sm:	768;
  --media-md:	960;
  --media-lG:	1120;
  --media-xl:	1280;
  --media-xxl:	1440;
  --media-xxxl:	1920;
  --defaultBorderRadius: 4px;
  --appSurfaceBorderRadius: 8px;

 

  /* System colors */
  --neutral1: rgb(249, 249, 249); /* System default background */
  --neutral2: rgb(243, 243, 243); /* System neutral background */
  /* --neutralTransparent2: rgb(255, 255, 255,.020);    */

  /* --neutralTransparent2: rgb(0, 0, 0,.020);    */
  --neutral3: rgb(233, 233, 233); /* Chips  */
  --neutralTransparent3: rgb(0, 0, 0,.063);
  --neutral4: rgb(200, 200, 200); /* Neutral badges over content */
  --neutral5: rgb(141, 141, 141); /* Neutral badges over content */
  --minContrast: rgb(255,255,255); /* */
  --maxContrast: rgb(0,0,0); /*Neutral opposite color*/
  --transparent: rgba(255, 255, 255, 0); /* Transparent rest */

  /* Surface  colors */
  --surfaceLayer: rgba(255, 255, 255, 0.5);
  --card: rgba(255, 255, 255, 0.7);
  --cardOnAcrylic: rgba(246, 246, 246, 0.9);
  --flyout: rgba(252, 252, 252, 0.75);
  --acrilyc: rgba(243, 243, 243, 0.5);

  /* Accent colors */

  --accent1: #98ecfe;
  --accent2: #60ccfe;
  --accent3: #0093f9;
  --accent4: rgb(0, 120, 212);
  --accent5: rgba(0, 95, 184, 1);  /* Rest */
  --accent6: #003D92;
  --accent7: #001968;






  /* Complementary colors */
  --green5: rgb(15, 123, 15);
  --green1: rgb(223, 246, 221);
  --brown5: rgb(157, 93, 0);
  --brown1: rgb(255, 244, 206);
  --red5: rgb(196, 43, 28);
  --red1: rgb(253, 231, 233);

  /* Control LIGHT MODE */
  --control1: rgba(255, 255, 255, 0.7); /* Rest */
  --control2: rgba(249, 249, 249, 0.5); /* Hover */
  --control3: rgba(249, 249, 249, 0.3);  /* Pressed */
  --controlDisabled: rgba(249, 249, 249, 0.3); /* Disabled */


  --accentControl1: rgba(0, 95, 184, 1);  /* Rest */
  --accentControl2: rgba(0, 95, 184, 0.9); /* Hover */
  --accentControl3: rgba(0, 95, 184, 0.8);  /* Pressed */
  --accentControlDisabled: rgba(0, 0, 0, 0.2169); /* Disabled */


  /* strokes */
  --stroke1: rgba(0, 0, 0, 0.0578);  /* Control rest, card, surface flyout default / */
  --stroke2: rgba(0, 0, 0, 0.1622);  /* Control Hover  */
  --strokeStrong: rgba(0, 0, 0, 0.4458);
  --strokeStrongSolid: rgb(138, 138, 138);
  --surfaceStroke: rgba(117, 117, 117, 0.4);
 

  /* Shadows */
  --shadow8: 0px 2px 4px rgba(0, 0, 0, 0.04);
  --shadow12: 0px 1px 4px rgba(0, 0, 0, 0.25);
  --shadow16: 0px 4px 8px rgba(0, 0, 0, 0.14);
  --shadow32:  0px 8px 16px rgba(0, 0, 0, 0.14);
  --shadow128: 0px 32px 64px rgba(0, 0, 0, 0.1876), 0px 2px 21px rgba(0, 0, 0, 0.1474);

 
  /* Text colors */

  --text1: rgba(0, 0, 0, 0.8956); /* Rest */
  --text2: rgba(0, 0, 0, 0.6063); /* Hover */
  --text3: rgba(0, 0, 0, 0.4458); /* Pressed */
  --textD: rgba(0, 0, 0, 0.3614); /* Disabled */

  /* Accent text colors */
  
  --aText1: rgb(0, 62, 146);  /* Rest */
  --aText2: rgba(0, 26, 104, 1); /* Hover */
  --aText3: rgba(0, 95, 184, 1); /* Pressed */
  --aTextD: rgba(0, 0, 0, 0.3614); /* Disabled */

    /* text on accent */
  --oaText1: rgba(255, 255, 255, 1);  /* Rest */
  --oaText2: rgba(255, 255, 255, 1); /* Hover */
  --oaText3: rgba(255, 255, 255, 1); /* Pressed */
  --oaTextD: rgba(255, 255, 255, 1); /* Disabled */


}




/* ------------------------------------------------------------------------ COLORS */





/* System colors */
.minContrast{ background: var(--minContrast);}
.neutralFill1{ background: var(--neutral1);}
.neutralFill2{ background: var(--neutral2);}
.neutralFill3{ background: var(--neutral3);}
.neutralFill4{ background: var(--neutral4);}
.neutralFill5{ background: var(--neutral5);}
.maxContrast{ background: var(--maxContrast);}

/* Surface fill colors */
.surfaceLayerFill {background: var(--surfaceLayer);}
.cardFill {background: var(--card);}
.cardOnAcrlylicFill {background: var(--cardOnAcrylic);} 
.flyoutFill {background: var(--flyoutSurface);}
.acrilycFill {background: var(--acrilyc);}


/* Accent colors */
.accentFill1{ background: var(--accent1);}
.accentFill2{ background: var(--accent2);}
.accentFill3{ background: var(--accent3);}
.accentFill4{ background: var(--accent4);}
.accentFill5{ background: var(--accent5);}
.accentFill6{ background: var(--accent6);}
.accentFill7{ background: var(--accent7);}

/* Complementary colors */
.greenFill5{ background: var(--green5) !important;}
.greenFill1{ background: var(--green1) !important;}
.brownFill5{ background: var(--brown5) !important;}
.brownFill1{ background: var(--brown1) !important;}
.redFill5{ background: var(--red5) !important;}
.redFill1{ background: var(--red1) !important;}

/* Control colors */
.controlFill1 {background: var(--control1); }
.controlFill2 {background: var(--control2); }
.controlFill3 {background: var(--control3); }
.controlFillDisabled {background: var(--controlDisabled); }
.accentControlFill1 {background: var(--accentControl1); }
.accentControlFill2 {background: var(--accentControl2); }
.accentControlFill3 {background: var(--accentControl3); }
.accentControlFillDisabled {background: var(--accentControlDisabled); }

/* Stroke colors */
.stroke1 {border: 1px solid var(--stroke1); }
.stroke2 {border: 1px solid var(--stroke2); }
.stroke3 {border: 1px solid var(--stroke3); }
/* Text colors */
.text1{ color: var(--text1) !important;}
.text2{ color: var(--text2) !important;}
.text3{ color: var(--text3) !important;}
.aText1{ color: var(--aText1) !important;}
.aText2{ color: var(--aText2) !important;}
.aText3{ color: var(--aText3) !important;}
.oaText1{ color: var(--oaText1) !important;}
.oaText2{ color: var(--oaText2) !important;}
.oaText3{ color: var(--oaText3) !important;}
.greenText{ color: var(--green5) !important;}
.brownText{ color: var(--brown5) !important;}
.redText{ color: var(--red5) !important;}

.shadow8{ box-shadow: var(--shadow8);}
.shadow12{ box-shadow: var(--shadow12);}
.shadow16{ box-shadow: var(--shadow16);}
.shadow32{ box-shadow: var(--shadow32);}
.shadow128{ box-shadow: var(--shadow128);}

.shadow-animation {
  transition: box-shadow 0.5s ease;
  border: 1px solid #e6e6e6;  
}

.shadow-animation::before {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.shadow-animation:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);   

}

.shadow-animation:hover::before {
  opacity: 1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.shadowLight {
  transition: box-shadow 0.5s ease;

  background-color: 1px solid #ededed;  
}


.shadowLight::before {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.shadowLight:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);   

}

.shadowLight:hover::before {
  opacity: 1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.move-right {
  transition: transform 0.3s ease-out;
  transform: translateX(0);
}

.move-right:hover {
  transform: translateX(5px);
  transform: translateX(5px);
  color: #0f3b56 !important;
  cursor: default;
}






/*  */

.default-title-color{ color: var(--default-title-color)!important;  }
.gray-title-color{ color: var(--gray-title-color)!important;  }
.default-font-color{ color: var(--default-font-color)!important;  }
.gray-font-color{ color: var(--gray-font-color)!important;  }

.gray-font-color{ color: var(--gray-font-color)!important;  }
.gray-font-color{ color: var(--gray-font-color)!important;  }
.dark-font-color{ color: var(--gray-font-color)!important;  }

.light-font-color{ color: var(--light-font-color)!important;  }
.light-text-color{ color: var(--light-text-color)!important;  }
.light-title-color{ color: var(--light-title-color)!important;  }
.light-link-color{ color: var(--light-link-color)!important;  }

.light-icon-color{ color: var(--light-icon-color)!important; }
.borderBlue{
  border: 1px solid var(--blue-5);
}

.backDark{ background-color: var(--backDark)!important;  }
.backDark2{ background-color: var(--backDark2)!important;  }
.backSelect{ background-color: var(--backSelect)!important;  }
.backLight{ background-color: var(--backLight)!important;  }
.backLight2{ background-color: var(--backLight2)!important;  }
.backWhite{ background-color: var(--backWhite)!important;  }
.backDarkDegraded{background: var(--blue-5) linear-gradient(#222B37 50%, #151B26) !important;}

.backGray1{ background-color: var(--gray-1)!important;  }
.backGray2{ background-color: var(--gray-2)!important;  }
.backGray3{ background-color: var(--gray-3)!important;  }
.backGray4{ background-color: var(--gray-4)!important;  }
.backGray5{ background-color: var(--gray-5)!important;  }
.backGray6{ background-color: var(--gray-6)!important;  }
.backGray7{ background-color: var(--gray-7)!important;  }
.backGray8{ background-color: var(--gray-8)!important;  }
.backGray9{ background-color: var(--gray-9)!important;  }
.backGray10{ background-color: var(--gray-10)!important;  }

.backRed1{ background-color: var(--red-1)!important;  }
.backRed2{ background-color: var(--red-2)!important;  }
.backRed3{ background-color: var(--red-3)!important;  }
.backRed4{ background-color: var(--red-4)!important;  }
.backRed5{ background-color: var(--red-5)!important;  }

.backGreen1{ background-color: var(--green-1)!important;  }
.backGreen2{ background-color: var(--green-2)!important;  }
.backGreen3{ background-color: var(--green-3)!important;  }
.backGreen4{ background-color: var(--green-4)!important;  }
.backGreen5{ background-color: var(--green-5)!important;  }

.backBlue1{ background-color: var(--blue-1)!important;  }
.backBlue2{ background-color: var(--blue-2)!important;  }
.backBlue3{ background-color: var(--blue-3)!important;  }
.backBlue4{ background-color: var(--blue-4)!important;  }
.backBlue5{ background-color: var(--blue-5)!important;  }

.backPurple1{ background-color: var(--purple-1)!important;  }
.backPurple2{ background-color: var(--purple-2)!important;  }
.backPurple3{ background-color: var(--purple-3)!important;  }
.backPurple4{ background-color: var(--purple-4)!important;  }
.backPurple5{ background-color: var(--purple-5)!important;  }

.backOrange1{ background-color: var(--orange-1)!important;  }
.backOrange2{ background-color: var(--orange-2)!important;  }
.backOrange3{ background-color: var(--orange-3)!important;  }

.backYellow1{ background-color: var(--yellow-1)!important;  }
.backYellow2{ background-color: var(--yellow-2)!important;  }
.backYellow3{ background-color: var(--yellow-3)!important;  }
.backYellow4{ background-color: var(--yellow-4)!important;  }
.backYellow5{ background-color: var(--yellow-5)!important;  }



.black{ color: var(--backBlack)!important;  }
.gray-1{ color: var(--gray-1)!important;  }
.gray-1a{ color: var(--gray-1a)!important;  }
.gray-2{ color: var(--gray-2)!important;  }
.gray-3{ color: var(--gray-3)!important;  }
.gray-4{ color: var(--gray-4)!important;  }
.gray-5{ color: var(--gray-5)!important;  }
.gray-6{ color: var(--gray-6)!important;  }
.gray-7{ color: var(--gray-7)!important;  }
.gray-8{ color: var(--gray-8)!important;  }
.gray-9{ color: var(--gray-9)!important;  }
.gray-10{ color: var(--gray-10)!important;  }
.green-1{ color: var(--green-1)!important;  }
.green-2{ color: var(--green-2)!important;  }
.green-3{ color: var(--green-3)!important;  }
.green-4{ color: var(--green-4)!important;  }
.green-5{ color: var(--green-5)!important;  }
.blue-1{ color: var(--blue-1)!important;  }
.blue-2{ color: var(--blue-2)!important;  }
.blue-3{ color: var(--blue-3)!important;  }
.blue-4{ color: var(--blue-4)!important;  }
.blue-5{ color: var(--blue-5)!important;  }
.purple-1{ color: var(--purple-1)!important;  }
.purple-2{ color: var(--purple-2)!important;  }
.purple-3{ color: var(--purple-3)!important;  }
.purple-4{ color: var(--purple-4)!important;  }
.purple-5{ color: var(--purple-5)!important;  }
.yellow-1{ color: var(--yellow-1)!important;  }
.yellow-2{ color: var(--yellow-2)!important;  }
.yellow-3{ color: var(--yellow-3)!important;  }
.yellow-4{ color: var(--yellow-4)!important;  }
.yellow-5{ color: var(--yellow-5)!important;  }
.orange-1{ color: var(--orange-1)!important;  }
.orange-2{ color: var(--orange-2)!important;  }
.orange-3{ color: var(--orange-3)!important;  }
.red-1{ color: var(--red-1)!important;  }
.red-2{ color: var(--red-2)!important;  }
.red-3{ color: var(--red-3)!important;  }
.red-4{ color: var(--red-4)!important;  }
.red-5{ color: var(--red-5)!important;  }
.red{ color: red!important;  }
.lineColor{ color: var(--lineColor)!important;  }
.borderColor{ color: var(--borderColor); }
.shadowColor{ color: var(--shadowColor)!important;  }
.borderInputColor{ color: var(--borderInputColor)!important;  }
.shadow0{ box-shadow: none !important;}
.shadow05{ box-shadow: var(--shadow05) !important;}
.shadow10{ box-shadow: var(--shadow10) !important;}
.shadow20{ box-shadow: var(--shadow20) !important;}
.shadow30{ box-shadow: var(--shadow30) !important;}
.shadow40{ box-shadow: var(--shadow40) !important;}
.shadow50{ box-shadow: var(--shadow50) !important;}
.shadowUI {
  box-shadow: var(--shadowUI);
}
.grayLink{  color: var(--gray-8) !important; cursor: pointer; transition: .3s; }
.grayLink:hover{  color: var(--gray-10) !important;  transition: .3s; }
.lightLink{  color: var(--gray-2) !important; cursor: pointer; transition: .3s; }
.lightLink:hover{  color: var(--blue-3) !important;  transition: .3s; }
.blueLink{  color: var(--blue-5) !important; cursor: pointer; transition: .3s; }
.blueLink:hover{  color: var(--gray-9) !important; transition: .3s;}
.greenLink{  color: var(--green-5) !important; cursor: pointer; transition: .3s;}
.greenLink:hover{  color: var(--green-4) !important; transition: .3s;}
.yellowLink{  color: var(--yellow-4) !important; cursor: pointer; transition: .3s;}
.yellowLink:hover{  color: var(--yellow-5) !important; transition: .3s;}
.purpleLink{  color: var(--purple-4) !important; cursor: pointer; transition: .3s;}
.purpleLink:hover{  color: var(--purple-5) !important; cursor: pointer; transition: .3s;}
.redLink{  color: var(--red-4) !important; cursor: pointer; transition: .3s;}
.redLink:hover{  color: var(--red-5) !important; transition: .3s;}
.darkButton{  background-color: #273240!important; transition: .3s; }
.darkButtonHover{  background-color: #151b26!important; transition: .3s; }
.whiteButton{ border:1px solid var(--gray-6); box-shadow: var(--shadow8); color:var(--gray-8); background-color: #FFFFFF!important; transition: .3s; }
.whiteButton:hover{ border:1px solid var(--gray-6);box-shadow: var(--shadow8);color:var(--gray-8);  background-color: #e8ecee!important; transition: .3s; }
.grayButton{  background-color: #F0F3F4!important; transition: .3s; }
.grayButton:hover{  background-color: #e3e4e5!important; transition: .3s; }
.greenButton{  background-color: #00BF9C!important; transition: .3s; }
.greenButton:hover{  background-color: #00aa8b!important; transition: .3s; }
.blueButton{    background-color: #008CE3;
  color: #FFFFFF;
  border: none;
  border-radius: 24px !important;
  padding: 10px 20px !important; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; 
  line-height: 1.2!important; }
.grayDisabledButton{    background-color: #F0F3F4;
  color: var(--gray-7);
  border: none;
  border-radius: 24px !important;
  padding: 10px 20px !important; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; 
  line-height: 1.2!important; 
  margin: 5px;}
.grayDisabledButton:hover{  background-color: #e3e4e5!important; transition: .3s; }
.blueButton:hover{  background-color: #007fc9!important; transition: .3s; }
.blackButton{  background-color: var(--gray-10)!important; transition: .3s; }
.blackButton:hover{  background-color: var(--gray-9)!important; transition: .3s; }
.purpleButton{  background-color: #635AC7!important; transition: .3s; }
.purpleButton:hover{  background-color: #5852b2!important; transition: .3s; }
.yellowButton{  background-color: #F2A100!important; transition: .3s; }
.yellowButton:hover{  background-color: #d68b00!important; transition: .3s; }
.orangeButton{  background-color: #FF7F00!important; transition: .3s; }
.orangeButton:hover{  background-color: #e26d00!important; transition: .3s; }
.redButton{  background-color: #ED4758!important; transition: .3s; }
.redButton:hover{  background-color: #d63e4d!important; transition: .3s; }

.redButtonAnim{  background-color: #d63e4d!important; transition: .3s;   border-radius: 24px !important;
}

.redButtonAnim:hover{  background-color: rgb(236, 63, 80)!important; transition: .3s; }

.button-animation{
  transition: box-shadow 0.5s ease;
  border: none;  

}

.button-animation:before {
  transition: opacity 0.5s ease, transform 0.5s ease;

}

.button-animation:hover {
  transition:  0.5s ease;
  /* box-shadow: 0px 2px 2px rgba(30, 30, 30, 0.539); */
  box-shadow: 0px 1px 4px rgba(26, 26, 26, 0.514);
}

.blueButtonAnim{    
  background-color:  #008CE3!important;
  color: #FFFFFF;
  border: none;
  border-radius: 24px !important;
  padding: 10px 20px !important; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  text-align: center; 
  line-height: 1.2!important; 
  margin: 5px;}

.blueButtonAnim:hover{   background-color: #0594ed!important;  transition:  0.5s ease-in-out;
}
.botonSecundario{
  border: 2px solid var(--blue-5);
  background-color: transparent;
  color: var(--blue-5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 8px;
  transition: .3s;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap !important;

}

.botonSecundario:hover{
  border: 2px solid var(--blue-5);
  background-color: var(--gray-1);
  transition: .3s;
}

/* -----------------------------------------------------------------  FONTS STYLING */

.page-title {
  font-size: 1.5625rem!important;
  font-family: "Inter-bold";
  font-weight: 500!important;
  margin-bottom: 20px;
}

.ft300{  font-weight: 300!important;
  font-family: "Gordita-light", "Helvetica Neue", sans-serif; }
.ft400{  font-weight: 400!important; }
.ft450 { font-weight: 450!important;}
.ft500{  font-weight: 500!important; 
  font-family: "Inter-medium", "Helvetica Neue", sans-serif;
}
.ft600{ font-family: "Inter-bold"; font-weight: 500!important; }
.ft700{  font-weight: 700!important; }
.ft800{  font-weight: 800!important; }
.ft900{  font-weight: 900!important; }
.ftxxs{  font-size: .5rem!important; }
.ftxs{  font-size: .75rem!important; }
.ftsm{  font-size: .8125rem!important; }
.ftmd{  font-size: 1rem!important; }
.ftlg{  font-size: 1.4rem!important; }
.ftxl{  font-size: 1.6rem!important; }
.ftxxl{  font-size: 2.2rem!important; }
.ftxxxl{  font-size: 3.2rem!important; }
.ft8{  font-size: 0.5rem!important; }
.ft9{  font-size: 0.5625rem!important; }
.ft10{  font-size: 0.625rem!important; }
.ft11{  font-size: 0.6875rem!important; }
.ft12{  font-size: 0.75rem!important; }
.ft13{  font-size: 0.8125rem!important; }
.ft14{  font-size: 0.875rem!important; }
.ft15{  font-size: 0.9375rem!important; }
.ft16{  font-size: 1rem!important; }
.ft17{  font-size: 1.0625rem!important; }
.ft18{  font-size: 1.125rem!important; }
.ft19{  font-size: 1.1875rem!important; }
.ft20{  font-size: 1.25rem!important; }
.ft21{  font-size: 1.3125rem!important; }
.ft22{  font-size: 1.375rem!important; }
.ft23{  font-size: 1.4375rem!important; }
.ft24{  font-size: 1.5rem!important; }
.ft25{  font-size: 1.5625rem!important; }
.ft26{  font-size: 1.625rem!important; }
.ft27{  font-size: 1.6875rem!important; }
.ft28{  font-size: 1.75rem!important; }
.ft29{  font-size: 1.8125rem!important; }
.ft30{  font-size: 1.875rem!important; }
.lnh1{  line-height: 1!important; }
.lineHeight100{  line-height: 1rem!important; }
.lineHeight125{  line-height: 1.25rem!important; }
.lineHeight150{  line-height: 1.5rem!important; }
.lineHeight175{  line-height: 1.75rem!important; }
.lineHeight200{  line-height: 2rem!important; }
.noBullet{  list-style: NA!important; }
.overl{  text-decoration: overline!important; }
.line-th{  text-decoration: line-through!important; }
.undrl{  text-decoration: underline!important; }
.ital{  font-style: italic!important; }
.obliq{  font-style: oblique!important; }
.linkIcon{ font-size: 1em; padding: 0px; margin: 0; height: auto !important; width: auto !important; }
.ftup{ text-transform: uppercase!important; }
.centertext{  text-align: center !important; }
.align-start{  text-align: left!important; }
.align-end{  text-align: right!important; }
.justify{  text-align: justify!important; }
.nowrap{    white-space: nowrap !important;}
.breakWord{    word-break: break-all !important;}

.t1{padding-top: 1px;}
.t2{padding-top: 2px;}
.t3{padding-top: 3px;}
.t4{padding-top: 4px;}
.t5{padding-top: 5px;}
.t6{padding-top: 6px;}
.t6{padding-top: 6px;}
.t7{padding-top: 7px;}
.t8{padding-top: 8px;}
.t9{padding-top: 9px;}
.t10{padding-top: 10px;}
.op0{  opacity: 0px; }
.op10{  opacity: 0.1px; }
.op20{  opacity: 0.2px; }
.op30{  opacity: 0.3px; }
.op40{  opacity: 0.4px; }
.op50{  opacity: 0.5px; }
.op60{  opacity: 0.6px; }
.op70{  opacity: 0.7px; }
.op80{  opacity: 0.8px; }
.op90{  opacity: 0.9px; }
.op100{  opacity: 1px; }
.mg0{  margin: 0px; }
.mg05{  margin: 8px; }
.mg08{  margin: 12px; }
.mg10{  margin: 16px; }
.mg20{  margin: 32px; }
.mg30{  margin: 48px; }
.mg40{  margin: 64px; }
.mg50{  margin: 80px; }
.mg60{  margin: 96px; }
.mg70{  margin: 112px; }
.mg80{  margin: 128px; }
.mg90{  margin: 144px; }
.mg100{  margin: 160px; }
.mgt0{  margin-top: 0px;}
.mgt03{  margin-top: 5px; }
.mgt05{  margin-top: 8px; }
.mgt08{  margin-top: 12px; }
.mgt10{  margin-top: 16px; }
.mgt12{  margin-top: 18px; }

.mgt15{  margin-top: 24px; }
.mgt20{  margin-top: 32px; }
.mgt30{  margin-top: 48px; }
.mgt40{  margin-top: 64px; }
.mgt50{  margin-top: 80px; }
.mgt60{  margin-top: 96px; }
.mgt70{  margin-top: 112px; }
.mgt80{  margin-top: 128px; }
.mgt90{  margin-top: 144px; }
.mgt100{  margin-top: 160px; }
.mgb0{  margin-bottom: 0px; }
.mgb08{  margin-bottom: 12px; }
.mgb03{  margin-bottom: 5px; }
.mgb05{  margin-bottom: 8px; }
.mgb10{  margin-bottom: 16px; }
.mgb15{  margin-bottom: 24px; }

.mgb20{  margin-bottom: 32px; }
.mgb30{  margin-bottom: 48px; }
.mgb40{  margin-bottom: 64px; }
.mgb50{  margin-bottom: 80px; }
.mgb60{  margin-bottom: 96px; }
.mgb70{  margin-bottom: 112px; }
.mgb80{  margin-bottom: 128px; }
.mgb90{  margin-bottom: 144px; }
.mgb100{  margin-bottom: 160px; }
.mgl01{  margin-left: 2px; }
.mgl03{  margin-left: 4px; }
.mgl05{  margin-left: 8px !important; }
.mgl08{  margin-left: 12px; }
.mgl10{  margin-left: 16px; }
.mgl15{  margin-left: 24px; }
.mgl20{  margin-left: 32px; }
.mgl30{  margin-left: 48px; }
.mgl40{  margin-left: 64px; }
.mgl50{  margin-left: 80px; }
.mgl60{  margin-left: 96px; }
.mgl70{  margin-left: 112px; }
.mgl80{  margin-left: 128px; }
.mgl90{  margin-left: 144px; }
.mgl100{  margin-left: 160px; }
.mgl1000{  margin-left: 72%; }


.mgr03{  margin-right: 5px; }
.mgr05{  margin-right: 8px; }
.mgr08{  margin-right: 12px; }
.mgr10{  margin-right: 16px; }
.mgr15{  margin-right: 24px; }

.mgr20{  margin-right: 32px; }
.mgr25{  margin-right: 36px; }

.mgr30{  margin-right: 48px; }
.mgr40{  margin-right: 64px; }
.mgr50{  margin-right: 80px; }
.mgr60{  margin-right: 96px; }
.mgr70{  margin-right: 112px; }
.mgr80{  margin-right: 128px; }
.mgr90{  margin-right: 144px; }
.mgr100{  margin-right: 160px; }
.pd0{  padding: 0px; }
.pd03{  padding: 5px; }
.pd05{  padding: 8px; }
.pd08{  padding: 12px; }
.pd10{  padding: 16px; }
.pd18{  padding: 18px; }

.pd15{  padding: 24px; }
.pd20{  padding: 32px; }
.pd30{  padding: 48px; }
.pd40{  padding: 64px; }
.pd50{  padding: 80px; }
.pd60{  padding: 96px; }
.pd70{  padding: 112px; }
.pd80{  padding: 128px; }
.pd90{  padding: 144px; }
.pd100{  padding: 160px; }
.pdl03{  padding-left: 4px; }
.pd15{  padding-left: 24px; }
.pdt0{  padding-top: 0px; }
.pdt03{  padding-top: 3px; }
.pdt05{  padding-top: 8px; }
.pdt08{  padding-top: 12px; }
.pdt10{  padding-top: 16px; }
.pdt18 {padding: 24px;}
.pdt20{  padding-top: 32px; }
.pdt22{  padding-top: 40px; }

.pdt30{  padding-top: 48px; }
.pdt40{  padding-top: 64px; }
.pdt50{  padding-top: 80px; }
.pdt60{  padding-top: 96px; }
.pdt70{  padding-top: 112px; }
.pdt80{  padding-top: 128px; }
.pdt90{  padding-top: 144px; }
.pdt100{  padding-top: 160px; }
.pdb0{padding-bottom: 0px !important;}
.mgb0{margin-bottom: 0px !important;}
.pdb03{  padding-bottom: 4px; }

.pdb05{  padding-bottom: 8px; }
.pdb08{  padding-bottom: 12px; }
.pdb10{  padding-bottom: 16px; }
.pdb22{  padding-bottom: 22px; }
.pdb20{  padding-bottom: 32px; }
.pdb30{  padding-bottom: 48px; }
.pdb40{  padding-bottom: 64px; }
.pdb50{  padding-bottom: 80px; }
.pdb60{  padding-bottom: 96px; }
.pdb70{  padding-bottom: 112px; }
.pdb80{  padding-bottom: 128px; }
.pdb90{  padding-bottom: 144px; }
.pdb100{  padding-bottom: 160px; }
.pdl05{  padding-left: 8px; }
.pdl08{  padding-left: 12px; }
.pdl10{  padding-left: 16px; }
.pdl20{  padding-left: 32px; }
.pdl30{  padding-left: 48px; }
.pdl40{  padding-left: 64px; }
.pdl50{  padding-left: 80px; }
.pdl60{  padding-left: 96px; }
.pdl70{  padding-left: 112px; }
.pdl80{  padding-left: 128px; }
.pdl90{  padding-left: 144px; }
.pdl100{  padding-left: 160px; }
.pdr03{  padding-right: 4px; }
.pdr05{  padding-right: 8px; }
.pdr08{  padding-right: 12px; }
.pdr10{  padding-right: 16px!important; }
.pdr20{  padding-right: 32px; }
.pdr30{  padding-right: 48px; }
.pdr40{  padding-right: 64px; }
.pdr50{  padding-right: 80px; }
.pdr60{  padding-right: 96px; }
.pdr70{  padding-right: 112px; }
.pdr80{  padding-right: 128px; }
.pdr90{  padding-right: 144px; }
.pdr100{  padding-right: 160px; }
.zIndex1{  z-index: 100; }
.zIndex2{  z-index: 200; }
.zIndex3{  z-index: 300; }
.zIndex4{  z-index: 400; }
.zIndex5{  z-index: 500; }
.zIndex6{  z-index: 600; }
.zIndex7{  z-index: 700; }
.zIndex8{  z-index: 800; }
.zIndex9{  z-index: 900; }
.zIndex10{  z-index: 1000; }
.fw{  width: 100%; }
.fh{  height: 100%; }
.fmh{min-height: 100%;}
.center{  display: flex; justify-content: space-around }
.w-05{width: 5%;}
.w-08{width: 8%;}
.w-10{width: 10%;}
.w-13{width: 13%;}

.w-15{width: 15%;}
.w-20{width: 20%;}
.w-25{width: 25%;}
.w-30{width: 30%;}
.w-31{width: 31%;}

.w-32{width: 32%;}
.w-35{width: 35%;}
.w-40{width: 40%;}
.w-45{width: 45%;}
.w-50{width: 50%;}
.w-53{width: 53%;}

.w-55{width: 57%;}
.w-60{width: 60%;}

.w-64{width: 63.5%;}

.w-65{width: 65%;}
.w-70{width: 70%;}
.w-75{width: 75%;}
.w-80{width: 80%;}
.w-90{width: 90%;}
.w-95{width: 95%;}
.w-100{width: 100%;}
.w10px{width: 10px; min-width: 10px;}
.w14px{width: 14px; min-width: 14px;}
.w16px{width: 16px; min-width: 16px;}
.w20px{width: 20px; min-width: 20px;}
.w24px{width: 24px;}
.w28px{width: 28px; min-width: 28px;}
.w40px{width: 40px;}
.w42px{width: 42px;}


.w32px{width: 32px;}
.w50px{width: 50px;}
.w60px{width: 60px;}
.w65px{width: 65px;}
.w70px{width: 70px;}
.w80px{width: 80px;}
.w100px{width: 100px;}
.w120px{width: 120px;}

.w150px{width: 150px;}
.w180px{width: 180px;}
.w200px{width: 200px;}
.w250px{width: 250px;}
.w300px{width: 300px;}
.w400px{width: 400px;}
.w500px{width: 500px;}
.w600px{width: 600px;}
.w700px{width: 700px;}
.w800px{width: 800px;}
.w900px{width: 900px;}
.w1000px{width: 1000px;}


.h6px{height: 6px !important; max-height: 6px !important;}
.h8px{height: 8px; max-height: 8px;}
.h10px{height: 10px; max-height: 10px;}
.h12px{height: 12px; max-height: 12px;}
.h14px{height: 14px;}
.h16px{height: 16px; min-height: 16px;}
.h18px{height: 18px; min-height: 18px;}

.h20px{height: 20px; min-height: 20px;}
.h22px{height: 22px; min-height: 22px;}

.h24px{height: 24px; min-height: 24px;}
.h28px{height: 28px; min-height: 28px;}
.h32px{height: 32px;}
.h36px{height: 36px;}
.h40px{height: 40px;}
.h42px{height: 42px;}

.h50px{height: 50px;}
.h60px{height: 60px;}
.h70px{height: 70px;}
.h80px{height: 80px;}
.h100px{height: 100px;}
.h100px{height: 100px;}
.h150px{height: 150px;}
.h200px{height: 200px;}
.h250px{height: 250px;}
.h300px{height: 300px;}
.h400px{height: 400px;}
.h500px{height: 500px;}
.h600px{height: 600px;}
.h700px{height: 700px;}
.h800px{height: 800px;}
.h900px{height: 900px;}
.h1000px{height: 1000px;}



.h-05{height: 5%;}
.h-08{height: 8%;}
.h-10{height: 10%;}
.h-15{height: 15%;}
.h-20{height: 20%;}
.h-30{height: 30%;}
.h-40{height: 40%;}
.h-45{height: 45%;}
.h-50{height: 50%;}
.h-52{height: 51.7%;}
.h-55{height: 55%;}
.h-60{height: 60%;}
.h-65{height: 65%;}
.h-70{height: 70%;}
.h-75{height: 75%;}
.h-80{height: 80%;}
.h-90{height: 90%;}
.h-95{height: 93.5%;}
.h-100{height: 100%;}
.vh100{min-height: 100vh;}
.vh80{min-height: 100vh;}
.vw100{width: 100vw;}
.vh85{height: 85vh;}
.vh90{height: 90vh;}
.vh95{height: 95vh;}


.scale07{ transform: scale(.7);}



.fullScreenCenterCenter{
  display: flex;
  height: calc(100vh - var(--menuHeight));
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerCenter{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowFlexStart{
  display: flex;
  flex-direction: row;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.tooltipContainer{
  position: absolute;
  bottom: -10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--shadow16);
  right: calc(100% - 10px);
  z-index: 2000;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: start; */
}

.rowCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.colCenter{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-left {

  align-items: left;


}



.makeBlue {
  filter:invert(43%) sepia(91%) saturate(3168%) hue-rotate(180deg) brightness(94%) contrast(101%) !important;
}

.makeGreen{
  filter: invert(50%) sepia(23%) saturate(5344%) hue-rotate(137deg) brightness(102%) contrast(101%);
}

.makeRed{
  filter: invert(31%) sepia(18%) saturate(7186%) hue-rotate(331deg) brightness(115%) contrast(86%);
}


.makeWhite {
  filter: invert(97%) sepia(7%) saturate(447%) hue-rotate(225deg) brightness(120%) contrast(100%);
}

.makeGray {
  opacity: .50;
}

.makeGray8 {
  filter: invert(44%) sepia(17%) saturate(305%) hue-rotate(167deg) brightness(92%) contrast(92%);
}

.opacity1 {
  opacity: 1;
}

.makeYellow {
  filter: invert(60%) sepia(64%) saturate(2043%) hue-rotate(7deg) brightness(101%) contrast(105%);
}

.border{  border: var(--borderColor) 1px solid !important;}



.borderLight {border: 1px solid #ebebeb;}
.border2{  border: var(--borderColor) 2px solid !important;}
.border-rt{  border-top: transparent 1px solid !important;}
.border-rb{  border-bottom: transparent 1px solid !important;}
.border-rl{  border-right: transparent 1px solid !important;}
.border-rr{  border-left: transparent 1px solid !important;}
.border-t{  border-top: var(--borderColor) 1px solid !important;}
.border-tl{  border-top: var(--gray-3) 1px solid !important;}
.border-b{  border-bottom: var(--borderColor) 1px solid !important;}
.border-bl{  border-bottom: var(--gray-3) 1px solid !important;}
.border-r{  border-right: var(--borderColor) 1px solid; }
.border-rl{  border-right: var(--gray-3) 1px solid !important; }
.border-l{  border-left: var(--borderColor) 1px solid !important;}
.border-ll{  border-left: var(--gray-3) 1px solid !important;}
.border-select{  border: var(--blue-5) 1px solid !important;}
.nice-border-top-dark{ border-top: var(--backDark) solid 6px; }
.nice-border-top-light{ border-top: var(--borderInputColor) solid 6px; }

.radius0{ border-radius: 0px !important;}
.radius3{ border-radius: 3px !important;}
.radius4{ border-radius: 4px !important;}
.radius6{ border-radius: 6px !important;}
.radius10{ border-radius: 10px !important;}
.radius15{ border-radius: 15px !important;}
.radius20{ border-radius: 20px !important;}
.radius40{ border-radius: 40px !important;}
.radius50{ border-radius: 50% !important;}

.avatar1{ height: 1rem; width: 1rem; border-radius: 50%;}
.avatar15{ height: 1.5rem; width: 1.5rem; border-radius: 50%;}
.avatar2{ height: 2rem; width: 2rem; border-radius: 50%; }
.avatar3{ height: 3rem; width: 3rem; border-radius: 50%; }
.avatar4{ height: 4rem; width: 4rem; border-radius: 50%; }
.avatar5{ height: 5rem; width: 5rem; border-radius: 50%; }
.avatar6{ height: 6rem; width: 6rem; border-radius: 50%; }
.avatar7{ height: 7rem; width: 7rem; border-radius: 50%; }
.avatar8{ height: 8rem; width: 8rem; border-radius: 50%; }
.avatar9{ height: 9rem; width: 9rem; border-radius: 50%; }
.avatar10{ height: 10rem; width: 10rem; border-radius: 50%; }

.circleBig{ height: 10rem; width: 10rem; border-radius: 50%; }

.avatarshadow {
  height: 4rem; width: 4rem; border-radius: 50%; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  outline: 5px solid #ffffff;
}


.avatarSquare1{ height: 1rem; width: 1rem;  }
.avatarSquare2{ height: 2rem; width: 2rem;  }
.avatarSquare3{ height: 3rem; width: 3rem; }
.avatarSquare4{ height: 4rem; width: 4rem;  }
.avatarSquare5{ height: 5rem; width: 5rem;  }
.avatarSquare6{ height: 6rem; width: 6rem;  }
.avatarSquare7{ height: 7rem; width: 7rem;  }
.avatarSquare8{ height: 8rem; width: 8rem;  }
.avatarSquare9{ height: 9rem; width: 9rem;  }
.avatarSquare10{ height: 10rem; width: 10rem; }


.iconBorderS{
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 2px solid var(--light-icon-color);
  position: relative;
}

.positionRelative{
  position: relative !important;
}

.iconBorderCompletado{
  height: 26px !important;
  width: 26px !important;
  border-radius: 50%;
  background: var(--blue-1);
  border: 2px solid var(--blue-3);
  position: relative;
}

.iconBorderM{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid var(--light-icon-color);
  position: relative;
}

.iconBorderL{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid var(--light-icon-color);
  position: relative;
}

.iconButton{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 6px !important;
  /* min-width: auto; */
  background: transparent !important;
  border-radius: 4px !important;
  color: var(--gray-8);
  transition: .1s !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.textButton:hover, .iconButton:hover{
  background: var(--gray-2) !important;
}

.textButton:active, .iconButton:active{
  background: var(--gray-1) !important;
  color: var(--gray-5);
}

.tag{
  height: 22px;
  padding-left: 12px;
  padding-right: 12px;
  width: fit-content;
  border-radius: 11px;
}

.chip{
  color: var(--text1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px 5px !important;
  height: 20px !important;
  border-radius: 10px;
  white-space: nowrap;
  cursor: default;
  background: var(--neutral3);
  font-size: 12px;
  user-select: none;
}

/* Colores Alejandra  */

  /* background */
.newGreen1b{ background-color:#eaffe5;}
.newGreen2b{ background-color:#6df04987;}
.newGreen3b{ background-color:#a4e893;}
.newGreen4b{ background-color:#5ebc46;}
.newGreen5b{ background-color:#3ED219;}

.newYellow2b{ background-color:#fff9b7;}








/* searchbar */

.searchBarContainer{
  position: relative;
  border-radius: 6px;
  height: 40px;
  background-color: var(--gray-2);
  border: none !important; 
}

.searchIcon{
  position: absolute;

  
}

.searchBar{
  padding-left: 10px;
  width: 100%;
  height: 37px !important;
  color: var(--gray-10);
}

 .mat-tooltip {
  display: flex;
  background: var(--minContrast) !important;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 12px !important;
  border: 1px solid var(--stroke1);
  box-shadow: var(--shadow16);
  color: var(--text1) !important;
}

 .multiline-tooltip{
  white-space: pre-line;
  font-size: 12px;
}


.textButton{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 4px;
  align-items: center;
  padding: 4px 12px 6px;
  position: static;
  height: 32px;
  background: transparent;
  color: var(--gray-9);
  border-radius: 4px;
  cursor: pointer;
}

.selected1, .selected1:hover, .selected1:active{
  background: var(--gray-9) !important;
  color: var(--gray-1) !important;
  cursor: default !important;
}

.chipBlue{
  color: var(--gray-6);
  cursor: pointer;
}

.chipBlueSelected{
  color: var(--blue-4);
  border-bottom: 2px solid var(--blue-4)
}


.circle{
  background: var(--accent5);
  height: 12px !important;
  width: 12px !important;
  border-radius: 100%;
}

.cursorPointer{
  cursor: pointer;
}

.cursorText{
  cursor: text;
}




.cursorDefault{
  cursor: default !important;
}

.tagFont{
  color: white;
  opacity: .95;
}

.opacity6{
 opacity: .6;
}

::-webkit-scrollbar {
  /* border-radius: 50%; */
  transition: .1 ease;
  width: 8px;
}

::-webkit-scrollbar-track  {
  background: var(--gray-2);
}


::-webkit-scrollbar-thumb  {
  background: var(--gray-4);
}



/* ------------------------------------------ SELECT */

.mat-select{
  height: 32px;
  background: var(--control1) !important;
  border: 1px solid var(--stroke1);
  border-radius: var(--defaultBorderRadius);
  min-width: 128px;
  padding: 1px 8px 0 12px !important;
  color: var(--text2) !important;
  user-select: none;
}

.mat-select-panel {
  margin-top: 50px; 
  border: 1px solid var(--stroke1);
  box-shadow: var(--shadow32) !important;
  background: white;
} 

.mat-option{
  height: 40px !important;
  margin: 4px !important;
  border-radius: var(--defaultBorderRadius);
  padding-left: 12px !important;
  color: var(--gray-9) !important;
  background: white;
}

.mat-option.mat-active {
  margin: 4px !important;
  border-radius: var(--defaultBorderRadius);
  padding-left: 12px !important;
  color: var(--gray-9) !important;
  background: var(--gray-2) !important;
}

.optionItem{
  color: var(--gray-10) !important;
}

.mat-option:hover{
  margin: 4px !important;
  border-radius: var(--defaultBorderRadius);
  padding-left: 12px !important;
  background: var(--gray-1) !important;
  color: var(--gray-9) !important;
}


/* ---------------------------------------------------------------- ELEMENTS */
/* ---------------------------------------------------------------- ELEMENTS */
/* ---------------------------------------------------------------- ELEMENTS */
/* ---------------------------------------------------------------- ELEMENTS */
/* ---------------------------------------------------------------- ELEMENTS */
/* ---------------------------------------------------------------- ELEMENTS */

@media print
{    
  /* @page { margin: 0; }
  body { margin: 1.6cm; } */
  
    .noPrint, .noPprint *
    {
        display: none !important;
    }

    @page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    html
    {
        height: auto;
        margin: 0px;  /* this affects the margin on the html before sending to printer */
    }

    body
    {
        height: auto;
    }
}

.print:last-child {
  page-break-after: auto;
}


.cw{
  margin: auto;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}



section{
  padding-top: 8rem;
  padding-bottom: 8rem;}

h1{
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 0.03125rem;
  font-weight: 300;
  color: var(--default-title-color);
}
h2{
  font-size: 3rem;
  line-height: 1.35;
  letter-spacing: 0.03125rem;
  font-weight: 300;
  color: var(--default-title-color);
}
h3{
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: 0.03125rem;
  font-weight: 400;
  color: var(--default-title-color);
}
h4{
  font-size: 2rem;
  line-height: 1.45;
  letter-spacing: 0.03125rem;
  font-weight: 400;
  color: var(--default-title-color);
}
h5{
  font-size: 1.625rem;
  line-height: 1.6;
  letter-spacing: 0.04245rem;
  font-weight: 400;
  color: var(--default-title-color);
}

h6{
  font-size: 1.375rem;
  line-height: 1.7;
  letter-spacing: 0.04245rem;
  font-weight: 500;
  color: var(--default-title-color);
}

.h6Title{
  font-family: "Gordita-medium", "Helvetica Neue", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.0625rem;
}

.subtitle1{
  font-size: 1rem;
  letter-spacing: 0.009375rem ;
  font-weight: 400 ;
  color: var(--default-title-color) ;
}
.subtitle2{
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
  color: var(--default-title-color);
}
p, span, li{
  font-size: 0.8125rem;
  /* letter-spacing: 0.04245rem; */
  /* font-weight: 400; */
  color: var(--default-font-color);
}

a {
  font-size: 0.8125rem;
  text-decoration: none !important;
}

.swal2-success-line-tip, .swal2-success-line-long {
  font-size: 16px !important;
}

.swal2-x-mark-line-right, .swal2-x-mark-line-left {
  font-size: 16px !important;
}

.swal2-height-auto{
  height: 100% !important;
}

caption{
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  font-weight: 400;
  color: var(--default-font-color);
}

.overline{
  font-size: 0.625rem;
  letter-spacing: 0.09375rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--default-font-color);
}
label{
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  color: var(--default-font-color);
}

hr{  border-top: var(--lineColor) 1px solid !important;}
  
input :not(.toolbarField):not(.pageNumber), textarea, select:not(#scaleSelect):not(.select){
  color: var(--gray-9);
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  line-height: 1.375rem !important;
  background-color: var(--backLight) !important;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderInputColor);
  border-radius: 3px !important;
  padding: .375rem .375rem !important;
}


/* Estilo para el placeholder */
input::placeholder {
  color: var(--gray-5); /* Color del texto del placeholder */
}

/* En caso de que quieras estilos para navegadores específicos */
input::-webkit-input-placeholder {
  color: var(--gray-5); /* Para navegadores basados en WebKit como Safari y Chrome antiguos */
}

input::-moz-placeholder {
  color: var(--gray-5); /* Para Firefox antiguos */
}

input:-ms-input-placeholder {
  color: var(--gray-5); /* Para Internet Explorer 10+ */
}

input::-ms-input-placeholder {
  color: var(--gray-5); /* Para Microsoft Edge */
}
  
button:not(.swal-overlay *):not(.mat-mdc-chip *) {
  /* Tus estilos aquí */
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.57em;
  letter-spacing: 0.0357;
  line-height: 2.57em;
  padding: 0 0.875em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.btn {
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.57em;
  letter-spacing: 0.0357;
  line-height: 2.57em;
  padding: 0 0.875em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}


.inline{
  display: inline;
}

.sqChip{
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  height: auto !important;
  width: auto !important;
  letter-spacing: 0.0357;
  line-height: 1.57em;
  padding-top: 0.125em;
  padding-bottom: 0.25em;
  padding-left: 0.825em;
  padding-right: 0.825em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: var(--shadow10);
  user-select: none;
}


/* table{ width: 100%; border-radius: 6px !important;} */
th{ background: var(--backLight); }
th{
  text-align: center;
  height: 2rem;
  border-bottom: solid 1px var(--backLight2);
  color: var(--gray-7);
  font-size: 0.70rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .6rem;
  padding-right: .6rem;
  border-top: solid .5px var(--gray-2);
  border-left: solid .5px var(--gray-2);
  border-right: solid .5px var(--gray-2);
  border-bottom: solid .5px var(--gray-2)
}

td{ 
  background: var(--backWhite); 
  color: var(--gray-7) !important;
  font-size: 0.75rem !important;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .6rem;
  padding-right: .6rem;
  height: 2.2rem !important;
  /* border-bottom: solid 1px var(--lineColor); */
  /* border-left: solid 1px var(--gray-2);
  border-bottom: solid 1px var(--gray-2); */
    border-left: solid .5px var(--gray-2);
    border-right: solid .5px var(--gray-2);
    border-bottom: solid .5px var(--gray-2);
}

th:first-child{ border-radius: 3px 0 0 0 !important;}
th:last-child{  border-radius: 0 3px 0 0 !important;}

/* td:last-child{  border-radius: 0 0 3px 0 !important; background: white;}
td:first-child{ border-radius: 0 0 0 3px; background: white;} */

td:first-child{
  padding-left: 1rem;
  border-left: solid 1px var(--gray-2);
}

td:last-child{
  padding-right: 1rem;
}

/* ------------------------------------------------------------------- GRIDS & CARDS */

.containerGrid{
  width: 100%;
}

.containerGridSm{
  width: 80% !important;
  margin: auto;
}

.card{
  border-radius: 6px;
  background: white;
  /* border: 1px solid var(--borderColor); */
  box-shadow: var(--shadow10);
  padding: 1rem;
}

.gray-snackbar {
  background: var(--gray-3) !important;
}

/*------------------------------ Angular Editor */

angular-editor-toolbar button i {
  font-family: FontAwesome !important;
  color: #474d6d !important;
}

angular-editor-toolbar select i {
  font-family: FontAwesome !important;
  color: #474d6d !important;
}

angular-editor-toolbar button.ae-picker-item.ng-star-inserted {
  font-family: FontAwesome !important;
  color: #474d6d !important;
}

angular-editor-toolbar button.ae-picker-label {
  font-family: FontAwesome !important;
  color: #474d6d !important;
}


/* ------------------------------------- MEDIA QUERY  */

@media screen and (min-width: 600px){  
  .cw{  width: 560px !important; }
   html{font-size: 14px !important; }
  }

@media screen and (min-width: 767px){  
  .cw{  width: 714px !important; }
   html{font-size: 16px !important; }
}

@media screen and (min-width: 960px){  
  .cw{  width: 891px !important; }
   html{font-size: 16px !important; }
}

@media screen and (min-width: 1280px){  
  .cw{  width: 1200px !important; }
   html{font-size: 16px !important; }
}

@media screen and (min-width: 1920px){  
  .cw{  width: 1785.6px !important; }
   html{font-size: 16px !important; }
}


.newInput {
  border: none;
  flex-grow: 1;
  outline: none;
  
}

.newInput:focus {
  outline: none;
}

.newInput::placeholder {
  outline: none;
  font-size: 11px;
}

.shadow-input {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--gray-1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra general */
  transition: box-shadow 0.3s ease; /* Transición suave al enfocar */
}

.shadow-input:focus {
  background-color: var(--gray-1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra al enfocar */
}

.hideScroll {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: transparent transparent; /* Para Firefox */
}

.hideScroll::-webkit-scrollbar { /* Para Chrome, Safari y Edge */
  width: 0px;
}

.smallScroll {
  scrollbar-width: thin; /* Para Firefox */
}

.smallScroll::-webkit-scrollbar { /* Para Chrome, Safari y Edge */
  width: 1px;
}

.no-select {
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* .modal-content{
  width: fit-content !important;
  height: fit-content !important;
} */

.custom-modal .modal-dialog {
  width: 80%;
  max-width: 80%;
}

.mat-expansion-panel {
  border: 1px solid var(--gray-4) !important;  /* Reemplaza 'tuColorPersonalizado' con el color que desees, como #ff0000 para rojo */
  border-radius: 6px !important;
  box-shadow: none !important;  /* Elimina cualquier sombra que pudiera tener */
}

.mat-expansion-panel-header {
  border-radius: 6px 6px 0 0 !important;  /* Radio solo para la parte superior */
}

.mat-expansion-panel-content {
  border-radius: 0 0 6px 6px !important;  /* Radio solo para la parte inferior */
}

.hiding-content .mat-expansion-panel-content {
  display: none;
}

/* MICROSOFT STYLES */


span{
  display: inline-block;
  line-height: normal;
  align-items: center;
}


.overflowHidden {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: transparent transparent; /* Para Firefox */
}

.overflowHidden::-webkit-scrollbar { /* Para Chrome, Safari y Edge */
  width: 0px;
}

.cdk-overlay-connected-position-bounding-box,
.cdk-global-overlay-wrapper,
.cdk-overlay-container{
    z-index: 99999 !important;
}



.ListHover:hover{
  background-color:   rgba(211, 211, 211, 0.224) !important; 

}

.ListHover2:hover{

  background-color: #efefef !important;

}

.ListHover2{
  background-color:   rgba(211, 211, 211, 0.224) !important; 
}


.ListHoverBlue:hover{
  color: var(--gray-8) !important;
  background-color: #efefef !important;

}

.ListHoverBlue{
  background-color: var(--blue-5) !important; 
}

.skill-badge {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Ajusta esto según el tamaño deseado */
}

.skill-badge-complete {
  display: inline-block;
  overflow: hidden;
}


.title-course-badge {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px; /* Ajusta esto según el tamaño deseado */
}