<div class="fw" fxLayoutAlign="space-between center" fxLayout="row">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
        <img [src]="icon.clock" class="makeBlue h20px" alt="">
        <span class="ft500 ft14 black " style="margin-top: 5px;">Tiempo de estudio mensual</span>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="mgt08 h-80 pdl10 pdr10">
    <!-- <div fxLayout="column" fxLayoutAlign="center center" class="fh w-40 positionRelative">
        <div class="fh fw" fxLayoutAlign="center center">
            <div class="backProgressSpinner" fxLayoutAlign="center center">
                <div class="textoSpinner">
                    <span class="ft10 gray-10"><span class="ft500 ft10 gray-10">{{hoursTimeMonth | number:"1.1-1"}}</span> / {{targetHoursPerMonth}} (H)</span>
                </div>
                <div class="">
                    <mat-progress-spinner [value]="hoursTimeMonth*100/targetHoursPerMonth" class=""></mat-progress-spinner>
                </div>
            </div>
        </div>
        <div><span class=" ft10 gray-10 fw">Mes actual: {{currentMonth | customMonth}}</span></div>
    </div> -->
    <div class="fw fh" fxLayout="column" fxLayoutAlign="start center">
        <!--  -->
        <app-study-time-monthly-chart [enterprise]="enterprise" class="fw fh"></app-study-time-monthly-chart>
    </div>
</div>
