<div class="fw" class="fw fh backWhite radius10" fxLayout="column"><div [ngClass]="mode== 'edit' || mode=='new'? 'header--edit' : ''" fxLayout="row" fxLayoutAlign="space-between " class="header pdr20 pdl10">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="fw fh pdt05 pdb05"  >
        <div fxLayout="row">
            <div class="input-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center">
                <input #input class="custom-input" [(ngModel)]="examen.title" (input)="adjustInputWidth(input)" placeholder="Nombre del curso"/>
                <span #mirror style="visibility: hidden; white-space: pre;" class="mirror-text"></span>
              </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
            <div class="radius20 pdl10 pdr10 pdt05 pdb05 backWhite ft14 cursorPointer" routerLink="/admin/certifications"> 
                Cancelar
            </div>
            <button
                fxLayout="row"
                fxLayoutGap="0.625"
                fxLayoutAlign="center center"
                class="blueButton ft14 cursorPointer"
                (click)="saveDraftPre()"
                style="border-radius: 24px !important;">
                {{mode !== 'edit' ? 'Guardar evaluación' : 'Guardar evaluación'}}
                <img [src]="icon.save" class="h16px pdl05 makeWhite" alt="">
            </button>
        </div>
    </div>
</div>

<div class="fh " >
    <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" class="swal-overlay pdt35 " style="z-index: 2; position :fixed;  width: 97%;" >
        <mat-tab label="Preguntas">
            <div fxLayout="row" class="containerCurso h-100" fxLayoutGap="1.5rem">
                <div fxLayout="column" class="radius10 w-100 mgt15 mgl10 shadowLight hideScroll shadowLight" style="background-color:rgba(244, 244, 244, 0.362)">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgl10 mgt15 mgr10">
                        <img [src]="icon.document" class="makeBlue h20px" alt="">
                        <span class="ft500 ft14 black " style="margin-top: 5px;"> {{ examen?.questions?.length }} Preguntas</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="w-100"> <!-- Centrar contenido -->
                        <div style="width: 800px;"> <!-- Ancho fijo -->
                            <!-- <app-questions type="test" class="mgr10" [questionMaxSize]="100" [courseData]="modulos" [nameCurso]="formNewCourse?.get('titulo').value?  formNewCourse?.get('titulo').value : 'Temporal'" [nameEmpresa]="empresa?.name" (changeQuestion)="validExam = $event;formatExamQuestions()" (emmitForm)="validExam = $event;" [questionsArray]="examen?.questions ? examen?.questions:[]" [checkQuestions]="updateTriggeQuestionsExam" [selectedTestSkills]="[]"></app-questions> -->
                            <app-questions type="certification" class="mgr10" [questionMaxSize]="100" [courseData]="[]" [nameCurso]="" [nameEmpresa]="" (changeQuestion)="validExam = $event;formatExamQuestions()" (emmitForm)="validExam = $event;" [questionsArray]="examen?.questions ? examen?.questions:[]" [checkQuestions]="updateTriggeQuestionsExam" [selectedTestSkills]="[]"></app-questions>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Estadísticas">
            <div fxLayout="row" class="containerCurso h-100" fxLayoutGap="1.5rem">
                <div fxLayout="column" class="radius10 w-100 mgt15 mgl10 shadowLight hideScroll shadowLight" style="background-color:rgba(244, 244, 244, 0.362)" style="height: 100vh;">
                    <div fxLayout="row" fxLayoutAlign="center" class="w-100"> <!-- Centrar contenido -->
                        <div style="width: 800px;"> <!-- Ancho fijo -->
                            <app-stats-certifications [certificationId]="certificationId" [makeChart]="makeChart"></app-stats-certifications>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
