<div class="fw" class="fw fh backWhite radius10" fxLayout="column"><div [ngClass]="mode== 'edit' || mode=='new'? 'header--edit' : ''" fxLayout="row" fxLayoutAlign="space-between " class="header pdr20 pdl10">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="fw fh pdt05 pdb05"  >
        <div fxLayout="row">
            <div class="input-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center">
                <input #input class="custom-input" [(ngModel)]="examen.title" (input)="adjustInputWidth(input)" placeholder="Nombre del curso"/>
                <span #mirror style="visibility: hidden; white-space: pre;" class="mirror-text"></span>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <input
                (change)="changeP21($event)"
                type="checkbox" 
                [checked]="formNewCertification?.get('isPageTest')?.value">
                <label style="padding-left: 5px; color:white">Certificación Pagina Web</label>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
            <div class="radius20 pdl10 pdr10 pdt05 pdb05 backWhite ft14 cursorPointer" routerLink="/admin/certifications"> 
                Cancelar
            </div>
            <button
                fxLayout="row"
                fxLayoutGap="0.625"
                fxLayoutAlign="center center"
                class="blueButton ft14 cursorPointer"
                (click)="saveDraftPre()"
                style="border-radius: 24px !important;">
                {{mode !== 'edit' ? 'Guardar evaluación' : 'Guardar evaluación'}}
                <img [src]="icon.save" class="h16px pdl05 makeWhite" alt="">
            </button>
        </div>
    </div>
</div>
<div class="fh " >
    <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" class="swal-overlay pdt35 " style="z-index: 2; position :fixed;  width: 97%;" >
        <mat-tab *ngIf="formNewCertification?.get('isPageTest')?.value" label="Datos adicionales">
            <div fxLayout="row" fxLayoutAlign="center start" class="containerCurso h-100" fxLayoutGap="1.5rem">
                <div fxLayout="column" class="radius10 w-100 mgt15 hideScroll" style="height: 100vh;">
                    <ng-container>
                        <div fxLayout="row" fxLayoutAlign="center start" style="width: 100%;">
                            <div *ngIf="formNewCertification" class="radius10 w-70 mgb10 mgl10" fxLayout="column" style="height: 100vh !important;">
                                <!-- Informacion -->
                                <form [formGroup]="formNewCertification" class="mgl10 mgt15 mgr10 mgb20" style="padding-bottom: 200px !important;">
                                    <div class="fw" fxLayoutAlign="space-between center" fxLayout="row">
                                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="">
                                            <img [src]="icon.presentationFile" class="makeBlue h20px" alt="">
                                            <span class="ft500 ft14 black " style="margin-top: 5px;">Informacion general</span>
                                        </div>
                                    </div>
                                    <div class="form-group pdt10">
                                        <label class="ft12 pdb05 ">Foto de la evaluación</label>
                                        <div fxLayout="row" fxLayoutAlign="start end" >
                                                <!-- <button class="add-button">Adjuntar nueva</button> -->
                                                <input #cursoImage type="file" (change)="uploadCourseImage($event,'curso')" hidden accept="image/jpeg, image/png" />
                                                <!-- <div class="image-scroll">
                                                    <img *ngFor="let imagen of imagenesCurso" (click)="seleccionarImagenCurso(imagen)" [src]="imagen" alt="Imagen seleccionada" class="image cursorPointer {{this.formNewCertification.get('imagen').value == imagen? 'img-active': ''}}">
                                                </div> -->
                                                <div class="image-scroll">
                                                    <img *ngIf="formNewCertification.get('imagen').value" [src]="formNewCertification.get('imagen').value" alt="Imagen seleccionada" class="avatarSquare8 radius6">
                                                </div>
                                                <div class="fw" >
                                                    <button (click)="cursoImage.click()" class="grayButton pd03 radius6 ft12 ft500 h28px mgr10 gray-8" fxLayoutGap="0.625" >
                                                        <img [src]="icon.arrowUp" class="h16px pdr05" alt="">
                                                        Adjuntar imagen
                                                    </button>
                                                </div>
                                        </div>
                                    </div>
                                    <div *ngIf="formNewCertification.controls['imagen'].errors && showErrorCertification" class="custom-invalid-feedback pdt05">
                                        Debe seleccionar o subir la imagen del certificado
                                    </div>
                                    <div class="form-group mgt08">
                                        <label class="ft12">URL personalizado</label>
                                        <div class="input-group">
                                            <input
                                            [class.is-invalid]="formNewCertification.controls['customUrl'].errors && showErrorCertification"
                                            formControlName="customUrl"
                                            type="text"
                                            class="form-control customInput2 radius6"
                                            placeholder="Escriba el URL del certificado aquí"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text">{{ formNewCertification?.controls['customUrl']?.value?.length || 0 }}</span>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formNewCertification?.controls['customUrl']?.errors && showErrorCertification">
                                            Debe indicar el URL del certificado
                                        </div>
                                        </div>                                          
                                    <!-- <div class="form-group pdt10">
                                        <label>Resumen del curso</label>
                                        <textarea 
                                        [class.is-invalid]="formNewCertification.controls['resumen'].errors && showErrorCertification"
                                        rows="3" formControlName="resumen" type="text" class="form-control customInput" placeholder="Escriba el resumen del curso aquí" style="resize: none;"></textarea>
                                        <div class="invalid-feedback" *ngIf="formNewCertification.controls['resumen'].errors && showErrorCertification"> 
                                            Debe indicar el resumen del curso
                                        </div>
                                    </div> -->
                                    <div class="ft12 form-group pdt10">
                                        <label>Descripción del certificado</label>
                                        <textarea [class.is-invalid]="formNewCertification.controls['descripcion'].errors && showErrorCertification"
                                        rows="3"  formControlName="descripcion" type="text" class="form-control ft12  customInput2" 
                                        placeholder="Escriba la descripción del curso aquí" style="resize: none;"></textarea>
                                        <div class="invalid-feedback" *ngIf="formNewCertification.controls['descripcion'].errors && showErrorCertification"> 
                                            Debe indicar la descripción del certificado
                                        </div>
                                    </div>
                                    <div class="ft12 form-group pdt10">
                                        <label>Meta descripción del certificado</label>
                                        <textarea
                                        [class.is-invalid]="formNewCertification.controls['metaDescripcion'].errors && showErrorCertification" rows="3"  
                                        formControlName="metaDescripcion" type="text" class="form-control ft12  customInput2" [maxLength]="metaDescriptionMaxLength"
                                        placeholder="Escriba la descripción del certificado aquí" style="resize: none;"></textarea>
                                        <div class="progress-bar-container fw mgt03">
                                            <div class="progress-bar" [style.width.%]="(formNewCertification?.controls['metaDescripcion']?.value?.length / metaDescriptionMaxLength) * 100"></div>
                                        </div>

                                        <div class="invalid-feedback" *ngIf="formNewCertification.controls['metaDescripcion'].errors && showErrorCertification"> 
                                            Debe indicar la meta descripción del certificado
                                        </div>
                                    </div>
                                    <div  class="ft12 form-group pdt10">
                                        <label>KeyWords</label>
                                        <textarea [class.is-invalid]="formNewCertification.controls['KeyWords'].errors && showErrorCertification" [maxLength]="keyWordsMaxLength"
                                        rows="3" formControlName="KeyWords" type="text" class="form-control ft12 customInput2" placeholder="Escriba los KeyWords del certificado aquí" style="resize: none;"></textarea>
                                        <div class="progress-bar-container fw mgt03">
                                            <div class="progress-bar" [style.width.%]="(formNewCertification?.controls['KeyWords']?.value?.length / keyWordsMaxLength) * 100"></div>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formNewCertification.controls['KeyWords'].errors && showErrorCertification"> 
                                            Debe indicar los KeyWords del certificado
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="fw" fxLayoutGap="1rem">
                                        <div  fxFlex="50%" >
                                            <div class="form-group pdt10 ">
                                                <label class="ft12 ">Nivel del certificado</label>
                                                <select
                                                [class.is-invalid]="formNewCertification.controls['nivel'].errors && showErrorCertification"
                                                class="form-control customInput radius10" formControlName="nivel">
                                                    <option value=null>Selecciona el nivel</option>
                                                    <option value="Básico">Básico</option>
                                                    <option value="Intermedio">Intermedio</option>
                                                    <option value="Avanzado">Avanzado</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="formNewCertification.controls['nivel'].errors && showErrorCertification"> 
                                                    Debe seleccionar el nivel del certificado
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div  fxFlex="50%" >
                                            <div class="form-group pdt10">
                                                <label class="ft12 ">Idioma</label>
                                                <select
                                                [class.is-invalid]="formNewCertification.controls['idioma'].errors && showErrorCertification"
                                                class="form-control customInput" formControlName="idioma">
                                                    <option value=null>Selecciona el idioma</option>
                                                    <option value="Español">Español</option>
                                                    <option value="Inglés">Inglés</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="formNewCertification.controls['idioma'].errors && showErrorCertification"> 
                                                    Debe seleccionar el idioma del certificado
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>  
                                </form>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
        
        <mat-tab label="Preguntas">
            <div fxLayout="row" class="containerCurso h-100" fxLayoutGap="1.5rem">
                <div fxLayout="column" class="radius10 w-100 mgt15 mgl10  hideScroll " style="height: 100vh;">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem" class="mgl10 mgt15 mgr10">
                        <img [src]="icon.document" class="makeBlue h20px" alt="">
                        <span class="ft500 ft14 black " style="margin-top: 5px;"> {{ examen?.questions?.length }} Preguntas</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="w-100" style="padding-bottom: 200px;"> <!-- Centrar contenido -->
                        <div style="width: 800px;"> <!-- Ancho fijo -->
                            <!-- <app-questions type="test" class="mgr10" [questionMaxSize]="100" [courseData]="modulos" [nameCurso]="formNewCertification?.get('titulo').value?  formNewCertification?.get('titulo').value : 'Temporal'" [nameEmpresa]="empresa?.name" (changeQuestion)="validExam = $event;formatExamQuestions()" (emmitForm)="validExam = $event;" [questionsArray]="examen?.questions ? examen?.questions:[]" [checkQuestions]="updateTriggeQuestionsExam" [selectedTestSkills]="[]"></app-questions> -->
                            <app-questions type="certification" class="mgr10" [questionMaxSize]="100" [courseData]="[]" [nameCurso]="" [nameEmpresa]="" (changeQuestion)="validExam = $event;formatExamQuestions()" (emmitForm)="validExam = $event;" [questionsArray]="examen?.questions ? examen?.questions:[]" [checkQuestions]="updateTriggeQuestionsExam" [selectedTestSkills]="[]"></app-questions>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Estadísticas">
            <div fxLayout="row" class="containerCurso h-100" fxLayoutGap="1.5rem">
                <div fxLayout="column" class="radius10 w-100 mgt15 mgl10 shadowLight hideScroll shadowLight" style="background-color:rgba(244, 244, 244, 0.362)" style="height: 100vh;">
                    <div fxLayout="row" fxLayoutAlign="center" class="w-100"> <!-- Centrar contenido -->
                        <div style="width: 800px;"> <!-- Ancho fijo -->
                            <app-stats-certifications origen="general" [certificationId]="certificationId" [makeChart]="makeChart"></app-stats-certifications>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
