<div class="fw backGray2 radius20 pd05">
    <div *ngFor="let subArray of studyPlanData; let i = index" class="mgb10 ">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class ='gray-6 ft12 ft500'>{{subArray.month}} {{subArray.year}} </div>
            <img *ngIf="i == 0" [src]="'assets/iconsUI/sidenav_config.svg'" class="h16px mgr05 cursorPointer" alt="">
        </div>
        <div class="fw radius10 pdl05 pdr05">
            <div *ngFor="let course of subArray.studyPlan; let i = index" class="pdb03 pdt03 border-bl"
                fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <span class="ft11 gray-10">{{course.courseTitle}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap=".5rem">
                    <!-- Completó con retraso  -->
                    <div *ngIf="course.completionDate && course.completionDate > course.endDate">
                        <img [src]="icon.checkCircle" class="h14px makeYellow" alt="">
                    </div>             
                    <!-- Completó bien  -->
                    <div *ngIf="course.completionDate && course.completionDate <= course.endDate">
                        <img [src]="icon.checkCircle" class="h14px makeGreen" alt="">
                    </div>
                    <!-- Tiene retraso -->
                    <div *ngIf="!course.completionDate && today > course.endDate" fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign=" center">
                        <span *ngIf="!course['sendedNotification'] && !clickedCourse[course.courseTitle]" class="ft10 blue-8 cursorPointer" (click)="sendEmail(course)">Enviar aviso</span>
                        <img [src]="icon.redWarning" class="h14px" alt="">
                    </div>
                    <!-- En curso -->
                    <div *ngIf="!course.completionDate && today < course.endDate && course.progress > 0">
                        <img [src]="icon.playOutline" class="makeBlue h14px" alt="">
                    </div>
                    <!-- Nothing -->
                    <!-- <div *ngIf="!course.completionDate && today < course.endDate && course.progreso == 0" >
                        <span>Nothing</span>
                    </div> -->
                    <span class="ft10 gray-10 w60px">{{course.endDate | date:"d/MMM/y"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>