<app-navigate-back targetUrl="../../departments-and-profiles">Nuevo perfil</app-navigate-back>

<div class="fw" class="fw backWhite radius10" fxLayout="column">
    <span class="pdl10 ft600">Departamento: {{department.name}}</span>
    <div class="fw fh" fxLayout="column">
        <div fxLayout="row">
            <div class="fw pdl10 pdr10 pdt10">
                <div class="fw border-b">
                    <div class="stepper pdb10">
                        <div class="step" *ngFor="let item of steps; let i = index">
                            <div class= "no-select {{activeStep == i+1? 'circleStepActive': 'circleStep'}} {{  activeStep > i ? 'cursorPointer' : ''}}">{{ i + 1 }}</div>
                            <div (click)="activeStep > i ? activeStep=i+1 : '' " class="no-select {{activeStep == i+1? 'titleActive ft400': 'title'}}  {{  activeStep > i ? 'cursorPointer' : ''}}">{{ item }}</div>
                            <div class="mgr05" *ngIf="i < steps.length - 1">
                                <img [src]="icon.chevronRight" class=" {{activeStep == i+1? 'makeGray8': 'makeGray'}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab 1 Informacion del curso -->
        <ng-container *ngIf="activeStep == 1">
            <div fxFlex fxLayout="row" class="contanier">
                <div fxFlex="60%" class="pdl10 pdr10 pdt10">
                    <div fxLayout="column" class="fw fh smallScroll" style="overflow-y: auto;">
                        <form [formGroup]="formNewProfile" class="mgr20">

                            <div class="form-group pdt10">
                                <label>Título</label>
                                <input
                                [class.is-invalid]="formNewProfile.controls['name'].errors && showErrorProfile"
                                formControlName="name" type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="Escriba el nombre del perfil aquí">
                                <div class="invalid-feedback" *ngIf="formNewProfile.controls['name'].errors && showErrorProfile"> 
                                    Debe indicar el nombre del perfil
                                </div>
                            </div>
                            <div class="form-group pdt10">
                                <label>Descripción del perfil</label>
                                <textarea 
                                [class.is-invalid]="formNewProfile.controls['description'].errors && showErrorProfile"
                                rows="5" formControlName="description" type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="Escriba la descripción del perfil aquí" style="resize: none;"></textarea>
                                <div class="invalid-feedback" *ngIf="formNewProfile.controls['description'].errors && showErrorProfile"> 
                                    Debe indicar la descripción del perfil
                                </div>
                            </div>
                            <div class="form-group pdt10">
                                <label>Responsabilidades del perfil</label>
                                <textarea 
                                [class.is-invalid]="formNewProfile.controls['responsabilities'].errors && showErrorProfile"
                                rows="5" formControlName="responsabilities" type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="Escriba las responsabilidades del perfil aquí" style="resize: none;"></textarea>
                                <div class="invalid-feedback" *ngIf="formNewProfile.controls['responsabilities'].errors && showErrorProfile"> 
                                    Debe indicar las responsabilidades del perfil
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div fxFlex="40%" class="pdl10 pdr10 pdt10">
                    <div fxLayout="column" fxLayoutAlign="center center" class="fw fh">
                        <img class="pd10" src="../../../../assets/images/perfiles/amico.svg " class="w-90" alt="Mi SVG">
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="activeStep == 2">
            <app-skills-selector
            [competenciasEmpresa]="competenciasEmpresa" 
            [categoriasArray]="categoriasArray"
            [competenciasSelected]="competenciasSelected"
            (competenciasSelectedOut)="competenciasSelected = $event">
        </app-skills-selector>
        </ng-container>
        <ng-container *ngIf="activeStep == 3">
            <div fxFlex fxLayout="row" class="contanier">
                <div fxFlex="55%" class="pdl10 pdr10 pdt10">
                    <div fxLayout="column" class="fw fh smallScroll" style="overflow-y: auto;">
                        <span class="ft16 ft600 gray-10 pdb10">Categorías</span>
                        <ng-container>
                            <app-course-selector
                                type="predyc"
                                [searchValue]="searchValue"
                                (selectedCourseOut)="selectCourse($event);"
                                [categories]="categories">
                            </app-course-selector>
                        </ng-container>
                        <span class="ft16 ft600 gray-10 pdb10 pdt10">Cursos Propios</span>
                        <ng-container>
                            <app-course-selector
                                [searchValue]="searchValue"
                                (selectedCourseOut)="selectCourse($event);"
                                [categories]="categories">
                            </app-course-selector>
                        </ng-container>
                    </div>
                </div>
                <div fxFlex="45%" class="pdl10 pdr10 pdt10">
                    <span *ngIf="coursesSelectedPerfil?.length > 0" class="ft16 ft600 gray-10 pdb10">Plan de estudios</span>
                    <div class="fh radius6" *ngIf="!coursesSelectedPerfil || coursesSelectedPerfil?.length == 0">
                        <div fxLayout="column" fxLayoutAlign="center center" class="fw fh">
                            <img class="w-80" src="../../../assets/images/cursos/Questions-pana.svg" alt="Mi SVG">
                            <div class="fw" fxLayout="row" fxLayoutAlign="center center" style="text-align: center;"> 
                                <span class="{{!CursosValid?'red-5':''}}" class="ft400 gray-8">{{mensageCursosSelect}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="coursesSelectedPerfil?.length > 0" cdkDropList (cdkDropListDropped)="onDrop($event)">
                        <div *ngFor="let course of coursesSelectedPerfil; let i = index" class="course-item" cdkDrag>
                          <div fxLayout="row" fxLayoutAlign="space-between center" class="course-row">
                            <div fxLayout="row" fxLayoutAlign="start center">
                              <img  [src]="icon.drag" class="drag-icon cursorPointer" cdkDragHandle alt="Drag"> <!-- drag icon -->
                              <div class="order-number pdl05">{{ i + 1 }}</div>
                              <div class="course-name">{{ course.titulo }}</div>
                            </div>
                            <img (click)="retirarCursoPlandeEstudio(course)" [src]="icon.trash" class="h16px pdr05 cursorPointer trash" alt="Delete"> <!-- trash icon -->
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="activeStep == 4">
            <div fxFlex fxLayout="row" class="contanier">
                <div fxFlex="60%" class="pdl10 pdr10 pdt10">
                    <div fxLayout="column" class="fw fh smallScroll" style="overflow-y: auto;">
                        <ng-container>
                            <!-- aqui van los preguntas que se van creando -->
                            <div *ngFor="let question of examen?.questions; let questionIndex = index" class="{{question['isInvalid']?'ContainerModuloInvalid':'ContainerModulo'}}">
                                <div fxLayout="row" fxLayoutAlign="space-between start" class="fw pd05 pdb0">
                                    <!-- Left Section -->
                                    <div fxLayout="row" fxLayoutGap="10px" class="fw">
                                        <div class="ft500 ft12">
                                            <!-- question number -->
                                            Pregunta {{questionIndex+1}}
                                        </div>
                                        <ng-container>
                                            <div *ngFor="let name of question.skillsNames" class="pill">
                                                {{name}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <!-- Right Section with Trash Icon -->
                                    <div (click)="borrarPreguntaExamen(question,questionIndex)">
                                        <img [src]="icon.trash" class="h16px pdr05 cursorPointer trash" alt="Delete">
                                    </div>
                                </div>                                
                                <!-- Contenedor de las preguntas -->
                                <div class="pd05">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div fxLayout="row" fxLayoutGap="0.625">
                                            <div class="pdr05">
                                                {{ question.type.displayName }}
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                                            <label>Puntos:</label>
                                            <span>{{question.points}}</span>
                                        </div>
                                    </div>
                                
                                    <!-- Imagen y área dependiente de la pregunta -->
                                    <div fxLayout="row" class="pdt10">
                                        <!-- Imagen -->
                                        <div *ngIf="question.image" fxFlex="30" class="pdr10">
                                            <img [src]="question.image" alt="" class="w-90" style="max-height: 200px;">
                                        </div>
                                        
                                        <!-- Área dependiente de la pregunta -->
                                        <div fxFlex="70" fxLayout="column" class="pdt05 fw">
                                            <div [innerHTML]="question['render']" *ngIf="question.type.value == questionTypesIn.TYPE_COMPLETE_VALUE"></div>
                                            <div *ngIf="question.type.value == questionTypesIn.TYPE_SINGLE_CHOICE_VALUE">
                                                <span class="ft14 ft500"> {{ question.text }} </span>
                                                <div class="mgt10" fxLayout="column">
                                                    <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let option of question.options; let optionIndex = index" class="mgt05">
                                                        <span class="pdr05">{{ optionIndex + 1 }}. {{ option.text }}</span>
                                                        <input type="radio" [name]="questionIndex" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="question.type.value == questionTypesIn.TYPE_MULTIPLE_CHOICE_VALUE">
                                                <span class="ft14 ft500"> {{ question.text }} </span>
                                                <div class="mgt10" fxLayout="column">
                                                    <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let option of question.options; let optionIndex = index" class="mgt05">
                                                        <span class="pdr05">{{ optionIndex + 1 }}. {{ option.text }}</span>
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="question.type.value == questionTypesIn.TYPE_TRUE_OR_FALSE_VALUE">
                                                <span class="ft14 ft500"> {{ question.text }} </span>
                                                <div class="mgt10" fxLayout="column">
                                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                                        <span fxFlex="60" class="ft14 ft500">Enunciado</span>
                                                        <div class="centertext w200px">
                                                            <span fxFlex="50" class="ft14 ft500">V</span>
                                                            <span fxFlex="50" class="ft14 ft500">F</span>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row" fxLayoutAlign="space-between center" class="mgt05" *ngFor="let option of question.options; let optionIndex = index">
                                                        <div fxFlex="60" fxLayout="row" fxLayoutGap="1rem">
                                                            <span>{{ optionIndex + 1 }}. {{ option.text }}</span>
                                                        </div>
                                                        <div class="centertext w200px">
                                                            <input fxFlex="50" [name]="questionIndex.toString() + optionIndex.toString()" type="radio" [value]="true">
                                                            <input fxFlex="50" [name]="questionIndex.toString() + optionIndex.toString()" type="radio" [value]="false" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </ng-container>
                        <div fxLayout="row">
                            <span (click)="createNewQuestion(modalCreateQuestion)" class="yellowLink ft12 h28px no-select" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign=" center">
                                <img src="../../../assets/images/icons/addNew.svg " class="h12px pdr05 makeYellow" alt="">
                                Agregar pregunta
                            </span>
                        </div>
                    </div>
                </div>
                <div fxFlex="40%" class="pdl10 pdr10 pdt10">
                    <img class="pd10" src="../../../../assets/images/perfiles/Online test-pana.svg " class="w-90" alt="Mi SVG">
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="activeStep == 5">
            <div fxFlex fxLayout="row" class="contanier">
                <div fxFlex="60%" class="pdl10 pdr10 pdt10">
                    <div fxLayout="column" class="fw fh smallScroll" style="overflow-y: auto;">

                    </div>
                </div>
                <div fxFlex="40%" class="pdl10 pdr10 pdt10">
                    <img class="pd10" src="../../../../assets/images/perfiles/Software engineer-pana 1.svg " class="w-90" alt="Mi SVG">
                </div>
            </div>
        </ng-container>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mgt10">
            <!-- Botón a la izquierda -->
            <button  (click)="activeStep >1 ? activeStep = activeStep-1 : returnCursos() " class="blueButton radius4 ft12 h28px mgr10 gray-1" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                <img [src]="icon.chevronLeft" class="h16px pdr05 makeWhite" alt="">
                Regresar
            </button>        
            <!-- Contenedor para los dos botones de la derecha -->
            <div fxLayout="row" fxLayoutGap="10px">
                <button (click)="saveBorrador()" class="grayButton radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                    Guardar borrador
                </button>
                <button *ngIf="activeStep<5" class="blueButton radius4 ft12 h28px mgr10 gray-1" (click)="advanceTab()" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                    Continuar
                    <img [src]="icon.chevronRight" class="h16px pdl05 makeWhite" alt="">
                </button>
                <button (click)="finishProfile()" *ngIf="activeStep==5" class="blueButton radius4 ft12 h28px mgr10 gray-1" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                    Continuar
                    <img [src]="icon.chevronRight" class="h16px pdl05 makeWhite" alt="">
                </button>        
            </div>
        </div>
    </div>
</div>

<!-- CLASE DETAIL MODAL -->
<ng-template #modalCreateQuestion let-modal>
    <div class="modal-header bg-web-primary text-white px-3 py-1">
        <div class="modal-title pd10 ">
            <span class="ft16 ft600 gray-10">Nueva pregunta</span>
        </div>
        <img style="cursor: pointer;" [src]="icon.close" (click)="modal.dismiss('Cross click')" class="h20px"  alt="">
    </div>
    <div class="modal-body">

        <ng-container>
            <!-- aqui van los preguntas que se van creando -->
            <div *ngFor="let pregunta of newQuestions; let i = index" class="{{pregunta['isInvalid']?'ContainerModuloInvalid':'ContainerModulo'}}">
                <div fxLayout="row" fxLayoutAlign="space-between start" class="fw pd10 pdt05 pdb5">
                    <div fxLayout="row" fxLayoutGap="10px" class="fw">
                        <div class="ft500 ft12">
                            <!-- numero pregunta -->
                            Pregunta {{examen.questions.length+1}}
                        </div>
                        <div class="ft12">
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0.625">
                        <img (click)="borrarPreguntaExamen(pregunta,i)" [src]="icon.trash" class="h16px pdr05 cursorPointer trash" alt="">
                        <img *ngIf="pregunta['expanded']" (click)="pregunta['expanded'] = !pregunta['expanded'];" [src]="icon.chevronUp" class="h16px pdr05 cursorPointer" alt="">
                        <img *ngIf="!pregunta['expanded']" (click)="pregunta['expanded'] = !pregunta['expanded']; hideOtherQuestion(pregunta);" [src]="icon.chevronDown" class="h16px pdr05 cursorPointer" alt="">
                    </div>
                </div>
                <!-- Contenedor de las preguntas -->
                <div *ngIf="pregunta['expanded']" class="pd10">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <!-- Botones alineados a la izquierda -->
                        <div fxLayout="row" fxLayoutGap="0.625">
                            <div *ngFor="let questionType of questionTypes" class="pdr05">
                                <button (click)="onQuestionTypeChange(pregunta,questionType.value)" class="{{pregunta.type.value == questionType.value? 'backGray4': 'grayButton' }} radius4 ft12 h28px gray-8">{{ questionType.displayName }}</button>
                            </div>
                        </div>
                        
                        <!-- Label y input alineados a la derecha -->
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                            <label>Puntos</label>
                            <input [(ngModel)]="pregunta.points" type="number" min="0" class="form-control inputAlajandraLoQuisoAsi w-25">
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" class="pdt10">
                        <button (click)="questionImage.click()" class="grayButton radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                            <img [src]="icon.arrowUp" class="h16px pdr05" alt="">
                            Adjuntar imagen
                        </button>
                        <input #questionImage type="file" (change)="uploadQuestionImage($event,pregunta)" hidden accept="image/webp" />
                    </div>
                    <div *ngIf="pregunta['uploading_file_progress'] >0" class="form-group pdt10">
                        <!-- Barra de progreso File video-->
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="center center" class="w-25">
                                <mat-progress-bar class="h10px radius6 {{pregunta['uploading_file_progress'] >= 100? 'complete-progress-bar': ''}}" mode="determinate" [value]="pregunta['uploading_file_progress']"></mat-progress-bar>
                                <span *ngIf="pregunta['uploading_file_progress'] < 100" class="pdl05">{{pregunta['uploading_file_progress']}}%</span>
                                <img *ngIf="pregunta['uploading_file_progress']>=100" [src]="icon.check" class="h16px pdl05" alt="">
                            </div>
                            <div fxLayout="row" *ngIf="pregunta['uploading_file_progress']>=100" >
                                <span>{{pregunta['fileName']}}&nbsp;</span>
                                <span (click)="pregunta['imageHidden'] =!pregunta['imageHidden'] " class="blueLink cursorPointer">{{ pregunta['imageHidden']? 'Ocultar archivo':'Ver archivo'}}</span>
                                <img (click)="deleteQuestionImage(pregunta,true)" [src]="icon.close" class="h18px pdr05 makeRed cursorPointer" alt="">
                             </div>
                            <div fxLayout="row" *ngIf="pregunta['imageHidden']" >
                                <img [src]="pregunta.image" style="max-height: 200px;">
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div class="form-group pdt10 fw">
                            <textarea [(ngModel)]="pregunta.text" rows="3"  type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="Escriba aqui la pregunta" style="resize: none;"></textarea>
                            <div class="invalid-feedback">
                                Debe indicar la pregunta.
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="pdt05">
                        <span [innerHTML]="questionInstruction(pregunta)"></span>
                    </div>
                    <!-- area dependiete de la pregunta -->
                    <div fxLayout="row" class="pdt05 fw">
                        <!-- Completación -->
                        <div class="fw" fxLayout="column" *ngIf="pregunta.type.value == questionTypesIn.TYPE_COMPLETE_VALUE">
                            <div fxLayout="row" class="mgt10">
                                <span>Haga click en confirmar cuando haya terminado de escribir la pregunta</span>
                            </div>
                            <div fxLayout="row" class="pdt05 pdb05">
                                <button (click)="parseQuestionText(pregunta)" class="grayButton radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                                    <img [src]="icon.check" class="h16px pdr05" alt="">
                                    Confirmar
                                </button>
                            </div>
                            <div *ngFor="let placeHolder of pregunta['placeHolders']; let i = index" class="ContainerModulo fw pd05">

                                <!-- Contenedor para el índice y el placeholder -->
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    {{i+1}}. {{placeHolder}}
                                </div>
                            
                                <div fxLayout="column">
                                    <div fxLayout="row" class="pdb05">
                                        <span class="gray-8 ft700">Opciones</span>
                                    </div>
                                    <div *ngFor="let option of pregunta.options; let optIndex = index" fxLayout="row">

                                        <div *ngIf="option.placeholder == placeHolder" fxLayout="row" fxLayoutAlign="space-between center" class="fw pdb05">

                                            <!-- Input field -->
                                            <input [(ngModel)]="option.text" type="text" class="form-control inputAlajandraLoQuisoAsi w-40" placeholder="">
                                            <!-- Contenedor para el checkbox y el icono de trash -->
                                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                                                <input (change)="toggleOptionValue(pregunta,optIndex)" [checked]="option.isCorrect" type="checkbox" value="{{ optIndex }}"/>
                                                <img (click)="deleteOption(pregunta,optIndex)" [src]="icon.trash" class="h16px pdr05 cursorPointer trash pdl05" alt="">
                                            </div>

                                        </div>
                                    
                                    </div>
                                    <div fxLayout="row">
                                        <span (click)="addChoice(pregunta,placeHolder)" class="blueLink radius4 ft12 h28px no-select">
                                            <img [src]="icon.addNew" class="h12px pdr05 makeBlue" alt="">
                                            Agregar opción
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="pregunta['placeHolders']?.length>0">
                                <button (click)="showDisplayText(pregunta)" class="grayButton radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
                                    <img [src]="icon.check" class="h16px pdr05" alt="">
                                    Renderizar pregunta
                                </button>
                            </div>
                            <div class="gray-8 ft12 pdt10" [innerHTML]="pregunta['render']" *ngIf="pregunta['render']"></div>
                        </div>
                        <!-- opcion miltiple -->
                        <div class="fw" fxLayout="column" *ngIf="pregunta.type.value == questionTypesIn.TYPE_MULTIPLE_CHOICE_VALUE">
                            <div *ngFor="let option of pregunta.options; let optIndex = index" fxLayout="row" class="fw">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" class="mgb10 fw">
                            
                                    <!-- Contenedor para el número y el input -->
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                        <span class="gray-6">{{ optIndex + 1 }}.</span>
                                        <input [(ngModel)]="option.text" type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="">
                                    </div>
                            
                                    <!-- Contenedor para el checkbox y el icono de trash -->
                                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                                        <input (change)="toggleOptionValue(pregunta,optIndex)" [checked]="option.isCorrect" type="checkbox" value="{{ optIndex }}"/>
                                        <img (click)="deleteOption(pregunta,optIndex)" [src]="icon.trash" class="h16px pdr05 cursorPointer trash pdl05" alt="">
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <span (click)="addChoice(pregunta)" class="blueLink radius4 ft12 h28px no-select">
                                    <img [src]="icon.addNew" class="h12px pdr05 makeBlue" alt="">
                                    Agregar opción
                                </span>
                            </div>
                        </div>
                        <!-- opcion simple -->
                        <div class="fw" fxLayout="column" *ngIf="pregunta.type.value == questionTypesIn.TYPE_SINGLE_CHOICE_VALUE">
                            <div *ngFor="let option of pregunta.options; let optIndex = index" fxLayout="row" class="fw">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" class="mgb10 fw">
                                    <!-- Contenedor para el número y el input -->
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                        <span class="gray-6">{{ optIndex + 1 }}.</span>
                                        <input [(ngModel)]="option.text" type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="">
                                    </div>
                            
                                    <!-- Contenedor para el checkbox y el icono de trash -->
                                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                                        <input [(ngModel)]="pregunta['correctOption']" name="radio" type="radio" (change)="changeCorrectOption(pregunta,optIndex)" [value]="optIndex"/>
                                        <img (click)="deleteOption(pregunta,optIndex)" [src]="icon.trash" class="h16px pdr05 cursorPointer trash pdl05" alt="">
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <span (click)="addChoice(pregunta)" class="blueLink radius4 ft12 h28px no-select">
                                    <img [src]="icon.addNew" class="h12px pdr05 makeBlue" alt="">
                                    Agregar opción
                                </span>
                            </div>
                        </div>
                        <!-- opcion simple -->
                        <div class="fw" fxLayout="column" *ngIf="pregunta.type.value == questionTypesIn.TYPE_TRUE_OR_FALSE_VALUE">
                            <div *ngFor="let option of pregunta.options; let optIndex = index" fxLayout="row" class="fw">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" class="mgb10 fw">
                                    <!-- Contenedor para el número y el input -->
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                        <span class="gray-6">{{ optIndex + 1 }}.</span>
                                        <input [(ngModel)]="option.text" type="text" class="form-control inputAlajandraLoQuisoAsi" placeholder="">
                                    </div>
                                    <!-- Contenedor para el checkbox y el icono de trash -->
                                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                                        <input (change)="toggleOptionValue(pregunta,optIndex)" [checked]="option.isCorrect" type="checkbox" value="{{ optIndex }}"/>
                                        <img (click)="deleteOption(pregunta,optIndex)" [src]="icon.trash" class="h16px pdr05 cursorPointer trash pdl05" alt="">
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <span (click)="addChoice(pregunta)" class="blueLink radius4 ft12 h28px no-select">
                                    <img [src]="icon.addNew" class="h12px pdr05 makeBlue" alt="">
                                    Agregar opción
                                </span>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="pregunta['isInvalid']">
                        <div fxLayout="row" *ngFor="let mensaje of pregunta['InvalidMessages']" fxLayoutAlign="start center">
                            <mat-icon class="red-5 ft16">info</mat-icon>
                            <span class="redText">{{mensaje}}</span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>

    </div>
    <div class="modal-footer">
        <button (click)="modal.dismiss()" class="grayButton radius4 ft12 h28px mgr10 gray-8" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
            Cancelar
        </button>  
        <button (click)="saveNewQuestion()" class="blueButton radius4 ft12 h28px mgr10 gray-1" fxLayout="row" fxLayoutGap="0.625" fxLayoutAlign="center center">
            <img [src]="icon.save" class="h16px pdr05 makeWhite" alt="">
            Guadar
        </button>
    </div>
</ng-template>






