<div fxLayout="column">
    <div class="main_top" fxLayout="row" fxLayoutAlign="space-between center">
        <ng-container *ngIf="user$ | async as user">
            <div fxLayout="row" fxLayoutAlign=" center">
                <div fxLayout="row" class="cursorPointer" [routerLink]="isAdminPage ? '/admin' : ''">
                    <img [src]="icon.predyc" class="h24px" alt="">
                    <div class="ft600 gray-10 mgl05">Predyc <span *ngIf="isAdminPage" class="gray-6">ADMIN</span></div>
                </div>
                <!-- <div class="radius20 searchBar pdl05 pdr05" fxLayout="row" fxLayoutAlign=" center">
                    <img [src]="icon.search" class="h20px" alt="">
                    <input type="text" class="inputSearchBar ft12 fw pdl05" placeholder="Buscar en usuarios y perfiles">
                </div> -->
            </div>
            <div *ngIf="daysToExpire && daysToExpire < 5 && daysToExpire > 1" class="ft12 red-5 ft500" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                <img [src]="icon.warning" alt="" class="makeRed">
                <div>Faltan {{daysToExpire}} días para el vencimiento de tu licencia</div>
    
            </div>
            <div *ngIf="daysToExpire && daysToExpire === 1" class="ft12 red-5 ft500" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                <img [src]="icon.warning" alt="" class="makeRed">
                <div>Falta {{daysToExpire}} día para el vencimiento de tu licencia</div>
                
            </div>
            <div *ngIf="daysToExpire === 0" class="ft12 red-5 ft500" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                <img [src]="icon.warning" alt="" class="makeRed">
                <div>Tu licencia expira el dia de hoy</div>
                
            </div>
            <div *ngIf="!environment.useEmulators" class="ft12 red-5 ft600" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem">
                <div>Los emuladores no estan activos. Los cambios que realices afectaran los datos de produccion.</div>
            </div>

            <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">
                <div class="mgl10">
                    <span *ngIf="user.isSystemUser" class="blueLink ft13" (click)="redirect()" >Ir a plataforma de {{isAdminPage? "empresas" : "administradores"}}</span>
                </div>
                <div *ngIf="!isAdminPage" (click)="openSupport()">
                    <img [src]="icon.headset" alt="" class="h24px cursorPointer makeGray"/>
                </div>
                <div class="positionRelative">
                    <img [src]="icon.notification" class="h24px cursorPointer makeGray"    routerLinkActive='makeGray8' routerLink="management/notifications" alt=""> 
                    <div class="redDot"></div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                    <a class="cursorPointer" routerLink="my-account">
                        <img  [src]="user.photoUrl ? user.photoUrl : 'assets/images/default/default-user-image.jpg'" style="height: 2rem; width: 2rem; border-radius: 50%;"  alt="">
                    </a>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="main_layout">
  <div [ngClass]="menuExpanded?'sidenavExpanded':'sidenav'" (mouseover)="menuExpanded = true" (mouseleave)="menuExpanded=false">
      <app-sidenav [currentUrl]="currentUrl" [menuExpanded]="menuExpanded"></app-sidenav>
  </div>
  <div class="main_content_container fh">
      <div class="main_content fh fw">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>