<div fxLayout="column" fxLayoutGap=".7rem" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap=".7rem" fxLayoutAlign="space-between" class="mgl15">
        <div fxLayout="column" fxLayoutGap=".7rem" fxLayoutAlign="space-between"class="card-container">
            <span class="ft17">Licencias adquiridas</span>
            <span class="ft600 ft22">30</span>
            <span>Adquirida el 12/01/2023</span>
        </div>
        <div fxLayout="column" fxLayoutGap=".7rem" fxLayoutAlign="space-between" class="card-container">
            <span class="ft17">Licencias en uso</span>
            <span class="ft600 ft22">26</span>
            <span>Adquirida el 12/01/2023</span>
        </div>
        <div fxLayout="column" fxLayoutGap=".7rem" fxLayoutAlign="space-between" class="card-container">
            <span class="ft17">Licencias disponibles</span>
            <span class="ft600 ft22">4</span>
            <span>Adquirida el 12/01/2023</span>
        </div>
        <div fxLayout="column" fxLayoutGap=".7rem" fxLayoutAlign="space-between" class="card-container">
            <span class="ft17">Rotaciones de licencias</span>
            <span class="ft600 ft22">2</span>
            <span>Adquirida el 12/01/2023</span>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap=".7rem" fxLayoutAlign="space-between" class="mgl15">
        <span>Acciones con licencias</span>
        <div class="backGray2 pd20" fxLayout="row" fxLayoutGap="0rem" fxLayoutAlign="space-between">
            <app-navigation-card
            backgroundColor="#FFF8ED"
            imageUrl="../../../assets/images/design/tools.jpg"
            title="Rotación de licencias"
            description="Transfiere licencias de un usuario a otro fácilmente en el panel de rotación"
            buttonText="Ir"
            buttonColor="white"
            buttonBackgroundColor="#FCBD01"
            (onBtnClick)= null
            ></app-navigation-card>
            <app-navigation-card
            backgroundColor="#EDF8FF"
            imageUrl="../../../assets/images/design/tools.jpg"
            title="Contacto de ventas"
            description="Contacta a ventas para adquirir nuevas licencias y consultas"
            buttonText="Ir"
            buttonColor="white"
            buttonBackgroundColor="#008CE3"
            (onBtnClick)= "onContactoDeVentasClicked()"
            ></app-navigation-card>
            <app-navigation-card
            backgroundColor="#FFF8ED"
            imageUrl="../../../assets/images/design/tools.jpg"
            title="Preguntas frecuentes"
            description="Encuentra respuestas a nuestras Preguntas Frecuentes"
            buttonText="Ir"
            buttonColor="white"
            buttonBackgroundColor="#FCBD01"
            (onBtnClick)= "onContactoDeVentasClicked()"
            ></app-navigation-card>
        </div>
    </div>

    <div class="backGray2 pd20" style="border-radius: 0px 40px 40px 0px !important;">
        <span class="ft20 ft600">Restricciones</span>
        <span class="mgt05">
            En nuestra plataforma, los usuarios estándar tienen la opción de adquirir licencias para acceder a su propio acceso personal. 
            Esto permite a los usuarios estándar disfrutar de todos los beneficios y recursos que nuestra plataforma ofrece. Es importante 
            destacar que esta política no afecta a los administradores.<br>
            Los administradores, por otro lado, disfrutan de un privilegio especial: tienen la capacidad de crear una cantidad ilimitada de
            usuarios administradores. Esta flexibilidad garantiza que los administradores puedan gestionar eficazmente la plataforma y proporcionar
            acceso a quienes lo necesiten, sin restricciones en la creación de cuentas administrativas.
        </span>
    </div>
    
</div>