.container{
    width: 100%;
}

.catSelect{
    border: none !important;
}

.catInput {
    border: none !important;
    font-size: 12px;

}

.line {
    height: 1px;
    background-color: var(--gray-2);
}

.catInput:focus{
    outline: none;
}

.catInput::placeholder{
    color: var(--gray-9);
    font-size: 12px;
}

.catSelect:focus{
    outline: none;
    border: none;
}


.catInput2 {
   
    font-size: 12px;
    border-radius: 24px!important;

}
.catInput2:focus{
    outline: none;
}
.catInput2::placeholder{
    color: var(--gray-9);
    font-size: 12px;
}

/* .left{
    min-height: calc(90vh - 4rem);
    max-height: calc(90vh - 4rem);
    width: calc((100% - 1rem)*2/3);
    
    overflow: auto;
} */

.input-box {
    height: 36px;
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    background-color: #EDF8FF
}

.side{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
}

.side::-webkit-scrollbar{
    width: 0px;
}

.middle{
    border-radius: 6px;
    background-color: white;
    min-height: calc(90vh - 4rem);
    max-height: calc(90vh - 4rem);
    width: calc((100% - 1rem)/3);
    overflow: auto;
}

.right{
    border-radius: 6px;
    background-color: white;
    min-height: calc(90vh - 4rem);
    max-height: calc(90vh - 4rem);
    width: calc((100% - 3rem)/3);
    overflow: auto;
}



.headCategoryExpanded{
    height: 40px;
    padding: .5rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.headCategory{
    height: 40px;
    padding: .5rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bodyCategoryExpanded{
    height: fit-content;
    transition: .8s ease-in-out;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bodyCategory{
    height: 0px !important;
    max-height: 0px !important;
    overflow: hidden;
    transition: .3s;
}

.bodyClasesExpanded{
    height: fit-content;
    transition: .8s ease-in-out;
    width: 100%;
}

.bodyClases{
    height: 0px !important;
    max-height: 0px !important;
    overflow: hidden;
    transition: .8s ease-in-out;
    width: 100%;
}

.hoverBlue:hover{
    background-color: var(--blue-1) !important;
}

.selectedTab{
    position: relative;
}

.tab{
    cursor: pointer;
}

.selectedTab::after {
    content: ''; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute; /* Posiciona el pseudo-elemento respecto a su contenedor */
    bottom: 0; /* Coloca el pseudo-elemento en la parte inferior del contenedor */
    left: 50%; /* Centra el pseudo-elemento */
    transform: translateX(-50%); /* Ajuste fino para centrar exactamente el pseudo-elemento */
    width: 50%; /* El ancho del "borde" curvado */
    height: 3px; /* El grosor del "borde" curvado */
    background-color: var(--blue-5); /* Color del "borde" curvado */
    border-top-right-radius: 10px; /* Curvatura del "borde" */
    border-top-left-radius: 10px; /* Curvatura del "borde" */

}

.contentContainer{
    background-color: var(--gray-2);
    min-height: calc(100% - 180px);
}

.h220px{
    height: 160px;
    min-height: 160px;
    max-height: 160px;
    overflow: hidden;
}

.descriptionContainer{
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Número de líneas que deseas mostrar */
    -webkit-box-orient: vertical;
  }

  .containerTitulo{
    min-height: 8rem;
    max-height: 8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  /* .containerTitulo2{
    min-height: 8rem;
    max-height: 8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  } */

  /* .searchBar {
    border-radius: 6px;
    height: 30px;
    background-color: white;
    border: none !important;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  } */

  
  
  .borderStrong {
    border: 1.5px solid var(--gray-10);
  }


  .search-container {
    display: flex;
    align-items: center;
    border-radius: 10px!important;
    height: 30px;
    border: none;
    overflow: hidden;
    border: 1px solid var(--gray-4);
    /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
  }
  
  .search-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .align-right-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
}
