<div fxLayout="column" class="pd10" ngClass="containerPC" ngClass.lt-md="containerMobile" >
    <div fxLayout="row" class=" bg-web-primary text-white px-3 py-1 mgb10" fxLayoutAlign="space-between center" >
        <div class="  " style="margin-bottom: -15px !important;">
            <span class="ft16  ft600 gray-10">
                Elegir cursos a inscribir
            </span>
        </div>
        <div class="  ">
            <img [src]="icon.close" class="h24px    cursorPointer" alt="" (click)="salir()"  style="margin-bottom: -10px;">
        </div>
    </div>
    <div class="grayLine mgt05" style=" margin-bottom: 12px;" > </div>

    <!-- Enrolled courses -->
    <div>
        <table mat-table [dataSource]="enrolleddataSource">

            <ng-container matColumnDef="title" class="fw">
                <th mat-header-cell *matHeaderCellDef class="ft15 gray-9 ft500">Cursos inscritos</th>
                <td mat-cell *matCellDef="let course"> 
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
                        <img [src]="course.foto ? course.foto : 'assets/images/default/default-user-image.jpg'" class="avatarSquare2 radius4" alt="" >
                        <span class="ft500 ft12 gray-6">{{ course.titulo | titlecase }}</span>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="enrolledDisplayedColumns"></tr>
            <ng-container>
                <tr
                    mat-row
                    *matRowDef="let course; columns: enrolledDisplayedColumns;"
                    class=""
                    >
                </tr>
            </ng-container>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="1">No hay cursos inscritos</td>
            </tr>
        </table>
    </div>

    <!-- Non enrolled courses -->
    <div class="mgt10">
        <div *ngIf="selection.hasValue() && isAllSelected()" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center" class="">
            <!-- <img [src]="icon.redWarning2" alt="Warning">
            <div class="red-5">Se han seleccionado los usuarios de todas las páginas</div> -->
        </div>
        <div fxLayout="row" fxLayoutAlign=" center" class="shadow-animation radius20 fw mgb05" style="height: 35px;">
            <app-search-input-box class="fw "></app-search-input-box>
        </div>
        <table mat-table [dataSource]="nonEnrolleddataSource">
    
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row.id) : null"
                                [checked]="selection.isSelected(row.id)">
                    </mat-checkbox>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="title" class="fw">
                <th mat-header-cell *matHeaderCellDef class="ft15 gray-9 ft500">Cursos que puedes inscribir</th>
                <td mat-cell *matCellDef="let course"> 
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
                        <img [src]="course.foto ? course.foto : 'assets/images/default/default-user-image.jpg'" class="avatarSquare2 radius4" alt="" >
                        <span class="ft500 ft12 gray-6">{{ course.titulo | titlecase }}</span>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="nonEnrolledDisplayedColumns"></tr>
            <ng-container>
                <tr
                    mat-row
                    *matRowDef="let course; columns: nonEnrolledDisplayedColumns;"
                    class="cursorPointer"
                    (click)="$event.stopPropagation(); selection.toggle(course.id)"
                    >
                </tr>
            </ng-container>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="2">No hay cursos para inscribir</td>
            </tr>
        </table>
    </div>

    <button *ngIf="this.selection.selected.length > 0" class="blueButton mgt20" (click)="onSubmit()" >Inscribir cursos seleccionados</button>
</div>
